<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @localisation.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @localisation.description %>
</p>

<p>
  <strong>Published:</strong>
  <%= @localisation.published %>
</p>

<%= link_to 'Edit', edit_localisation_path(@localisation) %> |
<%= link_to 'Back', localisations_path %>
