<div class="page-header">
  <%= link_to new_couple_baie_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Couple baie
  <% end %>
  <h1>Listing couple_baies</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Baie one</th>
            <th>Baie two</th>
            <th>Create</th>
            <th>Update</th>
            <th>Index</th>
            <th>Show</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @couple_baies) do |couple_baie| %>
            <td><%= couple_baie.baie_one_id %></td>
            <td><%= couple_baie.baie_two_id %></td>
            <td><%= couple_baie.create %></td>
            <td><%= couple_baie.update %></td>
            <td><%= couple_baie.index %></td>
            <td><%= couple_baie.show %></td>
            <td><%= link_to 'Show', couple_baie %></td>
        <td><%= link_to 'Edit', edit_couple_baie_path(couple_baie) %></td>
        <td><%= link_to 'Destroy', couple_baie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
