<div class="page-header">
  <%= link_to couple_baies_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_couple_baie_path(@couple_baie), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show couple_baie</h1>
</div>

<dl class="dl-horizontal">
  <dt>Baie one:</dt>
  <dd><%= @couple_baie.baie_one_id %></dd>

  <dt>Baie two:</dt>
  <dd><%= @couple_baie.baie_two_id %></dd>

  <dt>Create:</dt>
  <dd><%= @couple_baie.create %></dd>

  <dt>Update:</dt>
  <dd><%= @couple_baie.update %></dd>

  <dt>Index:</dt>
  <dd><%= @couple_baie.index %></dd>

  <dt>Show:</dt>
  <dd><%= @couple_baie.show %></dd>

</dl>
