<%
  breadcrumb.add_step(title = t("changelog_entries.title"))
%>

<%= render Page::HeadingComponent.new(title: title, breadcrumb:) %>

<div class="p-4 border-top d-flex flex-column row-gap-4">
  <%= render FilterComponent.new(@filter) do |c| %>
    <% c.with_form do |f| %>
      <div>
        <fieldset class="form-floating">
          <%= f.collection_select(:actions, ChangelogEntry::ACTIONS,
                                  :to_s,
                                  :to_s,
                                  { prompt: true, multiple: true },
                                  { class: "form-select", data: { controller: :select } }) %>
          <%= f.label :actions %>
        </fieldset>
      </div>

      <div>
        <fieldset class="form-floating">
          <%= f.collection_select(:authors, User.all.map { |u| [u.id, u.name] },
                                  :first,
                                  :second,
                                  { prompt: true, multiple: true },
                                  { class: "form-select", data: { controller: :select } }) %>
          <%= f.label :authors %>
        </fieldset>
      </div>

      <div>
        <fieldset class="form-floating">
          <%= f.collection_select(:object_types, ApplicationRecord.models.map { |model| [model.model_name.human, model.name] },
                                  :second,
                                  :first,
                                  { prompt: true, multiple: true },
                                  { class: "form-select", data: { controller: :select } }) %>
          <%= f.label :object_types %>
        </fieldset>
      </div>

      <div>
        <fieldset class="form-floating">
          <%= f.date_field :date, class: "form-control" %>
          <%= f.label :date %>
        </fieldset>
      </div>
    <% end %>
  <% end %>

  <%= turbo_frame_tag "changelog-entries" do %>
    <div class="d-flex flex-column row-gap-4">
      <%= render List::DataTableComponent.new(decorate(@changelog_entries)) do |table| %>
        <% table.with_column("", style: "min-width: 20px; width: 20px") do |changelog_entry| %>
          <%= link_to changelog_entry_path(changelog_entry), class: "btn btn-primary", target: :_top do %>
            <span class="bi bi-eye" aria-hidden="true" data-controller="tooltip" data-bs-placement="top"
                                                                                title="<%= t("action.show") %>"></span>
            <span class="visually-hidden"><%= t("action.show") %></span>
          <% end %>
        <% end %>

        <% table.with_column(ChangelogEntry.human_attribute_name(:action), sort_by: :action) do |changelog_entry| %>
          <%= render changelog_entry.action_to_badge_component %>
        <% end %>

        <% table.with_column(ChangelogEntry.human_attribute_name(:author), sort_by: :author_id) do |changelog_entry| %>
          <%= link_to_if changelog_entry.author_id?, changelog_entry.author_display_name, changelog_entry.author, target: :_top %>
        <% end %>

        <% unless (turbo_frame_request? && params[:object_id].present?) %>
          <% table.with_column(ChangelogEntry.human_attribute_name(:object), sort_by: :object_id) do |changelog_entry| %>
            <%= changelog_entry.object_link_to(self, target: :_top) %>
          <% end %>
        <% end %>

        <% table.with_column(ChangelogEntry.human_attribute_name(:attributes)) do |changelog_entry| %>
          <div class="row">
            <div class="col-lg-6">
              <%= sanitize changelog_entry.split_diff.left %>
            </div>
            <div class="col-lg-6">
              <%= sanitize changelog_entry.split_diff.right %>
            </div>
          </div>
        <% end %>

        <% table.with_column(t("label_date"), sort_by: :created_at) do |changelog_entry| %>
          <%= l changelog_entry.created_at %>
        <% end %>
      <% end %>

      <% if @pagy.pages > 1 %>
        <%== pagy_bootstrap_nav(@pagy) %>
      <% end %>
    </div>
  <% end %>
</div>
