<% provide(:title, t('changelog_entries.title')) %>
<%= render "layouts/breadcrumb", breadcrumb_variables: {
  t('changelog_entries.title') => ""
} %>

<div class="container">
  <h1><%= t('changelog_entries.title') %></h1>

  <%= render List::DataTableComponent.new(decorate(@changelog_entries)) do |table| %>

    <% table.with_column(ChangelogEntry.human_attribute_name(:action), sort_by: :action) do |changelog_entry| %>
      <%= render changelog_entry.action_label_to_component %>
    <% end %>

    <% table.with_column(ChangelogEntry.human_attribute_name(:author), sort_by: :author_id) do |changelog_entry| %>
      <%= link_to_if changelog_entry.author_id?, changelog_entry.author_display_name, changelog_entry.author %>
    <% end %>

    <% table.with_column(ChangelogEntry.human_attribute_name(:object), sort_by: :object_id) do |changelog_entry| %>
      <% begin %>
        <%= link_to changelog_entry.object_display_name, changelog_entry.object %>
      <% rescue NoMethodError %>
        <%= changelog_entry.object_display_name %>
      <% end %>
    <% end %>

    <% table.with_column(ChangelogEntry.human_attribute_name(:attributes)) do |changelog_entry| %>
      <div class="row">
        <div class="col-md-6">
          <%= sanitize changelog_entry.split_diff.left %>
        </div>
        <div class="col-md-6">
          <%= sanitize changelog_entry.split_diff.right %>
        </div>
      </div>
    <% end %>

    <% table.with_column(t('label_date'), sort_by: :created_at) do |changelog_entry| %>
      <%= l changelog_entry.created_at %>
    <% end %>

    <% table.with_column(t('label_details')) do |changelog_entry| %>
      <%= link_to changelog_entry_path(changelog_entry), class: "btn btn-primary" do %>
        <span class="bi bi-eye" aria-hidden="true" data-controller="tooltip" data-bs-placement="left" title="<%= t("action.show") %>"></span>
        <span class="visually-hidden"><%= t("action.show") %></span>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= paginate @changelog_entries %>
