<% provide(:title, ChangelogEntry.model_name.human.pluralize) %>
<%= render "layouts/breadcrumb", breadcrumb_variables: {
  ChangelogEntry.model_name.human.pluralize => ""
} %>

<div class="container-fluid">
  <div class="page-header">
    <h1><%= ChangelogEntry.model_name.human.pluralize %></h1>
  </div>

  <%= render List::DataTableComponent.new(@changelog_entries) do |table| %>
    <% table.with_column(ChangelogEntry.human_attribute_name(:object), sort_by: :object_id) do |changelog_entry| %>
      <% begin %>
        <%= link_to changelog_entry.object_display_name, changelog_entry.object %>
      <% rescue NoMethodError %>
        <%= changelog_entry.object_display_name %>
      <% end %>
    <% end %>

    <% table.with_column(ChangelogEntry.human_attribute_name(:author), sort_by: :author_id) do |changelog_entry| %>
      <%= link_to_if changelog_entry.author_id?, changelog_entry.author_display_name, changelog_entry.author %>
    <% end %>

    <% table.with_column(ChangelogEntry.human_attribute_name(:attributes)) do |changelog_entry| %>
      <%= link_to changelog_entry_path(changelog_entry) do %>
        <%= changelog_entry.object_changed_attributes_to_sentence %>
      <% end %>
    <% end %>

    <% table.with_column(ChangelogEntry.human_attribute_name(:action), sort_by: :action) do |changelog_entry| %>
      <%= render changelog_entry.action_label_to_component %>
    <% end %>

    <% table.with_column(ChangelogEntry.human_attribute_name(:created_at), sort_by: :created_at) do |changelog_entry| %>
      <%= l changelog_entry.created_at %>
    <% end %>
  <% end %>
</div>

<%= paginate @changelog_entries %>
