<%
  title = "#{ChangelogEntry.model_name.human} ##{@changelog_entry.id}"
  provide(:title, "#{t("changelog_entries.title")} | #{title}")

  breadcrumb_steps = {
    t("changelog_entries.title") => changelog_entries_path,
    title => ""
  }
%>

<%= render Page::HeadingComponent.new(title:, breadcrumb_steps:, back_button_url: changelog_entries_path) %>

<div class="col-12 p-4 border-top gap-4 d-flex flex-column">
  <div class="row row-cols-1 row-cols-lg-2 row-gap-4">
    <div class="col">
      <%= render CardComponent.new do |card| %>
        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <dt class="pb-2"><%= ChangelogEntry.human_attribute_name(:object) %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= @changelog_entry.object_link_to(self) %></dd>

          <dt class="pb-2"><%= ChangelogEntry.human_attribute_name(:object_id) %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= @changelog_entry.object_id %></dd>

          <dt class="pb-2"><%= ChangelogEntry.human_attribute_name(:action) %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= render @changelog_entry.action_label_to_component %></dd>

          <dt class="pb-2"><%= ChangelogEntry.human_attribute_name(:author) %></dt>
          <dd class="mb-0 pb-2 ps-3">
            <%= link_to_if @changelog_entry.author_id?, @changelog_entry.author_display_name, @changelog_entry.author %>
          </dd>

          <dt class="pb-2"><%= ChangelogEntry.human_attribute_name(:created_at) %></dt>
          <dd class="mb-0 pb-2 ps-3"><%=l @changelog_entry.created_at %></dd>
        </dl>
      <% end %>
    </div>

    <div class="col">
      <%= render CardComponent.new do |card| %>
        <% card.with_header do %>
          <%=t ".metadatas" %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <% @changelog_entry.metadata.each do |key, value| %>
            <dt class="pb-2"><%= key %></dt>
            <dd class="mb-0 pb-2 ps-3"><code><%= value %></code></dd>
          <% end %>
        </dl>
      <% end %>
    </div>
  </div>

  <div class="row row-cols-1">
    <div class="col">
      <%= render CardComponent.new do |card| %>
        <% card.with_header do %>
          <%=t ".changes" %>
        <% end %>

        <div class="row">
          <div class="col-md-6">
            <%=sanitize @changelog_entry.split_diff.left %>
          </div>
          <div class="col-md-6">
            <%=sanitize @changelog_entry.split_diff.right %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
