<%
  title = "#{ChangelogEntry.model_name.human} ##{@changelog_entry.id}"
  provide(:title, "#{t("changelog_entries.title")} | #{title}")

  breadcrumb_steps = {
    t("changelog_entries.title") => changelog_entries_path,
    title => ""
  }
%>

<%= render Page::HeadingComponent.new(title:, breadcrumb_steps:) do |heading| %>
  <% heading.with_left_content do %>
    <span class="flex-grow-1">
      <%= render ButtonComponent.new(t("action.back"),
                                    url: changelog_entries_path,
                                    icon: "chevron-left",
                                    is_responsive: true) %>
    </span>
  <% end %>

  <% heading.with_right_content do %>
    <span class="flex-grow-1"></span>
  <% end %>
<% end %>

<div class="col-12 p-4 border-top">
  <div class="d-flex flex-row flex-wrap">
    <div class="col-12 col-lg-6 pe-lg-4">
      <%= render CardComponent.new(extra_classes: "mb-4 mb-lg-0") do |card| %>
        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <dt class="pb-2"><%= ChangelogEntry.human_attribute_name(:object) %></dt>
          <dd class="mb-0 pb-2 ps-3">
            <% begin %>
              <%= link_to @changelog_entry.object_display_name, @changelog_entry.object %>
            <% rescue NoMethodError %>
              <%= @changelog_entry.object_display_name %>
            <% end %>
          </dd>

          <dt class="pb-2"><%= ChangelogEntry.human_attribute_name(:object_id) %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= @changelog_entry.object_id %></dd>

          <dt class="pb-2"><%= ChangelogEntry.human_attribute_name(:action) %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= render @changelog_entry.action_label_to_component %></dd>

          <dt class="pb-2"><%= ChangelogEntry.human_attribute_name(:author) %></dt>
          <dd class="mb-0 pb-2 ps-3">
            <%= link_to_if @changelog_entry.author_id?, @changelog_entry.author_display_name, @changelog_entry.author %>
          </dd>

          <dt class="pb-2"><%= ChangelogEntry.human_attribute_name(:created_at) %></dt>
          <dd class="mb-0 pb-2 ps-3"><%=l @changelog_entry.created_at %></dd>
        </dl>
      <% end %>
    </div>

    <div class="col-12 col-lg-6">
      <%= render CardComponent.new do |card| %>
        <% card.with_header do %>
          <%=t ".changes" %>
        <% end %>

        <div class="row">
          <div class="col-md-6">
            <%=sanitize @changelog_entry.split_diff.left %>
          </div>
          <div class="col-md-6">
            <%=sanitize @changelog_entry.split_diff.right %>
          </div>
        </div>
      <% end %>

      <%= render CardComponent.new(extra_classes: "my-4 mb-lg-0") do |card| %>
        <% card.with_header do %>
          <%=t ".metadatas" %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <% @changelog_entry.metadata.each do |key, value| %>
            <dt class="pb-2"><%= key %></dt>
            <dd class="mb-0 pb-2 ps-3"><code><%= value %></code></dd>
          <% end %>
        </dl>
      <% end %>
    </div>
  </div>
</div>
