<%= render FormErrorsComponent.new(@islet) %>

<%= form_for(@islet, html: { class: "bg-body-tertiary p-4 rounded border", role: "form" }) do |f| %>
  <div class="row g-3">
    <fieldset class="col-12">
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, class: "form-control" %>
    </fieldset>

    <fieldset class="col-12 mt-4">
      <%= f.label :room, class: "form-label" %>
      <%= f.select :room_id,
                   options_from_collection_for_select(Room.order(:position), :id, :name_with_site, @islet.room_id),
                   { prompt: true },
                   class: "form-select" %>
    </fieldset>

    <fieldset class="col-12 mt-4">
      <%= f.label :position, class: "form-label" %>
      <%= f.text_field :position, class: "form-control" %>
    </fieldset>

    <div class="col-12 mt-4">
      <%= f.submit class: "w-100 btn btn-primary" %>
    </div>
  </div>
<% end %>
