<%= form_for(@islet, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @islet.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= t("form.errors.title", count: @islet.errors.count) %></h4>

      <ul>
      <% @islet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :room, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :room_id, options_from_collection_for_select(Room.order(:position), :id, :name_with_site, @islet.room_id), class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :position, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :position, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
