<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  Islet.model_name.human.pluralize => sites_path,
  "#{@islet} - #{@islet.room}" => ''
} %>

<div class="container">
  <div class="page-header">
    <%= link_to islets_path, class: 'btn btn-outline-secondary' do %>
        <span class="bi bi-list-ul"></span>
        <%= t('action.back') %>
    <% end %>
    <%= link_to @islet, class: 'btn btn-primary' do %>
      <span class="bi bi-eye"></span>
      <%= t("action.show") %>
    <% end %>
    <h1>
      <%= t('.title', name: @islet.name, room: @islet.room) %>
    </h1>
  </div>

  <%= render 'form' %>
</div>
