<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  t('inventories') => islets_url,
  Islet.model_name.human.pluralize => ''
} %>

<div class="container-fluid">

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <div class="page-header">
        <%= link_to new_islet_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t('.add_islet') %>
        <% end %>
        <h1>
          <%= Islet.model_name.human.pluralize %>
        </h1>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th>
              <%= Site.model_name.human %>
            </th>
            <th>
              <%= Room.model_name.human %>
            </th>
            <th>
              <%= Islet.model_name.human %>
            </th>
            <th>
              <%= Islet.human_attribute_name(:position) %>
            </th>
            <th>
              <%= Frame.model_name.human.pluralize %>
            </th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <%= content_tag_for(:tr, @islets) do |islet| %>
            <td>
              <%= link_to islet.site, site_path(islet.site) %>
            </td>
            <td>
              <%= link_to islet.room, room_path(islet.room) %>
            </td>
            <td><b>
              <%= link_to islet, islet_path(islet) %>
            </b></td>
            <td><%= islet.position %></td>
            <td><%= Islet.human_attribute_name(:frames_count, count: islet.frames.count) %></td>
            <td class="text-right">
              <%= render partial: "islets/export_button", locals: { islet: islet } %>
              <%= link_to t("action.edit"), edit_islet_path(islet), class: 'btn btn-primary' %>
              <%= link_to t("action.delete"),
                          islet,
                          method: :delete,
                          data: { confirm: t('.delete_confirmation') },
                          class: 'btn btn-danger' %>
            </td>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>

  </div>

</div>
