<%= render 'layouts/breadcrumb', breadcrumb_variables: { t("inventories") => islets_url, 'Ilots' => '' } %>

<div class="container-fluid">

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <div class="page-header">
        <%= link_to new_islet_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          Ajouter un ilot
        <% end %>
        <h1>Ilots</h1>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th>Site</th>
            <th>Salle</th>
            <th>Ilot</th>
            <th>Position</th>
            <th>Nombre de châssis</th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <%= content_tag_for(:tr, @islets) do |islet| %>
            <td>
              <%= link_to islet.site, site_path(islet.site) %>
            </td>
            <td>
              <%= link_to islet.room, room_path(islet.room) %>
            </td>
            <td><b>
              <%= link_to islet, islet_path(islet) %>
            </b></td>
            <td><%= islet.position %></td>
            <td><%= islet.frames.count.to_s + ' chassis' %></td>
            <td class="text-right">
              <%= render partial: "islets/export_button", locals: { islet: islet } %>
              <%= link_to 'Modifier', edit_islet_path(islet), class: 'btn btn-primary' %>
              <%= link_to 'Supprimer',
                          islet,
                          method: :delete,
                          data: { confirm: 'Cet ilôt ne pourra pas être supprimé tant qu\'il sera associé à au moins une baie. Voulez-vous continuer ?' },
                          class: 'btn btn-danger' %>
            </td>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>

  </div>

</div>
