<%= render 'layouts/breadcrumb', breadcrumb_variables: { 'Paramètres' => islets_url, 'Ilots' => '' } %>

<div class="container-fluid">

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <div class="page-header">
        <%= link_to new_islet_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          Ajouter un ilot
        <% end %>
        <h1>Ilots</h1>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th>Site</th>
            <th>Salle</th>
            <th>Ilot</th>
            <th>Position</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <%= content_tag_for(:tr, @islets) do |islet| %>
            <td><%= islet.site %></td>
            <td><%= islet.room %> </td>
            <td><b><%= islet.name %></b></td>
            <td><%= islet.position %></td>
            <td><%= islet.frames.count.to_s + ' chassis' %></td>
            <td><%= render partial: "islets/export_button", locals: { islet: islet } %></td>
            <td><%= link_to 'Modifier', edit_islet_path(islet), class: 'btn btn-primary' %></td>
            <td><%= link_to 'Supprimer', islet, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>

  </div>

</div>
