<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  t('inventories') => islets_url,
  Islet.model_name.human.pluralize => ''
} %>

<div class="container-fluid">

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <div class="page-header">
        <%= link_to new_islet_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t('.add_islet') %>
        <% end %>
        <h1>
          <%= Islet.model_name.human.pluralize %>
        </h1>
      </div>

      <%= render List::DataTableComponent.new(@islets) do |table| %>
        <% table.with_column(Site.model_name.human) do |islet| %>
          <%= link_to islet.site, site_path(islet.site) %>
        <% end %>

        <% table.with_column(Room.model_name.human) do |islet| %>
          <%= link_to islet.room, room_path(islet.room) %>
        <% end %>

        <% table.with_column(Islet.model_name.human, sort_by: :name) do |islet| %>
          <b>
            <%= link_to islet, islet_path(islet) %>
          </b>
        <% end %>

        <% table.with_column(Islet.human_attribute_name(:position), sort_by: :position) do |islet| %>
          <%= islet.position %>
        <% end %>

        <% table.with_column(Frame.model_name.human.pluralize) do |islet| %>
          <%= Islet.human_attribute_name(:frames_count, count: islet.frames.count) %>
        <% end %>

        <% table.with_column(class: "text-right") do |islet| %>
          <%= render partial: "islets/export_button", locals: { islet: islet } %>
          <%= link_to t("action.edit"), edit_islet_path(islet), class: 'btn btn-primary' %>
          <%= link_to t("action.delete"),
                      islet,
                      method: :delete,
                      data: { confirm: t('.delete_confirmation') },
                      class: 'btn btn-danger' %>
        <% end %>
      <% end %>

    </div>

  </div>

</div>
