<% breadcrumb.add_step(title = Islet.model_name.human.pluralize) %>

<%= render Page::HeadingComponent.new(title:, breadcrumb:) do |heading| %>
  <% heading.with_right_content do %>
    <% render ButtonComponent.new(
      t(".new_islet"),
      url: new_islet_path,
      variant: :success,
      icon: "plus-lg",
      is_responsive: true
    ) if allowed_to?(:create?) %>
  <% end %>
<% end %>

<div class="p-4 border-top d-flex flex-column row-gap-4">
  <%= render FilterComponent.new(@filter) do |c| %>
    <% c.with_form do |f| %>
      <div class="w-100">
        <fieldset class="form-floating">
          <%= f.text_field :q, class: "form-control", placeholder: t("filters.placeholder.search") %>
          <%= f.label :q %>
        </fieldset>
      </div>

      <div>
        <fieldset class="form-floating">
          <%= f.select :site_ids, IsletDecorator.sites_options_for_select(current_user),
                                  { prompt: true, multiple: true },
                                  { class: "form-select", data: { controller: :select } } %>
          <%= f.label :site_ids %>
        </fieldset>
      </div>

      <div>
        <fieldset class="form-floating">
          <%= f.select :room_ids, IsletDecorator.rooms_options_for_select(current_user),
                                  { prompt: true, multiple: true },
                                  { class: "form-select", data: { controller: :select } } %>
          <%= f.label :room_ids %>
        </fieldset>
      </div>
    <% end %>
  <% end %>

  <%= turbo_frame_tag(dom_id(Islet, :table), data: { turbo_action: :advance }) do %>
    <%= render List::DataTableComponent.new(@islets) do |table| %>
      <% if allowed_to?(:destroy?) %>
        <% table.with_bulk_action(
          url: bulk_islets_path,
          method: :delete,
          class: "btn btn-danger btn-sm",
          data: { confirm: t("action.confirm") }
        ) do %>
          <span class="bi bi-trash pe-none" title="<%= t("action.delete") %>"></span>
        <% end %>
      <% end %>

      <% table.with_column(Islet.model_name.human, sort_by: :name) do |islet| %>
        <%= link_to islet.decorated.name_with_room, islet_path(islet), class: "fw-bold", data: { turbo_frame: :_top } %>
      <% end %>

      <% table.with_column(Site.model_name.human, sort_by: :"sites.name") do |islet| %>
        <%= link_to islet.site, site_path(islet.site), data: { turbo_frame: :_top } %>
      <% end %>

    <% unless (turbo_frame_request? && @filter.filled?(:room_ids)) %>
      <% table.with_column(Room.model_name.human, sort_by: :"rooms.name") do |islet| %>
        <%= link_to islet.room, room_path(islet.room), data: { turbo_frame: :_top } %>
      <% end %>
    <% end %>

      <% table.with_column(Islet.human_attribute_name(:position), sort_by: :position) do |islet| %>
        <%= islet.position %>
      <% end %>

      <% table.with_column(Frame.model_name.human.pluralize) do |islet| %>
        <%= link_to frames_path(islet_ids: islet.id), data: { turbo_frame: :_top } do %>
          <%= Islet.human_attribute_name(:frames_count, count: authorized_scope(islet.frames).count) %>
        <% end %>
      <% end %>

      <% table.with_column(text_align: :center, style: "min-width: 132px; width: 132px") do |islet| %>
        <div class="btn-group btn-group-sm" role="group" aria-label="...">
          <%= render partial: "visualization/islets/export_button", locals: { islet: decorate(islet) } %>

          <% if allowed_to?(:show?, islet, with: Visualization::IsletPolicy) %>
            <%= link_to visualization_room_path(islet.room, islet: islet.name), class: "btn btn-primary", data: { turbo_frame: :_top } do %>
              <span class="bi bi-diagram-3-fill" aria-hidden="true" data-controller="tooltip" data-bs-placement="left" title="<%= t("visualization.title") %>"></span>
              <span class="visually-hidden"><%= t("visualization.title") %></span>
            <% end %>
          <% end %>

          <% if allowed_to?(:update?, islet) %>
            <%= link_to edit_islet_path(islet), class: "btn btn-info", data: { turbo_frame: :_top } do %>
              <span class="bi bi-pencil" aria-hidden="true" data-controller="tooltip" data-bs-placement="left" title="<%= t("action.edit") %>"></span>
              <span class="visually-hidden"><%= t("action.edit") %></span>
            <% end %>
          <% end %>

          <% if allowed_to?(:destroy?, islet) %>
            <%= link_to islet, method: :delete, data: { turbo_frame: :_top }, class: "btn btn-danger" do %>
              <span class="bi bi-trash" aria-hidden="true" data-controller="tooltip" data-bs-placement="left" title="<%= t("action.delete") %>"></span>
              <span class="visually-hidden"><%= t("action.delete") %></span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
