<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  Islet.model_name.human.pluralize => islets_path,
  t(".title") => ''
} %>

<div class="container">
  <div class="page-header">
    <%= link_to islets_path, class: 'btn btn-outline-secondary' do %>
        <span class="bi bi-list-ul"></span>
        <%= t("action.back") %>
    <% end %>
    <h1>
      <%= t(".title") %>
    </h1>
  </div>

  <%= render 'form' %>
</div>
