<%
  islet_label = "#{Islet.model_name.human} #{@islet} - #{@islet.room}"
  breadcrumb_steps = {
    Islet.model_name.human.pluralize => islets_path, islet_label => ""
  }

  provide(:title, "#{Islet.model_name.human.pluralize} | #{islet_label}")
%>

<%= render Page::HeadingShowComponent.new(resource: @islet, title: t(".title"), breadcrumb_steps:) %>
<div class="col-12 p-4 border-top">
  <div class="col-12 col-lg-6">
    <%= render CardComponent.new do |card| %>
      <% card.with_header do %>
        <%= t("display") %>
      <% end %>

      <dl class="show-page_dl d-grid row-gap-2 mb-0">
        <% %i[name room position].each do |attribute_name| %>
          <dt class="pb-2"><%= Islet.human_attribute_name(attribute_name) %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= @islet.public_send(attribute_name) %></dd>
        <% end %>
      </dl>
    <% end %>
  </div>

  <%= render HasManyTurboFrameComponent.new(
    Bay.model_name.human.pluralize, url: bays_path(islet_id: @islet.id), frame_id: dom_id(Bay, :table)
  ) %>

  <%= render ChangelogEntries::ObjectListComponent.new(@islet) %>
</div>
