<% provide(:title, "#{Islet.model_name.human.pluralize} | #{@islet}") %>
<%= render "layouts/breadcrumb", breadcrumb_steps: {
  Islet.model_name.human.pluralize => islets_path,
  @islet => ""
} %>

<div class="row my-5">
  <div class="col-11 col-md-10 col-lg-8 mx-auto">
    <div class="d-flex justify-content-between pb-5">
      <%= link_to islets_path, class: "btn align-self-center d-inline-flex",
                               title: t("action.back") do %>
        <span class="bi bi-chevron-left"></span>
        <span class="d-none d-md-inline-block ms-1"><%= t("action.back") %></span>
      <% end %>
      <h1 class="text-center px-4"><%= t(".title") %></h1>
      <%= link_to edit_islet_path(@islet), class: "btn btn-info align-self-center d-inline-flex",
                                           title: t("action.edit") do %>
        <span class="bi bi-pencil"></span>
        <span class="d-none d-md-inline-block ms-1"><%= t("action.edit") %></span>
      <% end %>
    </div>

    <dl class="bg-body-tertiary p-4 rounded border">
      <% %i[name room position].each do |attribute_name| %>
        <dt><%= Islet.human_attribute_name(attribute_name) %> :</dt>
        <dd><%= @islet.public_send(attribute_name) %></dd>
      <% end %>
    </dl>
  </div>
</div>

<%= render HasManyTurboFrameComponent.new(Bay.model_name.human.pluralize, url: bays_path(islet_id: @islet.id), frame_id: dom_id(Bay, :table)) %>

<%= render ChangelogEntries::ObjectListComponent.new(@islet) %>
