<%
  breadcrumb
    .add(Islet.model_name.human.pluralize, islets_path)
    .add(@islet.name_with_room)
%>

<%= render Page::HeadingShowComponent.new(resource: @islet, title: @islet.name_with_room, breadcrumb:) %>
<div class="col-12 p-4 border-top">
  <div class="row row-cols-1 row-cols-lg-2 row-gap-4">
    <div class="col">
      <%= render CardComponent.new do |card| %>
        <% card.with_header do %>
          <%= t("show.cards.identification") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <% %i[name description].each do |attribute_name| %>
            <dt class="pb-2"><%= Islet.human_attribute_name(attribute_name) %></dt>
            <dd class="mb-0 pb-2 ps-3"><%= @islet.public_send(attribute_name) %></dd>
          <% end %>
        </dl>
      <% end %>

      <%= render CardComponent.new(extra_classes: "mt-4") do |card| %>
        <% card.with_header do %>
          <%= t("show.cards.features") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <dt class="pb-2"><%= Islet.human_attribute_name(:cooling_mode) %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= @islet.decorated.cooling_mode_to_human %></dd>

          <dt class="pb-2"><%= Islet.human_attribute_name(:access_control) %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= @islet.decorated.access_control_to_human %></dd>
        </dl>
      <% end %>
    </div>

    <div class="col">
      <%= render CardComponent.new(type: :primary) do |card| %>
        <% card.with_header do %>
          <%= t("layouts.sidebar.location.title") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <dt class="pb-2"><%= Site.model_name.human %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= link_to @islet.site, site_path(@islet.site) %></dd>

          <dt class="pb-2"><%= Room.model_name.human %></dt>
          <dd class="mb-0 pb-2 ps-3 d-flex justify-content-between">
            <%= link_to @islet.room, room_path(@islet.room) %>
            <%= link_to visualization_room_path(@islet.room),
                        class: "btn btn-primary btn-sm",
                        data: { turbo_frame: :_top } do %>
              <span class="bi bi-diagram-3-fill"
                    aria-hidden="true"
                    data-controller="tooltip"
                    data-bs-placement="left"
                    title="<%= t("visualization.title") %>"></span>
              <span class="visually-hidden"><%= t("visualization.title") %></span>
            <% end %>
          </dd>

          <dt class="pb-2"><%= Islet.human_attribute_name(:position) %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= @islet.position %></dd>
        </dl>
      <% end %>
    </div>
  </div>

  <%= render CardComponent.new(extra_classes: "bg-body-tertiary mt-4") do |card| %>
    <% card.with_header do %>
      <%= t("show.cards.visualization") %>
    <% end %>

    <div class="overview">
      <%= render CardComponent.new(extra_classes: "islet pt-2 px-2") do |card| %>
        <%= render "bays/overview", bays: @islet.decorated.overviewed_bays_array, islet: @islet.name %>
      <% end %>
    </div>
  <% end %>

  <%= render HasManyTurboFrameComponent.new(
    Bay.model_name.human.pluralize, url: bays_path(islet_ids: @islet.id), frame_id: dom_id(Bay, :table)
  ) %>

  <%= render ChangelogEntries::ObjectListComponent.new(@islet) %>
</div>
