<%
  breadcrumb_steps = {
    Islet.model_name.human.pluralize => islets_path, @islet.name_with_room => ""
  }

  provide(:title, "#{Islet.model_name.human.pluralize} | #{@islet.name_with_room}")
%>

<%= render Page::HeadingShowComponent.new(resource: @islet, title: @islet.name_with_room, breadcrumb_steps:) %>
<div class="col-12 p-4 border-top">
  <div class="d-flex flex-row flex-wrap">
    <div class="col-12 col-lg-6 pe-lg-4">
      <%= render CardComponent.new(extra_classes: "mb-4 mb-lg-0") do |card| %>
        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <% %i[name].each do |attribute_name| %>
            <dt class="pb-2"><%= Islet.human_attribute_name(attribute_name) %></dt>
            <dd class="mb-0 pb-2 ps-3"><%= @islet.public_send(attribute_name) %></dd>
          <% end %>
        </dl>
      <% end %>
    </div>

    <div class="col-12 col-lg-6">
      <%= render CardComponent.new(type: :primary) do |card| %>
        <% card.with_header do %>
          <%= t("layouts.sidebar.location.title") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <dt class="pb-2"><%= Room.model_name.human %></dt>
          <dd class="mb-0 pb-2 ps-3 d-flex justify-content-between">
            <%= link_to @islet.room, room_path(@islet.room) %>
            <%= link_to visualization_room_path(@islet.room),
                        class: "btn btn-primary btn-sm",
                        data: { turbo_frame: :_top } do %>
              <span class="bi bi-diagram-3-fill"
                    aria-hidden="true"
                    data-controller="tooltip"
                    data-bs-placement="left"
                    title="<%= t("visualization.title") %>"></span>
            <% end %>
          </dd>

          <dt class="pb-2"><%= Islet.human_attribute_name(:position) %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= @islet.position %></dd>
        </dl>
      <% end %>
    </div>
  </div>

  <%= render HasManyTurboFrameComponent.new(
    Bay.model_name.human.pluralize, url: bays_path(islet_id: @islet.id), frame_id: dom_id(Bay, :table)
  ) %>

  <%= render ChangelogEntries::ObjectListComponent.new(@islet) %>
</div>
