<div class="page-header">
  <%= link_to new_slot_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Slot
  <% end %>
  <h1>Listing slots</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Numero</th>
            <th>Serveur</th>
            <th>Valeur</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @slots) do |slot| %>
            <td><%= slot.numero %></td>
            <td><%= slot.serveur_id %></td>
            <td><%= slot.valeur %></td>
            <td><%= link_to 'Show', slot %></td>
        <td><%= link_to 'Edit', edit_slot_path(slot) %></td>
        <td><%= link_to 'Destroy', slot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
