<%
  title = PortType.model_name.human(count: 2)
  breadcrumb_steps = { title => "" }

  provide(:title, title)
%>

<%= render Page::HeadingComponent.new(title:, breadcrumb_steps:) do |heading| %>
  <% heading.with_right_content do %>
    <% render ButtonComponent.new(t(".new_port_type"),
                                  url: new_port_type_path,
                                  variant: :success,
                                  icon: "plus-lg",
                                  is_responsive: true) %>
  <% end %>
<% end %>

<div class="p-4 border-top d-flex flex-column row-gap-4">
  <%= render List::DataTableComponent.new(@port_types) do |table| %>
    <% table.with_column(PortType.human_attribute_name(:name), sort_by: :name) do |port_type| %>
      <%= link_to port_type, port_type_path(port_type), class: "fw-bold" %>
    <% end %>

    <% table.with_column(PortType.human_attribute_name(:power), sort_by: :power) do |port_type| %>
      <%= t("boolean.#{port_type.power?}") %>
    <% end %>

    <% table.with_column(PortType.human_attribute_name(:usage), sort_by: :card_types_count) do |port_type| %>
      <%= link_to card_types_path(port_type_ids: port_type.id) do %>
        <% usage_count = CardType.where(port_type: port_type).count %>
        <%= "#{usage_count} #{CardType.model_name.human(count: usage_count).downcase}" %>
      <% end %>
    <% end %>

    <% table.with_column(style: "min-width: 70px; width: 70px;") do |port_type| %>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <%= link_to edit_port_type_path(port_type), class: "btn btn-info" do %>
          <span class="bi bi-pencil" title="<%= t("action.edit") %>" aria-hidden="true"
                                                                     data-controller="tooltip"
                                                                     data-bs-placement="left"></span>
          <span class="visually-hidden"><%= t("action.edit") %></span>
        <% end %>
        <%= link_to port_type, method: :delete, data: { confirm: t(".delete_confirmation") },
                                                class: "btn btn-danger" do %>
          <span class="bi bi-trash" title="<%= t("action.delete") %>" aria-hidden="true"
                                                                      data-controller="tooltip"
                                                                      data-bs-placement="left"></span>
          <span class="visually-hidden"><%= t("action.delete") %></span>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
