<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  t("inventories") => modeles_url,
  PortType.model_name.human.pluralize => "" }
%>

<div class="container-fluid">

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <div class="page-header">
        <%= link_to new_port_type_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t(".add_port_type") %>
        <% end %>
        <h1>
          <%= t(".title") %>
        </h1>
      </div>

      <%= render List::DataTableComponent.new(@port_types) do |table| %>
        <% table.with_column(PortType.human_attribute_name(:name), sort_by: :name) do |port_type| %>
          <%= port_type.name %>
        <% end %>

        <% table.with_column(PortType.human_attribute_name(:power)) do |port_type| %>
          <%= t("boolean.#{port_type.power?}") %>
        <% end %>

        <% table.with_column(PortType.human_attribute_name(:usage)) do |port_type| %>
          <%= link_to card_types_path(anchor: "port_type_#{port_type}") do %>
            <% usage_count = CardType.where(port_type: port_type).count %>
            <%= "#{usage_count} #{CardType.model_name.human(count: usage_count).downcase}" %>
          <% end %>
        <% end %>

        <% table.with_column(class: "text-right") do |port_type| %>
          <%= link_to t("action.edit"), edit_port_type_path(port_type), class: 'btn btn-primary' %>
          <%= link_to t("action.delete"),
                      port_type,
                      method: :delete,
                      data: { confirm: t(".delete_confirmation") },
                      class: 'btn btn-danger' %>
        <% end %>
      <% end %>

    </div>

  </div>

</div>
