<% remote |= false %>

<div class="connection_form">

  <%= form_for("connection", url:connections_update_path, remote: (remote ? true : false), html: { class: "form-horizontal", role: "form" }) do |f| %>

    <div class="pull-right"><%= link_to('Supprimer la connexion', cable_path(id: @cable.id, redirect_to_port_id: @from_port.id), method: :delete, data: { confirm: 'Supprimer cette connexion ?' }, class: 'btn btn-danger', style: 'margin:-3px;') if @cable %></div>

      <div  style="clear:both;margin-top: 5px;" >
        <%= f.label 'Port de départ', class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= text_field_tag 'from_port',"#{@from_server} - Slot: #{@from_port.card.try(:composant)}#{@from_port.card.try(:composant).try(:position)} - Carte: #{@from_port.card.try(:card_type)} - Position: #{@from_port.position}" , {class: "form-control", disabled: true} %>
        </div>
        <div class="col-sm-10">
          <div id="back_departure_server" class="back_server">
            <%= render 'servers/draw_server_compact.html.erb', server: @from_server, selected_port: @from_port %>
          </div>
          <%= f.hidden_field :from_port_id, value: @from_port.id %>
        </div>
      </div>

      <div  style="clear:both;" >
        <%= f.label 'Port de destination', class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <% if @to_port.present? %>
              <%= text_field_tag 'to_port',"#{@to_server} - Slot: #{@to_port.try(:card).try(:composant)}#{@to_port.try(:card).try(:composant).try(:position)} - Carte: #{@to_port.try(:card).try(:card_type)} - Position: #{@to_port.try(:position)}" , {class: "form-control", disabled: true} %>
          <% else %>
              <%= text_field_tag 'to_port', "Sélectionnez un port de destination", {class: "form-control", disabled: true} %>
          <% end %>
        </div>
        <div class="col-sm-10">
          <div class="" style="text-align: center;">
            <%= select_tag 'to_server', grouped_options_for_select(@possible_destination_servers, { :selected => @to_server.id }), :onchange => 'select_destination_server()' %>
          </div>
          <div id="back_destination_server" class="back_server">
            <%= render 'servers/draw_server_compact.html.erb', server: @to_server, selected_port: @to_port %>
          </div>
          <%= f.hidden_field :to_port_id, value: @to_port.try(:id) %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :vlans, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_area :vlans, class: "form-control", value: @from_port.vlans %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label 'Couleur', class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.hidden_field :color, value: @from_port.cable.try(:color) %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label 'Nom du cable', class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :cablename, class: "form-control", value: @from_port.cable.try(:name) %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit 'Enregistrer', class: "btn btn-primary", disabled: :disabled %>
          <%= link_to 'Annuler', '#', class: "btn btn-default", id:"close_modal" %>
        </div>
      </div>

    </div>

  <% end %>

</div>

<script>
    function select_destination_server(){
        $.ajax({
            method: "POST",
            url: "<%= connections_update_destination_server_path %>",
            data: { server_id: $("select[name='to_server']").val() }
        });
    }
    $(document).ready(function(){
        loadPaletteColorPicker('[name="connection[color]"]');

        $("#back_departure_server").on('click', 'a.port', function(e) {
            e.preventDefault();
        });
        $("#back_destination_server").on('click', 'a.port', function(e){
            e.preventDefault();
            var selected_ports = $("#back_destination_server #"+e.target.id);
            selected_ports.closest("table").find("span.selected").removeClass("selected");
            selected_ports.closest("span").addClass("selected");
            var server_name = $("#back_destination_server .server_name").text();
            var component_name = selected_ports.closest("td").find("span:first").data("composant-name");
            var position = selected_ports.data("position");
            $('#to_port').val(server_name + " - Slot: " + component_name + " - Position : " + position);
            $('[name="connection[to_port_id]"]').val(e.target.id);
            selected_ports.closest("form").find('input[type="submit"]').prop('disabled', false);
        });
    });
</script>
