$("#draw_connections_link_<%= @server.id %> button").html('<span class="glyphicon glyphicon-random" aria-hidden="true"></span>')
$("#draw_connections_link_<%= @server.id %> button").toggleClass('btn-warning')

var activated_servers = activated_servers || {}
var elt_start, elt_end

function create_lines() {
    <% @server.ports.each do |port| %>
    <% if port.paired_connection.present? %>
    elt_start = document.getElementById('<%= port.id %>')
    elt_end = document.getElementById('<%= port.paired_connection.port_id %>')
    if (exists(elt_start) && exists(elt_end)) {
        activated_servers = create_line(activated_servers, <%= @server.id %>, <%= port.id %>, elt_start, elt_end, '<%= port.cable_color %>', '<%= port.cable_name %>')
    }
    <% end %>
    <% end %>
    return activated_servers
}

if (exists(activated_servers[<%= @server.id %>])) { // TOGGLE
    console.log("DELETE LINES")
    activated_servers = delete_lines(activated_servers, <%= @server.id %>)
} else {
    console.log("CREATE LINES")
    activated_servers = create_lines(activated_servers, <%= @server.id %>)
}

function create_line(activated_servers, server_id, port_id, elt_start, elt_end, cable_color, cable_name) {
    activated_servers[server_id] = activated_servers[server_id] || {}

    var line = new LeaderLine(
        elt_start,
        elt_end,
        {
            color: colors_hash[cable_color],
            size: 2,
            middleLabel: cable_name,
            endPlug: 'behind',
            endSocket: 'auto',
            path: 'fluid', //'fluid',
            hide: true
        }
    )

    elt_start.addEventListener('mouseenter', function () {
        line.dash = {animation: true}
        line.size = 4
    }, false);
    elt_end.addEventListener('mouseenter', function () {
        line.dash = {animation: true}
        line.size = 4
    }, false);

    elt_start.addEventListener('mouseleave', function () {
        line.dash = false
        line.size = 2
    }, false);
    elt_end.addEventListener('mouseleave', function () {
        line.dash = false
        line.size = 2
    }, false);


    line.show()
    activated_servers[server_id][port_id] = line
    return activated_servers
}

function delete_lines(activated_servers, server_id) {
    var ports = activated_servers[server_id]
    for (var key of Object.keys(ports)) {
        ports[key].hide()
        delete ports[key]
    }
    delete activated_servers[server_id]
    return activated_servers
}
