$("#draw_connections_link_<%= @server.id %> button").html('<span class="glyphicon glyphicon-random" aria-hidden="true"></span>')
$("#draw_connections_link_<%= @server.id %> button").toggleClass('btn-warning')

var activated_servers = activated_servers || {}
var elt_start, elt_end

function create_lines() {
    <% @server.ports.each do |port| %>
    <% if port.paired_connection.present? %>
    elt_start = document.getElementById('<%= port.id %>')
    elt_end = document.getElementById('<%= port.paired_connection.port_id %>')
    if (exists(elt_start) && exists(elt_end)) {
        activated_servers = create_line(activated_servers, <%= @server.id %>, <%= port.id %>, elt_start, elt_end, '<%= port.cable_color %>', '<%= port.cable_name %>')
    }
    <% end %>
    <% end %>
    return activated_servers
}

if (exists(activated_servers[<%= @server.id %>])) { // TOGGLE
    console.log("DELETE LINES")
    activated_servers = delete_lines(activated_servers, <%= @server.id %>)
} else {
    console.log("CREATE LINES")
    activated_servers = create_lines(activated_servers, <%= @server.id %>)
}

function create_line(activated_servers, server_id, port_id, elt_start, elt_end, cable_color, cable_name) {
    activated_servers[server_id] = activated_servers[server_id] || {}

    var line = new LeaderLine(
        elt_start,
        elt_end,
        {
            color: colors_hash[cable_color],
            size: 2,
            middleLabel: cable_name,
            endPlug: 'behind',
            endSocket: 'auto',
            path: 'fluid', //'fluid',
            hide: true
        }
    )

    var ports_elts = [elt_start, elt_end]
    ports_elts.forEach(function (elem) {
        elem.addEventListener('mouseenter', function () {
            set_line_options(line, 'hover')
            outline_elements(ports_elts, true)
        }, false)
    })
    ports_elts.forEach(function (elem) {
        elem.addEventListener('mouseleave', function () {
            set_line_options(line, 'leave')
            outline_elements(ports_elts, false)
        }, false);
    })

    line.show()
    activated_servers[server_id][port_id] = line
    return activated_servers
}

function set_line_options(line, status) {
    if (status === 'hover') {
        line.dash = {animation: true}
        line.size = 4
        // line.startPlug = 'square'
        // line.endPlug = 'square'
        // line.startPlugColor = '#f0ad4e'
        // line.endPlugColor = '#f0ad4e'
    } else {
        line.dash = false
        line.size = 2
        // line.startPlug = 'behind'
        // line.endPlug = 'behind'
    }
}

function outline_elements(elts, status) {
    console.log(outline_elements)
    elts.forEach(function (elt) {
        console.log("STATUS = " + status)
        if (status) {
            $(elt).addClass('outlined')
        } else {
            $(elt).removeClass('outlined')
        }
    })
}

function delete_lines(activated_servers, server_id) {
    var ports = activated_servers[server_id]
    for (var key of Object.keys(ports)) {
        ports[key].hide()
        delete ports[key]
    }
    delete activated_servers[server_id]
    return activated_servers
}
