<%
  title = Connection.model_name.human.pluralize
  breadcrumb_steps = { title => "" }

  provide(:title, title)
%>

<%= render Page::HeadingComponent.new(title:, breadcrumb_steps:) %>

<div class="p-4 border-top d-flex flex-column row-gap-4">
  <%= render List::DataTableComponent.new(@connections) do |table| %>
    <% table.with_column(Connection.human_attribute_name(:port), sort_by: :"ports.id") do |connection| %>
      <%= connection.port&.id %>
    <% end %>

    <% table.with_column(Connection.human_attribute_name(:cable), sort_by: :"cables.name") do |connection| %>
      <%- if connection.cable.color? %>
        <%= link_to connection.cable.name, connections_edit_path(from_port_id: connection.port),
                    class: "port#{connection.port_type} #{connection.cable.color}" %>
      <% else %>
        <%= connection.cable&.name %>
      <% end %>
    <% end %>

    <% table.with_column(Server.model_name.human) do |connection| %>
      <%= link_to connection.server, server_path(connection.server) if connection.server %>
    <% end %>

    <% table.with_column(Card.model_name.human) do |connection| %>
      <% if card = connection.card %>
        <%= [card.name, card.composant, card.card_type].reject(&:blank?).join(' / ') %>
      <% end %>
    <% end %>

    <% table.with_column(PortType.model_name.human) do |connection| %>
      <%= connection.port_type&.name %>
    <% end %>

    <% table.with_column(Connection.human_attribute_name(:paired_connection)) do |connection| %>
      <% if connection.paired_connection %>
        <%= link_to connection.paired_connection.id, connections_edit_path(from_port_id: connection.port) %>
      <% end %>
    <% end %>

    <% table.with_column(style: "min-width: 40px; width: 40px") do |connection| %>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <%= link_to connections_edit_path(from_port_id: connection.port), class: "btn btn-info" do %>
          <span class="bi bi-pencil" title="<%= t("action.edit") %>" aria-hidden="true"
                                                                     data-controller="tooltip"
                                                                     data-bs-placement="left"></span>
          <span class="visually-hidden"><%= t("action.edit") %></span>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%== pagy_bootstrap_nav(@pagy) %>
</div>
