<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  t("inventories") => modeles_url,
  Connection.model_name.human.pluralize => ""}
%>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <%= render "pages/params_menu" %>
    </div>

    <div class="col-md-9">
      <div class="page-header">
        <h1>
          <%= t(".title") %>
        </h1>
      </div>

      <%= render List::DataTableComponent.new(@connections) do |table| %>
        <% table.with_column(Port.model_name.human) do |connection| %>
          <%= connection.port.id %>
        <% end %>

        <% table.with_column(Cable.model_name.human) do |connection| %>
          <%= connection.cable.name %>
        <% end %>

        <% table.with_column("Paired connections") do |connection| %>
          <%= connection.paired_connection.id %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
