<%= render "layouts/breadcrumb", breadcrumb_steps: {
  t("inventories") => modeles_url,
  Connection.model_name.human.pluralize => ""}
%>

<div class="container-fluid">
  <h1><%= t(".title") %></h1>

  <%= render List::DataTableComponent.new(@connections) do |table| %>
    <% table.with_column(Connection.human_attribute_name(:port), sort_by: :"ports.id") do |connection| %>
      <%= connection.port&.id %>
    <% end %>

    <% table.with_column(Connection.human_attribute_name(:cable), sort_by: :"cables.name") do |connection| %>
      <%- if connection.cable.color? %>
        <%= link_to connection.cable.name, connections_edit_path(from_port_id: connection.port),
                    class: "port#{connection.port_type} #{connection.cable.color}" %>
      <% else %>
        <%= connection.cable&.name %>
      <% end %>
    <% end %>

    <% table.with_column(Connection.human_attribute_name(:paired_connection)) do |connection| %>
      <%= connection.paired_connection&.id %>
      <%- if connection.paired_connection %>
        <span class="float-end">
          <%= link_to connections_edit_path(from_port_id: connection.port), class: "btn btn-primary btn-sm float-end" do %>
            <span class="bi bi-pencil" aria-hidden="true" data-controller="tooltip" data-bs-placement="left" title="<%= t("action.edit") %>"></span>
            <span class="visually-hidden"><%= t("action.edit") %></span>
          <% end %>
        </span>
      <% end %>
    <% end %>

    <% table.with_column(Server.model_name.human) do |connection| %>
      <%= link_to connection.server, server_path(connection.server) if connection.server %>
    <% end %>

    <% table.with_column(Card.model_name.human) do |connection| %>
      <% if card = connection.card %>
        <%= [card.name, card.composant, card.card_type].reject(&:blank?).join(' / ') %>
      <% end %>
    <% end %>

    <% table.with_column(PortType.model_name.human) do |connection| %>
      <%= connection.port_type&.name %>
    <% end %>

    <% table.with_column(style: "min-width: 48px; width: 48px") do |connection| %>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <%= link_to connections_edit_path(from_port_id: connection.port), class: "btn btn-primary" do %>
          <span class="bi bi-pencil" aria-hidden="true" data-controller="tooltip" data-bs-placement="left" title="<%= t("action.edit") %>"></span>
          <span class="visually-hidden"><%= t("action.edit") %></span>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= paginate @connections %>
</div>
