<%
  title = t(".title")

  breadcrumb.add_step(t("visualization.title"), overview_rooms_path)
  if @room.present?
    breadcrumb.add_step("#{Room.model_name.human} #{@room.name}"], visualization_room_path(@room))
  elsif @frame.present?
    breadcrumb.add_step("#{Room.model_name.human} #{@frame.room.name}"], visualization_room_path(@frame.room))
  end
  breadcrumb.add_step("#{Frame.model_name.human} #{@frame.name}"], visualization_frame_path(@frame)) if @frame.present?
  breadcrumb.add_step(title)
%>

<%= render Page::HeadingComponent.new(title:, breadcrumb:) do |heading| %>
  <% heading.with_right_content do %>
    <div class="align-self-center">
      <% text_action = @room.present? ? ports_path(room_id: @room.id, format: "txt") : ports_path(frame_id: @frame.id, format: "txt") %>
      <%= link_to text_action, class: "btn btn-outline-primary me-2", title: t("export_button.exports.txt") do %>
        <span class="bi bi-filetype-txt" aria-hidden="true"></span>
        <span class="d-none d-md-inline-block ms-1"><%= t("export_button.exports.txt") %></span>
      <% end %>
      <% csv_action = @room.present? ? ports_path(room_id: @room.id, format: "csv") : ports_path(frame_id: @frame.id, format: "csv") %>
      <%= link_to csv_action, class: "btn btn-outline-primary", title: t("export_button.exports.csv") do %>
        <span class="bi bi-filetype-csv"></span>
        <span class="d-none d-md-inline-block ms-1"><%= t("export_button.exports.csv") %></span>
      <% end %>
    </div>
  <% end %>
<% end %>

<div class="col-12 p-4 border-top">
  <%= render CardComponent.new do |card| %>
    <% @frames.each do |frame| %>
      <% card.with_header do %>
        <h3>
          <%= link_to "#{frame.name_with_room_and_islet}",
                      frame_path(frame, view: params[:view]),
                      class: "text-decoration-underline" %>
        </h3>
      <% end %>
      <div class="d-flex flex-column gap-4">
        <% frame.servers.includes(:modele, cards: [:ports, :composant]).order("position desc").each do |s| %>
          <div>
            <h4 class="d-inline"><%= s.name %></h4>
            <span> (<%= s.modele.try(:name) %>)</span>
            <p class="text-break mt-1">
              <% s.cards.each do |c| %>
                <% c.ports.each do |port| %>
                  <% if port && port.cable_name && c.composant.name.present? %>
                    <%= "#{c.composant.name}#{c.composant.name.include?("SL") ? "/#{port.position}" : port.position} - #{port.network_conf(s.frame.switch_slot)}" %>
                    <br>
                  <% end %>
                <% end %>
              <% end %>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
