<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  'Architectures' => architectures_path,
  @architecture => '',
} %>

<div class="container">
  <div class="page-header">
    <%= link_to architectures_path, class: 'btn btn-default' do %>
      <span class="bi bi-list-ul"></span>
      <%= t("action.back") %>
    <% end %>
    <%= link_to @architecture, class: 'btn btn-primary' do %>
      <span class="bi bi-eye"></span>
      <%= t("action.show") %>
    <% end %>
    <h1>
      <%= t(".title") %>
    </h1>
  </div>

  <%= render 'form' %>
</div>
