<% provide(:title, Architecture.model_name.human.pluralize) %>

<%= render "layouts/breadcrumb", breadcrumb_steps: { Architecture.model_name.human.pluralize => "" } %>
<div class="d-flex justify-content-between bg-body p-4">
  <h1><%= t(".title") %></h1>
  <%= link_to new_architecture_path, class: "btn btn-success align-self-center" do %>
    <span class="bi bi-plus-lg"></span>
    <%= t(".new_architecture") %>
  <% end %>
</div>

<%= render List::DataTableComponent.new(@architectures) do |table| %>
  <% table.with_column(Architecture.human_attribute_name(:name), sort_by: :name) do |architecture| %>
    <b>
      <%= link_to architecture, architecture_path(architecture) %>
    </b>
  <% end %>

  <% table.with_column(Architecture.human_attribute_name(:usage), sort_by: :modeles_count) do |architecture| %>
    <%= link_to Architecture.human_attribute_name(:modeles_count, count: architecture.modeles_count), modeles_path %>
  <% end %>

  <% table.with_column(style: "min-width: 70px; width: 70px") do |architecture| %>
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <%= link_to edit_architecture_path(architecture), class: "btn btn-info" do %>
        <span class="bi bi-pencil" title="<%= t("action.edit") %>" aria-hidden="true"
                                                                    data-controller="tooltip"
                                                                    data-bs-placement="left"></span>
        <span class="visually-hidden"><%= t("action.edit") %></span>
      <% end %>
      <%= link_to architecture, method: :delete, data: { confirm: t(".delete_confirmation") },
                                                  class: "btn btn-danger" do %>
        <span class="bi bi-trash" title="<%= t("action.delete") %>" aria-hidden="true"
                                                                    data-controller="tooltip"
                                                                    data-bs-placement="left"></span>
        <span class="visually-hidden"><%= t("action.delete") %></span>
      <% end %>
    </div>
  <% end %>
<% end %>
