<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  t("breadcrumb.settings") => architectures_path,
  t("breadcrumb.architectures") => ""}
%>

<div class="container-fluid">

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <div class="page-header">
        <%= link_to new_architecture_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t(".new_architecture") %>
        <% end %>
        <h1>
          <%= t(".title") %>
        </h1>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>
                <%= Architecture.human_attribute_name(:name) %>
              </th>
              <th>
                <%= Architecture.human_attribute_name(:usage) %>
              </th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <%= content_tag_for(:tr, @architectures) do |architecture| %>
              <td><%= architecture %></td>
              <td><%= Architecture.human_attribute_name(:modeles, count: architecture.modeles.count) %> </td>
              <td><%= link_to t("action.edit"), edit_architecture_path(architecture), class: 'btn btn-primary' %></td>
              <td>
                <%= link_to t("action.delete"),
                            architecture,
                            method: :delete,
                            data: { confirm: t(".delete_confirmation") },
                            class: 'btn btn-danger' %>
              </td>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>
