<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  t("inventories") => modeles_url,
  Architecture.model_name.human.pluralize => ""
}%>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">
      <div class="page-header">
        <%= link_to new_architecture_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t(".new_architecture") %>
        <% end %>
        <h1>
          <%= t(".title") %>
        </h1>
      </div>

      <%= render List::DataTableComponent.new(@architectures) do |table| %>
        <% table.with_column(Architecture.human_attribute_name(:name), sort_by: :name) do |architecture| %>
          <b>
            <%= link_to architecture, architecture_path(architecture) %>
          </b>
        <% end %>

        <% table.with_column(Architecture.human_attribute_name(:usage)) do |architecture| %>
          <%= link_to Architecture.human_attribute_name(:modeles_count, count: architecture.modeles.count), modeles_path %>
        <% end %>

        <% table.with_column(class: "text-right") do |architecture| %>
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <%= link_to t("action.edit"), edit_architecture_path(architecture), class: 'btn btn-primary' %>
            <%= link_to t("action.delete"),
                        architecture,
                        method: :delete,
                        data: { confirm: t(".delete_confirmation") },
                        class: 'btn btn-danger' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
