<div class="container">

  <%= render 'layouts/breadcrumb', params: {'Configuration' => modeles_url, 'Architectures' => ''} %>

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <div class="page-header">
        <%= link_to new_architecture_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          Ajouter une architecture
        <% end %>
        <h1>Architectures</h1>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Usage</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <%= content_tag_for(:tr, @architectures) do |architecture| %>
              <td><%= architecture.title %></td>
              <td><%= pluralize(architecture.modeles.count, 'modeles') %> </td>
              <td><%= link_to 'Modifier', edit_architecture_path(architecture), class: 'btn btn-primary' %></td>
              <td><%= link_to 'Supprimer', architecture, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>
