<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  'Paramètres' => modeles_url,
  'Architectures' => architectures_path,
  "Nouvelle architecture" => '',
} %>

<div class="container">
  <div class="page-header">
    <%= link_to architectures_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      <%= t("action.back") %>
    <% end %>
    <h1>
        <%= t(".title") %>
    </h1>
  </div>

  <%= render 'form' %>
</div>
