<% provide(:title, "#{Architecture.model_name.human.pluralize} | #{@architecture.name}") %>
<% breadcrumb_steps = {
  Architecture.model_name.human.pluralize => architectures_path, @architecture.name => ""
} %>

<%= render Page::HeadingComponent.new(resource: @architecture, title: t(".title"), breadcrumb_steps:) %>
<div class="col-12 p-4 border-top row">
  <div class="col-12 col-md-6">
    <%= render CardComponent.new() do |card| %>
      <% card.with_header do %>
        <%= t("display") %>
      <% end %>

      <dl class="row">
        <% %i[name description].each do |attribute_name| %>
          <dt class="col-5 text-end"><%= Architecture.human_attribute_name(attribute_name) %> :</dt>
          <dd class="col-7"><%= @architecture.public_send(attribute_name) %></dd>
        <% end %>
      </dl>
    <% end %>
  </div>
</div>

<%= render ChangelogEntries::ObjectListComponent.new(@architecture) %>
