<% breadcrumb.add_step(@architecture) %>

<%= render Page::HeadingShowComponent.new(resource: @architecture, title: @architecture, breadcrumb:) %>
<div class="col-12 p-4 border-top">
  <div class="row row-cols-1 row-cols-lg-2 row-gap-4">
    <div class="col">
      <%= render CardComponent.new do |card| %>
        <% card.with_header do %>
          <%= t("show.cards.identification") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <% %i[name description].each do |attribute_name| %>
            <dt class="pb-2"><%= Architecture.human_attribute_name(attribute_name) %></dt>
            <dd class="mb-0 pb-2 ps-3"><%= @architecture.public_send(attribute_name) %></dd>
          <% end %>
        </dl>
      <% end %>
    </div>
  </div>
  <%= render HasManyTurboFrameComponent.new(
    Modele.model_name.human.pluralize,
    url: modeles_path(architecture_ids: @architecture.id),
    frame_id: dom_id(Modele, :table),
    new_path: new_modele_path("modele[architecture_id]" => @architecture.id)
  ) %>
  <%= render ChangelogEntries::ObjectListComponent.new(@architecture) %>
</div>
