<div class="col-12 p-4 border-top">
  <%= turbo_frame_tag "glpi_equipment" do %>
    <%= render CardComponent.new(extra_classes: "mt-4") do |card| %>
      <% card.with_header do %>
        <%= t(".title") %>
      <% end %>

      <% if @connection_error.present? %>
        <%= t(".connection_error") %> : <pre><code><%= @connection_error %></code></pre>
      <% elsif @equipment.present? %>
        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <dt class="pb-2"><%= t("glpi.computer.name") %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= @equipment.name %></dd>

          <dt class="pb-2"><%= t("glpi.computer.id") %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= @equipment.id %></dd>

          <dt class="pb-2"><%= t("glpi.computer.serial") %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= @equipment.serial %></dd>

          <dt class="pb-2"><%= t("glpi.computer.state") %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= @equipment.state %></dd>

          <dt class="pb-2"><%= t("glpi.computer.groups") %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= @equipment.groups %></dd>
        </dl>
        <dl class="show-page_dl d-grid row-gap-2 pt-3 border-top mb-0">
          <dt class="pb-2"><%= t("glpi.computer.disks_count") %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= @equipment.hard_drives&.size %></dd>

          <dt class="pb-2"><%= t("glpi.computer.disks_capacity") %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= number_to_human_size(@equipment.hard_drives_total_capacity * 1_048_576) %></dd>

          <dt class="pb-2"><%= t("glpi.computer.memories_count") %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= @equipment.memories&.size %></dd>

          <dt class="pb-2"><%= t("glpi.computer.memories_total") %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= number_to_human_size(@equipment.memories_total_size * 1_048_576) %></dd>

          <dt class="pb-2"><%= t("glpi.computer.cpus") %></dt>
          <dd class="mb-0 pb-2 ps-3">
            <%= @equipment.processors.group_by { |p| p[1]["designation"] }
                  .map { |designation, processors| "#{processors.size} x #{designation}" }
                  .join(", ") %>
          </dd>
        </dl>

        <% card.with_footer do %>
          <%= link_to t(".visit_page"), @equipment.url, target: :_blank, rel: :noopener %>
        <% end %>

      <% else %>
        <%= t(".no_match_serial", serial: @server.numero) %>
      <% end %>

    <% end %>
  <% end %>
</div>
