<%= render FormErrorsComponent.new(@air_conditioner) %>

<%= form_for(@air_conditioner, html: { class: "air-conditioner-form bg-body-tertiary p-4 rounded border",
                                       role: "form" }) do |f| %>
  <div class="row g-3">
    <fieldset class="col-12">
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, class: "form-control" %>
    </fieldset>

    <fieldset class="col-12 mt-4">
      <%= f.label :air_conditioner_model_id, class: "form-label" %>
      <%= f.select :air_conditioner_model_id,
                    options_from_collection_for_select(AirConditionerModel.all, :id, :name, @air_conditioner.air_conditioner_model_id),
                    {},
                    class: "form-select" %>
    </fieldset>

    <fieldset class="col-12 mt-4">
      <%= f.label :status, class: "form-label" %>
      <%= f.select :status,
                    options_for_select(AirConditioner.statuses.values.map { |status| [t(".status-#{status}"), status] }, @air_conditioner.status),
                    {},
                    class: "form-select" %>
    </fieldset>

    <fieldset class="col-12 mt-4">
      <%= f.label :last_service, class: "form-label" %>
      <%= f.date_field :last_service, class: "form-control" %>
    </fieldset>

    <div class="col-12 mt-4">
      <%= render CardComponent.new(type: :secondary, extra_classes: "bg-transparent") do |card| %>
        <% card.with_header do %>
          <h5 class="mb-0"><%= t(".location") %></h5>
        <% end %>

        <fieldset>
          <%= f.label :bay_id, class: "form-label" %>
          <%= f.select :bay_id,
                        options_from_collection_for_select(
                          Bay.sorted_by_room, :id, :detailed_name, @air_conditioner.bay_id
                        ),
                        {},
                        { class: "form-select", data: { controller: "select" } } %>
        </fieldset>

        <fieldset class="mt-4">
          <%= f.label :position, class: "form-label" %>
          <%= f.select :position,
                        options_for_select(
                          AirConditioner.positions.values.map { |position| [t(".#{position}"), position] },
                          @air_conditioner.position
                        ),
                        {},
                        class: "form-select" %>
        </fieldset>
      <% end %>
    </div>

    <div class="col-12 mt-1">
      <%= render CardComponent.new(type: :secondary, extra_classes: "bg-transparent") do |card| %>
        <% card.with_header do %>
          <h5 class="mb-0"><%= t(".temperatures") %></h5>
        <% end %>

        <fieldset>
          <%= f.label :setpoint, class: "form-label" %>
          <span class="form-text"><%= t(".help-setpoint") %></span>

          <div class="col-6 input-group">
            <span class="input-group-text"><%= t('.day') %></span>
            <%= f.number_field :setpoint, class: "form-control", title: t('.info-setpoint'), in: 0..50, step: 1 %>
            <span class="input-group-text">째C</span>
          </div>

          <div class="col-6 input-group">
            <span class="input-group-text"><%= t('.night') %></span>
            <%= f.number_field :min_setpoint, class: "form-control", title: t('.info-min-setpoint'), in: 0..50, step: 1 %>
            <span class="input-group-text">째C</span>
          </div>
        </fieldset>

        <fieldset class="mt-4">
          <%= f.label :start, class: "form-label" %>
          <span class="form-text"><%= t(".help-start") %></span>
          <div class="input-group">
            <%= f.number_field :start, class: "form-control", title: t('.info-start'), in: 0..20, step: 1 %>
            <span class="input-group-text">째C</span>
        </fieldset>

        <fieldset class="mt-4">
          <%= f.label :range, class: "form-label" %>
          <span class="form-text"><%= t(".help-range") %></span>
          <div class="input-group">
            <%= f.number_field :range, class: "form-control", title: t('.info-range'), in: 0..20, step: 1 %>
            <span class="input-group-text">째C</span>
          </div>
        </fieldset>

        <div class="alert alert-info" role="alert">
          <%= simple_format t('.info-temperatures') %>
        </div>
      <% end %>
    </div>

    <div class="col-12 mt-4">
      <%= f.submit class: "btn btn-primary w-100" %>
    </div>
  </div>
<% end %>
