<%
  title = AirConditioner.model_name.human.pluralize
  breadcrumb_steps = { title => "" }

  provide(:title, title)
%>

<%= render Page::HeadingComponent.new(title:, breadcrumb_steps:) do |heading| %>
  <% heading.with_right_content do %>
    <% render ButtonComponent.new(t(".new_air_conditioner"),
                                  url: new_air_conditioner_path,
                                  variant: :success,
                                  icon: "plus-lg",
                                  is_responsive: true) %>
  <% end %>
<% end %>

<div class="p-4 border-top d-flex flex-column row-gap-4">
  <%= render FilterComponent.new(@filter) do |c| %>
    <% c.with_form do |f| %>
      <div class="w-100">
        <fieldset class="form-floating">
          <%= f.search_field :q, class: "form-control", placeholder: t("filters.placeholder.search") %>
          <%= f.label :q %>
        </fieldset>
      </div>

      <div>
        <fieldset class="form-floating">
          <%= f.collection_select(:room_ids, Room.sorted, :id, :to_s,
                                  { prompt: true, multiple: true },
                                  { class: "form-select", data: { controller: :select }  }) %>
          <%= f.label :room_ids %>
        </fieldset>
      </div>
    <% end %>
  <% end %>

  <%= render List::DataTableComponent.new(@air_conditioners) do |table| %>
    <% table.with_column(AirConditioner.human_attribute_name(:name), sort_by: :name) do |air_conditioner| %>
      <%= link_to air_conditioner.name, air_conditioner_path(air_conditioner), class: "fw-bold" %>
    <% end %>

    <% table.with_column(Room.model_name.human, sort_by: :"rooms.name") do |air_conditioner| %>
      <%= link_to air_conditioner.room, room_path(air_conditioner.room) %>
    <% end %>

    <% table.with_column(Islet.model_name.human, sort_by: :"islets.name") do |air_conditioner| %>
      <%= link_to air_conditioner.islet, islet_path(air_conditioner.islet) %>
    <% end %>

    <% table.with_column(style: "min-width: 70px; width: 70px") do |air_conditioner| %>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <%= link_to edit_air_conditioner_path(air_conditioner), class: "btn btn-info" do %>
          <span class="bi bi-pencil" title="<%= t("action.edit") %>" aria-hidden="true"
                                                                     data-controller="tooltip"
                                                                     data-bs-placement="left"></span>
          <span class="visually-hidden"><%= t("action.edit") %></span>
        <% end %>
        <%= link_to air_conditioner, method: :delete, data: { confirm: t(".delete_confirmation") },
                                                      class: "btn btn-danger" do %>
          <span class="bi bi-trash" title="<%= t("action.delete") %>" aria-hidden="true"
                                                                      data-controller="tooltip"
                                                                      data-bs-placement="left"></span>
          <span class="visually-hidden"><%= t("action.delete") %></span>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
