<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  AirConditioner.model_name.human.pluralize => "" }
%>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">
      <div class="page-header">
        <%= link_to new_air_conditioner_path, class: 'btn btn-primary btn-disabled' do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t('.new') %>
        <% end %>
        <h1>
          <%= t('.title') %>
        </h1>
      </div>

      <%= render FilterComponent.new(@filter) do |c| %>
        <% c.with_form do |f| %>
          <div class="form-group">
            <%= f.label :q %>
            <%= f.search_field :q, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :room_id %>
            <%= f.collection_select(:room_id, Room.sorted, :id, :to_s, { include_blank: true }, { class: "form-control" }) %>
          </div>
        <% end %>
      <% end %>

      <%= render List::DataTableComponent.new(@air_conditioners) do |table| %>
        <% table.with_column(Room.model_name.human, sort_by: :"rooms.name") do |air_conditioner| %>
          <%= link_to air_conditioner.room, room_path(air_conditioner.room) %>
        <% end %>

        <% table.with_column(Islet.model_name.human, sort_by: :"islets.name") do |air_conditioner| %>
          <%= link_to air_conditioner.islet, islet_path(air_conditioner.islet) %>
        <% end %>

        <% table.with_column(AirConditioner.human_attribute_name(:name), sort_by: :name) do |air_conditioner| %>
          <%= air_conditioner.name %>
        <% end %>

        <% table.with_column(style: "min-width: 160px; width: 160px") do |air_conditioner| %>
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <%= link_to edit_air_conditioner_path(air_conditioner), class: 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="<%= t("action.edit") %>"></span>
              <span class="sr-only"><%= t("action.edit") %></span>
            <% end %>
            <%= link_to air_conditioner, method: :delete, data: { confirm: t(".delete_confirmation") }, class: 'btn btn-danger' do %>
              <span class="glyphicon glyphicon-trash" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="<%= t("action.delete") %>"></span>
              <span class="sr-only"><%= t("action.delete") %></span>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
