<% breadcrumb.add_step(@air_conditioner) %>

<%= render Page::HeadingShowComponent.new(
  resource: @air_conditioner,
  title: @air_conditioner,
  breadcrumb:,
  editable: allowed_to?(:update?, @air_conditioner)
) %>

<div class="col-12 p-4 border-top">
  <div class="row row-cols-1 row-cols-lg-2 row-gap-4">
    <div class="col">
      <%= render CardComponent.new do |card| %>
        <% card.with_header do %>
          <%= t("show.cards.identification") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <% %i[name].each do |attribute_name| %>
            <dt class="pb-2"><%= AirConditioner.human_attribute_name(attribute_name) %></dt>
            <dd class="mb-0 pb-2 ps-3"><%= @air_conditioner.public_send(attribute_name) %></dd>
          <% end %>
        </dl>
      <% end %>

      <%= render CardComponent.new(extra_classes: "mt-4") do |card| %>
        <% card.with_header do %>
          <%= t("show.cards.features") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <dt class="pb-2"><%= AirConditioner.human_attribute_name(:air_conditioner_model_id) %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= @air_conditioner.air_conditioner_model %></dd>

          <dt class="pb-2"><%= AirConditioner.human_attribute_name(:status) %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= t("air_conditioners.form.status-#{@air_conditioner.status}") %></dd>

          <dt class="pb-2"><%= AirConditioner.human_attribute_name(:last_service) %></dt>
          <dd class="mb-0 pb-2 ps-3">
            <% if @air_conditioner.last_service %>
              <%= l(@air_conditioner.last_service) %>
            <% end %>
          </dd>

          <dt class="pb-2"><%= AirConditioner.human_attribute_name(:lift_pump) %></dt>
          <dd class="mb-0 pb-2 ps-3">
            <span><%= t("boolean.#{@air_conditioner.lift_pump}") %></span>
          </dd>
        </dl>
      <% end %>
    </div>
    <div class="col">
      <%= render CardComponent.new(type: :primary) do |card| %>
        <% card.with_header do %>
          <%= t("layouts.sidebar.location.title") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <dt class="pb-2"><%= Site.model_name.human %></dt>
          <dd class="mb-0 pb-2 ps-3">
            <%= link_to @air_conditioner.room.site, site_path(@air_conditioner.room.site) %>
          </dd>

          <dt class="pb-2"><%= Room.model_name.human %></dt>
          <dd class="mb-0 pb-2 ps-3 d-flex justify-content-between">
            <%= link_to @air_conditioner.room.try(:name), @air_conditioner.room %>

            <% if allowed_to?(:show?, @air_conditioner.room, with: Visualization::RoomPolicy) %>
              <%= link_to visualization_room_path(@air_conditioner.room),
                          class: "btn btn-primary btn-sm",
                          data: { turbo_frame: :_top } do %>
                <span class="bi bi-diagram-3-fill"
                      aria-hidden="true"
                      data-controller="tooltip"
                      data-bs-placement="left"
                      title="<%= t("visualization.title") %>"></span>
                <span class="visually-hidden"><%= t("visualization.title") %></span>
              <% end %>
            <% end %>
          </dd>

          <dt class="pb-2"><%= Islet.model_name.human %></dt>
          <dd class="mb-0 pb-2 ps-3 d-flex justify-content-between">
            <%= link_to @air_conditioner.islet.decorated.name_with_room, islet_path(@air_conditioner.islet) %>

            <% if allowed_to?(:show?, @air_conditioner.room, with: Visualization::RoomPolicy) %>
              <%= link_to visualization_room_path(@air_conditioner.room, islet: @air_conditioner.islet.name),
                          class: "btn btn-primary btn-sm",
                          data: { turbo_frame: :_top } do %>
                <span class="bi bi-diagram-3-fill"
                      aria-hidden="true"
                      data-controller="tooltip"
                      data-bs-placement="left"
                      title="<%= t("visualization.title") %>"></span>
                <span class="visually-hidden"><%= t("visualization.title") %></span>
              <% end %>
            <% end %>
          </dd>

          <dt class="pb-2"><%= AirConditioner.human_attribute_name(:bay_id) %></dt>
          <dd class="mb-0 pb-2 ps-3">
            <%= link_to @air_conditioner.bay, bay_path(@air_conditioner.bay) %>
          </dd>

          <dt class="pb-2"><%= AirConditioner.human_attribute_name(:position) %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= t("air_conditioners.form.#{@air_conditioner.position}") %></dd>
        </dl>
      <% end %>

      <%= render CardComponent.new(extra_classes: "mt-4") do |card| %>
        <% card.with_header do %>
          <%= t("air_conditioners.temperatures") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <% %i[setpoint start range].each do |attribute_name| %>
            <dt class="pb-2"><%= AirConditioner.human_attribute_name(attribute_name) %></dt>
            <dd class="mb-0 pb-2 ps-3"><%= "#{@air_conditioner.public_send(attribute_name)}°C" %></dd>
          <% end %>
        </dl>
      <% end %>
    </div>
  </div>

  <%= render ChangelogEntries::ObjectListComponent.new(@air_conditioner) %>
</div>
