<%
  provide(:title, "#{AirConditioner.model_name.human.pluralize} | #{@air_conditioner}")

  breadcrumb_steps = {
    AirConditioner.model_name.human.pluralize => air_conditioners_path, @air_conditioner => ""
  }
%>

<%= render Page::HeadingShowComponent.new(resource: @air_conditioner, title: @air_conditioner, breadcrumb_steps:) %>
<div class="col-12 p-4 border-top">
  <div class="d-flex flex-row flex-wrap">
    <div class="col-12 col-lg-6 pe-lg-4">
      <%= render CardComponent.new do |card| %>
        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <% %i[name air_conditioner_model].each do |attribute_name| %>
            <dt class="pb-2"><%= AirConditioner.human_attribute_name(attribute_name) %></dt>
            <dd class="mb-0 pb-2 ps-3"><%= @air_conditioner.public_send(attribute_name) %></dd>
          <% end %>

          <dt class="pb-2"><%= AirConditioner.human_attribute_name(:status) %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= t("air_conditioners.form.status-#{@air_conditioner.status}") %></dd>

          <dt class="pb-2"><%= AirConditioner.human_attribute_name(:last_service) %></dt>
          <dd class="mb-0 pb-2 ps-3">
            <% if @air_conditioner.last_service %>
              <%= l(@air_conditioner.last_service) %>
            <% end %>
          </dd>
        </dl>
      <% end %>

      <%= render CardComponent.new(extra_classes: "my-4 mb-lg-0") do |card| %>
        <% card.with_header do %>
          <%= t("air_conditioners.temperatures") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <% %i[setpoint start range].each do |attribute_name| %>
            <dt class="pb-2"><%= AirConditioner.human_attribute_name(attribute_name) %></dt>
            <dd class="mb-0 pb-2 ps-3"><%= "#{@air_conditioner.public_send(attribute_name)}°C" %></dd>
          <% end %>
        </dl>
      <% end %>
    </div>
    <div class="col-12 col-lg-6">
      <%= render CardComponent.new(type: :primary) do |card| %>
        <% card.with_header do %>
          <%= t("layouts.sidebar.location.title") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <dt class="pb-2"><%= AirConditioner.human_attribute_name(:bay) %></dt>
          <dd class="mb-0 pb-2 ps-3">
            <%= link_to @air_conditioner.bay.detailed_name, bay_path(@air_conditioner.bay) %>
          </dd>

          <dt class="pb-2"><%= AirConditioner.human_attribute_name(:position) %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= t("air_conditioners.form.#{@air_conditioner.position}") %></dd>
        </dl>
      <% end %>
    </div>
  </div>

  <%= render ChangelogEntries::ObjectListComponent.new(@air_conditioner) %>
</div>
