<span class="pull-left u_scale <%= u_disponibles.even? ? 'even': 'odd' %>" title="<%= u_disponibles %>"
      style="
      top: <%= (100.00/u_serveur)*i %>%;height: <%= 100.00/u_serveur %>%;" >
  <%= u_disponibles %>
</span>
