<% if serveur.modele.present? %>
  <div class="pull-right">
    <% slots_sur_modele = serveur.modele.composants.where(type_composant_id: 4) %>
    <table class="slots">
      <thead>
      <% slots_sur_modele.each do |slot| %>
        <th><%= "#{slot.position}" %></th>
      <% end %>
      </thead>
      <tbody>
      <tr>
        <% slots_sur_modele.each do |slot| %>
          <td>
            <% serveur.cards_serveurs.where(:composant_id => slot.id).each do |card_serveur| %>
              <%= render 'serveurs/card_ports', port_type: card_serveur.card.port_type, port_quantity: card_serveur.card.port_quantity, alignment: 'vertical' %>
            <% end %>
          </td>
        <% end %>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="pull-right">
    <table class="cm">
      <thead>
      <th>CM</th>
      </thead>
      <tbody>
      <tr>
        <td>
          <%= render 'serveurs/card_ports', port_type: PortType.find_by_name('RJ'), port_quantity: serveur.modele.composants.where(type_composant_id: 3).count, alignment: 'vertical' %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <% if serveur.modele.composants.where(type_composant_id: 2).count > 0 %>
    <div class="pull-right">
      <%= render 'serveurs/card_ports', port_type: PortType.find_by_name('IPMI'), port_quantity: 1, alignment: 'vertical' %>
    </div>
  <% end %>
<% end %>

  <b><%= link_to h(serveur.nom), serveur %></b>

<% if serveur.modele.present? %>
  <br>
  <i><%= link_to serveur.modele.try(:title), edit_modele_path(serveur.modele) %></i>
  <div class="alims">
    <% alims_sur_modele = serveur.modele.composants.where(type_composant_id: 1) %>
    <% alims_sur_modele.each_with_index do |composant_alim, i| %>
      <span class="alim">ALIM <%= i+1 %></span>
    <% end %>
  </div>
<% end %>
