<% case serveur.modele.try(:category_id) %>
<% when @modele_blank_panel_id %>
  <span class="pull-left serveur_name"><%= link_to h(serveur.nom), serveur_path(serveur, :view => params[:view]) %></span>
<% else %>
  <span class="pull-left serveur_name" style="padding-left: 14px;"><%= link_to h("#{serveur.nom}"), serveur_path(serveur, :view => params[:view]) %></span>
  <% if serveur.rj45_futur.to_i > 0 || serveur.fc_futur.to_i > 0 || serveur.ipmi_futur.to_i > 0 %>
    <span class="badge badgeRJ45 <%= serveur.rj45_futur.to_i > 0 ? 'alert-info' : 'alert-transparent' %>" style="min-width: 21px;display: block;"><%= serveur.rj45_futur.to_i > 0 ? serveur.rj45_futur : '' %></span>
    <span class="badge badgeRJ45 <%= serveur.ipmi_futur.to_i > 0 ? 'alert-default' : 'alert-transparent' %>" style="min-width: 21px;display: block;"><%= serveur.ipmi_futur.to_i > 0 ? serveur.ipmi_futur : '' %></span>
    <span class="badge <%= serveur.fc_futur.to_i > 0 ? 'alert-success' : 'alert-transparent' %>" style="min-width: 21px;display: block;"><%= serveur.fc_futur.to_i > 0 ? serveur.fc_futur : '' %></span>
  <% end %>
  <span class="pull-right" style="margin-right: 6px;"><em><%= serveur.modele.try(:title) %></em></span>
<% end %>
