<%= form_for(@serveur, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @serveur.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@serveur.errors.count, "error") %> prohibited this serveur from being saved:</h4>

      <ul>
      <% @serveur.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :localisation_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:localisation_id, Localisation.all, :id, :title, {}, {class: "form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :armoire_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:armoire_id, Armoire.all, :id, :title, {}, {class: "form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nom, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :nom, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :modele_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:modele_id, Modele.order(:title), :id, :title, {}, {class: "form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :numero, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :numero, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :conso, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :conso, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cluster_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:cluster_id, Cluster.all, :id, :title, {}, {class: "form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :critique, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :critique, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :domaine_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:domaine_id, Domaine.all, :id, :title, {}, {class: "form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :gestion_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:gestion_id, Gestion.all, :id, :title, {}, {class: "form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :acte_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:acte_id, Acte.all, :id, :title, {}, {class: "form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phase, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :phase, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :salle_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:salle_id, Salle.all, :id, :title, {}, {class: "form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ilot, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :ilot, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :fc_total, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :fc_total, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :fc_utilise, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :fc_utilise, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rj45_total, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :rj45_total, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rj45_utilise, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :rj45_utilise, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rj45_futur, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :rj45_futur, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ipmi_utilise, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :ipmi_utilise, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ipmi_futur, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :ipmi_futur, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rj45_cm, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :rj45_cm, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ipmi_dedie, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :ipmi_dedie, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :baie, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:baie_id, Baie.sorted, :id,:name_with_salle_and_ilot, {}, {class: "form-control"}) %>
    </div>
  </div>

  <% if f.object.persisted? %>
    <%= content_tag :span, 'Slots', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <div class="panel panel-default">
        <ul class="list-group">
          <%= f.fields_for :cards_serveurs do |builder| %>
            <%= render "cards_serveur_fields", :f => builder %>
          <% end %>
        </ul>
        <div class="panel-footer"><%= link_to_add_fields "<span class='glyphicon glyphicon-plus' aria-hidden='true'></span> Ajouter une carte".html_safe, f, :cards_serveurs %></div>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
