<% max_u = 38 %>
<% max_elts = 24 %>
<% max_rj45 = 48 %>
<% max_fc = 12 %>
<% min_height = params[:view]=='back' ? 20 : 27 %>
<% @salle = salle || @salle %>

<%= render 'salles/action_buttons' %>

<div id="<%= @salle.try(:title).try(:parameterize).try(:underscore) %>">

  <% ilots.each do |ilot, baies| %>

    <div>
      <div>
        <div class="panel-ilot">
          <% if @salle.present? %>
          <div>

            <h3>Salle <%= @salle.title %> - Ilot <%= ilot %></h3>
          </div>
          <% end %>

          <div class="row">

            <ul class="baies <%= params[:view] %>"
                style="padding: 0;"
                data-update-url="<%= sort_baies_path %>"
                data-max-u='<%= max_u %>'
                data-max-elts='<%= max_elts %>'
                data-max-rj45='<%= max_rj45 %>'
                data-max-fc='<%= max_fc %>' >

              <% previous_baie, second_baie = nil %>
              <% baies.each_with_index do |(baie, serveurs), index| %>

                <% if baie.other_baie.present? && baies.include?(baie.other_baie) && formats != [:pdf]
                     if baie.other_baie==previous_baie
                       second_baie = true
                     else
                     %>
                    <div class="col-sm-12 col-lg-6" style='overflow: auto;'> <div class="well" style='overflow: auto;'>
                    <% second_baie = false
                     end
                   else
                     second_baie = false
                   end
                %>
                <% previous_baie = baie %>

                <% sums = @sums[baie.id] %>
                <% sum_u = serveurs.sum { |s| s.modele.try(:u) || 0 } %>
                <% sum_elements = serveurs.sum { |s| s.modele.try(:nb_elts) || 0 } %>
                <% col_params = baie.other_baie.present? ? 'col-lg-6' : 'col-lg-3' %>
                <div class="baie col-xs-12 col-sm-6 <%= baies.count>1 ? col_params:'col-sm-offset-3' %>" id="baie_<%= baie.id %>">
                  <div class="panel <%= sum_u > max_u || sum_elements > max_elts || sums['RJ'] > max_rj45 || sums['FC'] > max_fc ? 'panel-danger' : 'panel-default' %> panel-baie">
                    <div class="panel-heading">
                      <h5 class="panel-title" style="display: inline;">
                        <%= link_to "#{baie.title}", baie_path(baie, :view => params[:view], bg: params[:bg]), style: 'text-decoration: underline;' %>
                        <% if baie.other_baie.present? && formats != [:pdf] %>
                          <%= link_to baie_path(baie.other_baie, :view => params[:view], bg: params[:bg]), style: 'text-decoration: underline;' do %>
                            <span class="glyphicon glyphicon-link" aria-hidden="true" title="Couplée à la baie <%= baie.other_baie.title %>"></span>
                          <% end %>
                        <% end %>
                      </h5>
                      <% if formats != [:pdf] %>
                        <%= link_to "modifier", edit_baie_path(baie, :view => params[:view]), class: 'btn btn-default pull-right' %>
                      <% end %>
                      <div class="clearfix"></div>
                    </div>
                    <ul class='servers connectedBaies list-group'
                        data-salle="<%= @salle.title %>"
                        data-ilot="<%= ilot %>"
                        data-baie="<%= baie.title %>"
                        data-update-url="<%= sort_serveurs_path %>">

                        <% u_disponibles = baie.u || 41 %>
                        <% serveurs.each do |serveur| %>

                          <% if serveur.modele.try(:title).present? %>

                            <% while serveur.position.present? && serveur.position < u_disponibles && u_disponibles>0 %>
                              <li class="serveur list-group-item truncate" style="height: <%= min_height %>px;">
                                <%= render 'serveurs/draw_u_scale_unit.html.erb', i:0, u_disponibles:u_disponibles, u_serveur:1 %>
                              </li>
                              <% u_disponibles -= 1 %>
                            <% end %>

                            <% if %w(gestionnaire cluster).include?(params['bg'])

                                if params['bg'].present?
                                  case params['bg']
                                    when 'gestionnaire'
                                      parent_type = 'Gestionnaire'
                                      parent_id = serveur.gestion.try(:title)
                                    when 'cluster'
                                      parent_type = 'Cluster'
                                      parent_id = serveur.cluster.try(:title)
                                  end
                                end

                                color = Color.where(parent_type: parent_type, parent_id: parent_id).first
                                if color.blank? || color.code.blank?
                                  color = Color.create!(parent_type: parent_type, parent_id: parent_id, code: lighten_color("##{Digest::MD5.hexdigest(parent_id.to_s || 'test')[0..5]}", 0.4))
                                end
                                bgModeleColor = color.code
                              %>
                            <% else %>
                              <% bgModeleColor = serveur.modele.try(:color) || lighten_color("##{Digest::MD5.hexdigest(serveur.modele.try(:title) || 'test')[0..5]}", 0.4) %>
                            <% end %>

                            <% u_serveur = serveur.modele.try(:u).to_i > 0 ? serveur.modele.u : 1 %>

                            <% data = {:u => u_serveur,
                                       :rj45_futur => serveur.try(:rj45_futur) || 0,
                                       :fc_futur => serveur.try(:fc_futur)} %>

                            <% if params[:view] == 'back' %>
                              <%= content_tag_for :li, serveur,
                                                  class: "list-group-item truncate server_back #{serveur.modele.try(:category).try(:title).try(:parameterize)}",
                                                  style: "min-height: #{min_height*(serveur.modele.try(:u).to_i > 0 ? serveur.modele.u : 1)}px;padding: 3px 5px 3px 20px;",
                                                  data: data do %>
                                <% u_serveur.times do |i| %>
                                  <%= render 'serveurs/draw_u_scale_unit.html.erb', i:i, u_disponibles:u_disponibles, u_serveur:u_serveur %>
                                  <% u_disponibles -= 1 %>
                                <% end %>
                                <%= render 'serveurs/draw_server_badge.html.erb', serveur: serveur %>
                                <%= render 'serveurs/draw_server_compact.html.erb', serveur: serveur %>
                              <% end %>
                            <% else %>

                              <%= content_tag_for :li, serveur,
                                                  class: "list-group-item truncate #{serveur.modele.try(:category).try(:title).try(:parameterize)} #{serveur.server_state_id==1 ? 'striped' : ''}",
                                                  style: "height: #{min_height*u_serveur - (u_serveur-1)}px;background-color:#{bgModeleColor} !important;",
                                                  :data => data do %>
                                <% u_serveur.times do |i| %>
                                  <%= render 'serveurs/draw_u_scale_unit.html.erb', i: i, u_disponibles: u_disponibles, u_serveur: u_serveur %>
                                  <% u_disponibles -= 1 %>
                                <% end %>
                                <%= render 'serveurs/draw_server_badge.html.erb', serveur: serveur %>
                                <%= render 'serveurs/draw_server_compact_front.html.erb', serveur: serveur %>
                              <% end %>

                            <% end %>
                          <% end %>
                        <% end %>
                      <% u_disponibles.times do |u| %>
                        <li class="serveur list-group-item truncate" style="height: <%= min_height %>px;">
                          <%= render 'serveurs/draw_u_scale_unit.html.erb', i:0, u_disponibles:u_disponibles, u_serveur:1 %>
                        </li>
                        <% u_disponibles -= 1 %>
                      <% end %>

                    </ul>
                    <div class="panel-footer">

                      <% if formats != [:pdf] %>
                        <span class="pull-right">
                          <button type="button" class="btn btn-default glyphicon glyphicon-plus" data-toggle="modal" data-target=".bs-example-modal-sm"></button>
                        </span>
                      <% end %>

                      <span class="fc label label-default <%= sums['FC'] > max_fc ? 'label-danger' : '' %>">&Sigma; FC : <%= sums['FC'] %></span>
                      <span class="rj45 label label-primary <%= sums['RJ'] > max_rj45 ? 'label-danger' : '' %>">&Sigma; RJ : <%= sums['RJ'] %></span>
                      <span class="xrj45 label label-primary <%= sums['XRJ'] > max_rj45 ? 'label-danger' : '' %>">&Sigma; XRJ : <%= sums['XRJ'] %></span>
                      <span class="u label label-default <%= sum_u > max_u ? 'label-danger' : '' %>">&Sigma; U : <%= sum_u %></span>
                      <span class="ipmi label label-default">&Sigma; IPMI : <%= sums['IPMI'] %></span>

                      <span class="warning-messages">
                        <% if sum_u > max_u %>
                          <div style="color:red;">Somme des U supérieure à <%= max_u %> !</div>
                        <% end %>
                        <% if sum_elements > max_elts %>
                          <div style="color:red;">Somme des éléments supérieure à <%= max_elts %> !</div>
                        <% end %>
                        <% if sums['RJ'] > max_rj45 %>
                          <div style="color:red;">Somme des rj45 supérieure à <%= max_rj45 %> !</div>
                        <% end %>
                        <% if sums['FC'] > max_fc %>
                          <div style="color:red;">Somme des fc supérieure à <%= max_fc %> !</div>
                        <% end %>
                      </span>
                    </div>
                  </div>
                </div>

                <% if second_baie %></div></div><%end%>
                <% if (index+1) % 4 == 0 %>
                  <span class="clearfix"></span>
                <% end %>
              <% end %>

            </ul>
          </div>

        </div>

      </div>

    </div>

  <% end %>
</div>
