<% max_u = 38 %>
<% max_elts = 24 %>
<% max_rj45 = 48 %>
<% max_fc = 12 %>

<div class="row">

  <div class="col-xs-12">

    <div class="panel panel-default" id="<%= salle.try(:parameterize).try(:underscore) %>">
      <div class="panel-heading"><h3>Salle <%= salle %></h3></div>

      <% ilots.each do |ilot, baies| %>

        <div class="row">

          <div class="col-sm-12">

            <div class="panel panel-default" style="margin:10px;">
              <div class="panel-heading"><h5>Ilot <%= ilot %></h5></div>

              <div class="row">

                <ul class="baies"
                    style="padding: 0;"
                    data-update-url="<%= sort_baies_path %>"
                    data-max-u='<%= max_u %>'
                    data-max-elts='<%= max_elts %>'
                    data-max-rj45='<%= max_rj45 %>'
                    data-max-fc='<%= max_fc %>' >

                  <% baies.each_with_index do |(baie, serveurs), index| %>
                    <% sum_u = serveurs.sum { |s| s.modele.try(:u) || 0 } %>
                    <% sum_elements = serveurs.sum { |s| s.modele.try(:nb_elts) || 0 } %>
                    <% sum_rj45_futur = serveurs.sum { |s| s.try(:rj45_futur) || 0 } %>
                    <% sum_fc_futur = serveurs.sum { |s| s.try(:fc_futur) || 0 } %>
                    <% baie_id = @salle.present? ? @salle.baies.where("baies.title = ? AND baies.ilot = ?", baie, ilot).first.try(:id) : baie %>
                    <div class="baie col-sm-12 col-md-3" id="baie_<%= baie_id %>">
                      <div class="panel <%= sum_u > max_u || sum_elements > max_elts || sum_rj45_futur > max_rj45 || sum_fc_futur > max_fc ? 'panel-danger' : 'panel-default' %>" style="margin: 10px;">
                        <div class="panel-heading">
                            <h5 class="panel-title" style="display: inline;">
                              <%= link_to "#{baie}", baie_serveurs_path(baie: baie, ilot: ilot, salle: salle), style: 'text-decoration: underline;' %>
                            </h5>
                            <%= link_to "modifier", edit_baie_path(serveurs.first.baie), class: 'pull-right' %>
                        </div>
                        <ul class='servers connectedBaies list-group'
                            data-salle="<%= salle %>"
                            data-ilot="<%= ilot %>"
                            data-baie="<%= baie %>"
                            data-update-url="<%= sort_serveurs_path %>">

                            <% u_disponibles = Baie.joins(:salle).where('salles.title = ? AND ilot = ? AND baies.title = ?', salle, ilot.to_i, baie).first.try(:u) || 41 %>
                            <% serveurs.each do |serveur| %>
                              <% while serveur.position.present? && serveur.position < u_disponibles && u_disponibles>0 %>
                                <li class="serveur list-group-item truncate" style="height: 27px;">
                                  <span class="pull-left u_scale <%= u_disponibles.even? ? 'even': 'odd' %>" title="<%= u_disponibles %>"><%= u_disponibles %></span>
                                </li>
                                <% u_disponibles -= 1 %>
                              <% end %>

                              <% if params['bg']=='phase' %>
                                <% bgModeleColor = lighten_color("##{Digest::MD5.hexdigest(serveur.phase.to_s || 'test')[0..5]}", 0.4) %>
                              <% else %>
                                <% bgModeleColor = serveur.modele.try(:color) || lighten_color("##{Digest::MD5.hexdigest(serveur.modele.try(:title) || 'test')[0..5]}", 0.4) %>
                              <% end %>

                              <% u_serveur = serveur.modele.try(:u).to_i > 0 ? serveur.modele.u : 1 %>

                              <% data = {:u => u_serveur,
                                         :rj45_futur => serveur.try(:rj45_futur) || 0,
                                         :fc_futur => serveur.try(:fc_futur)} %>

                              <% if params[:view] == 'back' %>
                                <%= content_tag_for :li, serveur,
                                                    class: "list-group-item truncate server_back",
                                                    style: "min-height: #{41*(serveur.modele.try(:u).to_i > 0 ? serveur.modele.u : 1)}px;",
                                                    :data => data do %>
                                  <% u_serveur.times do |i| %>
                                    <span class="pull-left u_scale hide <%= u_disponibles.even? ? 'even': 'odd' %>" title="<%= u_disponibles %>" style="margin:<%= -3 + (27*(i)) %>px -15px;"><%= u_disponibles %></span>
                                    <% u_disponibles -= 1 %>
                                  <% end %>
                                  <%= render 'serveurs/draw_server_compact', serveur: serveur %>
                                <% end %>
                              <% else %>

                                <%= content_tag_for :li, serveur,
                                                    class: "list-group-item truncate #{serveur.modele.try(:category).try(:title).try(:parameterize)}",
                                                    style: "height: #{27*u_serveur}px;background-color:#{bgModeleColor}",
                                                    :data => data do %>
                                  <% u_serveur.times do |i| %>
                                    <span class="pull-left u_scale <%= u_disponibles.even? ? 'even': 'odd' %>" title="<%= u_disponibles %>" style="margin:<%= -3 + (27*(i)) %>px -15px;"><%= u_disponibles %></span>
                                    <% u_disponibles -= 1 %>
                                  <% end %>
                                  <% case serveur.modele.try(:category_id) %>
                                  <% when Category.find_by_title('Blank Panel').id %>
                                    <span class="pull-left"><%= link_to h("#{serveur.nom}"), serveur %></span>
                                  <% else %>
                                    <span class="pull-left" style="padding-left: 14px;"><%= link_to h("#{serveur.nom}"), serveur %></span>
                                    <span class="badge alert-success"><%= serveur.fc_futur %></span>
                                    <span class="badge alert-info"><%= serveur.rj45_futur %></span>
                                    <span class="pull-right" style="margin-right: 6px;"><em><%= serveur.modele.try(:title) %></em></span>
                                  <% end %>
                                <% end %>

                              <% end %>

                            <% end %>
                          <% u_disponibles.times do |u| %>
                            <li class="serveur list-group-item truncate" style="height: 27px;">
                              <span class="pull-left u_scale <%= u_disponibles.even? ? 'even': 'odd' %>" title="<%= u_disponibles %>"><%= u_disponibles %></span>
                            </li>
                            <% u_disponibles -= 1 %>
                          <% end %>



                        </ul>
                        <div class="panel-footer">
                          <!--
                          <span class="pull-right">
                            <button type="button" class="btn btn-default glyphicon glyphicon-plus" data-toggle="modal" data-target=".bs-example-modal-sm"></button>
                          </span>
                          -->
                          <span class="rj45 label label-primary <%= sum_rj45_futur > max_rj45 ? 'label-danger' : '' %>">&Sigma; RJ futur : <%= sum_rj45_futur %></span>
                          <span class="fc label label-success <%= sum_fc_futur > max_fc ? 'label-danger' : '' %>">&Sigma; FC futur : <%= sum_fc_futur %></span>
                          <span class="u label label-default <%= sum_u > max_u ? 'label-danger' : '' %>">&Sigma; U : <%= sum_u %></span>
                          <span class="ipmi label label-default">&Sigma; IPMI futur : <%= serveurs.map(&:ipmi_futur).compact.sum %></span>
                          <span class="warning-messages">
                            <% if sum_u > max_u %>
                              <div style="color:red;">Somme des U supérieure à <%= max_u %> !</div>
                            <% end %>
                            <% if sum_elements > max_elts %>
                              <div style="color:red;">Somme des éléments supérieure à <%= max_elts %> !</div>
                            <% end %>
                            <% if sum_rj45_futur > max_rj45 %>
                              <div style="color:red;">Somme des rj45 futurs supérieure à <%= max_rj45 %> !</div>
                            <% end %>
                            <% if sum_fc_futur > max_fc %>
                              <div style="color:red;">Somme des fc futurs supérieure à <%= max_fc %> !</div>
                            <% end %>
                          </span>
                          <span class="clearfix"></span>
                        </div>
                      </div>
                    </div>
                    <% if (index+1) % 4 == 0 %>
                      <span class="clearfix"></span>
                    <% end %>
                  <% end %>

                </ul>
              </div>

            </div>

          </div>

        </div>

      <% end %>
    </div>

  </div>

</div>
