<div class="row">

  <div class="col-xs-12">

    <div class="panel panel-default" id="<%= salle.parameterize.underscore %>">
      <div class="panel-heading"><h3>Salle <%= salle %></h3></div>

      <% ilots.each do |ilot, baies| %>

        <div class="row">

          <div class="col-sm-12">

            <div class="panel panel-default" style="margin:10px;">
              <div class="panel-heading"><h5>Ilot <%= ilot %></h5></div>

              <div class="row">

                <% baies.each do |baie, serveurs| %>
                  <div class="col-sm-12 col-md-3">
                    <div class="panel panel-default" style="margin: 10px;">
                      <div class="panel-heading"><h5 class="panel-title">Baie <%= baie %></h5></div>
                      <ul class='baie connectedBaies list-group'
                          id="baie_<%= baie %>"
                          data-salle="<%= salle %>"
                          data-ilot="<%= ilot %>"
                          data-baie="<%= baie %>"
                          data-update-url="<%= sort_serveurs_url %>">
                        <% serveurs.each do |serveur| %>
                          <%= content_tag_for :li, serveur, class: "list-group-item" do %>
                            <span class="badge alert-success"><%= serveur.fc_utilise %></span>
                            <span class="badge alert-info"><%= serveur.rj45_futur %></span>
                            <%= link_to h(serveur.nom), serveur %>
                          <% end %>
                        <% end %>
                      </ul>
                      <div class="panel-footer">
                        <span class="label label-primary">&Sigma; RJ futur : <%= serveurs.map(&:rj45_futur).compact.sum %></span>
                        <span class="label label-success">&Sigma; FC utilisé : <%= serveurs.map(&:fc_utilise).compact.sum %></span>
                        <span class="label label-default">&Sigma; U : <%= serveurs.sum { |s| s.modele.try(:u) || 0 } %></span>
                        <span class="label label-default">&Sigma; IPMI futur : <%= serveurs.map(&:ipmi_futur).compact.sum %></span>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>

            </div>

          </div>

        </div>

      <% end %>
    </div>

  </div>

</div>
