<div class="row">

  <div class="col-xs-12">

    <div class="panel panel-default" id="<%= salle.parameterize.underscore %>">
      <div class="panel-heading"><h3>Salle <%= salle %></h3></div>

      <% ilots.each do |ilot, baies| %>

        <div class="row">

          <div class="col-sm-12">

            <div class="panel panel-default" style="margin:10px;">
              <div class="panel-heading"><h5>Ilot <%= ilot %></h5></div>

              <div class="row">

                <% baies.each_with_index do |(baie, serveurs), index| %>
                  <% sum_u = serveurs.sum { |s| s.modele.try(:u) || 0 } %>
                  <% sum_elements = serveurs.sum { |s| s.modele.try(:nb_elts) || 0 } %>
                  <% sum_rj45_futur = serveurs.sum { |s| s.try(:rj45_futur) || 0 } %>
                  <% sum_fc_futur = serveurs.sum { |s| s.try(:fc_futur) || 0 } %>
                  <div class="col-sm-12 col-md-3">
                    <div class="panel <%= sum_u > 38 || sum_elements > 24 || sum_rj45_futur > 48 || sum_fc_futur > 12 ? 'panel-danger' : 'panel-default' %>" style="margin: 10px;">
                      <div class="panel-heading"><h5 class="panel-title"><%= link_to "Baie #{baie}", baie_serveurs_path(baie: baie, ilot: ilot, salle: salle), style: 'text-decoration: underline;' %></h5></div>
                      <ul class='baie connectedBaies list-group'
                          id="baie_<%= baie %>"
                          data-salle="<%= salle %>"
                          data-ilot="<%= ilot %>"
                          data-baie="<%= baie %>"
                          data-update-url="<%= sort_serveurs_path %>">



                          <% u_disponibles = Baie.joins(:salle).where('salles.title = ? AND ilot = ? AND baies.title = ?', salle, ilot.to_i, baie).first.try(:u) || 41 %>
                          <% serveurs.each do |serveur| %>
                            <% while serveur.position.present? && serveur.position < u_disponibles && u_disponibles>0 %>
                              <li class="serveur list-group-item truncate" style="height: 27px;">
                                <span class="pull-left u_scale <%= u_disponibles.even? ? 'even': 'odd' %>" title="<%= u_disponibles %>"><%= u_disponibles %></span>
                              </li>
                              <% u_disponibles -= 1 %>
                            <% end %>

                            <% bgModeleColor = serveur.modele.try(:color) || lighten_color("##{Digest::MD5.hexdigest(serveur.modele.try(:title) || 'test')[0..5]}", 0.4) %>

                            <% u_serveur = serveur.modele.try(:u).to_i > 0 ? serveur.modele.u : 1 %>

                            <% if params[:view] == 'back' %>
                              <%= content_tag_for :li, serveur, class: "list-group-item truncate server_back", style: "min-height: #{41*(serveur.modele.try(:u).to_i > 0 ? serveur.modele.u : 1)}px;" do %>
                                <% u_serveur.times do |i| %>
                                  <span class="pull-left u_scale hide <%= u_disponibles.even? ? 'even': 'odd' %>" title="<%= u_disponibles %>" style="margin:<%= -3 + (27*(i)) %>px -15px;"><%= u_disponibles %></span>
                                  <% u_disponibles -= 1 %>
                                <% end %>
                                <%= render 'serveurs/draw_server_compact', serveur: serveur %>
                              <% end %>
                            <% else %>

                              <%= content_tag_for :li, serveur, class: "list-group-item truncate #{serveur.modele.try(:category).try(:title).try(:parameterize)}", style: "height: #{27*u_serveur}px;background-color:#{bgModeleColor}" do %>
                                <% u_serveur.times do |i| %>
                                  <span class="pull-left u_scale <%= u_disponibles.even? ? 'even': 'odd' %>" title="<%= u_disponibles %>" style="margin:<%= -3 + (27*(i)) %>px -15px;"><%= u_disponibles %></span>
                                  <% u_disponibles -= 1 %>
                                <% end %>
                                <% case serveur.modele.try(:category_id) %>
                                <% when Category.find_by_title('Blank Panel').id %>
                                  <span class="pull-left"><%= link_to h("#{serveur.nom}"), serveur %></span>
                                <% else %>
                                  <span class="pull-left" style="padding-left: 14px;"><%= link_to h("#{serveur.nom}"), serveur %></span>
                                  <span class="pull-right"><em><%= serveur.modele.try(:title) %></em></span>
                                <% end %>
                              <% end %>

                            <% end %>

                          <% end %>
                        <% u_disponibles.times do |u| %>
                          <li class="serveur list-group-item truncate" style="height: 27px;">
                            <span class="pull-left u_scale <%= u_disponibles.even? ? 'even': 'odd' %>" title="<%= u_disponibles %>"><%= u_disponibles %></span>
                          </li>
                          <% u_disponibles -= 1 %>
                        <% end %>



                      </ul>
                      <div class="panel-footer">
                        <!--
                        <span class="pull-right">
                          <button type="button" class="btn btn-default glyphicon glyphicon-plus" data-toggle="modal" data-target=".bs-example-modal-sm"></button>
                        </span>
                        -->
                        <span class="label <%= sum_rj45_futur > 48 ? 'label-danger' : 'label-primary' %>">&Sigma; RJ futur : <%= sum_rj45_futur %></span>
                        <span class="label <%= sum_fc_futur > 12 ? 'label-danger' : 'label-success' %>">&Sigma; FC futur : <%= sum_fc_futur %></span>
                        <span class="label <%= sum_u > 38 ? 'label-danger' : 'label-default' %>">&Sigma; U : <%= sum_u %></span>
                        <span class="label label-default">&Sigma; IPMI futur : <%= serveurs.map(&:ipmi_futur).compact.sum %></span>
                        <% if sum_u > 38 %>
                          <div style="color:red;">Somme des U supérieure à 38 !</div>
                        <% end %>
                        <% if sum_elements > 24 %>
                          <div style="color:red;">Somme des éléments supérieure à 24 !</div>
                        <% end %>
                        <% if sum_rj45_futur > 48 %>
                          <div style="color:red;">Somme des rj45 futurs supérieure à 48 !</div>
                        <% end %>
                        <% if sum_fc_futur > 12 %>
                          <div style="color:red;">Somme des fc futurs supérieure à 12 !</div>
                        <% end %>
                        <span class="clearfix"></span>
                      </div>
                    </div>
                  </div>
                  <% if (index+1) % 4 == 0 %>
                    <span class="clearfix"></span>
                  <% end %>
                <% end %>
              </div>

            </div>

          </div>

        </div>

      <% end %>
    </div>

  </div>

</div>
