<%= link_to "<< Salle #{@salle.title}, ilôt #{@ilot}", salle_path(@salle.id), class: 'btn btn-default prev' %>

<div class="col-sm-12">
  <div class="panel <%= @sum_u > 38 || @sum_elements > 24 || @sum_rj45_futur > 48 || @sum_fc_futur > 12 ? 'panel-danger' : 'panel-default' %>" style="margin: 10px;">
    <div class="panel-heading"><h5 class="panel-title"><%= link_to "Baie #{@baie.title}", baie_serveurs_path(baie: @baie, ilot: @ilot, salle: @salle.title), style: 'text-decoration: underline;' %></h5></div>
    <ul class='baie connectedBaies list-group'
        id="baie_<%= @baie %>"
        data-salle="<%= @salle.title %>"
        data-ilot="<%= @ilot %>"
        data-baie="<%= @baie %>"
        data-update-url="<%= sort_serveurs_path %>">
      <% @serveurs.each do |serveur| %>
        <% case serveur.modele.category_id %>
        <% when Category.find_by_title('Blank Panel').id %>
          <%= render 'draw_blank_panel', serveur: serveur %>
        <% when Category.find_by_title('Patch Panel').id %>
          <%= render 'draw_patch_panel', serveur: serveur %>
        <% else %>
          <%= content_tag_for :li, serveur, class: "list-group-item truncate", style: "min-height: #{41*(serveur.modele.try(:u).to_i > 0 ? serveur.modele.u : 1)}px;" do %>
            <%= render 'draw_server', serveur: serveur %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
    <div class="panel-footer">
      <span class="label <%= @sum_rj45_futur > 48 ? 'label-danger' : 'label-primary' %>">&Sigma; RJ futur : <%= @sum_rj45_futur %></span>
      <span class="label <%= @sum_fc_futur > 12 ? 'label-danger' : 'label-success' %>">&Sigma; FC futur : <%= @sum_fc_futur %></span>
      <span class="label <%= @sum_u > 38 ? 'label-danger' : 'label-default' %>">&Sigma; U : <%= @sum_u %></span>
      <span class="label label-default">&Sigma; IPMI futur : <%= @serveurs.map(&:ipmi_futur).compact.sum %></span>
      <% if @sum_u > 38 %>
        <div style="color:red;">Somme des U supérieure à 38 !</div>
      <% end %>
      <% if @sum_elements > 24 %>
        <div style="color:red;">Somme des éléments supérieure à 24 !</div>
      <% end %>
      <% if @sum_rj45_futur > 48 %>
        <div style="color:red;">Somme des rj45 futurs supérieure à 48 !</div>
      <% end %>
      <% if @sum_fc_futur > 12 %>
        <div style="color:red;">Somme des fc futurs supérieure à 12 !</div>
      <% end %>
    </div>
  </div>
</div>
