<div class="container-fluid">

  <span class="pull-right">
    <%= link_to baies_serveurs_path(:view => params[:view]=='back' ? :front : :back), class: 'btn btn-warning' do %>
      <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
      <%= (params[:view]=='back' ? 'Vue avant' : 'Vue arrière') %>
    <% end %>
  </span>

  <h1>Vue par salle et par baie</h1>

  <div class="well">
  Raccourcis vers les salles :
  <% @serveurs_par_baies.each do |salle, ilots| %>
    <li>
      <%= link_to salle, salle.include?('non précisée') ? "##{salle.parameterize.underscore}" : salle_path(Salle.find_by_title(salle)) %>
    </li>
  <% end %>
  </div>

  <% @serveurs_par_baies.each do |salle, ilots| %>

    <%= render 'salle', salle: salle, ilots: ilots %>

  <% end %>

</div>


<%= render 'modal_add_element_in_baie' %>




