<%= render 'layouts/breadcrumb', params: {"Salles" => salles_path,
                                          @serveur.baie.salle.title => salle_path(@serveur.baie.salle),
                                          "Baie #{@serveur.baie.title}" => baie_path(@serveur.baie),
                                          @serveur.nom => serveur_path(@serveur),
                                          'Edition' => ''} %>
<div class="page-header">
  <%= link_to serveurs_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @serveur, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Serveur <%= @serveur.nom %></h1>
</div>

<%= render 'form' %>
