<div class="page-header">
  <%= link_to serveurs_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_serveur_path(@serveur), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= "#{@serveur.modele.try(:category).try(:title)} #{@serveur.nom}" %></h1>
</div>

<p><%= link_to "<< Baie #{@serveur.baie.try(:title)}", baie_path(@serveur.baie, :view => params[:view]), class: 'btn btn-default', style: 'text-decoration: underline;' if @serveur.baie %></p>

<div class="detailed_server list-group-item">
  <%= render 'draw_server_compact_front.html.erb', serveur: @serveur %>
  <span class="clearfix"></span>
</div>

<div class="detailed_server list-group-item">
  <% case @serveur.modele.try(:category_id) %>
  <% when Category.find_by_title('Blank Panel').id %>
    <%= render 'draw_blank_panel', serveur: @serveur %>
  <% when Category.find_by_title('Patch Panel').id %>
    <%= render 'draw_patch_panel', serveur: @serveur %>
  <% else %>
    <%= render 'draw_server_compact.html.erb', serveur: @serveur %>
    <span class="clearfix"></span>
  <% end %>
</div>

<dl class="dl-horizontal">
  <dt>Baie:</dt>
  <dd><%= @serveur.baie.try(:title) %></dd>

  <dt>Ilot:</dt>
  <dd><%= @serveur.baie.try(:ilot) %></dd>

  <dt>Salle:</dt>
  <dd><%= @serveur.baie.try(:salle).try(:title) %></dd>

  <dt>Categorie:</dt>
  <dd><%= @serveur.modele.try(:category) %></dd>

  <dt>Nb elts:</dt>
  <dd><%= @serveur.modele.try(:nb_elts) %></dd>

  <dt>Architecture:</dt>
  <dd><%= @serveur.modele.try(:architecture) %></dd>

  <dt>U:</dt>
  <dd><%= @serveur.modele.try(:u) %></dd>

  <dt>Position:</dt>
  <dd><%= @serveur.position %></dd>

  <dt>Marque:</dt>
  <dd><%= @serveur.modele.try(:marque) %></dd>

  <dt>Modele:</dt>
  <dd><%= link_to @serveur.modele, edit_modele_path(@serveur.modele) if @serveur.modele.try(:title) %></dd>

  <dt>Numero:</dt>
  <dd><%= @serveur.try(:numero) %></dd>

  <dt>Conso:</dt>
  <dd><%= @serveur.conso %></dd>

  <dt>Cluster:</dt>
  <dd><%= @serveur.cluster.try(:title) %></dd>

  <dt>Critique:</dt>
  <dd><%= @serveur.critique ? 'OUI' : 'non' %></dd>

  <dt>Domaine:</dt>
  <dd><%= @serveur.domaine %></dd>

  <dt>Gestionnaire:</dt>
  <dd><%= @serveur.gestion %></dd>

  <dt>Acte:</dt>
  <dd><%= @serveur.acte %></dd>

  <dt>Fc futur:</dt>
  <dd><%= @serveur.fc_futur %></dd>

  <dt>Fc total:</dt>
  <dd><%= @serveur.fc_total %></dd>

  <dt>Fc utilise:</dt>
  <dd><%= @serveur.fc_utilise %></dd>

  <dt>Rj45 total:</dt>
  <dd><%= @serveur.rj45_total %></dd>

  <dt>Rj45 utilise:</dt>
  <dd><%= @serveur.rj45_utilise %></dd>

  <dt>Rj45 futur:</dt>
  <dd><%= @serveur.rj45_futur %></dd>

  <dt>Ipmi utilise:</dt>
  <dd><%= @serveur.ipmi_utilise %></dd>

  <dt>Ipmi futur:</dt>
  <dd><%= @serveur.ipmi_futur %></dd>

  <dt>Rg45 cm:</dt>
  <dd><%= @serveur.rj45_cm %></dd>

  <dt>Ipmi dedie:</dt>
  <dd><%= @serveur.ipmi_dedie %></dd>

  <dt>Cartes :</dt>

  <% @serveur.modele.composants.where(type_composant_id: 4).each do |slot| %>

    <% @serveur.cards_serveurs.where(:composant_id => slot.id).each do |card_serveur| %>
      <dd><%= card_serveur.composant.name ? card_serveur.composant.name : card_serveur.composant.position %> : <%= "#{card_serveur.card.try(:name)} (#{card_serveur.card.try(:port_quantity)}#{card_serveur.card.try(:port_type).try(:name)})" %></dd>
    <% end %>
  <% end %>

</dl>
