<div class="page-header">
  <%= link_to serveurs_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_serveur_path(@serveur), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= "#{@serveur.modele.category.try(:title)} #{@serveur.nom}" %></h1>
</div>

<p><%= link_to "<< Baie #{@serveur.baie}", baie_serveurs_path(baie: @serveur.baie, ilot: @serveur.ilot, salle: @serveur.salle.title), class: 'btn btn-default', style: 'text-decoration: underline;' %></p>

<div class="detailed_server">
<% case @serveur.modele.category_id %>
<% when Category.find_by_title('Blank Panel').id %>
  <%= render 'draw_blank_panel', serveur: @serveur %>
<% when Category.find_by_title('Patch Panel').id %>
  <%= render 'draw_patch_panel', serveur: @serveur %>
<% else %>
  <div class="detailed_server">
    <%= render 'draw_server', serveur: @serveur %>
    <span class="clearfix"></span>
  </div>
<% end %>


<dl class="dl-horizontal">
  <dt>Localisation:</dt>
  <dd><%= @serveur.localisation %></dd>

  <dt>Armoire:</dt>
  <dd><%= @serveur.armoire %></dd>

  <dt>Categorie:</dt>
  <dd><%= @serveur.modele.category %></dd>

  <dt>Nb elts:</dt>
  <dd><%= @serveur.modele.nb_elts %></dd>

  <dt>Architecture:</dt>
  <dd><%= @serveur.modele.architecture %></dd>

  <dt>U:</dt>
  <dd><%= @serveur.modele.u %></dd>

  <dt>Marque:</dt>
  <dd><%= @serveur.modele.marque %></dd>

  <dt>Modele:</dt>
  <dd><%= link_to @serveur.modele, edit_modele_path(@serveur.modele) %></dd>

  <dt>Numero:</dt>
  <dd><%= @serveur.numero %></dd>

  <dt>Conso:</dt>
  <dd><%= @serveur.conso %></dd>

  <dt>Cluster:</dt>
  <dd><%= @serveur.cluster %></dd>

  <dt>Critique:</dt>
  <dd><%= @serveur.critique %></dd>

  <dt>Domaine:</dt>
  <dd><%= @serveur.domaine %></dd>

  <dt>Gestin:</dt>
  <dd><%= @serveur.gestion %></dd>

  <dt>Acte:</dt>
  <dd><%= @serveur.acte %></dd>

  <dt>Phase:</dt>
  <dd><%= @serveur.phase %></dd>

  <dt>Salle:</dt>
  <dd><%= @serveur.salle %></dd>

  <dt>Ilot:</dt>
  <dd><%= @serveur.ilot %></dd>

  <dt>Fc total:</dt>
  <dd><%= @serveur.fc_total %></dd>

  <dt>Fc utilise:</dt>
  <dd><%= @serveur.fc_utilise %></dd>

  <dt>Rj45 total:</dt>
  <dd><%= @serveur.rj45_total %></dd>

  <dt>Rj45 utilise:</dt>
  <dd><%= @serveur.rj45_utilise %></dd>

  <dt>Rj45 futur:</dt>
  <dd><%= @serveur.rj45_futur %></dd>

  <dt>Ipmi utilise:</dt>
  <dd><%= @serveur.ipmi_utilise %></dd>

  <dt>Ipmi futur:</dt>
  <dd><%= @serveur.ipmi_futur %></dd>

  <dt>Rg45 cm:</dt>
  <dd><%= @serveur.rj45_cm %></dd>

  <dt>Ipmi dedie:</dt>
  <dd><%= @serveur.ipmi_dedie %></dd>

  <dt>Cartes :</dt>
  <% @serveur.cards_serveurs.each do |card_serveur| %>
    <dd>Slot <%= card_serveur.composant.position %> : <%= "#{card_serveur.card.name} (#{card_serveur.card.port_quantity}#{card_serveur.card.port_type.name})" %></dd>
  <% end %>

  <dd><%=
    if @serveur.slots.map(&:valeur).reject{|v| v.blank?}.present?
      table = "<table BORDER='1' style='text-align: center;'><tr style=\"background-color:#DDDDDD \">"
      @serveur.modele.composants.where(type_composant_id: 4).each do |composant_slot|
        table << "<th style=\"min-width:27px;\">Slot #{composant_slot.position}</th>"
      end
      table << "</tr>"
      4.times do |i|
        slots_sur_modele = @serveur.modele.composants.where(type_composant_id: 4)
        ports_utilises = @serveur.slots.where(composant: slots_sur_modele, position: i+1)
        if ports_utilises.present?
          table << "<tr>"
          slots_sur_modele.each do |composant_slot|
            table << "<td>"
            ports_utilises.each do |s|
              table << "#{s.valeur}" if s.composant == composant_slot
            end
            table << "</td>"
          end
          table << "</tr>"
        end
      end
      table << "</table>"
      table.html_safe
    end
  %></dd>

</dl>
