<div class="container">

  <%= render 'layouts/breadcrumb', params: {'Paramètres' => modeles_url, 'Clusters' => ''} %>

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <div class="page-header">
        <%= link_to new_cluster_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          New Cluster
        <% end %>
        <h1>Listing clusters</h1>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
                  <th>Nom</th>
                  <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <%= content_tag_for(:tr, @clusters) do |cluster| %>
                  <td><%= cluster.name %></td>
                  <td><%= cluster.servers.count %> serveurs</td>
              <td><%= link_to 'Modifier', edit_cluster_path(cluster), class: 'btn btn-primary' %></td>
              <td><%= link_to 'Supprimer', cluster, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
