<% provide(:title, Cluster.model_name.human.pluralize) %>
<%= render "layouts/breadcrumb", breadcrumb_steps: {
  Cluster.model_name.human.pluralize => "" }
%>

<div class="container-fluid">
  <div class="d-flex justify-content-between">
    <h1><%= t(".title") %></h1>
    <%= link_to new_cluster_path, class: "btn btn-success align-self-center" do %>
      <span class="bi bi-plus-lg"></span>
      <%= t(".new_cluster") %>
    <% end %>
  </div>

  <%= render FilterComponent.new(@filter) do |c| %>
    <% c.with_form do |f| %>
      <div class="col-12">
        <fieldset class="form-floating">
          <%= f.text_field :q, class: "form-control", placeholder: t("filters.placeholder.search") %>
          <%= f.label :q %>
        </fieldset>
      </div>
    <% end %>
  <% end %>

  <%= render List::DataTableComponent.new(@clusters) do |table| %>
    <% table.with_column(Cluster.human_attribute_name(:name), sort_by: :name) do |cluster| %>
      <%= link_to cluster, cluster_path(cluster) %>
    <% end %>

    <% table.with_column(Cluster.human_attribute_name(:servers_label), sort_by: :servers_count) do |cluster| %>
      <%= link_to servers_path(cluster_id: cluster.id) do %>
        <%= Cluster.human_attribute_name(:servers_count, count: cluster.servers_count) %>
      <% end %>
    <% end %>

    <% table.with_column(style: "min-width: 84px; width: 84px") do |cluster| %>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <%= link_to edit_cluster_path(cluster), class: "btn btn-primary" do %>
          <span class="bi bi-pencil" aria-hidden="true" data-controller="tooltip" data-bs-placement="left" title="<%= t("action.edit") %>"></span>
          <span class="visually-hidden"><%= t("action.edit") %></span>
        <% end %>
    <%= link_to cluster, method: :delete, data: { confirm: t(".delete_confirmation") }, class: "btn btn-danger" do %>
          <span class="bi bi-trash" aria-hidden="true" data-controller="tooltip" data-bs-placement="left" title="<%= t("action.delete") %>"></span>
          <span class="visually-hidden"><%= t("action.delete") %></span>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
