<div class="container">

  <div class="page-header">
    <%= link_to clusters_path, class: 'btn btn-outline-secondary' do %>
      <span class="bi bi-list-ul"></span>
      <%= t("action.back") %>
    <% end %>
    <%= link_to edit_cluster_path(@cluster), class: 'btn btn-primary' do %>
      <span class="bi bi-pencil"></span>
      <%= t("action.edit") %>
    <% end %>
    <h1>
      <%= t(".title", cluster: @cluster) %>
    </h1>
  </div>

  <ul>
    <% @cluster.servers.sorted_by_name.each do |server| %>
      <li><%= link_to server, server %></li>
    <% end %>
  </ul>

</div>
