<%# locals: (record:) -%>

<% link = if record.is_a?(Server)
            if record.is_a_pdu?
              power_distribution_unit_path(record)
            else
              server_path(record)
            end
          else
            frame_path(record)
          end %>

<%= link_to link,
            class: "list-group-item list-group-item-action d-flex align-items-center overflow-x-scroll",
            data: { turbo_frame: "_top", search_results_target: "results" } do %>
  <span class="<%= class_names("bi fs-2 me-3",
                               "text-info bi-hdd": record.is_a?(Server) && !record.is_a_pdu?,
                               "text-warning bi-lightning-charge": record.is_a?(Server) && record.is_a_pdu?,
                               "text-success bi-file-minus": !record.is_a?(Server)) %>">
  </span>
  <span class="d-inline-flex justify-content-between flex-grow-1 flex-column flex-md-row row-gap-3 align-items-md-center">
    <span class="d-inline-flex flex-column align-items-start flex-grow-1">
      <span class="d-flex align-items-center mb-2">
        <h5 class="me-2 mb-0"><%= record.name %></h5>

        <% if record.is_a?(Server) %>
          <%= render BadgeComponent.new(color: :light, variant: :pill) do %>
            <span class="fw-light text-body-secondary">
              <span><%= Server.human_attribute_name(:numero_short) %></span>
              <span class="font-monospace"><%= record.numero %></span>
            </span>
          <% end %>
        <% end %>
      </span>
      <p class="small mb-0">
        <% if record.is_a?(Server) %>
          <% if record.is_a_pdu? %>
            <%= record.modele&.name_with_brand %>
          <% else %>
            <%= [record.modele&.category, record.modele&.name_with_brand].compact.join(" ") %>
          <% end %>
        <% else %>
          <%= record.islet.decorated.name_with_room %>
        <% end %>
      </p>
    </span>
    <span class="d-inline-flex flex-column flex-sm-row flex-md-column flex-lg-row column-gap-1 row-gap-2 flex-shrink-0 ms-md-4 align-items-start align-items-md-end">
      <% if record.is_a?(Server) %>
        <%= render BadgeComponent.new(color: :primary, variant: :pill) do %>
          <span class="bi bi-geo-alt me-1"></span>
          <span><%= record.decorated.full_location %></span>
        <% end %>
        <%= render BadgeComponent.new(color: :success, variant: :pill) do %>
          <span class="bi bi-file-minus me-1"></span>
          <span><%= record.is_a_pdu? ? record.frame : record.decorated.in_frame_location %></span>
        <% end %>
      <% else %>
        <%= render BadgeComponent.new(color: :primary, variant: :pill) do %>
          <span class="bi bi-geo-alt me-1"></span>
          <span><%= record.room.name_with_site %></span>
        <% end %>
      <% end %>
    </span>
  </span>
<% end %>
