<%
  breadcrumb.add(title = t('.results'))
%>

<%= render Page::HeadingComponent.new(title:, breadcrumb:) do %>
<div class="p-4 border-top d-flex flex-column row-gap-4">
  <turbo-frame id="search_results">
    <% if @results.any? %>
      <ul class="list-group">
        <% @results.each do |record| %>
          <% if record.is_a? Server %>
            <%= link_to server_path(record), data: { turbo_frame: "_top" } do %>
              <li class="list-group-item d-flex align-items-start">
                <i class="bi bi-hdd me-3" style="font-size: 2rem;"></i>
                <div>
                  <h5><%= record.name %></h5>
                  <%= record.modele&.name_with_brand %>
                </div>
              </li>
            <% end %>
          <% else %>
            <%= link_to frame_path(record), data: { turbo_frame: "_top" } do %>
              <li class="list-group-item d-flex align-items-start">
                <i class="bi bi-geo-alt me-3" style="font-size: 2rem;"></i>
                <div>
                  <h5><%= record.name %></h5>
                  <%= record.name_with_room_and_islet %>
                </div>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <p><%= t('.no_results_found') %></p>
    <% end %>
  </turbo-frame>
</div>
<% end %>

<script>
  // Focus on the first list item or at the end of the search input field if no results
  window.onload = function () {
    const firstItem = document.querySelector('#search_results a');
    if (firstItem) {
      firstItem.focus();
    } else {
      const input = document.querySelector('input[type="search"]');
      input.focus()
      input.setSelectionRange(input.value.length, input.value.length);
    }
  };
</script>
