<%
  breadcrumb
    .add_step(t("external_app_records.index.title"), external_app_records_path)
    .add_step(t("action.configure"))
%>

<%= render Page::HeadingComponent.new(
  title: t(".title"), breadcrumb:, back_button_url: external_app_records_path
) %>
<div class="col-12 p-4 border-top">
  <%= form_with(model: @settings, url: settings_external_app_records_path, method: :put, html: { class: "col-12 col-md-10 col-lg-8 mx-auto", role: "form" }) do |f| %>
    <%= render FormErrorsComponent.new(@settings) %>

    <%= render CardComponent.new(extra_classes: "bg-body-tertiary") do |card| %>
      <% card.with_header do %>
        <%= t(".category_ids") %>
      <% end %>

      <fieldset class="col-12">
        <ul class="list-none p-0">
          <% Category.sorted.each do |category| %>
            <li class="d-flex align-items-center gap-2 my-2">
              <%= select_tag "category_glpi_syncs[#{category.id}]",
                    options_for_select(CategoryDecorator.glpi_sync_options_for_select, category.glpi_sync),
                    class: "form-select",
                    style: "width: 180px;" %>
              <%= label_tag "category_glpi_syncs[#{category.id}]", category.name, class: "" %>
            </li>
          <% end %>
        </ul>
      </fieldset>
    <% end %>

    <div class="col-12 py-4 mt-4 text-end sticky-bottom bg-body-tertiary border-top">
      <%= f.submit(t("action.apply"), class: "btn btn-info") %>
    </div>
  <% end %>
</div>
