<%= form_for(@disk_type, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <%= render FormErrorsComponent.new(@disk_type) %>

  <div class="form-group">
    <%= f.label :quantity, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :quantity, class: "form-control" %>
    </div>
    <%= f.label :unit, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :unit, DiskType::UNITS, class: "form-control" %>
    </div>
    <%= f.label :technology, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :technology, DiskType::TECHNOLOGIES, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
