<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  DiskType.model_name.human.pluralize => disk_types_path,
  t(".title") => '',
} %>

<div class="container">
  <div class="page-header">
    <%= link_to disk_types_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      <%= t("action.back") %>
    <% end %>
    <%= link_to @disk_type, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-info-sign"></span>
      <%= t("action.show") %>
    <% end %>
    <h1>
        <%= t(".title") %>
    </h1>
  </div>

  <%= render 'form' %>
</div>
