<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  t("inventories") => modeles_url,
  DiskType.model_name.human.pluralize => ""}
%>

<div class="container-fluid">

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <div class="page-header">
        <%= link_to new_disk_type_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t(".add_disk_type") %>
        <% end %>
        <h1>
          <%= t(".title") %>
        </h1>
      </div>

      <%= render List::DataTableComponent.new(@disk_types) do |table| %>
        <% table.with_column(DiskType.human_attribute_name(:name), sort_by: :name) do |disk_type| %>
          <%= link_to disk_type, disk_type_path(disk_type) %>
        <% end %>

        <% table.with_column(class: "text-right") do |disk_type| %>
          <%= link_to t("action.edit"), edit_disk_type_path(disk_type), class: 'btn btn-primary' %>
          <%= link_to t("action.delete"), disk_type, method: :delete, data: { confirm: t("action.confirm") }, class: 'btn btn-danger' %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
