<div class="page-header d-flex justify-content-between">
  <h1>Listing disks</h1>
  <%= link_to new_disk_path, class: 'btn btn-success align-self-center' do %>
    <span class="bi bi-plus"></span>
    New Disk
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Matériel</th>
            <th>Disk type</th>
            <th>Quantity</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @disks) do |disk| %>
            <td><%= disk.server_id %></td>
            <td><%= disk.disk_type_id %></td>
            <td><%= disk.quantity %></td>
            <td><%= link_to 'Voir', disk %></td>
        <td><%= link_to 'Edit', edit_disk_path(disk) %></td>
        <td><%= link_to 'Destroy', disk, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      <% end %>
    </tbody>
  </table>
</div>
