<div>
  <%= link_to disks_path, class: 'btn btn-outline-secondary' do %>
    <span class="bi bi-list-ul"></span>
    Retour
  <% end %>
  <%= link_to edit_disk_path(@disk), class: 'btn btn-primary' do %>
    <span class="bi bi-pencil"></span>
    Edit
  <% end %>
  <h1>Voir disk</h1>
</div>

<dl class="dl-horizontal">
  <dt>Matériel:</dt>
  <dd><%= @disk.server_id %></dd>

  <dt>Disk type:</dt>
  <dd><%= @disk.disk_type_id %></dd>

  <dt>Quantity:</dt>
  <dd><%= @disk.quantity %></dd>

</dl>
