<div class="page-header">
  <%= link_to disks_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t("action.back") %>
  <% end %>
  <%= link_to edit_disk_path(@disk), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>
    <%= t(".title") %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>
    <%= Server.model_name.human %> :
  </dt>
  <dd><%= @disk.server_id %></dd>

  <dt>
    <%= Disk.human_attribute_name(:disk_type) %> :
  </dt>
  <dd><%= @disk.disk_type_id %></dd>

  <dt>
    <%= Disk.human_attribute_name(:quantity) %> :
  </dt>
  <dd><%= @disk.quantity %></dd>

</dl>
