<%= render FormErrorsComponent.new(@domaine) %>

<%= form_for(@domaine, html: { class: "col-12 col-md-10 col-lg-8 mx-auto", role: "form" }) do |f| %>
  <%= render CardComponent.new(extra_classes: "bg-body-tertiary") do |card| %>
    <fieldset class="col-12">
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, class: "form-control" %>
    </fieldset>

    <fieldset class="col-12 mt-4">
      <%= f.label :description, class: "forml-label" %>
      <%= f.text_area :description, class: "form-control" %>
    </fieldset>
  <% end %>

  <div class="col-12 py-4 mt-4 text-end sticky-bottom bg-body-tertiary border-top">
    <%= link_to t("action.cancel"), domaines_path, class: "btn btn-outline-secondary" %>
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
