<% provide(:title, Domaine.model_name.human.pluralize) %>
<%= render "layouts/breadcrumb", breadcrumb_steps: {
  Domaine.model_name.human.pluralize => "" }
%>

<div class="container-fluid">
  <div class="d-flex justify-content-between">
    <h1><%= t(".title") %></h1>
    <%= link_to new_domaine_path, class: "btn btn-success align-self-center" do %>
      <span class="bi bi-plus-lg"></span>
      <%= t(".new_domaine") %>
    <% end %>
  </div>

  <%= render List::DataTableComponent.new(@domaines) do |table| %>
    <% table.with_column(Domaine.human_attribute_name(:name), sort_by: :name) do |domaine| %>
      <b><%= link_to domaine, domaine_path(domaine) %></b>
    <% end %>

    <% table.with_column(Domaine.human_attribute_name(:usage), sort_by: :servers_count) do |domaine| %>
      <%= link_to Domaine.human_attribute_name(:servers_count, count: domaine.servers_count), servers_path %>
    <% end %>

    <% table.with_column(style: "min-width: 84px; width: 84px") do |domaine| %>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <%= link_to edit_domaine_path(domaine), class: "btn btn-primary" do %>
          <span class="bi bi-pencil" aria-hidden="true" data-controller="tooltip" data-bs-placement="left" title="<%= t("action.edit") %>"></span>
          <span class="visually-hidden"><%= t("action.edit") %></span>
        <% end %>
        <%= link_to domaine, method: :delete, data: { confirm: t(".delete_confirmation") }, class: "btn btn-danger" do %>
          <span class="bi bi-trash" aria-hidden="true" data-controller="tooltip" data-bs-placement="left" title="<%= t("action.delete") %>"></span>
          <span class="visually-hidden"><%= t("action.delete") %></span>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
