<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  t("inventories") => modeles_url,
  Domaine.model_name.human.pluralize => ""}
%>

<div class="container-fluid">

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <div class="page-header">
        <%= link_to new_domaine_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t(".new_domaine") %>
        <% end %>
        <h1>
          <%= t(".title") %>
        </h1>
      </div>

      <%= render List::DataTableComponent.new(@domaines) do |table| %>
        <% table.with_column(Domaine.human_attribute_name(:name), sort_by: :name) do |domaine| %>
          <%= link_to domaine, domaine_path(domaine) %>
        <% end %>

        <% table.with_column(Domaine.human_attribute_name(:usage)) do |domaine| %>
          <%= link_to pluralize(domaine.servers.count, 'serveur', "serveurs"), servers_path %>
        <% end %>

        <% table.with_column(class: "text-right") do |domaine| %>
          <%= link_to t("action.edit"), edit_domaine_path(domaine), class: 'btn btn-primary' %>
          <%= link_to t("action.delete"),
                      domaine,
                      method: :delete,
                      data: { confirm: t(".delete_confirmation") },
                      class: 'btn btn-danger' %>
        <% end %>
      <% end %>

    </div>

  </div>

</div>


