<div class="container">

  <div class="page-header">
    <%= link_to domaines_path, class: 'btn btn-default' do %>
      <span class="bi bi-list-ul"></span>
      <%= t("action.back") %>
    <% end %>
    <%= link_to edit_domaine_path(@domaine), class: 'btn btn-primary' do %>
      <span class="bi bi-pencil"></span>
      <%= t("action.edit") %>
    <% end %>
    <h1>
      <%= t(".title", name: @domaine) %>
    </h1>
  </div>

  <dl class="dl-horizontal">
    <dt>
      <%= Domaine.human_attribute_name(:description) %> :
    </dt>
    <dd><%= @domaine.description %></dd>
  </dl>

  <ul>
    <% @domaine.servers.sorted_by_name.each do |server| %>
      <li><%= link_to server, server %></li>
    <% end %>
  </ul>

</div>
