<% breadcrumb.add_step(@domaine) %>

<%= render Page::HeadingShowComponent.new(
  resource: @domaine,
  title: @domaine.name,
  breadcrumb:,
  editable: allowed_to?(:update?, @domaine)
) %>

<div class="col-12 p-4 border-top">
  <div class="row row-cols-1 row-cols-lg-2 row-gap-4">
    <div class="col">
      <%= render CardComponent.new do |card| %>
        <% card.with_header do %>
          <%= t("show.cards.identification") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <% %i[name description].each do |attribute_name| %>
            <dt class="pb-2"><%= Domaine.human_attribute_name(attribute_name) %></dt>
            <dd class="mb-0 pb-2 ps-3"><%= @domaine.public_send(attribute_name) %></dd>
          <% end %>
        </dl>
      <% end %>
    </div>
  </div>

  <%= render HasManyTurboFrameComponent.new(
    Server.model_name.human(count: 2),
    url: servers_path(domaine_ids: @domaine.id),
    frame_id: dom_id(Server, :table),
    new_path: (new_server_path(server: { domaine_id: @domaine.id }) if allowed_to?(:create?, with: ServerPolicy)),
    new_label: t("servers.add_new")
  ) %>

  <%= render ChangelogEntries::ObjectListComponent.new(@domaine) %>
</div>
