<%
  title = t(".title", bay: @bay, bay_type: @bay.bay_type&.name)

  breadcrumb
    .add_step(t("visualization.title"))
    .add_step(t("visualization.rooms.index.title"), visualization_rooms_path)
    .add_step(@bay.room.name, visualization_room_path(@bay.room, view: params[:view]))

  if @bay.islet.name.present?
    breadcrumb.add_step("#{Islet.model_name.human} #{@bay.islet.name}", visualization_room_path(@bay.room, islet: @bay.islet.name, view: params[:view]))
  elsif params[:islet].present?
    breadcrumb.add_step("#{Islet.model_name.human} #{params[:islet]}")
  end

  breadcrumb.add_step(title)

  title = t("visualization.title") + " " + title
%>

<%= render Page::HeadingComponent.new(title:, breadcrumb:) do |heading| %>
  <% heading.with_right_content do %>
    <div class="d-flex flex-wrap gap-2 flex-column flex-lg-row">
      <%= render "visualization/action_buttons", view_side: params[:view] %>
      <%= render "visualization/bays/export_button", bay: @bay, in_table: false %>
      <%= render(ButtonComponent.new(t("action.show"),
                                     url: @bay,
                                     size: :sm,
                                     variant: :primary,
                                     icon: "eye",
                                     extra_classes: "ms-auto")) %>
    </div>
  <% end %>
<% end %>
<div class="container-fluid p-4 border-top">
  <div class="row">
    <div class="col-12" id="bay-container">
      <%= render partial: "servers/room", locals: {
                  room: @bay.room,
                  islets: @servers_per_frames[@bay.islet.room_id],
                  view_side: params[:view],
                  should_show_heading: false
      } %>
    </div>
  </div>
</div>

<%= render "ports/modal_edit_port" %>
