<%
  breadcrumb.add_step(title = t(".title"))
%>

<%= render Page::HeadingComponent.new(title: title, breadcrumb:) %>

<div class="col-12 p-4 border-top">
  <%= form_with model: @user, url: users_settings_path, class: "col-12 col-md-10 col-lg-8 mx-auto" do |f| %>
    <%= render CardComponent.new(extra_classes: "bg-body-tertiary") do |card| %>
      <fieldset class="col-12">
        <%= f.label :locale, class: "form-label" %>
        <%= f.select :locale, UserDecorator::available_locales_for_options, {}, class: "form-select" %>
      </fieldset>

      <fieldset class="col-12 mt-4">
        <%= f.label :theme, class: "form-label" %>
        <%= f.select :theme, UserDecorator::available_themes_for_options, {}, class: "form-select" %>
      </fieldset>

      <fieldset class="col-12 mt-4">
        <%= f.label :visualization_bay_default_background_color, class: "form-label" %>
        <%= f.select :visualization_bay_default_background_color,
                     UserDecorator::available_background_colors_for_options,
                     {},
                     class: "form-select" %>
      </fieldset>

      <fieldset class="col-12 mt-4">
        <%= f.label :visualization_bay_default_orientation, class: "form-label" %>
        <%= f.select :visualization_bay_default_orientation,
                     UserDecorator::available_bay_orientations_for_options,
                     {},
                     class: "form-select" %>
      </fieldset>
    <% end %>

    <div class="col-12 py-4 mt-4 text-end sticky-bottom bg-body-tertiary border-top">
      <%= f.submit class: "btn btn-info" %>
    </div>
  <% end %>
</div>
