<%
  title = Cable.model_name.human.pluralize
  breadcrumb_steps = { title => "" }

  provide(:title, title)
%>

<%= render Page::HeadingComponent.new(title:, breadcrumb_steps:) %>

<div class="p-4 border-top d-flex flex-column row-gap-4">
  <%= render List::DataTableComponent.new(@cables) do |table| %>
    <% table.with_column(Cable.human_attribute_name(:name), sort_by: :name) do |cable| %>
      <b><%= cable.name %></b>
    <% end %>

    <% table.with_column(Cable.human_attribute_name(:color), sort_by: :color) do |cable| %>
      <%- if cable.color? %>
        <span class="badge <%= cable.color %>">
          <%= cable.color %>
        </span>
      <% end %>
    <% end %>

    <% table.with_column(Cable.human_attribute_name(:special_case), sort_by: :special_case) do |cable| %>
      <%= cable.special_case ? t("boolean.true") : t("boolean.false") %>
    <% end %>

    <% table.with_column(Cable.human_attribute_name(:comments), sort_by: :comments) do |cable| %>
      <%= cable.comments %>
    <% end %>

    <% table.with_column(Connection.model_name.human, sort_by: :connections_count) do |cable| %>
      <%= cable.connections_count %>
    <% end %>

    <% table.with_column(style: "min-width: 50px; width: 50px") do |cable| %>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <%= link_to connections_edit_path(from_port_id: cable.ports.first), class: "btn btn-info" do %>
          <span class="bi bi-pencil" title="<%= t("action.edit") %>" aria-hidden="true"
                                                                     data-controller="tooltip"
                                                                     data-bs-placement="left"></span>
          <span class="visually-hidden"><%= t("action.edit") %></span>
        <% end %>
        <%= link_to cable, method: :delete, data: { confirm: t('action.confirm') }, class: "btn btn-danger" do %>
          <span class="bi bi-trash" title="<%= t("action.delete") %>" aria-hidden="true"
                                                                      data-controller="tooltip"
                                                                      data-bs-placement="left"></span>
          <span class="visually-hidden"><%= t("action.delete") %></span>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= paginate @cables %>
</div>
