<% breadcrumb.add_step(title = t(".title")) %>

<%= render Page::HeadingComponent.new(title:, breadcrumb:) %>

<div class="p-4 border-top d-flex flex-column row-gap-4">
  <% if @filter %>
    <%= render FilterComponent.new(@filter) do |c| %>
      <% c.with_form do |f| %>
        <%= pagy_to_hidden_fields(@pagy) if @pagy %>
        <div>
          <fieldset class="form-floating">
            <%= f.select :server_ids, CableDecorator.servers_options_for_select(current_user),
                                  { prompt: true, multiple: true },
                                  { class: "form-select",
                                    data: { controller: :select } } %>
            <%= f.label :server_ids %>
          </fieldset>
        </div>

        <div>
          <fieldset class="form-floating">
            <%= f.select :special_case,
                         CableDecorator.special_case_options_for_select,
                         { prompt: true },
                         { class: "form-select", data: { controller: :select } } %>
            <%= f.label :special_case %>
          </fieldset>
        </div>

        <div>
          <fieldset class="form-floating">
            <%= f.collection_select(:port_type_ids, PortType.order(:name),
                                    :id,
                                    :name,
                                    { prompt: true, multiple: true },
                                    { class: "form-select", data: { controller: :select } }) %>
            <%= f.label :port_type_ids %>
          </fieldset>
        </div>

        <div>
          <fieldset class="form-floating">
            <%= f.select :colors,
                         CableDecorator.colors_options_for_select,
                         { prompt: true, multiple: true },
                         { class: "form-select", data: { controller: :select } } %>
            <%= f.label :colors %>
          </fieldset>
        </div>

        <div>
          <fieldset class="form-floating">
            <%= f.text_field :cable_name, class: "form-control", placeholder: t("filters.placeholder.search") %>
            <%= f.label :cable_name %>
          </fieldset>
        </div>

        <div>
          <fieldset class="form-floating">
            <%= f.text_field :card_query, class: "form-control", placeholder: t("filters.placeholder.search") %>
            <%= f.label :card_query %>
          </fieldset>
        </div>

        <div>
          <fieldset class="form-floating">
            <%= f.text_field :comments, class: "form-control", placeholder: t("filters.placeholder.search") %>
            <%= f.label :comments %>
          </fieldset>
        </div>

        <div>
          <fieldset class="form-floating">
            <%= f.text_field :vlans, class: "form-control", placeholder: t("filters.placeholder.search") %>
            <%= f.label :vlans %>
          </fieldset>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <%= turbo_frame_tag(dom_id(Connection, :table), data: { turbo_action: :advance }) do %>
    <div class="cable-index-servers d-flex flex-column row-gap-4">
      <%= render List::DataTableComponent.new(@cables) do |table| %>
        <% if allowed_to?(:destroy?) %>
          <% table.with_bulk_action(
            url: bulk_cables_path,
            method: :delete,
            class: "btn btn-danger btn-sm",
            data: { confirm: t("action.confirm") }
          ) do %>
            <span class="bi bi-trash pe-none" title="<%= t("action.delete") %>"></span>
          <% end %>
        <% end %>

        <% table.with_column("Matériels connectés", v_align: :baseline) do |cable| %>
          <div class="cable-index-servers">
            <%= render partial: "draw", locals: { cable:, server: @server } %>
          </div>
        <% end %>

        <% table.with_column(Cable.human_attribute_name(:special_case),
                             sort_by: :special_case,
                             v_align: :baseline,
                             text_align: :center) do |cable| %>
          <%= cable.special_case ? t("boolean.true") : t("boolean.false") %>
        <% end %>

        <% table.with_column(
          Cable.human_attribute_name(:comments),
          sort_by: :comments,
          style: "width: 20%;",
          v_align: :baseline) do |cable| %>
          <%= cable.comments %>
        <% end %>

        <% table.with_column(style: "min-width: 50px; width: 50px", v_align: :baseline) do |cable| %>
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <% if allowed_to?(:update?, cable) %>
              <%= link_to connections_edit_path(from_port_id: cable.ports.first),
                          class: "btn btn-info",
                          data: { turbo_frame: :_top } do %>
                <span class="bi bi-pencil" title="<%= t("action.edit") %>" aria-hidden="true"
                                                                          data-controller="tooltip"
                                                                          data-bs-placement="left"></span>
                <span class="visually-hidden"><%= t("action.edit") %></span>
              <% end %>
            <% end %>

            <% if allowed_to?(:destroy?, cable) %>
              <%= link_to cable_path(cable, return_to: turbo_frame_request? ? request.referer || root_path : request.fullpath),
                          method: :delete,
                          data: { turbo_frame: :_top },
                          class: "btn btn-danger" do %>
                <span class="bi bi-trash" title="<%= t("action.delete") %>" aria-hidden="true"
                                                                            data-controller="tooltip"
                                                                            data-bs-placement="left"></span>
                <span class="visually-hidden"><%= t("action.delete") %></span>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <%== render PaginationComponent.new(pagy: @pagy) if @pagy %>
    </div>
  <% end %>
</div>
