<%= render FormErrorsComponent.new(@stack) %>

<%= form_for(@stack, html: { class: "bg-body-tertiary p-4 rounded border", role: "form" }) do |f| %>
  <div class="row g-3">
    <fieldset class="col-12">
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, class: "form-control" %>
    </fieldset>
    <fieldset class="col-12 mt-4">
      <%= f.label :color, class: "form-label" %>
      <%= f.text_field :color, class: "form-control" %>
    </fieldset>
    <div class="col-12 mt-4">
      <%= f.submit class: "btn btn-primary w-100" %>
    </div>
  </div>
<% end %>
