<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  Stack.model_name.human.pluralize => stacks_path,
  @stack => '',
} %>

<div class="container">
  <div class="page-header">
    <%= link_to stacks_path, class: 'btn btn-default' do %>
      <span class="bi bi-list-ul"></span>
      <%= t("action.back") %>
    <% end %>
    <%= link_to @stack, class: 'btn btn-primary' do %>
      <span class="bi bi-eye"></span>
      <%= t("action.show") %>
    <% end %>
    <h1>
        <%= t(".title") %>
    </h1>
  </div>

  <%= render 'form' %>
</div>
