<%= render 'layouts/breadcrumb', breadcrumb_variables: {'Paramètres' => modeles_url, 'Salles' => ''} %>

<div class="container-fluid">

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <div class="page-header">
        <%= link_to new_stack_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          Ajouter un stack
        <% end %>
        <h1>Stacks</h1>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Couleur</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <%= content_tag_for(:tr, @stacks) do |stack| %>
                  <td><%= stack.name %></td>
                  <td><%= stack.color %></td>
              <td><%= pluralize stack.servers.count, 'machine' %></td>
              <td><%= link_to 'Modifier', edit_stack_path(stack), class: 'btn btn-default' %></td>
              <td><%= link_to 'Supprimer', stack, method: :delete, data: { confirm: 'Est-ce que vous confirmez la suppression définitive de ce stack ?' }, class: 'btn btn-danger' %></td>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
