<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  t("inventories") => modeles_url,
  Stack.model_name.human.pluralize => "" }
%>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">
      <div class="page-header">
        <%= link_to new_stack_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t(".new_stack") %>
        <% end %>
        <h1>
          <%= t(".title") %>
        </h1>
      </div>

      <%= render List::DataTableComponent.new(@stacks) do |table| %>
        <% table.with_column(Stack.human_attribute_name(:name), sort_by: :name) do |stack| %>
          <b><%= link_to stack, stack_path(stack) %></b>
        <% end %>

        <% table.with_column(Stack.human_attribute_name(:color), sort_by: :color) do |stack| %>
          <%= stack.color %>
        <% end %>

        <% table.with_column(Stack.human_attribute_name(:servers), sort_by: :servers_count) do |stack| %>
          <%= Stack.human_attribute_name(:servers_count, count: stack.servers_count) %>
        <% end %>

        <% table.with_column(style: "min-width: 84px; width: 84px") do |stack| %>
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <%= link_to edit_stack_path(stack), class: 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="<%= t("action.edit") %>"></span>
              <span class="sr-only"><%= t("action.edit") %></span>
            <% end %>
            <%= link_to stack, method: :delete, data: { confirm: t(".delete_confirmation") }, class: 'btn btn-danger' do %>
              <span class="glyphicon glyphicon-trash" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="<%= t("action.delete") %>"></span>
              <span class="sr-only"><%= t("action.delete") %></span>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
