<% breadcrumb.add_step(title = @stack.name) %>

<%= render Page::HeadingShowComponent.new(resource: @stack, title:, breadcrumb:) %>
<div class="col-12 p-4 border-top">
  <div class="row row-cols-1 row-cols-lg-2 row-gap-4">
    <div class="col">
      <%= render CardComponent.new do |card| %>
        <% card.with_header do %>
          <%= t("show.cards.identification") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <% %i[name].each do |attribute_name| %>
            <dt class="pb-2"><%= Stack.human_attribute_name(attribute_name) %></dt>
            <dd class="mb-0 pb-2 ps-3"><%= @stack.public_send(attribute_name) %></dd>
          <% end %>
        </dl>
      <% end %>
    </div>
    <div class="col">
      <%= render CardComponent.new do |card| %>
        <% card.with_header do %>
          <%= t("show.cards.features") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <% %i[color].each do |attribute_name| %>
            <dt class="pb-2"><%= Stack.human_attribute_name(attribute_name) %></dt>
            <dd class="mb-0 pb-2 ps-3"><%= @stack.public_send(attribute_name) %></dd>
          <% end %>
        </dl>
      <% end %>
    </div>
  </div>
  <%= render HasManyTurboFrameComponent.new(
    Server.model_name.human(count: 2),
    url: servers_path(stack_ids: @stack.id),
    frame_id: dom_id(Server, :table)
  ) %>
  <%= render ChangelogEntries::ObjectListComponent.new(@stack) %>
</div>
