<div class="page-header">
  <%= link_to stacks_path, class: 'btn btn-outline-secondary' do %>
    <span class="bi bi-list-ul"></span>
    <%= t("action.back") %>
  <% end %>
  <%= link_to edit_stack_path(@stack), class: 'btn btn-primary' do %>
    <span class="bi bi-pencil"></span>
    <%= t("action.edit") %>
  <% end %>
  <h1>
    <%= t(".title") %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>
    <%= Stack.human_attribute_name(:name) %> :
  </dt>
  <dd><%= @stack %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>
    <%= Stack.human_attribute_name(:color) %> :
  </dt>
  <dd><%= @stack.color %></dd>
</dl>
