<%
  if @prefilled_data && @prefilled_data[:enclosure]
    composants = @prefilled_data[:enclosure].composants.slots
  else
    if local_assigns[:enclosure].present?
      composants = enclosure.composants.slots
    else
      composants = @server.modele.composants.slots
    end
  end
%>

<% if @server.modele %>

<li class="list-group-item">
  <fieldset>
    <div class="col-sm-2">
      <%= f.select :composant_id, options_for_select(composants.map{|c| [c.name || c.position, c.id]}, f.object.composant_id) %>
    </div>
    <div class="col-sm-2">
      <%= f.select :card_type_id, options_for_select(CardType.sorted.map{|card_type| [card_type.name, card_type.id]}, f.object.card_type_id) %>
    </div>
    <div class="col-sm-2">
      <%= f.text_field :name %>
    </div>
    <div class="col-sm-3">
      <%= f.select :orientation, [["Horizontal, de gauche à droite", "lr-td"],
                                  ["Vertical, de bas en haut", "dt-lr"]], class: "form-control" %>
    </div>
    <div class="col-sm-2">
      <%= f.select :twin_card_id, options_for_select( Card.includes(:server).on_patch_panels.sort{|f1,f2|f1.to_s <=> f2.to_s}.map{|card| [card.to_s, card.id]}, f.object.twin_card_id), :include_blank => true %>
    </div>

    <span>
      <%= f.hidden_field :_destroy %>
      <%= link_to "Supprimer", '#', class: "remove_fields pull-right" %>
    </span>
  </fieldset>
</li>

<% end %>
