<%
  if local_assigns[:enclosure].present?
    composants = enclosure.composants.slots
  else
    composants = server.modele.composants.slots
  end
%>

<% if server.modele %>
  <div class="nested-form-wrapper list-group-item"
      data-new-record="<%= f.object.new_record? %>">
    <%= render CardComponent.new(extra_classes: "bg-body-tertiary") do |card| %>
      <div class="row g-2">
        <span class="col-12 col-md-4 col-xl-3 mt-0">
          <%= f.label Enclosure.human_attribute_name(:composant_id), class: "form-label col-form-label-sm p-0" %>
          <%= f.select :composant_id, options_for_select(composants.map { |c| [c.name || c.position, c.id] },
                                      f.object.composant_id),
                                      {},
                                      { class: "form-select" } %>
        </span>
        <span class="col-12 mt-2 col-md-3 col-xl-2 mt-md-0">
          <%= f.label Enclosure.human_attribute_name(:name), class: "form-label col-form-label-sm p-0" %>
          <%= f.text_field :name, class: "form-control" %>
        </span>
        <span class="col-12 mt-2 col-md-5 mt-md-0 col-xl-7">
          <%= f.label Enclosure.human_attribute_name(:orientation), class: "form-label col-form-label-sm p-0" %>
          <%= f.select :orientation,
                        Card::ORIENTATIONS.map { |o| [Card.human_attribute_name("orientation.#{o}"), o] },
                        {},
                        { class: "form-select" } %>
        </span>
        <span class="col-12 mt-2 col-md-4 col-xl-3 ">
          <%= f.label Enclosure.human_attribute_name(:card_type_id), class: "form-label col-form-label-sm p-0" %>
          <%= f.select :card_type_id,
                        options_for_select(CardType.sorted.map { |card_type| [card_type.name, card_type.id] },
                        f.object.card_type_id),
                        {},
                        { class: "form-select", data: { controller: :select } } %>
        </span>
        <span class="col-12 mt-2 col-md-3 col-xl-2">
          <%= f.label Enclosure.human_attribute_name(:first_position), class: "form-label col-form-label-sm p-0" %>
          <%= f.number_field :first_position, in: 0...101, class: "form-control" %>
        </span>
        <span class="col-12 mt-2 col-md-5 col-xl-7">
          <%= f.label Enclosure.human_attribute_name(:twin_card_id), class: "form-label col-form-label-sm p-0" %>
          <%= f.select :twin_card_id,
                        options_for_select(Card.includes(:server, :composant, :card_type)
                                                .joins(:composant)
                                                .on_patch_panels.sort { |f1, f2|
                                                  f1.to_s <=> f2.to_s
                                                }.map { |card| [card.to_s, card.id] },
                        f.object.twin_card_id),
                        { include_blank: true },
                        { class: "form-select", data: { controller: :select } } %>
        </span>
      </div>

      <% card.with_footer do %>
        <span class="ms-auto">
          <%= f.hidden_field :_destroy %>
          <button type="button" data-action="nested-form#remove" class="btn btn-danger btn-sm float-end">
            <span class="bi bi-trash me-1"></span>
            <span><%= t("action.delete") %></span>
          </button>
        </span>
      <% end %>
    <% end %>
  </div>
<% end %>
