<% if @server.modele %>

<li class="list-group-item">
    <fieldset>
      <div class="col-sm-4">
      <%= f.select :composant_id, options_for_select(@server.modele.composants.where(type_composant_id: 4).map{|c| [c.name, c.id]}, f.object.composant_id) %>
      </div>
      <div class="col-sm-4">
        <%= f.select :card_id, options_for_select(Card.sorted.map{|card| [card.name, card.id]}, f.object.card_id) %>
      </div>
      <div class="col-sm-1">
        <%= f.select :connections_identifier, options_for_select(%w(A B  C D E F L S T V Z)), include_blank: true %>
      </div>
      <span>
        <%= f.hidden_field :_destroy %>
        <%= link_to "Supprimer", '#', class: "remove_fields pull-right" %>
      </span>
    </fieldset>
  </li>

<% end %>
