<% port_quantity.to_i.times do |index| %>

  <% port_data = ports_data.find_by(position: index+1) %>

  <% case port_type.name
       when 'RJ' %>

    <a href="<%= port_data.try(:id) ? edit_port_path(port_data) : edit_port_path(id: 0, parent_id: card_server.id, parent_type: CardsServer.name, position: index+1) %>" class="port pull-left portRJ <%= port_data.present? ? port_data.color : '' %>"
       data-position="<%= index+1 %>"
       data-type="RJ"
       data-toggle="tooltip" data-placement="top" title="<%= port_data.present? ? "#{port_data.vlans}" : '' %>">
      <%= port_data.try(:cablename) %>
    </a>

  <% when 'FC' %>

    <a href="<%= port_data.try(:id) ? edit_port_path(port_data) : edit_port_path(id: 0, parent_id: card_server.id, parent_type: CardsServer.name, position: index+1) %>" class="port pull-left portFC <%= port_data.present? ? port_data.color : ''%>"
       data-position="<%= index+1 %>"
       data-type="FC"
       data-toggle="tooltip" data-placement="top" title="<%= port_data.present? ? port_data.vlans : '' %>">
      <%= port_data.try(:cablename) %>
    </a>

  <% else %>

    <a href="<%= port_data.try(:id) ? edit_port_path(port_data) : edit_port_path(id: 0, parent_id: card_server.id, parent_type: CardsServer.name, position: index+1) %>" class="port pull-left portSCSI <%= port_data.present? ? port_data.color : ''%>"
       data-position="<%= index+1 %>"
       data-type="<%= port_type.try(:name) %>"
       data-toggle="tooltip" data-placement="top" title="<%= port_data.present? ? port_data.vlans : '' %>">
      <%= port_type.try(:name) %><br>
      <%= port_data.try(:cablename) %>
    </a>

  <% end %>
<% end %>
