<fieldset style="clear:both;margin-top: 10px;">

  <span>
    <%= f.hidden_field :_destroy %>
    <%= link_to "Supprimer", '#', class: "remove_fields pull-right btn btn-default" %>
  </span>

  <span class="pull-left"><%= f.object.document.metadata['filename'] if f.object.document.present? %></span>
  <span  class="pull-left">
    <%= f.hidden_field :document, value: f.object.cached_document_data %>
    <%= f.file_field :document %>
  </span>

</fieldset>
