<fieldset class="d-flex mb-4 align-items-center">
  <%- if f.object.document.present? %>
    <span class="flex-grow-1"><%= f.object.document.metadata["filename"]%></span>
  <%- else %>
    <span class="flex-grow-1">
      <%= f.hidden_field :document, value: f.object.cached_document_data %>
      <%= f.file_field :document, class: "form-control" %>
    </span>
  <%- end %>
  <span>
    <%= f.hidden_field :_destroy %>
    <%= link_to t("action.delete"), "#", class: "remove_fields btn btn-danger btn-sm ms-4" %>
  </span>
</fieldset>
