<span class="pull-left u_scale position_in_frame <%= u_disponibles.even? ? 'even': 'odd' %>"
      title="<%= u_disponibles %>"
      style="
      top: <%= (100.00/u_server)*i %>%;height: <%= 100.00/u_server %>%;" >
  <%= u_disponibles %>
</span>
