<% server.cards.select { |card| card.composant_id == component.id }.each do |card| %>
  <% if card.twin_card_id
       twin_card = Card.find(card.twin_card_id)
       connections = twin_card.ports.map(&:connection)
       twin_card_used_ports = []
       connections.each { |c| twin_card_used_ports << c.port.position if c&.port }
     end %>

  <span class="<%= class_names("server-component d-flex", "flex-column": %w[td-lr dt-lr].include?(card.orientation)) %>"
        data-server-name="<%= server.name %>"
        data-server-id="<%= server.id %>"
        data-composant-id="<%= card.id %>"
        data-composant-type="<%= card.class %>"
        data-composant-name="<%= component.name.presence || component.position %>">

    <% if card.card_type && card.card_type.columns && card.card_type.rows %>
      <%= ports_by_card_with_presentation(card: card,
                                          selected_port: selected_port,
                                          moved_connections: @moved_connections,
                                          twin_card_used_ports: twin_card_used_ports) %>
    <% else %>
      <%= ports_by_card(port_type: card.card_type.try(:port_type),
                        port_quantity: card.card_type.try(:port_quantity),
                        card_id: card.id,
                        ports_data: card.ports,
                        selected_port: selected_port,
                        moved_connections: @moved_connections,
                        twin_card_used_ports: twin_card_used_ports) %>
    <% end %>
  </span>
<% end %>
