<%= link_to h(server.name), server_path(server, :view => params[:view]), {class: 'pull-left server_name', style: 'padding-left: 14px;', :data => {'toggle': "tooltip", 'placement': "top"}, title: server.numero} %>

<% if server.modele.present? && ( @agregated_ports_per_server.blank? || @agregated_ports_per_server[server.id].blank? ) %>
    <div class="pull-right">
      <% slots_sur_modele = server.modele.composants.where(type_composant_id: 4) %>
      <table class="slots">
        <thead>
        <% slots_sur_modele.each do |slot| %>
            <th><%= slot.name ? "#{slot.name.include?('SL') ? slot.name[2] : slot.name}" : slot.position %></th>
        <% end %>
        </thead>
        <tbody>
        <tr>
          <% slots_sur_modele.each do |slot| %>
              <td style="<%= server.modele.category.name != 'Patch Panel' ? 'max-width: 2.5em;' : '' %>">
                <% server.cards.where(:composant_id => slot.id).each do |card| %>
              <span data-server-name="<%= server.name %>" data-server-id="<%= server.id %>" data-composant-id="<%= card.id %>" data-composant-type="<%= card.class %>">
                <%= ports_by_card(port_type: card.card_type.try(:port_type),
                                  port_quantity: card.card_type.try(:port_quantity),
                                  card_id: card.id,
                                  ports_data: Port.where(card: card)) %>
              </span>
                <% end %>
              </td>
          <% end %>
        </tr>
        </tbody>
      </table>
    </div>

<% end %>

<br>
<i class='pull-left' style="clear:left;padding-left: 14px;"><%= link_to server.modele.try(:name), edit_modele_path(server.modele), style: 'font-weight:normal;' %></i>

<% if @agregated_ports_per_server && @agregated_ports_per_server[server.id].present? %>

    <div style="clear: left;"></div>
    <div style="padding-left: 14px;display: table;">
      <% @agregated_ports_per_server[server.id].each do |port| %>
          <%= link_to_port(port.position, port, port.card.try(:card_type).try(:port_type), port.card_id) %>
      <% end %>
    </div>

<% end %>

<div class="clearfix"></div>
