<% port_nb = server.ports_per_type %>

<div class="d-flex justify-content-between">
  <span class="d-flex flex-column row-gap-2 align-items-start ps-3">
    <span class="server_name text-wrap">
      <%= link_to h(server.name),
                  server_path(server, view: params[:view]),
                  class: "link-underline-opacity-0 link-underline-opacity-100-hover link-body-emphasis" %>
    </span>

    <span class="font-monospace fw-light text-body-secondary small"><%= server.numero %></span>
  </span>
  <span class="d-flex flex-row-reverse align-items-center flex-wrap">
    <% if port_nb["RJ"].positive? || port_nb["FC"].positive? || port_nb["IPMI"].positive? %>
      <span class="<%= class_names("badge rounded-0 ms-2 text-bg-info",
                                   "d-none": port_nb["RJ"] <= 0) %>">
        <%= port_nb["RJ"].positive? ? port_nb["RJ"] : "" %>
      </span>
      <span class="<%= class_names("badge rounded-0 ms-2 text-bg-secondary",
                                   "d-none": port_nb["IPMI"] <= 0) %>">
        <%= port_nb["IPMI"].positive? ? port_nb["IPMI"] : "" %>
      </span>
      <span class="<%= class_names("badge rounded-pill ms-2 text-bg-success",
                                   "d-none": port_nb["FC"] <= 0) %>">
        <%= port_nb["FC"].positive? ? port_nb["FC"] : "" %>
      </span>
    <% end %>
    <span class="me-1 text-black fst-italic"><%= server.modele.try(:name) %></span>
  </span>
</div>
