<% if server.modele.present? %>
  <div class="float-end">
    <% slots_sur_modele = server.modele.composants.ordered.slots %>
    <table class="slots">
      <thead>
      <% slots_sur_modele.each do |slot| %>
        <th><%= "Slot #{slot.position}" %></th>
      <% end %>
      </thead>
      <tbody>
      <tr>
        <% slots_sur_modele.each do |slot| %>
          <td>
            <% server.cards.where(composant_id: slot.id).each do |card| %>
              <%= ports_by_card(port_type: card.card_type.port_type,
                                port_quantity: card.card_type.port_quantity,
                                ports_data: Port.where(card: card),
                                card_id: card.id) %>
            <% end %>
          </td>
        <% end %>
      </tr>
      </tbody>
    </table>
  </div>
<% end %>

  <%= link_to h(server.name),
              server_path(server, view: params[:view]),
              class: "fw-bold",
              { data: { controller: "tooltip", bs_placement: "top" }, title: server.numero } %>

<% if server.modele.present? %>
  <br>
  <i><%= link_to server.modele.try(:name), modele_path(server.modele) %></i>
  <div class="alims">
    <% alims_sur_modele = server.modele.composants.ordered.where(type_composant_id: 1) %>
    <% alims_sur_modele.each_with_index do |composant_alim, i| %>
      <span class="alim">ALIM <%= i+1 %></span>
    <% end %>
  </div>
<% end %>
