<% selected_port ||= nil %>

<% if server.modele.present? %>
  <div class="pull-right very-specific-design" id="very-specific-design">

    <% server.modele.enclosures.each_with_index do |enclosure, index| %>

      <% composants_per_enclosure = enclosure.composants.slots %>

      <table class="slots" style="<%= index > 0 ? 'margin-top:7px;' : '' %>" >
        <tbody>

        <% if enclosure.display != 'horizontal' %>

          <tr>
            <% composants_per_enclosure.each do |component| %>
              <th><%= slot_label(server, component) %></th>
            <% end %>
          </tr>
          <tr>
            <% composants_per_enclosure.each do |component| %>
              <td class="slot_column">
                <%= render 'servers/draw_component.html.erb', server: server, component: component, selected_port: selected_port %>
              </td>
            <% end %>
          </tr>

        <% else %>

          <% composants_per_enclosure.each do |component| %>
            <tr>
              <th><%= slot_label(server, component) %></th>
              <td><%= render 'servers/draw_component.html.erb', server: server, component: component, selected_port: selected_port %></td>
            </tr>
          <% end %>

        <% end %>
        </tbody>
      </table>

    <% end %>
  </div>

<% end %>

<%= link_to h(server.name), server_path(server, :view => params[:view]), {class: 'pull-left server_name', style: 'padding-left: 14px;', :data => {'toggle': "tooltip", 'placement': "top"}, title: server.numero} %>
<br>
<span class='pull-left' style="clear:left;padding-left: 14px;">
  <%= link_to draw_connections_path(server_id: server.id),
              class: 'draw_connections_link',
              id: "draw_connections_link_#{server.id}",
              title: "Dessiner les liaisons",
              remote: true do %>
    <button type="button" class="btn btn-default btn-xs" aria-label="Draw connections">
      <span class="glyphicon glyphicon-random" aria-hidden="true"></span>
    </button>
  <% end %>
</span>
<!--
<span class='pull-left' style="padding-left: 8px;">
  <% twin_cards_ids = server.cards.map(&:twin_card_id).uniq.reject{|c|c.blank?} if false %>
<% twin_cards_ids.map{|id| Card.find(id).frame}.uniq.each do |frame| %>
  <%= link_to frame_path(frame), title: "#{frame.to_s}" do %>
      <button type="button" class="btn btn-default btn-xs" aria-label="Link to twin card">
        <span class="glyphicon glyphicon-magnet" aria-hidden="true"></span>
      </button>
    <% end %>
<% end if false %>
</span>
-->

<br>
<i class='pull-left' style="clear:left;padding-left: 14px;"><%= link_to server.modele.try(:name), edit_modele_path(server.modele_id), style: 'font-weight:normal;' %></i>

<div class="clearfix"></div>
