<% if server.modele.present? %>
  <div class="pull-right">
    <% slots_sur_modele = server.modele.composants.where(type_composant_id: 4) %>
    <table class="slots">
      <thead>
      <% slots_sur_modele.each do |slot| %>
        <th><%= "Slot #{slot.position}" %></th>
      <% end %>
      </thead>
      <tbody>
      <tr>
        <% slots_sur_modele.each do |slot| %>
          <td>
            <% server.cards_servers.where(:composant_id => slot.id).each do |card_server| %>
              <%= ports_by_card(port_type: card_server.card.port_type,
                                port_quantity: card_server.card.port_quantity,
                                ports_data: Port.where(cards_server: card_server),
                                card_server_id: card_server.id) %>
            <% end %>
          </td>
        <% end %>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="pull-right">
    <table class="cm">
      <thead>
      <th>CM</th>
      </thead>
      <tbody>
      <tr>
        <td>
          <%= ports_by_card(port_type: PortType.find_by_name('RJ'),
                            port_quantity: server.modele.composants.where(type_composant_id: 3).count,
                            ports_data: Port.where(cards_server: server.cards_servers.joins(:composant => :type_composant).where('type_composants.name = ?', 'CM')) )%>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <% if server.modele.composants.where(type_composant_id: 2).count > 0 %>
    <div class="pull-right">
      <%= ports_by_card(port_type: PortType.find_by_name('IPMI'),
                        port_quantity: 1,
                        ports_data: Port.where(cards_server: server.cards_servers.joins(:composant => :type_composant).where('type_composants.name = ?', 'IPMI')) ) %>
      <!-- TODO verif generated link without card_server_id -->
    </div>
  <% end %>
<% end %>

  <b><%= link_to h(server.name), server_path(server, :view => params[:view]), {:data => {'toggle': "tooltip", 'placement': "top"}, title: server.numero} %></b>

<% if server.modele.present? %>
  <br>
  <i><%= link_to server.modele.try(:name), edit_modele_path(server.modele) %></i>
  <div class="alims">
    <% alims_sur_modele = server.modele.composants.where(type_composant_id: 1) %>
    <% alims_sur_modele.each_with_index do |composant_alim, i| %>
      <span class="alim">ALIM <%= i+1 %></span>
    <% end %>
  </div>
<% end %>
