<%= link_to h(server.name), server_path(server, :view => params[:view]), {class: 'pull-left server_name', style: 'padding-left: 14px;', :data => {'toggle': "tooltip", 'placement': "top"}, title: server.numero} %>

<% if server.modele.present? && ( @agregated_ports_per_server.blank? || @agregated_ports_per_server[server.id].blank? ) %>
    <div class="pull-right">

      <% server.modele.enclosures.each_with_index do |enclosure, index| %>

        <% composants_per_enclosure = enclosure.composants.slots %>
        <table class="slots" style="<%= index > 0 ? 'margin-top:7px;' : '' %>">
          <tbody>

          <% if enclosure.display != 'horizontal' %>

            <tr>
              <% composants_per_enclosure.each do |component| %>
                <th><%= component.name.present? ? "#{component.name.include?('SL') ? component.name[2] : component.name}" : component.position %></th>
              <% end %>
            </tr>
            <tr>
              <% composants_per_enclosure.each do |component| %>
                <td style="max-width: 2.5em;">
                  <%= render 'servers/draw_component', server: server, component: component %>
                </td>
              <% end %>
            </tr>

          <% else %>

            <% composants_per_enclosure.each do |component| %>
              <tr>
                <th><%= component.name.present? ? "#{component.name.include?('SL') ? component.name[2] : component.name}" : component.position %></th>
                <td><%= render 'servers/draw_component', server: server, component: component %></td>
              </tr>
            <% end %>

          <% end %>
          </tbody>
        </table>

      <% end %>
    </div>

<% end %>

<br>
<i class='pull-left' style="clear:left;padding-left: 14px;"><%= link_to server.modele.try(:name), edit_modele_path(server.modele), style: 'font-weight:normal;' %></i>

<% if @agregated_ports_per_server && @agregated_ports_per_server[server.id].present? %>

    <div style="clear: left;"></div>
    <div style="padding-left: 14px;display: table;">
      <% @agregated_ports_per_server[server.id].each do |port| %>
          <%= link_to_port(port.position, port, port.card.try(:card_type).try(:port_type), port.card_id) %>
      <% end %>
    </div>

<% end %>

<div class="clearfix"></div>
