<%= form_for(@server, html: {class: "form-horizontal", role: "form"}) do |f| %>
  <% if @server.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@server.errors.count, "erreur", "erreurs") %> lors de la sauvegarde :</h4>

      <ul>
        <% @server.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-6">
    <%= f.label :nom, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <%= f.label 'Baie', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:frame_id, Frame.all_sorted, :id, :name_with_room_and_islet, {:prompt => true, :include_blank => false}, {class: "form-control"}) %>
    </div>
    <%= f.label :position, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :position, class: "form-control" %>
    </div>
    <%= f.label 'Etat', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:server_state_id, ServerState.sorted, :id, :name, {:prompt => false, :include_blank => true}, {class: "form-control"}) %>
    </div>
    <%= f.label :modele_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:modele_id, Modele.all_sorted, :id, :name_with_brand, {:prompt => true, :include_blank => false}, {class: "form-control"}) %>
    </div>
    <%= f.label :critique, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :critique, class: "form-control" %>
    </div>
  </div>
  <div class="form-group col-md-6">
    <%= f.label 'Service Tag', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :numero, class: "form-control" %>
    </div>
    <%= f.label :cluster_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:cluster_id, Cluster.sorted, :id, :name, {:prompt => true, :include_blank => true}, {class: "form-control"}) %>
    </div>
    <%= f.label :domaine_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:domaine_id, Domaine.sorted, :id, :name, {:prompt => true, :include_blank => true}, {class: "form-control"}) %>
    </div>
    <%= f.label 'Gestionnaire', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:gestion_id, Gestion.sorted, :id, :name, {:prompt => true, :include_blank => true}, {class: "form-control"}) %>
    </div>
    <%= f.label 'Réseau Gb/10Gb', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select(:network_id, [["Réseau Gb", 1], ["Réseau 10Gb", 2]], {:prompt => true, :include_blank => true}, {class: "form-control"}) %>
    </div>
    <%= f.label 'Stack', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:stack_id, Stack.order(:id), :id, :name, {:prompt => true, :include_blank => true}, {class: "form-control"}) %>
    </div>
  </div>

  <% if f.object.persisted? && @server.modele %>
    <% @server.modele.enclosures.each do |enclosure| %>
      <%= content_tag :span, "Enclosure #{enclosure.position}", class: "col-sm-1 control-label", style: "clear:both;" %>
      <div class="col-sm-11">
        <div class="panel panel-default">
          <ul class="list-group">
            <li class="list-group-item">
              <fieldset class="header">
                <div class="col-sm-2">
                  Composant du modèle
                </div>
                <div class="col-sm-2">
                  Type de carte
                </div>
                <div class="col-sm-2">
                  Libellé
                </div>
                <div class="col-sm-2">
                  Orientation
                </div>
                <div class="col-sm-1">
                  Numéro du premier port
                </div>
                <div class="col-sm-2">
                  Carte jumèle
                </div>
              </fieldset>
            </li>
            <%= f.fields_for :cards, @server.cards.for_enclosure(enclosure.id) do |builder| %>
              <%= render partial: "card_fields", locals: {f: builder, enclosure: enclosure} %>
            <% end %>
          </ul>
          <div class="panel-footer"><%= link_to_add_fields_with_prefilled_data "<span class='glyphicon glyphicon-plus' aria-hidden='true'></span> Ajouter une carte".html_safe, f, :cards, {enclosure: enclosure} %></div>
        </div>
      </div>
    <% end %>
  <% end %>

  <!--

  <% if f.object.persisted? %>
    <%= content_tag :span, 'Mémoire', class: "col-sm-1 control-label", style: "clear:both;" %>
    <div class="col-sm-5">
      <div class="panel panel-default">
        <ul class="list-group">
          <%= f.fields_for :disks do |builder| %>
      <%= render "disk_fields", :f => builder %>
    <% end %>
        </ul>
        <div class="panel-footer"><%= link_to_add_fields "<span class='glyphicon glyphicon-plus' aria-hidden='true'></span> Ajouter des disques".html_safe, f, :disks %></div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="panel panel-default">
        <ul class="list-group">
          <%= f.fields_for :memory_components do |builder| %>
      <%= render "memory_component_fields", :f => builder %>
    <% end %>
        </ul>
        <div class="panel-footer"><%= link_to_add_fields "<span class='glyphicon glyphicon-plus' aria-hidden='true'></span> Ajouter de la RAM".html_safe, f, :memory_components %></div>
      </div>
    </div>
  <% end %>

  -->

  <div class="form-group" style="clear:both;">
    <%= f.label 'Commentaire', class: "col-sm-1 control-label" %>
    <div class="col-sm-11">
      <%= f.text_area :comment, :style => 'width: 98%', class: "form-control" %>
    </div>

    <%= f.label 'Documents', class: "col-sm-1 control-label" %>
    <div class="col-sm-11">
      <div class="panel panel-default">
        <div class="col-sm-12">
          <%= f.fields_for :documents do |builder| %>
            <%= render "document_fields", :f => builder %>
          <% end %>
        </div>
        <div class="panel-footer">
          <%= link_to_add_fields "<span class='glyphicon glyphicon-plus' style='clear:both;' aria-hidden='true'></span> Ajouter une pièce jointe".html_safe, f, :documents %>
        </div>
      </div>
    </div>

    <%= f.label 'Photo', class: "col-sm-1 control-label" %>
    <div class="col-sm-11">
      <%= f.file_field :photo %>
      <% if @server.photo.attached? %>
        <%= image_tag @server.photo.variant(geometry: "x200"), class: "server_photo", style: "margin-left:0;" %>
        <br/>
      <% end %>
    </div>

  </div>

  <div class="form-group" style="clear:both;">
    <div class="col-sm-offset-1 col-sm-11">
      <%= f.submit "Modifier ce matériel", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
