<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="<%= t("action.close") %>">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title" id="myModalLabel">
          <%= t(".title") %>
        </h4>
      </div>

      <div class="modal-body">
        <%= form_for(Server.new(:name => "PatchPanel", :modele => Modele.where("name LIKE ?", '%Panel%').first, frame: (@frame ? @frame : nil)), html: { class: "form-horizontal", role: "form" }) do |f| %>
          <% if @server.try(:errors).try(:any?) %>
            <%= render FormErrorsComponent.new(@server) %>
          <% end %>

          <div class="form-group">
            <%= f.label :name, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :name, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :modele_id, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.collection_select(:modele_id, Modele.order(Arel.sql('LOWER(name)')), :id, :name, {:prompt => true}, {class: "form-control"}) %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :frame, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.collection_select(:frame_id, Frame.includes(:bay, :islet => :room).all, :id, :name_with_room_and_islet, {:prompt => true}, {class: "form-control"}) %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :position, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.number_field :position, class: "form-control" %>
            </div>
          </div>

          <% if f.object.persisted? && @server.modele%>
            <%= content_tag :span, t(".slots"), class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <div class="panel panel-default">
                <ul class="list-group">
                  <%= f.fields_for :cards do |builder| %>
                    <%= render "card_fields", :f => builder %>
                  <% end %>
                </ul>
                <div class="panel-footer"><%= link_to_add_fields "<span class='glyphicon glyphicon-plus' aria-hidden='true'></span> Ajouter une carte".html_safe, f, :cards %></div>
              </div>
            </div>
          <% end %>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit t("action.confirm"), class: "btn btn-primary" %>
              <button type="button" class="btn btn-default" data-dismiss="modal">
                <%= t("action.cancel") %>
              </button>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
