<% view_side = 'front' if local_assigns[:view_side].nil? %>
<% settings = Frame.settings.merge({:min_height => view_side=='back' ? 20 : 27 }) %>
<% @room = room || @room %>

<%= render 'rooms/action_buttons', view_side: params[:view] if formats != [:pdf] %>

<div id="<%= @room.try(:name).try(:parameterize).try(:underscore) %>">

  <% islets.each do |islet, lanes| %>

    <div>
      <div>
        <div class="panel-islet">
          <% if local_assigns[:title].present? %>
            <div><h3><%= title %></h3></div>
          <% elsif @room.present? %>
            <div><h3>Salle <%= @room %> - Ilot <%= islet %></h3></div>
          <% end %>

          <div class="row">

            <ul class="frames <%= view_side %>"
                style="padding: 0;"
                data-update-url="<%= sort_frames_path %>"
                data-max-u='<%= settings[:max_u] %>'
                data-max-elts='<%= settings[:max_elts] %>'
                data-max-rj45='<%= settings[:max_rj45] %>'
                data-max-fc='<%= settings[:max_fc] %>' >

              <% lanes.each do |lane, bays| %>

                <% bays.each do |bay, frames| %>

                  <% if formats != [:pdf] %>
                    <%  if bays.size==1 && lanes.size==1
                          layout_classes = 'col-sm-12 col-lg-12'
                        else
                          layout_classes = frames.size>1 ? 'col-sm-12 col-lg-6' : 'col-sm-6 col-lg-3'
                        end
                    %>
                    <div class="<%= layout_classes %>" style='overflow: auto;'>
                      <div class="panel well couple"
                           style='overflow: auto;'
                           data-url="<%= bay_path(bay) %>"
                      >
                        <div class="panel-body">
                  <% end %>

                  <% frames.each do |frame, servers| %>
                    <div class="col-xs-12 <%= frames.size>1 ? 'col-sm-6' : '' %>">
                      <%= render 'frames/show_frame.html.erb', frame: frame, servers: servers, settings: settings, view_type: view_side %>
                    </div>
                  <% end %>

                  <% if formats != [:pdf] %>
                    </div>
                    <% if frames.size > 1 %>
                      <div class="panel-footer">
                        <%= render 'servers/sum_labels.html.erb',
                                   sums: (@sums[bay.frames.first.id].merge(@sums[bay.frames.last.id]){|_,a,b|a+b}),
                                   sum_u: nil,
                                   sum_elements: nil,
                                   max_u: settings[:max_u]*2,
                                   max_elts: settings[:max_elts]*2,
                                   max_rj45: settings[:max_rj45]*2,
                                   max_fc: settings[:max_fc]*2 %>
                      </div>
                    <% else %>
                      <div style="height: 41px;"></div>
                    <% end %>
                    </div>
                    </div>
                  <% end %>
                  <% if bay == bays.keys.last %>
                    <span class="clearfix"></span>
                  <% end %>

                <% end %>
              <% end %>

            </ul>
          </div>

        </div>

      </div>

    </div>

  <% end %>
</div>
