<%
  view_side = "front" if local_assigns[:view_side].nil?
  settings = Frame::DEFAULT_SETTINGS.merge( { min_height: view_side == "back" ? 20 : 27} )
  should_show_heading = local_assigns.fetch(:should_show_heading, true)
%>

<div id="<%= room.try(:name).try(:parameterize).try(:underscore) %>">
  <% islets.each do |islet, lanes| %>
    <div>
      <div>
        <div class="card-islet">
          <% if should_show_heading %>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <h3>
                <% if local_assigns[:title].present? %>
                  <%= title %>
                <% elsif room.present? %>
                  <%= t(".title", room: room, islet: islet) %>
                <% end %>
              </h3>
              <%= render "visualization/action_buttons", view_side: params[:view] unless local_assigns[:pdf] == true %>
            </div>
          <% end %>
          <div class="frames row <%= view_side %>"
              data-update-url="<%= sort_frames_path %>"
              data-max-u='<%= settings[:max_u] %>'
              data-max-elts='<%= settings[:max_elts] %>'
              data-max-rj45='<%= settings[:max_rj45] %>'
              data-max-fc='<%= settings[:max_fc] %>'>
            <% lanes.each do |lane, bays| %>
              <% bays.each do |bay, frames| %>
                <% unless local_assigns[:pdf] == true %>
                  <% if bays.size == 1 && lanes.size == 1
                        layout_classes = "col-12"
                      else
                        layout_classes = "col-12 col-lg-6"
                      end
                  %>
                  <div class="<%= layout_classes %> overflow-auto">
                  <div class="card couple overflow-auto"
                        data-url="<%= room_path(room, islet: islet, 'bay-id': bay, view: params[:view]) %>">
                  <div class="card-body d-flex flex-wrap row-gap-3">
                <% end %>
                <% frames.each do |frame, servers| %>
                  <div class="col-12 col-lg-6 pe-0 pe-lg-3">
                    <%= render partial: 'frames/show_frame', locals: { frame: frame, servers: servers, settings: settings, view_type: view_side } %>
                  </div>
                <% end %>
                <% unless local_assigns[:pdf] == true %>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
