<% selected_port ||= nil %>

<% if server.modele.present? %>
  <div class="very-specific-design" id="very-specific-design">
    <% server.modele.enclosures.each_with_index do |enclosure, index| %>
      <% composants_per_enclosure = enclosure.composants.reject(&:marked_for_destruction?) %>
      <% composants_per_enclosure.sort_by! do |c|
           c.try(:position) || (composants_per_enclosure.size + 1)
         end %>
      <% if enclosure.display == "grid" %>
        <style>
          .enclosure-container {
            <% grid_rows = enclosure.grid_areas.split("\r\n") %>
            <% grid_max_nb_of_columns = grid_rows.map { |row| row.split.count }.max %>
            grid-template-areas: <%= raw grid_rows.map { |s| "\"#{s}\"" }.join(" ") %>;
            grid-template-columns: repeat(<%= grid_max_nb_of_columns %>, 1fr); /* equal columns */
          }
        </style>
        <div class="container enclosure-container bg-dark-subtle">
          <% composants_per_enclosure.each do |component| %>
            <% class_name = "item-#{server.id}-#{component.name}" %>
            <style>
              .<%= class_name %> {
                grid-column: <%= component.name %>;
                grid-row: <%= component.name %>;
              }
            </style>
            <div class="component-label <%= class_name %>">
              <%= slot_label(server, component) %>
            </div>
            <div class="item <%= class_name %> bg-light-subtle">
              <%= render partial: "servers/draw_component", locals: { server:, component:, selected_port: } %>
            </div>
          <% end %>
        </div>
      <% else %>
        <table class="<%= class_names("slots mx-auto", "mt-2": index.positive?) %>">
          <tbody>
          <% if enclosure.display != "horizontal" %>
            <tr>
              <% composants_per_enclosure.each do |component| %>
                <th><%= slot_label(server, component) %></th>
              <% end %>
            </tr>
            <tr>
              <% composants_per_enclosure.each do |component| %>
                <td class="slot_column">
                  <%= render partial: "servers/draw_component", locals: { server:, component:, selected_port: } %>
                </td>
              <% end %>
            </tr>
          <% else %>
            <% composants_per_enclosure.each do |component| %>
              <tr>
                <th><%= slot_label(server, component) %></th>
                <td>
                  <%= render partial: "servers/draw_component", locals: { server:, component:, selected_port: } %>
                </td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>
  </div>
<% end %>
