<% provide(:title, "#{t("servers.index.title")} | #{@server.name} | #{t(".title")}") %>
<%= render 'layouts/breadcrumb', breadcrumb_steps: {
    t("visualization.title") => overview_rooms_path,
    @server.frame.room.name => room_path(@server.frame.room, view: params[:view]),
    "#{Islet.model_name.human} #{@server.frame.islet.name}" => room_path(@server.frame.room, islet: @server.frame.islet.name, :view => params[:view], bg: params[:bg]),
    t("layouts.breadcrumb.bay.double", name: @server.frame.bay) => room_path(@server.frame.room, islet: @server.frame.islet.name, "bay-id": @server.frame.bay_id, view: params[:view]),
    t("layouts.breadcrumb.bay.simple", name: @server.frame.name) => frame_path(@server.frame, view: params[:view]),
    @server.name => server_path(@server),
    t("servers.index.title") => servers_path,
    t("action.edit") => ""
}%>

<div class="row my-5">
  <div class="col-11 col-lg-10 mx-auto">
    <div class="d-flex justify-content-between pb-5">
      <%= link_to servers_path, class: "btn align-self-center d-inline-flex",
                                title: t("action.back") do %>
        <span class="bi bi-chevron-left"></span>
        <span class="d-none d-md-inline-block ms-1"><%= t("action.back") %></span>
      <% end %>
      <h1 class="px-4 text-center">
        <%= t(".title") %>
      </h1>
      <%= link_to @server, class: "btn btn-primary align-self-center d-inline-flex", title: t("action.show") do %>
        <span class="bi bi-eye"></span>
        <span class="d-none d-md-inline-block ms-1"><%= t("action.show") %></span>
      <% end %>
    </div>
    <%= render "form" %>
  </div>
</div>
