<% provide(:title, "#{@server.modele.try(:category).try(:name)} #{@server.name} - Edition") %>

<%= render 'layouts/breadcrumb', breadcrumb_variables: { t("visualization") => overview_rooms_path,
                                                         @server.frame.room.name => room_path(@server.frame.room, view: params[:view]),
                                                         "Ilot #{@server.frame.islet.name}" => room_path(@server.frame.room, islet: @server.frame.islet.name, :view => params[:view], bg: params[:bg]),
                                                         "Double baie #{@server.frame.bay}" => room_path(@server.frame.room, islet: @server.frame.islet.name, 'bay-id': @server.frame.bay_id, view: params[:view]),
                                                         "Baie #{@server.frame.name}" => frame_path(@server.frame, view: params[:view]),
                                                         @server.name => server_path(@server),
                                                         'Edition' => '' } %>

<div class="container">
  <div class="page-header">
    <%= link_to servers_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      <%= t("action.back") %>
    <% end %>
    <%= link_to @server, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-info-sign"></span>
      Voir
    <% end %>
    <h1>Matériel : <%= @server.name %></h1>
  </div>

  <%= render 'form' %>
</div>
