<% provide(:title, "#{@server.modele.try(:category).try(:name)} #{@server.name} - Edition") %>

<%= render 'layouts/breadcrumb', params: {"Salles" => overview_rooms_path,
                                          @server.frame.room.name => room_path(@server.frame.room),
                                          "Frame #{@server.frame.name}" => frame_path(@server.frame),
                                          @server.name => server_path(@server),
                                          'Edition' => ''} %>
<div class="page-header">
  <%= link_to servers_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @server, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Voir
  <% end %>
  <h1>Matériel : <%= @server.name %></h1>
</div>

<%= render 'form' %>
