<h1 class="text-center mb-4">
  <%= "#{@server.modele.try(:category).try(:name)} #{@server.name} #{@server.bay.name} U#{@server.position}" %>
</h1>

<div class="d-flex justify-content-center flex-column gap-3">
  <%= render partial: "servers/draw_server_compact", locals: { server: @server } %>

  <% unless @cables.empty? %>
    <%= render List::DataTableComponent.new(@cables) do |table| %>
      <% table.with_column(Connection.model_name.human.pluralize, v_align: :baseline) do |cable| %>
        <div class="cable-index-servers">
          <%= render partial: "cables/draw", locals: { cable:, server: @server } %>
        </div>
      <% end %>
      <% table.with_column("", v_align: :center, text_align: :center) do |cable| %>
        <%= check_box_tag("") %>
      <% end %>
    <% end %>
  <% end %>
</div>
