<h3>
  <%= t(".title") %>
</h3>

<%= datagrid_form_for @servers %>


<div class='total'>
  <%= t(".total", count: @servers.assets.total_count) %>
</div>
<%= datagrid_table(@servers) %>
<%= paginate @servers.assets %>
