<% provide(:title, "Importation de matériel par fichier CSV") %>
<%= render 'layouts/breadcrumb', breadcrumb_variables: {
    Server.model_name.human.pluralize => servers_path,
    t(".title") => ''
  }
%>

<% if @import_error %>
  <div class="alert alert-danger alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span><span class="sr-only"><%= t("action.close") %></span></button>
    <h4><%= @import_error %></h4>
  </div>
<% end %>

<%= flash[:notice] %>

<div class="row">
  <div class="col-lg-4 col-lg-offset-4">

    <div class="panel panel-primary">
      <%= form_for :import, url: import_servers_path, multipart: true do |f| %>
        <div class="panel-heading">
          <h4 class="panel-title text-center">
            <%= t(".title") %>
          </h4>
        </div>

        <div class="panel-body">
          <p>
            <%= f.label t(".room_id.label") %>
            <%= f.select :room_id, Room.order('id').all.collect {|p| [p.name, p.id]}, include_blank: false, selected: Room.find_by_name('Atelier').try(:id) %>
            <br>
            <span class="hint">
              <%= t(".room_id.hint") %>
            </span>
          </p>

          <p>
            <%= f.label t(".servers_state.label") %>
            <%= f.select :server_state_id, ServerState.select(:id, :name).collect { |p| [t(p.name.parameterize, default: p.name), p.id] }, include_blank: true %>
          </p>
          <p>
            <%= f.label t(".csv_file.label") %>
            <%= f.file_field :file %>
          </p>

        </div>

        <div class="panel-footer">
          <%= f.submit t(".action.import"), class: 'btn btn-primary', style: "width:100%;" %>
        </div>
      <% end %>
    </div>

    <%= t(".download_example_html", link: link_to('fichier_exemple.csv', root_url + 'files/format_exemple.csv')) %>
  </div>
</div>
