<% breadcrumb.add_step(t(".title")) %>

<%= render Page::HeadingComponent.new(title: t(".title"), breadcrumb:, back_button_url: servers_path) %>

<% if @import_error %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="<%= t("action.close") %>">
    </button>
    <h4><%= @import_error %></h4>
  </div>
<% end %>

<%= flash[:notice] %>

<div class="col-12 p-4 border-top">
  <%= form_for :import, url: import_servers_path, multipart: true, html: { role: "form" } do |f| %>
    <%= render CardComponent.new(
      type: :success, extra_classes: "bg-body-tertiary col-12 col-md-10 col-lg-8 mx-auto"
    ) do |card| %>
      <!-- Card Content: Form -->
      <fieldset>
        <%= f.label t(".room_id.label"), class: "form-label" %>
        <%= f.select :room_id,
                      Room.order("id").all.collect { |p| [p.name, p.id] },
                      {
                        include_blank: false,
                        selected: Room.find_by_name("Atelier").try(:id),
                      },
                      class: "form-select" %>
        <span class="form-text"><%= t(".room_id.hint") %></span>
      </fieldset>

      <fieldset class="my-4">
        <%= f.label t(".csv_file.label"), class: "form-label" %>
        <%= f.file_field :file, class: "form-control" %>
      </fieldset>

      <!-- Footer -->
      <% card.with_footer do %>
        <div class="col-12 text-end">
          <%= f.submit t(".action.import"), class: "btn btn-success" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <p class="col-12 col-md-10 col-lg-8 mx-auto mt-2 fst-italic">
    <%= t(".download_example_html", link: link_to("fichier_exemple.csv", root_url + "files/format_exemple.csv")) %>
  </p>
</div>
