<% provide(:title, "Matériels") %>
<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  t("inventories") => servers_url,
  Server.model_name.human.pluralize => ''}
%>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>
    <div class="col-md-9">
      <div class="page-header">
        <%= link_to import_csv_servers_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t(".add_via_csv") %>
        <% end %>
        <%= link_to new_server_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t(".add_server") %>
        <% end %>
        <h1>
          <%= t(".title") %>
        </h1>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>
                <%= Server.human_attribute_name(:name) %>
              </th>
              <th>
                <%= Server.human_attribute_name(:type) %>
              </th>
              <th>
                <%= Server.human_attribute_name(:room) %>
              </th>
              <th>
                <%= Server.human_attribute_name(:islet) %>
              </th>
              <th>
                <%= Server.human_attribute_name(:bay) %>
              </th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <%= content_tag_for(:tr, @servers) do |server| %>
              <td><%= link_to server.name, server_path(server) %></td>
              <td>
                <%=
                  link_to server.modele.category, category_path(server.modele.category) if server.modele.try(:category)
                %>
              </td>
              <td>
                <%= link_to server.room, room_path(server.room) if server.room %>
              </td>
              <td>
                <%= link_to server.islet, islet_path(server.islet) if server.islet %>
              </td>
              <td>
                <%= link_to server.bay, bay_path(server.bay) if server.bay %>
              </td>
              <td>
                <div class="btn-group btn-group-sm btn-group-vertical" role="group" aria-label="...">
                  <%= link_to t("actions.edit"), edit_server_path(server), class: 'btn btn-primary' %>
                  <%= link_to t("actions.delete"),
                              server,
                              method: :delete,
                              data: { confirm: t("actions.confirm") },
                              class: 'btn btn-danger' %>
                </div>
              </td>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
