<% provide(:title, "Matériels") %>
<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  t(".title") => "" }
%>

<div class="container-fluid">
  <div class="page-header d-flex justify-content-between">
    <h1><%= t(".title") %></h1>
    <div class="align-self-center">
      <%= link_to import_csv_servers_path, class: 'btn btn-success' do %>
        <span class="bi bi-plus-lg"></span>
        <%= t(".add_server_via_csv") %>
      <% end %>
      <%= link_to new_server_path, class: 'btn btn-success' do %>
        <span class="bi bi-plus-lg"></span>
        <%= t(".add_server") %>
      <% end %>
    </div>
  </div>

  <%= render FilterComponent.new(@filter) do |c| %>
    <% c.with_form do |f| %>
      <div class="col-12">
        <div class="form-floating">
          <%= f.text_field :q, class: "form-control", placeholder: t("filters.placeholder.search") %>
          <%= f.label :q %>
        </div>
      </div>

      <div class="col-12">
        <div class="form-floating">
          <%= f.collection_select(:frame_id, Frame.sorted, :id, :name, { prompt: true, include_blank: true }, { class: "form-control" }) %>
          <%= f.label :frame_id %>
        </div>
      </div>

      <div class="col-12">
        <div class="form-floating">
          <%= f.collection_select(:bay_id, Bay.sorted, :id, :name, { prompt: true, include_blank: true }, { class: "form-control" }) %>
          <%= f.label :bay_id %>
        </div>
      </div>

      <div class="col-12">
        <div class="form-floating">
          <%= f.collection_select(:islet_id, Islet.sorted, :id, :name, { prompt: true, include_blank: true }, { class: "form-control" }) %>
          <%= f.label :islet_id %>
        </div>
      </div>

      <div class="col-12">
        <div class="form-floating">
          <%= f.collection_select(:room_id, Room.sorted, :id, :name, { prompt: true, include_blank: true }, { class: "form-control" }) %>
          <%= f.label :room_id %>
        </div>
      </div>

      <div class="col-12">
        <div class="form-floating">
          <%= f.collection_select(:modele_id, Modele.sorted, :id, :name, { prompt: true, include_blank: true }, { class: "form-control" }) %>
          <%= f.label :modele_id %>
        </div>
      </div>

      <div class="col-12">
        <div class="form-floating">
          <%= f.collection_select(:gestion_id, Gestion.sorted, :id, :name, { prompt: true, include_blank: true }, { class: "form-control" }) %>
          <%= f.label :gestion_id %>
        </div>
      </div>

      <div class="col-12">
        <div class="form-floating">
          <%= f.collection_select(:domaine_id, Domaine.sorted, :id, :name, { prompt: true, include_blank: true }, { class: "form-control" }) %>
          <%= f.label :domaine_id %>
        </div>
      </div>

      <div class="col-12">
        <div class="form-floating">
          <%= f.collection_select(:cluster_id, Cluster.sorted, :id, :name, { prompt: true, include_blank: true }, { class: "form-control" }) %>
          <%= f.label :cluster_id %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= render List::DataTableComponent.new(@servers) do |table| %>
    <% table.with_column(Server.human_attribute_name(:name), sort_by: :name) do |server| %>
      <b><%= link_to server.name, server_path(server) %></b>
    <% end %>

    <% table.with_column(Server.human_attribute_name(:type), sort_by: :"categories.name") do |server| %>
      <%= link_to server.modele.category, category_path(server.modele.category) if server.modele.try(:category) %>
    <% end %>

    <% table.with_column(Server.human_attribute_name(:room), sort_by: :"rooms.name") do |server| %>
      <%= link_to server.room, room_path(server.room) if server.room %>
    <% end %>

    <% table.with_column(Server.human_attribute_name(:islet), sort_by: :"islets.name") do |server| %>
      <%= link_to server.islet, islet_path(server.islet) if server.islet %>
    <% end %>

    <% table.with_column(Server.human_attribute_name(:bay), sort_by: :"bays.id") do |server| %>
      <%= link_to server.bay, bay_path(server.bay) if server.bay %>
    <% end %>

    <% table.with_column(Server.human_attribute_name(:network_types)) do |server| %>
      <%= server.network_types.map { |type| Modele.human_attribute_name("network_types.#{type}") }.join(", ") %>
    <% end %>

    <% table.with_column(style: "min-width: 120px; width: 120px") do |server| %>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <%= link_to duplicate_server_path(server), class: 'btn btn-outline-secondary' do %>
          <span class="bi bi-copy" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="<%= t("action.duplicate") %>"></span>
          <span class="visually-hidden"><%= t("action.duplicate") %></span>
        <% end %>
        <%= link_to edit_server_path(server), class: 'btn btn-primary' do %>
          <span class="bi bi-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="<%= t("action.edit") %>"></span>
          <span class="visually-hidden"><%= t("action.edit") %></span>
        <% end %>
        <%= link_to server, method: :delete, data: { confirm: t("action.confirm") }, class: 'btn btn-danger' do %>
          <span class="bi bi-trash" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="<%= t("action.delete") %>"></span>
          <span class="visually-hidden"><%= t("action.delete") %></span>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
