<% provide(:title, "Matériels") %>
<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  t("inventories") => servers_url,
  t(".title") => "" }
%>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>
    <div class="col-md-9">
      <div class="page-header">
        <%= link_to import_csv_servers_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t(".add_server_via_csv") %>
        <% end %>
        <%= link_to new_server_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t(".add_server") %>
        <% end %>
        <h1><%= t(".title") %></h1>
      </div>

      <%= render List::DataTableComponent.new(@servers) do |table| %>
        <% table.with_column(Server.human_attribute_name(:name), sort_by: :name) do |server| %>
          <b>
            <%= link_to server.name, server_path(server) %>
          </b>
        <% end %>

        <% table.with_column(Server.human_attribute_name(:type)) do |server| %>
          <%=
            link_to server.modele.category, category_path(server.modele.category) if server.modele.try(:category)
          %>
        <% end %>

        <% table.with_column(Server.human_attribute_name(:room)) do |server| %>
          <%= link_to server.room, room_path(server.room) if server.room %>
        <% end %>

        <% table.with_column(Server.human_attribute_name(:islet)) do |server| %>
          <%= link_to server.islet, islet_path(server.islet) if server.islet %>
        <% end %>

        <% table.with_column(Server.human_attribute_name(:bay)) do |server| %>
          <%= link_to server.bay, bay_path(server.bay) if server.bay %>
        <% end %>

        <% table.with_column(class: "text-right") do |server| %>
          <div class="btn-group btn-group-sm btn-group-vertical" role="group" aria-label="...">
            <%= link_to t("action.edit"), edit_server_path(server), class: 'btn btn-primary' %>
            <%= link_to t("action.duplicate"), duplicate_server_path(server), class: 'btn btn-info' %>
            <%= link_to t("action.delete"),
                        server,
                        method: :delete,
                        data: { confirm: t("action.confirm") },
                        class: 'btn btn-danger' %>
          </div>
        <% end %>
      <% end %>


    </div>
  </div>
</div>
