<% breadcrumb.add_step(title = Server.model_name.human) %>

<%= render Page::HeadingComponent.new(title:, breadcrumb:) do |heading| %>
  <% heading.with_right_content do %>
    <div class="d-flex align-self-center column-gap-2">
      <%= render ButtonComponent.new(
        t(".sync_with_external_apps"),
        url: external_app_records_path,
        variant: :outline_primary,
        icon: "arrow-repeat",
        is_responsive: true
      ) if allowed_to?(:index?, with: ExternalAppRecordPolicy) %>

      <%= render ButtonComponent.new(
        t(".add_server_via_csv"),
        url: import_csv_servers_path,
        variant: :success,
        icon: "filetype-csv",
        is_responsive: true
      ) if allowed_to?(:import_csv?) %>

      <%= render ButtonComponent.new(
        t(".new_server"),
        url: new_server_path,
        variant: :success,
        icon: "plus-lg",
        is_responsive: true
      ) if allowed_to?(:create?) %>
    </div>
  <% end %>
<% end %>

<div class="p-4 border-top d-flex flex-column row-gap-4">
  <%= render FilterComponent.new(@filter) do |c| %>
    <% c.with_form do |f| %>
      <%= pagy_to_hidden_fields(@pagy) %>

      <div class="w-100">
        <fieldset class="form-floating">
          <%= f.text_field :q, class: "form-control", placeholder: t("filters.placeholder.search") %>
          <%= f.label :q %>
        </fieldset>
      </div>

      <div>
        <fieldset class="form-floating">
          <%= f.select(:room_ids, ServerDecorator.rooms_options_for_select(current_user),
                                  { prompt: true, multiple: true },
                                  { class: "form-select", data: { controller: :select } }) %>
          <%= f.label :room_ids %>
        </fieldset>
      </div>

      <div>
        <fieldset class="form-floating">
          <%= f.select(:islet_ids, ServerDecorator.islets_options_for_select(current_user),
                                  { prompt: true, multiple: true },
                                  { class: "form-select", data: { controller: :select } }) %>
          <%= f.label :islet_ids %>
        </fieldset>
      </div>

      <div>
        <fieldset class="form-floating">
          <%= f.collection_select(:manufacturer_ids, Manufacturer.sorted,
                                  :id,
                                  :name,
                                  { prompt: true, multiple: true },
                                  { class: "form-select", data: { controller: :select } }) %>
          <%= f.label :manufacturer_ids %>
        </fieldset>
      </div>

      <div>
        <fieldset class="form-floating">
          <%= f.select(:bay_ids, ServerDecorator.bays_options_for_select(current_user),
                                  { prompt: true, multiple: true },
                                  { class: "form-select", data: { controller: :select } }) %>
          <%= f.label :bay_ids %>
        </fieldset>
      </div>

      <div>
        <fieldset class="form-floating">
          <%= f.select(:frame_ids, ServerDecorator.frames_options_for_select(current_user),
                                  { prompt: true, multiple: true },
                                  { class: "form-select", data: { controller: :select } }) %>
          <%= f.label :frame_ids %>
        </fieldset>
      </div>

      <div>
        <fieldset class="form-floating">
          <%= f.collection_select(:modele_ids, Modele.no_pdus.sorted,
                                  :id,
                                  :name,
                                  { prompt: true, multiple: true },
                                  { class: "form-select", data: { controller: :select } })
                                  %>
          <%= f.label :modele_ids %>
        </fieldset>
      </div>

      <div>
        <fieldset class="form-floating">
          <%= f.collection_select(:gestion_ids, Gestion.sorted,
                                  :id,
                                  :name,
                                  { prompt: true, multiple: true },
                                  { class: "form-select", data: { controller: :select } }) %>
          <%= f.label :gestion_ids %>
        </fieldset>
      </div>

      <div>
        <fieldset class="form-floating">
          <%= f.select(:domaine_ids, ServerDecorator.domains_options_for_select(current_user),
                                  { prompt: true, multiple: true },
                                  { class: "form-select", data: { controller: :select } }) %>
          <%= f.label :domaine_ids %>
        </fieldset>
      </div>

      <div>
        <fieldset class="form-floating">
          <%= f.collection_select(:cluster_ids, Cluster.sorted,
                                  :id,
                                  :name,
                                  { prompt: true, multiple: true },
                                  { class: "form-select", data: { controller: :select } }) %>
          <%= f.label :cluster_ids %>
        </fieldset>
      </div>

      <div>
        <fieldset class="form-floating">
          <%= f.collection_select(:category_ids, Category.sorted,
                                  :id,
                                  :name,
                                  { prompt: true, multiple: true },
                                  { class: "form-select", data: { controller: :select } }) %>
          <%= f.label :category_ids %>
        </fieldset>
      </div>

    <% end %>
  <% end %>

  <%= render ColumnsPreferencesDropdownComponent.new(servers_path(request.query_parameters), @columns_preferences) %>

  <%= turbo_frame_tag(dom_id(Server, :table), data: { turbo_action: :advance }) do %>
    <div class="d-flex flex-column row-gap-4">
      <%= render List::DataTableComponent.new(@servers, columns_to_display: @columns_preferences.preferred) do |table| %>
        <% if allowed_to?(:destroy?) %>
          <% table.with_bulk_action(
            url: bulk_servers_path,
            method: :delete,
            class: "btn btn-danger btn-sm",
            data: { confirm: t("action.confirm") }
          ) do %>
            <span class="bi bi-trash pe-none" title="<%= t("action.delete") %>"></span>
          <% end %>
        <% end %>

        <% table.with_column(Server.human_attribute_name(:name), name: :name, sort_by: :name) do |server| %>
          <%= link_to server.name, server_path(server), class: "fw-bold", data: { turbo_frame: :_top } %>
        <% end %>

        <% table.with_column(Server.human_attribute_name(:numero), name: :numero, sort_by: :numero) do |server| %>
          <%= link_to server.numero, server_path(server), class: "fw-bold", data: { turbo_frame: :_top } %>
        <% end %>

        <% table.with_column(Modele.human_attribute_name(:category), name: :"modele_category_id", sort_by: :"categories.name") do |server| %>
          <%= link_to server.modele.category, category_path(server.modele.category),
                      data: { turbo_frame: :_top } if server.modele.try(:category) %>
        <% end %>

        <% table.with_column(Server.human_attribute_name(:room), name: :room, sort_by: :"rooms.name") do |server| %>
          <%= link_to server.room, room_path(server.room), data: { turbo_frame: :_top } if server.room %>
        <% end %>

        <% table.with_column(Islet.model_name.human, name: :islet_id, sort_by: :"islets.name") do |server| %>
          <%= link_to server.islet, islet_path(server.islet), data: { turbo_frame: :_top } if server.islet %>
        <% end %>

         <% table.with_column(Manufacturer.model_name.human, name: :manufacturer_id, sort_by: :"manufacturer.name") do |server| %>
          <%= link_to server.manufacturer, manufacturer_path(server.manufacturer), data: { turbo_frame: :_top } if server.manufacturer %>
        <% end %>

        <% table.with_column(Bay.model_name.human, name: :bay_id, sort_by: :"bays.id") do |server| %>
          <%= link_to server.bay, bay_path(server.bay), data: { turbo_frame: :_top } if server.bay %>
        <% end %>

        <% table.with_column(Server.human_attribute_name(:network_types), name: :network_types) do |server| %>
          <%= server.decorated.network_types_to_human %>
        <% end %>

        <% table.with_column(Server.human_attribute_name(:position), name: :position, sort_by: :position) do |server| %>
          <%= server.position %>
        <% end %>

        <% table.with_column(Gestion.model_name.human, name: :gestion_id) do |server| %>
          <%= link_to server.gestion, gestion_path(server.gestion), data: { turbo_frame: :_top } if server.gestion %>
        <% end %>

        <% table.with_column(Domaine.model_name.human, name: :domaine_id) do |server| %>
          <%= link_to server.domaine, domaine_path(server.domaine), data: { turbo_frame: :_top } if server.domaine %>
        <% end %>

        <% table.with_column(Modele.model_name.human, name: :modele_id) do |server| %>
          <%= link_to server.modele.name, modele_path(server.modele), data: { turbo_frame: :_top } if server.modele %>
        <% end %>

        <% table.with_column(Server.human_attribute_name(:u), name: :u, sort_by: :"modele.u") do |server| %>
          <%= server.modele.u %>
        <% end %>

        <% table.with_column(Frame.model_name.human, name: :frame_id) do |server| %>
          <%= link_to server.frame, frame_path(server.frame), data: { turbo_frame: :_top } if server.frame %>
        <% end %>

        <% table.with_column(Cluster.model_name.human, name: :cluster_id) do |server| %>
          <%= link_to server.cluster, cluster_path(server.cluster), data: { turbo_frame: :_top } if server.cluster %>
        <% end %>

        <% table.with_column(Stack.model_name.human, name: :stack_id) do |server| %>
          <%= link_to server.stack, stack_path(server.stack), data: { turbo_frame: :_top } if server.stack %>
        <% end %>

        <% table.with_column(Server.human_attribute_name(:slug), name: :slug, sort_by: :slug) do |server| %>
          <%= server.slug %>
        <% end %>

        <% table.with_column(Server.human_attribute_name(:side), name: :side, sort_by: :side) do |server| %>
          <%= server.side %>
        <% end %>

        <% table.with_column(Color.model_name.human, name: :color) do |server| %>
          <% if server.color %>
            <%= tag.div class: "w-100 h-100", style: "background-color:#{server.color.code}" do %>
              &nbsp;
            <% end %>
          <% end %>
        <% end %>

        <% table.with_column(Server.human_attribute_name(:comment), name: :comment, sort_by: :comment) do |server| %>
          <%= server.comment %>
        <% end %>

        <% table.with_column(Server.human_attribute_name(:critique), name: :critique, sort_by: :critique) do |server| %>
          <%= t("boolean.#{server.critique}") %>
        <% end %>

        <% table.with_column(text_align: :center, style: "min-width: 100px; width: 100px") do |server| %>
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <% if allowed_to?(:export_cables?, server) %>
              <button class="btn btn-outline-primary"
                      data-bs-title="<%= t("servers.show.export_cta_tooltip") %>"
                      data-aria-label="<%= t("servers.show.export_cta_tooltip") %>"
                      data-bs-trigger="hover"
                      data-controller="dynamic-export-pdf tooltip"
                      data-action="click->dynamic-export-pdf#export"
                      data-dynamic-export-pdf-has-button-icon-value="true"
                      data-dynamic-export-pdf-filename-param="<%= server.friendly_id %>"
                      data-dynamic-export-pdf-urls-param="<%= [export_cables_server_path(server)].to_json %>"
                      data-bs-placement="left">
                <span class="spinner-border spinner-border-sm d-flex d-none"
                      role="status"
                      aria-hidden="true"
                      data-dynamic-export-pdf-target="spinner"></span>
                <span class="bi bi-file-earmark-pdf" data-dynamic-export-pdf-target="buttonIcon"></span>
              </button>
            <% end %>

            <% if allowed_to?(:duplicate?, server) %>
              <%= link_to duplicate_server_path(server), class: "btn btn-success", data: { turbo_frame: :_top } do %>
                <span class="bi bi-copy" title="<%= t("action.duplicate") %>" aria-hidden="true"
                                                                              data-controller="tooltip"
                                                                              data-bs-placement="left"></span>
                <span class="visually-hidden"><%= t("action.duplicate") %></span>
              <% end %>
            <% end %>

            <% if allowed_to?(:update?, server) %>
              <%= link_to edit_server_path(server), class: "btn btn-info", data: { turbo_frame: :_top } do %>
                <span class="bi bi-pencil" title="<%= t("action.edit") %>" aria-hidden="true"
                                                                          data-controller="tooltip"
                                                                          data-bs-placement="left"></span>
                <span class="visually-hidden"><%= t("action.edit") %></span>
              <% end %>
            <% end %>

            <% if allowed_to?(:destroy?, server) %>
              <%= link_to server_path(server, @filter.attributes),
                          method: :delete,
                          data: { turbo_frame: :_top },
                          class: "btn btn-danger" do %>
                <span class="bi bi-trash" title="<%= t("action.delete") %>" aria-hidden="true"
                                                                            data-controller="tooltip"
                                                                            data-bs-placement="left"></span>
                <span class="visually-hidden"><%= t("action.delete") %></span>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <div class="d-flex justify-content-between align-items-center">
        <%== render PaginationComponent.new(pagy: @pagy) %>

        <% if allowed_to?(:export?) %>
          <span class="ms-auto">
            <%= render ExportDropdownComponent.new(
              url: :export_servers_path,
              pagy: @pagy,
              **request.query_parameters
            ) %>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
