<% provide(:title, t(".title")) %>
<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  Server.model_name.human.pluralize => servers_path,
  t(".title") => ''
}%>

<div class="container">
  <div class="page-header">
    <%= link_to servers_path, class: 'btn btn-default' do %>
      <span class="bi bi-list-ul"></span>
      <%= t("action.back") %>
    <% end %>

    <h1><%= t(".title") %></h1>
  </div>

  <%= render 'form' %>
</div>
