<% provide(:title, t(".title")) %>
<%= render 'layouts/breadcrumb', breadcrumb_variables: {
    t("inventories") => servers_url,
    Server.model_name.human.pluralize => servers_path,
    t(".title") => ''
}%>

<div class="container">
  <div class="page-header">
    <%= link_to servers_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      <%= t("actions.back") %>
    <% end %>
    <h1>
      <%= t(".title") %>
    </h1>
  </div>

  <%= render 'form' %>
</div>
