<% title = "#{@server.modele.try(:category).try(:name)} #{@server.name}" %>
<% provide(:title, title) %>
<%= render 'layouts/breadcrumb', breadcrumb_variables: { t("visualization") => overview_rooms_path,
                                                         @server.frame.room.name => room_path(@server.frame.room, view: params[:view]),
                                                         t("breadcrumbs.islet", name: @server.frame.islet.name) => room_path(@server.frame.room, islet: @server.frame.islet.name, :view => params[:view], bg: params[:bg]),
                                                         t("breadcrumbs.bays.double", name: @server.frame.bay) => room_path(@server.frame.room, islet: @server.frame.islet.name, 'bay-id': @server.frame.bay_id, view: params[:view]),
                                                         t("breadcrumbs.bays.simple", name: @server.frame.name) => frame_path(@server.frame, view: params[:view]),
                                                         @server.name => '' } %>

<div class="container">

  <div class="col-12" style="margin-bottom: 2em">
    <div class="page-header">
      <%= link_to edit_server_path(@server.slug), class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        <%= t("actions.edit") %>
      <% end %>
      <h1><%= title %></h1>
    </div>
    <%= link_to t(".back_to_bay", name: @server.frame.try(:name)), frame_path(@server.frame, :view => params[:view]), class: 'btn btn-default', style: 'text-decoration: underline;' if @server.frame %>
  </div>

  <div class="col-12" style="margin-bottom: 2em;padding-right: 15px;padding-left: 15px;">
    <% bgModeleColor = define_background_color(server: @server, mode: params['bg']) %>
    <div class="detailed_server list-group-item" style="background-color:<%= bgModeleColor %> !important;">
      <%= render partial: 'draw_server_compact_front', locals: { server: @server } %>
      <span class="clearfix"></span>
    </div>

    <div class="detailed_server list-group-item">
      <span id="back_server_<%= @server.id %>">
         <%= render partial: 'servers/draw_server_compact', locals: { server: @server } %>
      </span>
    </div>
  </div>

  <% if @server.comment.present? %>
    <div class="col-12" style="margin-bottom: 2em;padding-right: 15px;padding-left: 15px;">
      <div class="alert alert-warning">
        <%= @server.comment %>
      </div>
    </div>
  <% end %>

  <div class="col-lg-6">
    <div class="panel panel-primary">
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt><%= Bay.model_name.human %> :</dt>
          <dd><%= @server.frame.try(:name) %></dd>

          <dt><%= Islet.model_name.human %> :</dt>
          <dd><%= @server.frame.try(:islet) %></dd>

          <dt><%= Room.model_name.human %> :</dt>
          <dd><%= @server.frame.try(:room).try(:name) %></dd>

          <dt><%= Category.model_name.human %> :</dt>
          <dd><%= @server.modele.try(:category) %></dd>

          <dt><%= t(".nb_elts") %>:</dt>
          <dd><%= @server.modele.try(:nb_elts) %></dd>

          <dt><%= Architecture.model_name.human %> :</dt>
          <dd><%= @server.modele.try(:architecture) %></dd>

          <dt><%= t(".nb_u") %> :</dt>
          <dd><%= @server.modele.try(:u) %></dd>

          <dt><%= Server.human_attribute_name(:position) %> :</dt>
          <dd><%= @server.position %></dd>

          <dt><%= Manufacturer.model_name.human %> :</dt>
          <dd>
            <%= @server.modele.try(:manufacturer) %>
            <% if (documentation_url = @server.documentation_url).present? %>
              (
                <%= link_to t(".documentation"), documentation_url, target: :_blank, rel: :noopener %>
              )
            <% end %>
          </dd>

          <dt><%= Modele.model_name.human %> :</dt>
          <dd><%= link_to @server.modele, edit_modele_path(@server.modele) if @server.modele.try(:name) %></dd>

          <dt><%= Server.human_attribute_name(:numero) %> :</dt>
          <dd><%= @server.try(:numero) %></dd>

          <dt><%= Cluster.model_name.human %> :</dt>
          <dd><%= @server.cluster.try(:name) %></dd>

          <dt><%= Server.human_attribute_name(:critique) %> :</dt>
          <dd><%= @server.critique ? t("confirmation.yes").upcase : t("confirmation.no") %></dd>

          <dt><%= Domaine.model_name.human %> :</dt>
          <dd><%= @server.domaine %></dd>

          <dt><%= Gestion.model_name.human %> :</dt>
          <dd><%= @server.gestion %></dd>

          <dt><%= ServerState.model_name.human %> :</dt>
          <dd><%= @server.server_state %></dd>

          <dt><%= Stack.model_name.human %> :</dt>
          <dd>
            <% if @server.stack_id.present? %>
              <span style="<%= "color: ##{@server.stack.try(:color)}" %>" class="glyphicon glyphicon-stop" aria-hidden="true"></span>
            <% end %>
          </dd>

          <dt><%= Card.model_name.human.pluralize %> :</dt>
          <% nb_cards = 0 %>
          <% @server.modele.composants.slots.each do |slot| %>
            <% @server.cards.where(:composant_id => slot.id).each do |card| %>
              <dd><%= card.composant.name ? card.composant.name : card.composant.position %>
                : <%= "#{card.card_type.try(:name)} (#{card.card_type.try(:port_quantity)}#{card.card_type.try(:port_type).try(:name)})" %></dd>
              <% nb_cards += 1 %>
            <% end %>
          <% end if @server.modele.present? %>
          <%= '<dd/>'.html_safe if nb_cards == 0 %>

          <dt><%= Disk.model_name.human.pluralize %> :</dt>
          <% @server.disks.each do |disk| %>
            <dd><%= disk %></dd>
          <% end.empty? && begin %>
            <dd/>
          <% end %>

          <dt><%= MemoryComponent.model_name.human %> :</dt>
          <% @server.memory_components.each do |memory_component| %>
            <dd><%= memory_component %></dd>
          <% end.empty? && begin %>
            <dd/>
          <% end %>

        </dl>
      </div>
    </div>
  </div>


  <div class="col-lg-6">
    <% if @server.photo.attached? %>
      <%= image_tag @server.photo.variant(geometry: "x220"), class: "server_photo", style: "margin-left:0;" %>
      <br/>
    <% end %>
    <% if @server.documents.present? %>
      <div class="panel panel-primary">
        <div class="panel-body">
          <H5>
            <%= t(".attached_documents") %>
          </H5>
          <ul>
            <% @server.documents.each do |doc| %>
              <li><%= link_to(doc.document.metadata['filename'], doc.document_url, { target: '_blank' }) if doc.document.present? %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-lg-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <%= t(".glpi_data") %>
      </div>
      <%
        begin
          Timeout.timeout(3) do
            client = GlpiClient.new
            computer = client.computer(serial: Rails.env.production? ? @server.numero : "AZERTY") %>
          <% if computer.present? %>
            <div class="panel-body">
              <%= t("computer.name") %> : <b><%= computer.name %></b><br>
              <%= t("computer.id") %> : <b><%= computer.id %></b><br>
              <%= t("computer.serial") %> : <b><%= computer.serial %></b><br>
              <%= t("computer.contact") %> : <b><%= computer.contact %></b><br>
            </div>
            <div class="panel-body">
              <%= t("computer.disks_count") %> : <b><%= computer.hard_drives&.size %></b><br>
              <%= t("computer.disks_capacity") %> : <b><%= number_to_human_size(computer.hard_drives_total_capacity * 1048576) %></b><br>
              <%= t("computer.memories_count") %> : <b><%= computer.memories&.size %></b><br>
              <%= t("computer.memories_total") %> : <b><%= number_to_human_size(computer.memories_total_size * 1048576) %></b><br>
              <%= t("computer.cpus") %> :
              <b><%= computer.processors.group_by { |p| p[1]['designation'] }.map { |designation, processors| "#{processors.size} x #{designation}" }.join(', ') %></b><br>
            </div>
            <div class="panel-footer">
              <%= link_to t(".glpi_visit_page"),
                          "#{Rails.application.credentials.glpi_url}/front/computer.form.php?id=#{computer.id}",
                          target: '_blank' %>
            </div>
          <% else %>
            <div class="panel-body">
              <%= t(".no_match_serial", serial: @server.serial) %>
            </div>
          <% end %>
        <% end
           rescue Timeout::Error => e
             Rails.logger.warn "WARNING: couldn't get GLPI data because the operation timed out"
           rescue Exception => e
             Rails.logger.warn "WARNING: couldn't get GLPI data because of an error: #{e.message}" %>
        <div class="panel-body">
          <%= t(".glpi_connection_error") %> : <pre><code><%= e&.message.to_s %></code></pre>
        </div>
      <% end
      %>

    </div>
  </div>

</div>

<%= render 'ports/modal_edit_port' %>
