<%= render 'layouts/breadcrumb', params: {"Salles" => overview_rooms_path,
                                          @server.frame.room.name => room_path(@server.frame.room),
                                          "Ilot #{@server.frame.islet.name}" => islet_rooms_path(id: @server.frame.room.id, islet: @server.frame.islet.name, :view => params[:view], bg: params[:bg]),
                                          "Baie #{@server.frame.name}" => frame_path(@server.frame),
                                          @server.name => ''} %>

<div class="page-header">
  <%= link_to edit_server_path(@server), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editer
  <% end %>
  <h1><%= "#{@server.modele.try(:category).try(:name)} #{@server.name}" %></h1>
</div>

<p><%= link_to "<< Baie #{@server.frame.try(:name)}", frame_path(@server.frame, :view => params[:view]), class: 'btn btn-default', style: 'text-decoration: underline;' if @server.frame %></p>

<div class="detailed_server list-group-item">
  <%= render 'draw_server_compact_front.html.erb', server: @server %>
  <span class="clearfix"></span>
</div>

<div class="detailed_server list-group-item">
  <% case @server.modele.try(:category_id) %>
  <% when Category.find_by_name('Blank Panel').try(:id) %>
    <%= render 'draw_blank_panel', server: @server %>
  <% when Category.find_by_name('Patch Panel').try(:id) %>
    <%= render 'draw_patch_panel', server: @server %>
  <% else %>
    <span id="back_server_<%= @server.id %>">
       <%= render 'servers/draw_server_compact.html.erb', server: @server %>
    </span>
    <span class="clearfix"></span>
  <% end %>
</div>


<% if @server.comment.present? %>
  <div class="panel alert-warning">
      <%= @server.comment %>
  </div>
<% end %>

<div class="col-lg-6">
  <div class="panel panel-body">
    <dl class="dl-horizontal">
      <dt>Frame:</dt>
      <dd><%= @server.frame.try(:name) %></dd>

      <dt>Ilot:</dt>
      <dd><%= @server.frame.try(:islet) %></dd>

      <dt>Room:</dt>
      <dd><%= @server.frame.try(:room).try(:name) %></dd>

      <dt>Categorie:</dt>
      <dd><%= @server.modele.try(:category) %></dd>

      <dt>Nb elts:</dt>
      <dd><%= @server.modele.try(:nb_elts) %></dd>

      <dt>Architecture:</dt>
      <dd><%= @server.modele.try(:architecture) %></dd>

      <dt>U:</dt>
      <dd><%= @server.modele.try(:u) %></dd>

      <dt>Position:</dt>
      <dd><%= @server.position %></dd>

      <dt>Marque:</dt>
      <dd><%= @server.modele.try(:marque) %></dd>

      <dt>Modele:</dt>
      <dd><%= link_to @server.modele, edit_modele_path(@server.modele) if @server.modele.try(:name) %></dd>

      <dt>Numero:</dt>
      <dd><%= @server.try(:numero) %></dd>

      <dt>Conso:</dt>
      <dd><%= @server.conso %></dd>

      <dt>Cluster:</dt>
      <dd><%= @server.cluster.try(:name) %></dd>

      <dt>Critique:</dt>
      <dd><%= @server.critique ? 'OUI' : 'non' %></dd>

      <dt>Domaine:</dt>
      <dd><%= @server.domaine %></dd>

      <dt>Gestionnaire:</dt>
      <dd><%= @server.gestion %></dd>

      <dt>Etat :</dt>
      <dd><%= @server.server_state %></dd>

      <dt>Cartes :</dt>
      <% nb_cards = 0 %>
      <% @server.modele.composants.where(type_composant_id: 4).each do |slot| %>
        <% @server.cards.where(:composant_id => slot.id).each do |card| %>
          <dd><%= card.composant.name ? card.composant.name : card.composant.position %> : <%= "#{card.card_type.try(:name)} (#{card.card_type.try(:port_quantity)}#{card.card_type.try(:port_type).try(:name)})" %></dd>
          <% nb_cards+=1 %>
        <% end %>
      <% end if @server.modele.present? %>
      <%= '<dd/>'.html_safe if nb_cards == 0 %>

      <dt>Disques :</dt>
      <% @server.disks.each do |disk| %>
        <dd><%= disk %></dd>
      <% end.empty? && begin %>
        <dd/>
      <% end %>

      <dt>RAM :</dt>
      <% @server.memory_components.each do |memory_component| %>
        <dd><%= memory_component %></dd>
      <% end.empty? && begin %>
          <dd/>
      <% end %>

      <dt>Couleur des ports :</dt>
      <dd><%= @server.port_color %></dd>

      <dt>Commentaire :</dt>
      <dd><%= @server.comment %></dd>

    </dl>

  </div>
</div>

<div class="col-lg-6">
  <div class="panel panel-body">

    <H5>CMDB / GLPI :</H5>

    <%= link_to 'Voir la page du serveur sur GLPI', (@server.name.present? ? "https://cmdb.cs.e2.rie.gouv.fr/serveurs/#{@server.name.downcase}" : "https://cmdb.cs.e2.rie.gouv.fr/serial/#{@server.numero}" ), target: '_blank' %>

    <!--
    <% if @server.maintenance_contract.present? %>
      <dl class="dl-horizontal">
        <dt>Mainteneur :</dt>
        <dd><%= @server.maintenance_contract.maintainer %></dd>
        <dt>Type de contrat : </dt>
        <dd><%= @server.maintenance_contract.contract_type %></dd>
        <dt>Date de début : </dt>
        <dd><%= @server.maintenance_contract.start_date %></dd>
        <dt>Date de fin : </dt>
        <dd><%= @server.maintenance_contract.end_date %></dd>
      </dl>
      <%= link_to 'Modifier le contrat de maintenance', edit_maintenance_contract_path(id: @server.maintenance_contract.id) %>
    <% else %>
      <%= link_to 'Ajouter un contrat de maintenance', new_maintenance_contract_path(server_id: @server.id) %>
    <% end %>
    -->

  </div>
</div>

<%= render 'ports/modal_edit_port' %>
