<td><%= link_to user.id, user %></td>
<td><%= user.email %></td>
<td><%= l user.last_sign_in_at %></td>
<td><%= l user.created_at %></td>
<td>
  <%= form_for(user) do |f| %>
    <%= f.select(:role, User.roles.keys.map {|role| [User.human_attribute_name("role.#{role}"), role]}) %>
    <%= f.submit t(".change_role"), class: "button-xs" %>
  <% end %>
</td>
<td>
  <%= link_to(t("action.delete"), user_path(user), data: { confirm: t("action.confirm") }, method: :delete, class: "button-xs btn-danger pull-right") unless user == current_user %>
</td>
