<% provide(:title, User.model_name.human.pluralize) %>
<%= render "layouts/breadcrumb", breadcrumb_variables: { User.model_name.human.pluralize => "" } %>

<div class="container well">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <%= link_to new_user_path, class: "btn btn-primary" do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t(".new_user") %>
        <% end %>
        <h1><%= User.model_name.human.pluralize %></h1>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th><%= User.human_attribute_name(:id) %></th>
            <th><%= User.human_attribute_name(:email) %></th>
            <th><%= User.human_attribute_name(:last_sign_in_at) %></th>
            <th><%= User.human_attribute_name(:created_at) %></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <%= render user %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
