<% provide(:title, User.model_name.human.pluralize) %>
<%= render "layouts/breadcrumb", breadcrumb_variables: { User.model_name.human.pluralize => "" } %>

<div class="container well">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header d-flex justify-content-between">
        <div>
          <h1><%= User.model_name.human.pluralize %></h1>
          <ul class="nav nav-pills mb-2" role="tablist">
            <li role="presentation" class="nav-item">
              <%= link_to users_path, class: class_names("nav-link", "active": !params[:filter]) do %>
                <%= t(".unsuspended") %>
                <span class="<%= class_names("badge text-bg-primary", "text-bg-light": !params[:filter]) %>">
                  <%= User.unsuspended.count %>
                </span>
              <% end %>
            </li>
            <li role="presentation" class="nav-item">
              <%= link_to users_path(filter: :suspended), class: class_names("nav-link", "active": params[:filter] == "suspended") do %>
                <%= t(".suspended") %>
                <span class="<%= class_names("badge text-bg-primary", "text-bg-light": params[:filter] == "suspended") %>">
                  <%= User.suspended.count %>
                </span>
              <% end %>
            </li>
          </ul>
        </div>
        <%= link_to new_user_path, class: "btn btn-success align-self-center" do %>
          <span class="bi bi-plus"></span>
          <%= t(".new_user") %>
        <% end %>
      </div>

      <%= render List::DataTableComponent.new(@users) do |table| %>
        <% table.with_column(User.human_attribute_name(:id), sort_by: :id) do |user| %>
          <%= link_to user.id, user %>
        <% end %>

        <% table.with_column(User.human_attribute_name(:email), sort_by: :email) do |user| %>
          <%= user.email %>
        <% end %>

        <% table.with_column(User.human_attribute_name(:last_sign_in_at), sort_by: :last_sign_in_at) do |user| %>
          <%- if user.last_sign_in_at.present? -%>
            <%= l user.last_sign_in_at  %>
          <%- else -%>
            <em>n/c</em>
          <%- end -%>
        <% end %>

        <% table.with_column(User.human_attribute_name(:created_at), sort_by: :created_at) do |user| %>
          <%= l user.created_at %>
        <% end %>

        <% table.with_column(User.human_attribute_name(:role), sort_by: :role) do |user| %>
          <%= form_for(user) do |f| %>
            <%= f.select(:role, User.roles.keys.map { |role| [User.human_attribute_name("role.#{role}"), role] }) %>
            <%= f.submit t(".change_role"), class: "btn btn-sm btn-primary" %>
          <% end %>
        <% end %>

        <% table.with_column do |user| %>
          <% unless user == current_user %>
            <div class="btn-group btn-group-sm" role="group" aria-label="...">
              <% if user.suspended? %>
                <%= link_to suspend_user_path(user), data: { confirm: t("action.confirm") }, method: :patch, class: "btn btn-outline-secondary" do %>
                  <!-- <i class="bi bi-unlock"></i> -->
                  <%= t("action.unsuspend") %>
                <% end %>
              <% else %>
                <%= link_to suspend_user_path(user), data: { confirm: t("action.confirm") }, method: :patch, class: "btn btn-outline-secondary" do %>
                  <!-- <i class="bi bi-lock"></i> -->
                  <%= t("action.suspend") %>
                <% end %>
              <% end %>
              <%= link_to user_path(user), method: :delete, data: { confirm: t("action.confirm") }, class: 'btn btn-danger' do %>
                <span class="bi bi-trash" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="<%= t("action.delete") %>"></span>
                <span class="visually-hidden"><%= t("action.delete") %></span>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
