<%
  breadcrumb.add_step(title = User.model_name.human.pluralize)
%>

<%= render Page::HeadingComponent.new(title:, breadcrumb:) do |heading| %>
  <% heading.with_right_content do %>
    <% render ButtonComponent.new(t(".new_user"),
                                  url: new_user_path,
                                  variant: :success,
                                  icon: "plus-lg",
                                  is_responsive: true) %>
  <% end %>
<% end %>

<div class="p-4 border-top d-flex flex-column row-gap-4">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills mb-2" role="tablist">
        <li role="presentation" class="nav-item">
          <%= link_to users_path, class: class_names("nav-link", "active": !params[:filter]) do %>
            <%= t(".unsuspended") %>
            <%= render BadgeComponent.new(User.unsuspended.count,
                                          color: params[:filter].present? ? :primary : :light) %>
          <% end %>
        </li>
        <li role="presentation" class="nav-item">
          <%= link_to users_path(filter: :suspended),
                      class: class_names("nav-link", "active": params[:filter] == "suspended") do %>
            <%= t(".suspended") %>
            <%= render BadgeComponent.new(User.suspended.count,
                                          color: params[:filter] == "suspended" ? :light : :primary) %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <%= render List::DataTableComponent.new(@users) do |table| %>
    <% table.with_column(User.human_attribute_name(:id), sort_by: :id) do |user| %>
      <%= link_to user.id, user %>
    <% end %>

    <% table.with_column(User.human_attribute_name(:email), sort_by: :email) do |user| %>
      <%= user.email %>
    <% end %>

    <% table.with_column(User.human_attribute_name(:last_sign_in_at), sort_by: :last_sign_in_at) do |user| %>
      <%- if user.last_sign_in_at.present? -%>
        <%= l user.last_sign_in_at  %>
      <%- else -%>
        <em>n/c</em>
      <%- end -%>
    <% end %>

    <% table.with_column(User.human_attribute_name(:created_at), sort_by: :created_at) do |user| %>
      <%= l user.created_at %>
    <% end %>

    <% table.with_column(User.human_attribute_name(:role), sort_by: :role) do |user| %>
      <%= form_for(user) do |f| %>
        <div class="align-items-center d-flex flex-column flex-lg-row gap-1">
          <%= f.select(:role,
                       User.roles.keys.map { |role| [User.human_attribute_name("role.#{role}"), role] },
                       {},
                       class: "form-select form-select-sm") %>
          <%= f.submit t(".change_role"), class: "btn btn-sm btn-outline-info" %>
        </div>
      <% end %>
    <% end %>

    <% table.with_column do |user| %>
      <% unless user == current_user %>
        <div class="btn-group btn-group-sm" role="group" aria-label="...">
          <% if user.suspended? %>
            <%= link_to unsuspend_user_path(user), data: { confirm: t("action.confirm") },
                                                    method: :patch,
                                                    class: "btn btn-outline-primary" do %>
              <span class="bi bi-unlock" title="<%= t("action.unsuspend") %>" aria-hidden="true"
                                                                              data-controller="tooltip"
                                                                              data-bs-placement="left"></span>
              <span class="visually-hidden"><%= t("action.unsuspend") %></span>
            <% end %>
          <% else %>
            <%= link_to suspend_user_path(user), data: { confirm: t("action.confirm") },
                                                  method: :patch,
                                                  class: "btn btn-outline-primary" do %>
              <span class="bi bi-lock" title="<%= t("action.suspend") %>" aria-hidden="true"
                                                                          data-controller="tooltip"
                                                                          data-bs-placement="left"></span>
              <span class="visually-hidden"><%= t("action.suspend") %></span>
            <% end %>
          <% end %>
          <% if allowed_to?(:edit?, user) %>
            <%= link_to edit_user_path(user), class: "btn btn-outline-primary" do %>
              <span class="bi bi-pencil" title="<%= t("action.edit") %>" aria-hidden="true"
                                                                          data-controller="tooltip"
                                                                          data-bs-placement="left"></span>
              <span class="visually-hidden"><%= t("action.edit") %></span>
            <% end %>
          <% end %>
          <%= link_to user_path(user), method: :delete, data: { confirm: t("action.confirm") },
                                                        class: "btn btn-danger" do %>
            <span class="bi bi-trash" title="<%= t("action.delete") %>" aria-hidden="true"
                                                                        data-controller="tooltip"
                                                                        data-bs-placement="left"></span>
            <span class="visually-hidden"><%= t("action.delete") %></span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
