<%- user_label = @user.name || @user.email %>
<% provide(:title, "#{User.model_name.human.pluralize} | #{user_label}") %>
<%= render "layouts/breadcrumb", breadcrumb_variables: { User.model_name.human.pluralize => users_url, user_label => '' } %>

<div class="container" data-controller="reveal">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1><%= user_label %></h1>
      </div>

      <dl class="dl-horizontal">
        <dt><%= User.human_attribute_name(:id) %> :</dt>
        <dd><%= @user.id %></dd>

        <dt><%= User.human_attribute_name(:name) %> :</dt>
        <dd><%= @user.name %></dd>

        <dt><%= User.human_attribute_name(:email) %> :</dt>
        <dd><%= @user.email %></dd>

        <dt><%= User.human_attribute_name(:role) %> :</dt>
        <dd><%= User.human_attribute_name("role.#{@user.role}") %></dd>

        <dt><%= User.human_attribute_name(:last_sign_in_at) %> :</dt>
        <dd><%= l @user.last_sign_in_at, format: :long if @user.last_sign_in_at %></dd>

        <dt><%= User.human_attribute_name(:created_at) %> :</dt>
        <dd><%= l @user.created_at, format: :long %></dd>

        <dt><%= User.human_attribute_name(:authentication_token) %> :</dt>
        <dd>
          <% if @user.authentication_token %>
            <code>
              <span data-reveal-target="item" class="hidden">
                <%= @user.authentication_token %>
              </span>
              <span data-reveal-target="item">
                <%= "*" * @user.authentication_token.length %>
              </span>
            </code>
            <button class="btn btn-outline-secondary btn-xs" data-action="click->reveal#toggle" type="button">
              <span data-reveal-target="item">
                <%= t(".action.show_authentication_token") %>
              </span>
              <span data-reveal-target="item" class="hidden">
                <%= t(".action.hide_authentication_token") %>
              </span>
            </button>
          <% end %>
        </dd>
      </dl>
    </div>
  </div>
</div>
