<%
  title = @user.name || @user.email

  breadcrumb.add_step(title)
%>

<%= render Page::HeadingShowComponent.new(resource: @user, title:, breadcrumb:) %>

<div class="col-12 p-4 border-top">
  <div class="col-12 col-lg-6">
    <%= render CardComponent.new do |card| %>
      <dl class="show-page_dl d-grid row-gap-2 mb-0" data-controller="reveal" data-reveal-hidden-class="d-none">
        <dt class="pb-2"><%= User.human_attribute_name(:name) %></dt>
        <dd class="mb-0 pb-2 ps-3"><%= @user.name %></dd>

        <dt class="pb-2"><%= User.human_attribute_name(:email) %></dt>
        <dd class="mb-0 pb-2 ps-3"><%= @user.email %></dd>

        <dt class="pb-2"><%= User.human_attribute_name(:role) %></dt>
        <dd class="mb-0 pb-2 ps-3">
          <%= render @user.decorated.role_to_badge_component %>
        </dd>

        <dt class="pb-2"><%= User.human_attribute_name(:last_sign_in_at) %></dt>
        <dd class="mb-0 pb-2 ps-3"><%= l @user.last_sign_in_at, format: :long if @user.last_sign_in_at %></dd>

        <dt class="pb-2"><%= User.human_attribute_name(:created_at) %></dt>
        <dd class="mb-0 pb-2 ps-3"><%= l @user.created_at, format: :long %></dd>

        <dt class="pb-2"><%= User.human_attribute_name(:authentication_token) %></dt>
        <dd class="mb-0 pb-2 ps-3">
          <% if @user.authentication_token %>
            <code>
              <span data-reveal-target="item" class="d-none">
                <%= @user.authentication_token %>
              </span>
              <span data-reveal-target="item">
                <%= "*" * @user.authentication_token.length %>
              </span>
            </code>
            <button class="btn btn-outline-primary btn-sm" data-action="click->reveal#toggle" type="button">
              <span data-reveal-target="item">
                <%= t(".action.show_authentication_token") %>
              </span>
              <span data-reveal-target="item" class="d-none">
                <%= t(".action.hide_authentication_token") %>
              </span>
            </button>
          <% end %>
        </dd>
      </dl>
    <% end %>
  </div>
</div>
