<h1 class="mb-3 h3 fw-normal text-center"><%= t(".title") %></h1>
<%= render FormErrorsComponent.new(resource) %>
<%= form_for(resource, as: resource_name, url: password_path(resource_name),
                                          html: { role: "form", method: :put }) do |f| %>
  <fieldset class="form-floating">
    <%= f.password_field :password, class: "form-control mb-n2 rounded-bottom-0",
                                    placeholder: User.human_attribute_name(:password) %>
    <%= f.label :password, class: "form-label" %>
  </fieldset>
  <fieldset class="form-floating mb-4">
    <%= f.password_field :password_confirmation, class: "form-control rounded-top-0",
                                                 placeholder: User.human_attribute_name(:password_confirmation) %>
    <%= f.label :password_confirmation, class: "form-label" %>
  </fieldset>
  <%= f.hidden_field :reset_password_token %>
  <%= f.submit t("action.edit"), class: "btn btn-primary w-100 py-2" %>
<% end %>
