<% breadcrumb.add_step(title = PermissionScope.model_name.human.pluralize) %>

<%= render Page::HeadingComponent.new(title:, breadcrumb:) do |heading| %>
  <% heading.with_right_content do %>
    <% render ButtonComponent.new(t(".new_permission_scope"),
                                  url: new_permission_scope_path,
                                  variant: :success,
                                  icon: "plus-lg",
                                  is_responsive: true) %>
  <% end %>
<% end %>

<div class="p-4 border-top d-flex flex-column row-gap-4">
  <%= render List::DataTableComponent.new(@permission_scopes) do |table| %>
    <% table.with_column(PermissionScope.human_attribute_name(:name)) do |permission_scope| %>
      <%= link_to permission_scope.name, permission_scope_path(permission_scope) %>
    <% end %>

    <% table.with_column(PermissionScope.human_attribute_name(:user_ids)) do |permission_scope| %>
      <%= permission_scope.users.size %>
    <% end %>

    <% table.with_column(PermissionScope.human_attribute_name(:domaine_ids)) do |permission_scope| %>
      <% if permission_scope.all_domains? %>
        <%= PermissionScope.human_attribute_name(:all_domains) %>
      <% else %>
        <%= permission_scope.domaines.map(&:name).join(", ") %>
      <% end %>
    <% end %>

    <% table.with_column(style: "min-width: 70px; width: 70px") do |permission_scope| %>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <%= link_to permission_scope_path(permission_scope), class: "btn btn-primary"  do %>
          <span class="bi bi-eye"
                title="<%= t("action.show") %>"
                data-controller="tooltip"
                data-bs-placement="left"
                aria-hidden="true"></span>
          <span class="visually-hidden"><%= t("action.show") %></span>
        <% end %>
        <%= link_to edit_permission_scope_path(permission_scope), class: "btn btn-info" do %>
          <span class="bi bi-pencil"
                title="<%= t("action.edit") %>"
                data-controller="tooltip"
                data-bs-placement="left"
                aria-hidden="true"></span>
          <span class="visually-hidden"><%= t("action.edit") %></span>
        <% end %>
        <%= link_to permission_scope_path(permission_scope),
                    method: :delete,
                    data: { confirm: t(".delete_confirmation") },
                    class: "btn btn-danger" do %>
          <span class="bi bi-trash"
                title="<%= t("action.delete") %>"
                data-controller="tooltip"
                data-bs-placement="left"
                aria-hidden="true"></span>
          <span class="visually-hidden"><%= t("action.delete") %></span>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
