<%
  breadcrumb.add_step(title = @permission_scope)
%>

<%= render Page::HeadingShowComponent.new(resource: @permission_scope, title:, breadcrumb:) %>

<div class="col-12 p-4 border-top">
  <div class="row row-cols-1 row-cols-lg-2 row-gap-4">
    <div class="col">
      <%= render CardComponent.new do |card| %>
        <% card.with_header do %>
          <%= t("show.cards.identification") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <% %i[name].each do |attribute_name| %>
            <dt class="pb-2"><%= PermissionScope.human_attribute_name(attribute_name) %> :</dt>
            <dd class="mb-0 pb-2 ps-3"><%= @permission_scope.public_send(attribute_name) %></dd>
          <% end %>
        </dl>
      <% end %>

      <%= render CardComponent.new(extra_classes: "mt-4") do |card| %>
        <% card.with_header do %>
          <%= PermissionScope.human_attribute_name(:domaine_ids) %>
        <% end %>

        <% card.with_body(extra_classes: { "p-0": !@permission_scope.all_domains? } ) do %>
          <% if @permission_scope.all_domains? %>
            <%= PermissionScope.human_attribute_name(:all_domains) %>
          <% else %>
            <ul class="list-group list-group-flush show-page_list-group-flush">
              <% @permission_scope.domaines.each do |domain| %>
                <li class="list-group-item list-group-item-action">
                  <%= link_to domain, domaine_path(domain) %>
                </li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="col">
      <%= render CardComponent.new do |card| %>
        <% card.with_header do %>
          <%= PermissionScope.human_attribute_name(:user_ids) %>
        <% end %>

        <% card.with_body(extra_classes: "p-0") do %>
          <div id="ts_permission_scope_user_form"
              class="<%= class_names("list-group-item list-group-item-action p-3",
                                     "border-dashed border-bottom": @permission_scope_users.any?)
                      %>"
          >
            <%= render partial: "permission_scope_user_form",
                       locals: { permission_scope_user: @permission_scope.permission_scope_users.build } %>
          </div>
          <ul id="ts_permission_scope_users" class="list-group list-group-flush">
            <%= render partial: "permission_scope_user", collection: @permission_scope_users %>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= render ChangelogEntries::ObjectListComponent.new(@permission_scope) %>
</div>
