<%
  breadcrumb
    .add_step(PermissionScope.model_name.human.pluralize, permission_scopes_path)
    .add_step(title = @permission_scope)
%>

<%= render Page::HeadingShowComponent.new(resource: @permission_scope, title:, breadcrumb:) %>
<div class="col-12 p-4 border-top">
  <div class="col-12 col-lg-6">
    <%= render CardComponent.new do |card| %>
      <dl class="show-page_dl d-grid row-gap-2 mb-0">
        <% %i[name].each do |attribute_name| %>
          <dt class="pb-2"><%= PermissionScope.human_attribute_name(attribute_name) %> :</dt>
          <dd class="mb-0 pb-2 ps-3"><%= @permission_scope.public_send(attribute_name) %></dd>
        <% end %>

        <dt class="pb-2"><%= PermissionScope.human_attribute_name(:domaine_ids) %> :</dt>
        <dd class="mb-0 pb-2 ps-3">
          <% if @permission_scope.all_domains? %>
            ALL
          <% else %>
            <ul>
            <% @permission_scope.domaines.each do |domain| %>
              <li><%= link_to domain, domaine_path(domain) %></li>
            <% end %>
            </ul>
          <% end %>
        </dd>

        <dt class="pb-2"><%= PermissionScope.human_attribute_name(:user_ids) %> :</dt>
        <dd class="mb-0 pb-2 ps-3">
          <ul>
          <% @permission_scope.users.each do |user| %>
            <li><%= link_to user, user_path(user) %></li>
          <% end %>
          </ul>
        </dd>
      </dl>
    <% end %>
  </div>
  <%= render ChangelogEntries::ObjectListComponent.new(@permission_scope) %>
</div>
