<div class="container">

  <%= render 'layouts/breadcrumb', params: {'Configuration' => modeles_url, 'Marques' => ''} %>

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <div class="page-header">
        <%= link_to new_marque_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          Ajouter une marque
        <% end %>
        <h1>Marques</h1>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Activé</th>
            <th></th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <%= content_tag_for(:tr, @marques) do |marque| %>
            <td><%= marque.title %></td>
            <td><%= marque.description %></td>
            <td><input type="checkbox" <%= marque.published ? "checked" : "" %> disabled></td>
            <td><%= link_to 'Modifier', edit_marque_path(marque) %></td>
            <td><%= link_to 'Supprimer', marque, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>

  </div>

</div>
