<%# locals: (power_distribution_unit_type:) -%>

<%= form_with(model: power_distribution_unit_type, html: { role: "form" }) do |f| %>
  <%= render FormErrorsComponent.new(power_distribution_unit_type) %>

  <div class="row row-cols-1 row-cols-lg-2 row-gap-4">
    <div class="col">
      <%= render CardComponent.new(extra_classes: "bg-body-tertiary") do |card| %>
        <% card.with_header do %>
          <%= t("show.cards.identification") %>
        <% end %>

        <div class="row g-3">
          <fieldset class="col-12">
            <%= f.label :name, class: "form-label" %>
            <%= f.text_field :name, class: "form-control" %>
          </fieldset>
        </div>
      <% end %>

      <%= render CardComponent.new(extra_classes: "mt-4 bg-body-tertiary") do |card| %>
        <% card.with_header do %>
          <%= t("show.cards.features") %>
        <% end %>

        <fieldset class="col-12">
          <%= f.label :manufacturer_id, class: "form-label" %>
          <%= f.select :manufacturer_id,
                       PowerDistributionUnitTypeDecorator.manufacturers_options_for_select,
                       { prompt: true },
                       class: "form-select" %>
        </fieldset>
        <fieldset class="col-12 mt-4">
          <%= f.label :documentation_url, class: "form-label" %>
          <%= f.text_field :documentation_url, class: "form-control" %>
        </fieldset>
                <fieldset class="col-12 mt-4">
          <%= f.label :max_power_per_circuit, class: "form-label" %>
          <%= f.number_field :max_power_per_circuit, class: "form-control" %>
        </fieldset>
        <fieldset class="col-12 mt-4">
          <%= f.label :current_type, class: "form-label" %>
          <%= f.select :current_type,
                       PowerDistributionUnitTypeDecorator.current_type_options_for_select,
                       { prompt: true },
                       class: "form-select" %>
        </fieldset>
        <fieldset class="col-12 mt-4">
          <%= f.checkbox :meter_global %>
          <%= f.label :meter_global, class: "form-label" %>
        </fieldset>
        <fieldset class="col-12 mt-4">
          <%= f.checkbox :meter_per_socket %>
          <%= f.label :meter_per_socket, class: "form-label" %>
        </fieldset>
        <fieldset class="col-12 mt-4">
          <%= f.checkbox :meter_per_circuit %>
          <%= f.label :meter_per_circuit, class: "form-label" %>
        </fieldset>
        <fieldset class="col-12 mt-4">
          <%= f.checkbox :socket_control %>
          <%= f.label :socket_control, class: "form-label" %>
        </fieldset>
        <fieldset class="col-12 mt-4">
          <%= f.checkbox :socket_lock %>
          <%= f.label :socket_lock, class: "form-label" %>
        </fieldset>
        <fieldset class="col-12 mt-4">
          <%= f.checkbox :ip_snmp %>
          <%= f.label :ip_snmp, class: "form-label" %>
        </fieldset>
        <fieldset class="col-12 mt-4">
          <%= f.checkbox :ip_modbus %>
          <%= f.label :ip_modbus, class: "form-label" %>
        </fieldset>
        <fieldset class="col-12 mt-4">
          <%= f.checkbox :ip_ssh %>
          <%= f.label :ip_ssh, class: "form-label" %>
        </fieldset>
        <fieldset class="col-12 mt-4">
          <%= f.checkbox :ip_webui %>
          <%= f.label :ip_webui, class: "form-label" %>
        </fieldset>
        <fieldset class="col-12 mt-4">
          <%= f.checkbox :rs485_modbus %>
          <%= f.label :rs485_modbus, class: "form-label" %>
        </fieldset>

      <% end %>
    </div>

    <div class="col">
      <fieldset data-controller="nested-form">
        <%= render CardComponent.new(extra_classes: "bg-body-tertiary") do |card| %>
          <% card.with_header do %>
            <div class="d-flex justify-content-between align-items-center">
               <%= PowerDistributionUnit::Circuit.model_name.human.pluralize %>
            </div>
          <% end %>

          <ul class="list-group bg-body-tertiary">
            <template data-nested-form-target="template">
              <%= f.fields_for :circuits, f.object.circuits.klass.new,
                               child_index: "__NEW_RECORD__" do |circuit_fields| %>
                <%= render partial: "circuit_fields", locals: { f: circuit_fields } %>
              <% end %>
            </template>

            <%= f.fields_for :circuits do |circuit_fields| %>
              <%= render partial: "circuit_fields", locals: { f: circuit_fields } %>
            <% end %>

            <div data-nested-form-target="target"></div>
          </ul>

          <% card.with_footer do %>
            <span class="mx-auto">
              <button type="button" class="btn btn-outline-success btn-sm" data-action="nested-form#add">
                <span class="bi bi-plus-lg" aria-hidden="true"></span> <%= t(".add_circuit") %>
              </button>
            </span>
          <% end %>
        <% end %>
      </fieldset>
    </div>
  </div>

  <%= render Form::ActionsComponent.new(f, display_create_another_one:) %>
<% end %>
