<div id="<%= dom_id power_distribution_unit_type %>">
  <div>
    <strong>Manufacturer:</strong>
    <%= power_distribution_unit_type.manufacturer_id %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= power_distribution_unit_type.name %>
  </div>

  <div>
    <strong>Current type:</strong>
    <%= power_distribution_unit_type.current_type %>
  </div>

  <div>
    <strong>Documentation url:</strong>
    <%= power_distribution_unit_type.documentation_url %>
  </div>

  <div>
    <strong>Meter global:</strong>
    <%= power_distribution_unit_type.meter_global %>
  </div>

  <div>
    <strong>Meter per socket:</strong>
    <%= power_distribution_unit_type.meter_per_socket %>
  </div>

  <div>
    <strong>Meter per circuit:</strong>
    <%= power_distribution_unit_type.meter_per_circuit %>
  </div>

  <div>
    <strong>Socket control:</strong>
    <%= power_distribution_unit_type.socket_control %>
  </div>

  <div>
    <strong>Socket lock:</strong>
    <%= power_distribution_unit_type.socket_lock %>
  </div>

  <div>
    <strong>Ip snmp:</strong>
    <%= power_distribution_unit_type.ip_snmp %>
  </div>

  <div>
    <strong>Ip modbus:</strong>
    <%= power_distribution_unit_type.ip_modbus %>
  </div>

  <div>
    <strong>Ip ssh:</strong>
    <%= power_distribution_unit_type.ip_ssh %>
  </div>

  <div>
    <strong>Ip webui:</strong>
    <%= power_distribution_unit_type.ip_webui %>
  </div>

  <div>
    <strong>Rs485 modbus:</strong>
    <%= power_distribution_unit_type.rs485_modbus %>
  </div>

  <div>
    <strong>Max power per circuit:</strong>
    <%= power_distribution_unit_type.max_power_per_circuit %>
  </div>

</div>
