<%
  breadcrumb
    .add_step(PowerDistributionUnitType.model_name.human.pluralize, power_distribution_unit_types_path)
    .add_step(title = @power_distribution_unit_type)
%>

<%= render Page::HeadingShowComponent.new(resource: @power_distribution_unit_type, title:, breadcrumb:) %>
<div class="col-12 p-4 border-top">
  <div class="col-12 col-lg-6">
    <%= render CardComponent.new do |card| %>
      <dl class="show-page_dl d-grid row-gap-2 mb-0">
        <% %i[manufacturer name current_type documentation_url meter_global meter_per_socket meter_per_circuit socket_control socket_lock ip_snmp ip_modbus ip_ssh ip_webui rs485_modbus max_power_per_circuit].each do |attribute_name| %>
          <dt class="pb-2"><%= PowerDistributionUnitType.human_attribute_name(attribute_name) %> :</dt>
          <dd class="mb-0 pb-2 ps-3"><%= @power_distribution_unit_type.public_send(attribute_name) %></dd>
        <% end %>
      </dl>
    <% end %>
  </div>
  <%= render ChangelogEntries::ObjectListComponent.new(@power_distribution_unit_type) %>
</div>
