<% breadcrumb.add_step(title = @power_distribution_unit_type) %>

<%= render Page::HeadingShowComponent.new(
      resource: @power_distribution_unit_type,
      title: @power_distribution_unit_type,
      breadcrumb:,
      editable: allowed_to?(:update?, @power_distribution_unit_type),
    ) do |heading| %>
  <% heading.with_extra_buttons do %>
    <% if allowed_to?(:duplicate?, @power_distribution_unit_type) %>
      <%= render ButtonComponent.new(
            t("action.duplicate"),
            url: duplicate_power_distribution_unit_type_path(@power_distribution_unit_type),
            variant: :success,
            icon: "copy",
            is_responsive: true,
            extra_classes: "me-2",
          ) %>
    <% end %>
  <% end %>
<% end %>

<div class="col-12 p-4 border-top d-grid row-gap-4">
  <div class="alert alert-warning mb-0">
    Cette section est actuellement en cours de développement. Les données peuvent être amenées à être supprimées ou altérées par des changements le temps du développement.
  </div>

  <div class="row row-cols-1 row-cols-lg-2 row-gap-4">
    <div class="col">
      <%= render CardComponent.new do |card| %>
        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <% card.with_header do %>
            <%= t("show.cards.identification") %>
          <% end %>

          <% %i[name].each do |attribute_name| %>
            <dt><%= PowerDistributionUnitType.human_attribute_name(attribute_name) %></dt>
            <dd class="mb-0 ps-3"><%= @power_distribution_unit_type.public_send(attribute_name) %></dd>
          <% end %>
        </dl>
      <% end %>

      <%= render CardComponent.new(extra_classes: "mt-4") do |card| %>
        <% card.with_header do %>
          <%= t("show.cards.features") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <dt class="pb-2"><%= PowerDistributionUnitType.human_attribute_name(:manufacturer_id) %> :</dt>
          <dd class="mb-0 pb-2 ps-3"><%= link_to @power_distribution_unit_type.manufacturer %></dd>

          <dt class="pb-2"><%= PowerDistributionUnitType.human_attribute_name(:current_type) %> :</dt>
          <dd class="mb-0 pb-2 ps-3">
            <%= PowerDistributionUnitType.human_attribute_name(
                  "current_type.#{@power_distribution_unit_type.current_type}",
                ) %>
          </dd>

          <dt class="pb-2"><%= PowerDistributionUnitType.human_attribute_name(:max_power_per_circuit) %> :</dt>
          <dd class="mb-0 pb-2 ps-3"><%= value_or_nc(@power_distribution_unit_type.max_power_per_circuit) %></dd>

          <% %i[
               meter_global meter_per_socket meter_per_circuit socket_control socket_lock ip_snmp ip_modbus ip_ssh
               ip_webui rs485_modbus
             ].each do |attribute_name| %>
            <dt class="pb-2"><%= PowerDistributionUnitType.human_attribute_name(attribute_name) %> :</dt>
            <dd class="mb-0 pb-2 ps-3">
              <%= render boolean_to_badge_component(@power_distribution_unit_type.public_send(attribute_name)) %>
            </dd>
          <% end %>

          <dt><%= PowerDistributionUnitType.human_attribute_name(:documentation_url) %> :</dt>
          <dd class="mb-0 ps-3">
            <% if (documentation_url = @power_distribution_unit_type.documentation_url.to_s).present? %>
              <%= link_to documentation_url, documentation_url, target: :_blank, rel: :noopener %>
              <span class="bi bi-box-arrow-up-right small text-secondary ms-1"></span>
            <% else %>
              <span class="fst-italic fw-light text-body-secondary"><%= I18n.t("n_a") %></span>
            <% end %>
          </dd>
        </dl>
      <% end %>
    </div>

    <div class="col">
      <%= render CardComponent.new do |card| %>
        <% card.with_header do %>
          <%= t("show.cards.preview") %>
        <% end %>

        <div class="d-flex flex-column">
          <% @power_distribution_unit_type.circuits.each do |circuit| %>
            <span><%= circuit.name %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <!-- TODO: Remove margin from has many component + clean how show pages are built (again) by following this example -->
  <div class="mt-n4">
    <%= render HasManyTurboFrameComponent.new(
          PowerDistributionUnit.model_name.human(count: 2),
          url: power_distribution_units_path(type_ids: @power_distribution_unit_type.id),
          frame_id: dom_id(PowerDistributionUnit, :table),
          new_path: (
            new_power_distribution_unit_path(power_distribution_unit: { type_id: @power_distribution_unit_type.id }) if allowed_to?(:create?, with: PowerDistributionUnitPolicy)),
          new_label: t("power_distribution_units.add_new"),
        ) %>
  </div>

  <!-- TODO: Remove margin from changelog component + clean how show pages are built (again) by following this example -->
  <div class="mt-n4">
    <%= render ChangelogEntries::ObjectListComponent.new(@power_distribution_unit_type) %>
  </div>
</div>
