<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  ContractType.model_name.human(count: 2) => contract_types_path,
  @contract_type => '',
} %>

<div class="container">
  <div class="page-header">
    <%= link_to contract_types_path, class: 'btn btn-default' do %>
      <span class="bi bi-list-ul"></span>
      <%= t("action.back") %>
    <% end %>
    <%= link_to @contract_type, class: 'btn btn-primary' do %>
      <span class="bi bi-eye"></span>
      <%= t("action.show") %>
    <% end %>
    <h1>
        <%= t(".title") %>
    </h1>
  </div>

  <%= render 'form' %>
</div>
