<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  t("inventories") => contract_types_path,
  ContractType.model_name.human.pluralize => ""}
%>

<div class="container-fluid">

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <div class="page-header">
        <%= link_to new_contract_type_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t(".add_contract_type") %>
        <% end %>
        <h1>
          <%= t(".title") %>
        </h1>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>
                <%= ContractType.human_attribute_name(:name) %>
              </th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <%= content_tag_for(:tr, @contract_types) do |contract_type| %>
              <td>
                <%= link_to contract_type, contract_type_path(contract_type) %>
              </td>
              <td class="text-right">
                <%= link_to t("action.edit"), edit_contract_type_path(contract_type), class: 'btn btn-primary' %>
                <%= link_to t("action.delete"),
                            contract_type,
                            method: :delete,
                            data: { confirm: 'Toutes les données concernant ce type de contrat seront supprimées, ainsi que les contrats de maintenance associés. Voulez-vous continuer ?' },
                            class: 'btn btn-danger' %>
              </td>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
