<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  ContractType.model_name.human(count: 2) => ""}
%>

<div class="container-fluid">
  <div class="page-header d-flex justify-content-between">
    <h1><%= t(".title") %></h1>
    <%= link_to new_contract_type_path, class: 'btn btn-success align-self-center' do %>
      <span class="bi bi-plus-lg"></span>
      <%= t(".add_contract_type") %>
    <% end %>
  </div>

  <%= render List::DataTableComponent.new(@contract_types) do |table| %>
    <% table.with_column(ContractType.human_attribute_name(:name), sort_by: :name) do |contract_type| %>
      <%= link_to contract_type, contract_type_path(contract_type) %>
    <% end %>

    <% table.with_column(style: "min-width: 84px; width: 84px") do |contract_type| %>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <%= link_to edit_contract_type_path(contract_type), class: 'btn btn-primary' do %>
          <span class="bi bi-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="<%= t("action.edit") %>"></span>
          <span class="visually-hidden"><%= t("action.edit") %></span>
        <% end %>
        <%= link_to contract_type, method: :delete, data: { confirm: t(".delete_confirmation") }, class: 'btn btn-danger' do %>
          <span class="bi bi-trash" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="<%= t("action.delete") %>"></span>
          <span class="visually-hidden"><%= t("action.delete") %></span>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
