<div class="page-header">
  <%= link_to new_contract_type_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Contract type
  <% end %>
  <h1>Listing contract_types</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @contract_types) do |contract_type| %>
            <td><%= contract_type.name %></td>
            <td><%= link_to 'Show', contract_type %></td>
        <td><%= link_to 'Edit', edit_contract_type_path(contract_type) %></td>
        <td><%= link_to 'Destroy', contract_type, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' %></td>
      <% end %>
    </tbody>
  </table>
</div>
