<div class="page-header d-flex justify-content-between">
  <h1>Listing memory_components</h1>
  <%= link_to new_memory_component_path, class: 'btn btn-success align-self-center' do %>
    <span class="bi bi-plus-lg"></span>
    New Memory component
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Server</th>
            <th>Memory type</th>
            <th>Quantity</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @memory_components) do |memory_component| %>
            <td><%= memory_component.server_id %></td>
            <td><%= memory_component.memory_type_id %></td>
            <td><%= memory_component.quantity %></td>
            <td><%= link_to 'Voir', memory_component %></td>
        <td><%= link_to 'Edit', edit_memory_component_path(memory_component) %></td>
        <td><%= link_to 'Destroy', memory_component, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' %></td>
      <% end %>
    </tbody>
  </table>
</div>
