<div>
  <%= link_to memory_components_path, class: 'btn btn-outline-secondary' do %>
    <span class="bi bi-list-ul"></span>
    Retour
  <% end %>
  <%= link_to edit_memory_component_path(@memory_component), class: 'btn btn-primary' do %>
    <span class="bi bi-pencil"></span>
    Edit
  <% end %>
  <h1>Voir memory_component</h1>
</div>

<dl class="dl-horizontal">
  <dt>Server:</dt>
  <dd><%= @memory_component.server_id %></dd>

  <dt>Memory type:</dt>
  <dd><%= @memory_component.memory_type_id %></dd>

  <dt>Quantity:</dt>
  <dd><%= @memory_component.quantity %></dd>

</dl>
