<%= form_for(@move, html: { class: "form-horizontal moves_form", role: "form" }) do |f| %>
  <% if @move.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@move.errors.count, "error") %> prohibited this move from being saved:</h4>

      <ul>
      <% @move.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">

    <div class="col-sm-6">
      <div class="col-sm-6"  style="text-align: right;">
        <span>Quel type d'objet sera déplacé ?</span>
      </div>
      <div class="col-sm-6">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default moveable_type active" id="moveable_type_server">Matériel</button>
          <button type="button" class="btn btn-default moveable_type" id="moveable_type_connection">Connexion</button>
        </div>
        <%= hidden_field_tag(:moveable_type, @move.moveable_type) %>
      </div>

      <div class="server_form_fields">
        <div class="col-sm-6"  style="text-align: right;">
          <span>Matériel à déplacer</span>
        </div>
        <div class="col-sm-6">
          <%= select_tag :moveable_id,
                         grouped_options_for_select(@all_servers_per_frame, { :selected => @move.moveable_id }),
                         # onchange: 'select_server',
                         include_blank: true,
                         style: 'max-width: 185px;'
          %>
        </div>

        <div class="col-sm-6"  style="text-align: right;">
          <span>Baie de destination</span>
        </div>
        <div class="col-sm-6">
          <%= select_tag :frame_id,
                         grouped_options_for_select(@all_frames_per_room, { :selected => @move.frame_id }),
                         # onchange: 'select_destination_server(1)',
                         include_blank: true,
                         style: 'max-width: 185px;'
          %>
        </div>

        <div class="col-sm-6"  style="text-align: right;">
          <span>Position dans la baie</span>
        </div>
        <div class="col-sm-6">
          <%= select_tag :position,
                         options_for_select(Array(1..46).reverse, { :selected => @move.position }),
                         # onchange: 'select_destination_server(1)',
                         include_blank: true,
                         style: 'max-width: 185px;'
          %>
        </div>
      </div>

      <div class="connection_form_fields">
        <div class="col-sm-6"  style="text-align: right;">
          <span>Matériel de départ</span>
        </div>
        <div class="col-sm-6">
          <%= select_tag :moveable_id,
                         grouped_options_for_select(@all_servers_per_frame, { :selected => @move.moveable_id }),
                         # onchange: 'select_server',
                         include_blank: true,
                         style: 'max-width: 185px;'
          %>
        </div>

        <div class="col-sm-6"  style="text-align: right;">
          <span>Baie de destination</span>
        </div>
        <div class="col-sm-6">
          <%= select_tag :frame_id,
                         grouped_options_for_select(@all_frames_per_room, { :selected => @move.frame_id }),
                         # onchange: 'select_destination_server(1)',
                         include_blank: true,
                         style: 'max-width: 185px;'
          %>
        </div>
      </div>

      <div class="col-sm-offset-6 col-sm-6">
        <%= f.submit 'Enregistrer', class: "btn btn-primary" %>
      </div>
    </div>

    <div class="col-sm-6">
      <% if @move.moveable %>
      <% @move.moveable.position = @move.position %>
      <%= render partial: 'frames/show', locals: {frame: @move.frame,
                                                  servers: (@move.frame.servers | [@move.moveable]).sort_by { |server| server.position.present? ? server.position : 0}.reverse,
                                                  settings: Frame.settings.merge({:min_height => 27 }),
                                                  view_type: 'front',
                                                  editable: false,
                                                  highlighted_servers: [@move.moveable]
      } %>
      <% end %>
    </div>

  </div>
<% end %>

<script>
    $(document).ready(function(){
        $('.connection_form_fields').hide();
        $(".moves_form").on('click', 'button.moveable_type', function(e){
            select_moveable_type(e.target.id);
        });
    });

    function select_moveable_type(moveable_type){
        if(moveable_type == 'moveable_type_server'){
            $('#moveable_type_connection').removeClass("active");
            $('#moveable_type_server').addClass("active");
            $('.connection_form_fields').hide();
            $('.server_form_fields').show();
        }else{
            $('#moveable_type_server').removeClass("active");
            $('#moveable_type_connection').addClass("active");
            $('.connection_form_fields').show();
            $('.server_form_fields').hide();
        }
    }

</script>
