<div class="table-responsive">
  <h2><%= t(".frame_table_title") %></h2>
  <table class="table table-striped table-bordered table-hover align_middle">
    <tbody>
      <%= content_tag_for(:tr, @frames) do |frame| %>
        <td class="w-100"><%= link_to "#{frame}", frame_moves_project_step_moves_path(@moves_project_step, frame.id) %></td>
        <td class="d-flex justify-content-center column-gap-1"
            style="min-width: 400px; width: 400px;"
            data-controller="frame-export-pdf"
            data-frame-export-pdf-model-ids-value="<%= [frame.id] %>"
            data-frame-export-pdf-filename-value="move-frame-<%= frame.name %>"
            data-frame-export-pdf-is-move-value="true">
          <%= link_to frame_moves_project_step_moves_path(@moves_project_step, frame.id), class: "btn btn-info btn-sm" do %>
            <span class="bi bi-pencil"></span>
            <span><%= t(".edit_connections") %></span>
          <% end %>
          <%= link_to print_moves_project_step_moves_path(@moves_project_step, frame.id), class: "btn btn-sm btn-outline-primary", target: :_blank do %>
            <span class="bi bi-printer" aria-hidden="true"></span>
            <%= t("export_button.exports.print") %>
          <% end %>
          <a role="button" class="btn btn-sm btn-outline-primary d-flex align-items-center export-button-move"
                           data-action="click->frame-export-pdf#export" data-view-target="front">
            <span class="bi bi-file-earmark-pdf" aria-hidden="true"></span>
            <span class="text-truncate d-inline-block ms-2">
              <%= t("export_button.exports.pdf") %>
            </span>
            <span class="spinner-border spinner-border-sm flex-shrink-0 d-flex d-none " role="status"
                  aria-hidden="true" data-frame-export-pdf-target="spinner"></span>
          </a>
        </td>
      <% end %>
    </tbody>
  </table>
</div>
