<div>

<%= form_for(@moved_connection, url:update_connection_moves_path, remote: true, html: { class: "form-horizontal moved_connection", role: "form" }) do |f| %>

  <div style="clear:both;margin-top: 5px;" >
    <%= f.label 'Port de départ', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <div class="panel">
        <div class="panel-body">
          <div id="back_departure_server" class="back_server">
            <%= render partial: 'servers/draw_server_compact', locals: { server: @selected_port.server, selected_port: @selected_port } %>
          </div>
        </div>
      </div>
      <%= f.hidden_field :port_from_id, value: @selected_port.id %>
    </div>
  </div>

  <div class="field">
    <%= f.label 'Port de destination', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <div class="card">
        <div class="card-header">
          <div class="" style="text-align: center;" id="select_destination_bay">
            <span id="all_destinations">
              <%= select_tag 'to_server',
                             options_for_select(
                               @selected_port.server.frame.servers.map { |v| [v.name, v.id] },
                               { :selected => @destination_port.present? ? @destination_port.server.id : nil }
                             ),
                             include_blank: true,
                             onchange: 'select_destination_server(this.value)',
                             style: 'max-width: 185px;'
              %>
            </span>
          </div>
        </div>
        <div class="card-body">
          <div id="back_destination_server" class="back_server">
            <% if @destination_port %>
                <%= render partial: 'servers/draw_server_compact', locals: { server: @destination_port.server, selected_port: @destination_port } %>
            <% end %>
          </div>
        </div>
      </div>
      <%= f.hidden_field :port_to_id, value: @destination_port.try(:id) %>
    </div>
  </div>

  <div class="field">
    <%= f.label :vlans, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :vlans, class: "form-control", value: @moved_connection.vlans %>
    </div>
  </div>

  <div class="field">
    <%= f.label 'Couleur', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.hidden_field :color, value: @moved_connection.color %>
    </div>
  </div>

  <div class="field" style="padding-top:20px;">
    <%= f.label 'Nom du cable', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :cablename, class: "form-control", value: @moved_connection.cablename %>
    </div>
  </div>

  <div>
    <div class="col-sm-offset-2 col-sm-6 field">
      <%= f.submit 'Enregistrer', class: "btn btn-primary", disabled: (@destination_port.present? ? false : :disabled) %>
    </div>
    <div class="col-sm-4" style="text-align: right;margin-top: 20px;">
      <%= f.hidden_field :remove_connection, value: '0' %>
      <%= link_to 'Supprimer cette connexion', '#', onclick: 'remove_connection()' %>
    </div>
  </div>

<% end %>

<script>
$(document).ready(function(){
    loadPaletteColorPicker('[name="moved_connection[color]"]');
    $("#back_departure_server").on('click', 'a.port', function(e) {
        e.preventDefault();
    });
    $("#back_destination_server").on('click', 'a.port', function(e){
        e.preventDefault();
        select_destination_port(e.target.id);
    });
});

function select_destination_server(server_id){
    $("#back_destination_server").closest("form").find('input[type="submit"]').prop('disabled', true);
    if(server_id!=undefined && server_id!=''){
        $.ajax({
            method: "POST",
            url: "<%= connections_update_destination_server_path %>",
            data: { server_id: server_id, with_moved_connection: 1 }
        }).done(function(){
            select_destination_port($('input[name="moved_connection[port_to_id]"]').val());
        });
    }
}

function select_destination_port(port_id){
    if(port_id!=undefined && port_id!=''){
        var selected_port = $("#back_destination_server #"+port_id);
        selected_port.closest("table").find("span.selected").removeClass("selected");
        selected_port.closest("span").addClass("selected");
        var server_name = $("#back_destination_server .server_name").text();
        var component_name = selected_port.closest("td").find("span:first").data("composant-name");
        var position = selected_port.data("position");
        $('[name="moved_connection[port_to_id]"]').val(port_id);
        selected_port.closest("form").find('input[type="submit"]').prop('disabled', false);
    }
}

function remove_connection(){
  $('form #moved_connection_remove_connection')[0].value = '1';
  $('form.moved_connection').trigger('submit.rails');
}
</script>
</div>
