<%= form_for(@moved_connection, url: update_connection_moves_path,
                                remote: true,
                                html: {
                                  class: "moved_connection p-4 rounded border bg-body-tertiary", role: "form"
                                }) do |f| %>
  <div class="row g-3">
    <fieldset class="col-12">
      <%= f.label :port_from_id, class: "form-label" %>
      <%= render CardComponent.new() do |card| %>
        <div id="back_departure_server" class="back_server overflow-scroll">
          <%= render partial: "servers/draw_server_compact",
                      locals: { server: @selected_port.server, selected_port: @selected_port } %>
        </div>
      <% end %>
      <%= f.hidden_field :port_from_id, value: @selected_port.id %>
    </fieldset>
  </div>

  <fieldset class="col-12 mt-4">
    <%= f.label :port_to_id, class: "form-label" %>
    <%= render CardComponent.new() do |card| %>
      <% card.with_header do %>
        <div id="select_destination_bay">
          <span id="all_destinations">
            <%= select_tag "to_server",
                          options_for_select(
                            @selected_port.server.frame.servers.map { |v| [v.name, v.id] },
                            { selected: @destination_port.present? ? @destination_port.server&.id : nil }
                          ),
                          include_blank: true,
                          onchange: "select_destination_server(this.value)",
                          class: "form-select mx-auto",
                          style: "max-width: 185px;"
            %>
          </span>
        </div>
      <% end %>
      <div id="back_destination_server" class="back_server overflow-scroll">
        <% if @destination_port && @destination_port.server %>
            <%= render partial: "servers/draw_server_compact",
                        locals: { server: @destination_port.server, selected_port: @destination_port } %>
        <% end %>
      </div>
    <% end %>
    <%= f.hidden_field :port_to_id, value: @destination_port.try(:id) %>
  </fieldset>

  <fieldset class="col-12 mt-4">
    <%= f.label :vlans, class: "form-label" %>
    <%= f.text_field :vlans, class: "form-control", value: @moved_connection.vlans %>
  </fieldset>

  <fieldset class="col-12 mt-4">
    <%= f.label :color, class: "form-label" %>
    <%= f.hidden_field :color, value: @moved_connection.color %>
  </fieldset>

  <fieldset class="col-12 mt-4">
    <%= f.label :cablename, class: "form-label" %>
    <%= f.text_field :cablename, class: "form-control", value: @moved_connection.cablename %>
  </fieldset>

  <div class="col-12 mt-4 justify-content-between d-flex align-items-center">
    <%= f.submit t("action.save"), class: "btn btn-primary",
                                    disabled: @destination_port.present? ? false : :disabled %>
    <span>
      <%= f.hidden_field :remove_connection, value: "0" %>
      <%= link_to t(".action.delete"), "#", class:"text-danger", onclick: "remove_connection()" %>
    </span>
  </div>
<% end %>

<script>
$(document).ready(function(){
    loadPaletteColorPicker('[name="moved_connection[color]"]');
    $("#back_departure_server").on('click', 'a.port', function(e) {
        e.preventDefault();
    });
    $("#back_destination_server").on('click', 'a.port', function(e){
        e.preventDefault();
        select_destination_port(e.target.id);
    });
});

function select_destination_server(server_id){
    $("#back_destination_server").closest("form").find('input[type="submit"]').prop('disabled', true);
    if(server_id!=undefined && server_id!=''){
        $.ajax({
            method: "POST",
            url: "<%= connections_update_destination_server_path %>",
            data: { server_id: server_id, with_moved_connection: 1 }
        }).done(function(){
            select_destination_port($('input[name="moved_connection[port_to_id]"]').val());
        });
    }
}

function select_destination_port(port_id){
    if(port_id!=undefined && port_id!=''){
        var selected_port = $("#back_destination_server #"+port_id);
        selected_port.closest("table").find("span.selected").removeClass("selected");
        selected_port.closest("span").addClass("selected");
        var server_name = $("#back_destination_server .server_name").text();
        var component_name = selected_port.closest("td").find("span:first").data("composant-name");
        var position = selected_port.data("position");
        $('[name="moved_connection[port_to_id]"]').val(port_id);
        selected_port.closest("form").find('input[type="submit"]').prop('disabled', false);
    }
}

function remove_connection(){
  $('form #moved_connection_remove_connection')[0].value = '1';
  $('form.moved_connection').trigger('submit.rails');
}
</script>
