<%= render 'layouts/breadcrumb', breadcrumb_variables: {"Déplacements prévus" => moves_path,
                                          "Baie #{@frame}" => ''} %>
<div class="container-fluid">
  <div class="panel-islet">
    <% if @room.present? %>
        <div><h3>Salle <%= @room.name %> - Ilot <%= @frame.islet %></h3></div>
    <% end %>
    <div class="row">
      <ul class="frames" style="padding: 0;">
        <div class="col-xs-12 col-sm-5 view-back">
          <%= render partial: 'frames/show_frame', locals: {frame: @frame, servers: @servers, settings: Frame.settings.merge({:min_height => 20 }), editable: false, view_type: 'back'} %>
        </div>
        <div class="col-xs-12 col-sm-7 moved_connection_form_loading">CHARGEMENT EN COURS</div>
        <div class="col-xs-12 col-sm-7 moved_connection_form" id="connection_form"></div>
      </ul>
    </div>
  </div>
</div>

<h3>Déplacements appliqués</h3>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <tbody>
    <%= content_tag_for(:tr, @moves) do |move| %>
        <td><%= link_to "#{move.moveable.try(:modele).try(:category)} #{move.moveable} vers la baie #{move.frame}", edit_move_path(move) %></td>
        <td><%= link_to t("action.delete"), move, method: :delete, data: { confirm: 'Voulez-vous vraiment supprimer ce déplacement ?' }, class: 'btn btn-warning' %></td>
    <% end %>
    <%= content_tag_for(:tr, @moved_connections) do |connection| %>
        <td><%= "Connexion entre #{connection.port_from.server.try(:modele).try(:category)} #{connection.port_from.server} (port ##{connection.port_from_id}) et #{connection.port_to.try(:server).try(:modele).try(:category)} #{connection.port_to.try(:server)} (port ##{connection.port_to_id}) => vlans:#{connection.vlans} cablename:#{connection.cablename} couleur:#{connection.color}" %></td>
        <td></td>
    <% end %>
    </tbody>
  </table>
</div>


<script>
    $(document).ready(function(){
        $('.moved_connection_form_loading').hide();
        loadPaletteColorPicker('[name="move[color]"]');
        $(".frame").on('click', '.port', function(e){
            e.preventDefault();
            loadConnectionForm(e.target.id);
        });
    });

    function loadConnectionForm(port_id){
        if(port_id != undefined && port_id != ''){
            $('.moved_connection_form_loading').show();
            console.log("Selected port : " + JSON.stringify(port_id));
            $.ajax({
                method: "GET",
                url: "<%= load_connection_moves_path %>",
                data: { port_id: port_id }
            }).done(function(){
                $('.connection_form').show();
                $('.moved_connection_form_loading').hide();
            });
        }else{
            $('.connection_form').hide();
        }
    }
</script>
