<% provide(:title, "#{Move.model_name.human(count: 2)} | Baie #{@frame}") %>
<%= render "layouts/breadcrumb", breadcrumb_steps: {
  Move.model_name.human(count: 2) => moves_path,
  "Baie #{@frame}" => ""
} %>

<div class="row my-5">
  <div class="col-12 mx-auto">
    <div class="d-flex justify-content-between pb-5 align-items-center">
      <div class="flex-grow-1">
        <%= link_to moves_path, class: "btn align-self-center d-inline-flex",
                                title: t("action.back") do %>
          <span class="bi bi-chevron-left"></span>
          <span class="d-none d-md-inline-block ms-1"><%= t("action.back") %></span>
        <% end %>
      </div>
      <h1 class="text-center px-4"><%= t(".title", frame: @frame) %></h1>
      <div class="flex-grow-1"></div>
    </div>

    <div class="bg-body p-4 rounded border">
      <div class="card-islet mb-4">
        <% if @room.present? %>
            <div><h3>Salle <%= @room.name %> - Ilot <%= @frame.islet %></h3></div>
        <% end %>
        <div class="frames row g-4 p-0">
          <div class="view-back col-12 col-lg-6">
            <%= render partial: "frames/show_frame",
                       locals: {
                         frame: @frame,
                         servers: @servers,
                         settings: Frame.settings.merge({ min_height: 20 }),
                         editable: false,
                         view_type: "back"
                       }
            %>
          </div>
          <div class="col-12 col-lg-6">
            <div id="moved_connection_form_loading" class="text-center text-bg-warning fw-bold pt-1">
              <%= t(".loading") %>
            </div>
            <div class="moved_connection_form" id="connection_form"></div>
          </div>
        </div>
      </div>

      <h3><%= t(".applied_moves") %></h3>
      <div class="table-responsive mt-4">
        <table class="table table-striped table-bordered table-hover align-middle">
          <tbody>
          <%= content_tag_for(:tr, @moves) do |move| %>
            <td>
              <%= link_to "#{move.moveable.try(:modele).try(:category)} #{move.moveable} vers la baie #{move.frame}",
                          edit_move_path(move) %>
            </td>
            <td class="text-center" style="min-width: 50px; width: 50px;">
              <%= link_to t("action.delete"), move, method: :delete,
                                                    data: { confirm: t("moves.index.delete_confirmation") },
                                                    class: "btn btn-danger" %>
            </td>
          <% end %>
          <%= content_tag_for(:tr, @moved_connections) do |connection| %>
              <td>
                <%= "Connexion entre #{connection.port_from.server.try(:modele).try(:category)} #{connection.port_from.server} (port ##{connection.port_from_id}) et #{connection.port_to.try(:server).try(:modele).try(:category)} #{connection.port_to.try(:server)} (port ##{connection.port_to_id}) => vlans:#{connection.vlans} cablename:#{connection.cablename} couleur:#{connection.color}" %>
              </td>
              <td></td>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
    $('#moved_connection_form_loading').hide();
    loadPaletteColorPicker('[name="move[color]"]');
    $(".frame").on('click', '.port', function(e){
        e.preventDefault();
        loadConnectionForm(e.target.id);
    });
});

function loadConnectionForm(port_id){
    if(port_id != undefined && port_id != ''){
        $('#moved_connection_form_loading').show();
        console.log("Selected port : " + JSON.stringify(port_id));
        $.ajax({
            method: "GET",
            url: "<%= load_connection_moves_path %>",
            data: { port_id: port_id }
        }).done(function(){
            $('.connection_form').show();
            $('#moved_connection_form_loading').hide();
        });
    }else{
        $('.connection_form').hide();
    }
}
</script>
