<% provide(:title, Move.model_name.human(count: 2)) %>
<%= render "layouts/breadcrumb", breadcrumb_steps: {
  Move.model_name.human(count: 2) => "" }
%>

<div class="container-fluid">
  <div class="d-flex justify-content-between">
    <h1><%= Move.model_name.human(count: 2) %></h1>
    <%= link_to new_move_path, class: "btn btn-success align-self-center" do %>
      <span class="bi bi-plus-lg"></span>
      <%= t(".new_move") %>
    <% end %>
  </div>

  <div class="table-responsive mb-4">
    <table class="table table-striped table-bordered table-hover align-middle">
      <thead>
      <th><%= t(".server") %></th>
      <th><%= t("activerecord.attributes.server.numero") %></th>
      <th><%= t("activerecord.models.gestion") %></th>
      <th><%= t("activerecord.models.domaine") %></th>
      <th><%= t("moves.form.initial_bay") %></th>
      <th><%= t("activerecord.attributes.move.frame_id") %></th>
      </thead>
      <tbody>
      <%= content_tag_for(:tr, @moves) do |move| %>
        <td><%= link_to move.moveable, edit_move_path(move) %></td>
        <td><%= "#{move.moveable.numero}" %></td>
        <td><%= "#{move.moveable.gestion}" %></td>
        <td><%= "#{move.moveable.domaine}" %></td>
        <td><%= link_to "#{move.moveable.frame}", frame_path(move.moveable.frame) %></td>
        <td><%= link_to "#{move.frame}", frame_path(move.frame) %></td>
        <td>
          <%= link_to t(".action.execute_move"),
                      execute_move_path(move),
                      data: { confirm: t(".execute_confirmation") },
                      class: "btn btn-sm btn-primary" %>
        </td>
        <td>
          <%= link_to t("action.delete"), move,
                      method: :delete,
                      data: { confirm: t(".delete_confirmation") },
                      class: "btn btn-sm btn-outline-danger" %>
        </td>
      <% end %>
      </tbody>
    </table>
  </div>

  <h2><%= t(".frame_table_title") %></h2>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover align_middle">
      <tbody>
      <%= content_tag_for(:tr, @frames) do |frame| %>
        <td><%= link_to "#{frame}", "/moves/frames/#{frame.id}" %></td>
        <td class="text-center">
          <%= link_to t(".edit_connections"), "/moves/frames/#{frame.id}", class: "btn btn-sm btn-primary" %>
        </td>
        <td class="text-end">
          <%= link_to "/moves/frames/#{frame.id}.pdf?debug=1", class: "btn btn-sm btn-outline-primary" do %>
            <span class="bi bi-printer" aria-hidden="true"></span>
            <%= t("export_button.exports.print") %>
          <% end %>
          <%= link_to "/moves/frames/#{frame.id}.pdf", class: "btn btn-sm btn-outline-primary" do %>
            <span class="bi bi-file-earmark-pdf" aria-hidden="true"></span>
            <%= t("export_button.exports.pdf") %>
          <% end %>
        </td>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
