<%
  breadcrumb.add_step(title = Move.model_name.human(count: 2))
%>

<%= render Page::HeadingComponent.new(title:, breadcrumb:) do |heading| %>
  <% heading.with_right_content do %>
    <% render ButtonComponent.new(t(".new_move"),
                                  url: new_moves_project_step_move_path(@moves_project_step),
                                  variant: :success,
                                  icon: "plus-lg",
                                  is_responsive: true) %>
  <% end %>
<% end %>

<%= turbo_frame_tag(dom_id(Move, :table), data: { turbo_action: :advance }) do %>
  <div class="d-flex flex-column row-gap-4">
    <%= render List::DataTableComponent.new(@moves) do |table| %>
      <% table.with_column(Server.model_name.human) do |move| %>
        <%= link_to move.moveable, server_path(move.moveable), data: { turbo_frame: :_top } %>
        <div class="small">
          <span class="fw-lighter"><%= Server.human_attribute_name(:numero) %> :</span>
          <span class="font-monospace text-body"><%= move.moveable.numero %></span>
        </div>
      <% end %>

      <% table.with_column(Gestion.model_name.human) do |move| %>
        <%= move.moveable.gestion %>
      <% end %>

      <% table.with_column(Domaine.model_name.human) do |move| %>
        <%= move.moveable.domaine %>
      <% end %>

      <% table.with_column(t("moves.form.initial_bay")) do |move| %>
        <%= link_to move.moveable.frame,
                    frame_moves_project_step_moves_path(@moves_project_step, move.moveable.frame),
                    data: { turbo_frame: :_top } %>
        <div class="small">
          <span class="fw-lighter"><%= Server.human_attribute_name(:position) %> :</span>
          <span class="font-monospace"><%= move.moveable.position %></span>
        </div>
      <% end %>

      <% table.with_column(Move.human_attribute_name(:frame_id)) do |move| %>
        <%= link_to move.frame,
                    frame_moves_project_step_moves_path(@moves_project_step, move.frame),
                    data: { turbo_frame: :_top } %>
        <div class="small">
          <span class="fw-lighter"><%= Server.human_attribute_name(:position) %> :</span>
          <span class="font-monospace"><%= move.position %></span>
        </div>
      <% end %>

     <% table.with_column(Move.human_attribute_name(:status)) do |move| %>
        <%= move.status %>
      <% end %>

      <% table.with_column(style: "min-width: 70px; width: 70px") do |move| %>
        <div class="btn-group btn-group-sm" role="group" aria-label="...">
          <% unless move.executed? %>
            <%= link_to t("action.execute"),
                        execute_moves_project_step_move_path(@moves_project_step, move),
                        title: t(".action.execute_move"),
                        data: {
                          turbo: true,
                          turbo_method: :patch,
                          confirm: t(".execute_confirmation"),
                          controller: "tooltip",
                          bs_placement: "left",
                          turbo_frame: :_top
                        },
                        class: "btn btn-outline-primary",
                        aria: { hidden: true }
            %>
            <%= link_to edit_moves_project_step_move_path(@moves_project_step, move), class: "btn btn-outline-info" do %>
              <span class="bi bi-pencil"
                    title="<%= t("action.edit") %>"
                    aria-hidden="true"
                    data-controller="tooltip"
                    data-bs-placement="left"></span>
              <span class="visually-hidden"><%= t("action.edit") %></span>
            <% end %>
            <%= link_to moves_project_step_move_path(@moves_project_step, move),
                        method: :delete,
                        data: {
                          confirm: t(".delete_confirmation"),
                          turbo_frame: :_top,
                        },
                        class: "btn btn-outline-danger" do %>
              <span class="bi bi-trash" title="<%= t("action.delete") %>" aria-hidden="true"
                                                                          data-controller="tooltip"
                                                                          data-bs-placement="left"></span>
              <span class="visually-hidden"><%= t("action.delete") %></span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
