<%
  breadcrumb.add_step(title = @moves_project_step)
%>

<%= render Page::HeadingComponent.new(
  title:, breadcrumb:, back_button_url: moves_project_path(@moves_project_step.moves_project)
) do |heading| %>
  <% heading.with_right_content do %>
    <% if @moves_project.unarchived? %>
      <% render ButtonComponent.new(t(".new_move"),
                                    url: new_moves_project_step_move_path(@moves_project_step),
                                    variant: :success,
                                    icon: "plus-lg",
                                    is_responsive: true) %>
    <% end %>
  <% end %>

  <% if date = @moves_project_step.date %>
    <p class="mt-2">
      <span class="bi bi-calendar-event"></span>
      <span class="ms-1 fw-light text-body-secondary"><%= t(".planned_on") %></span>
      <span class="font-monospace"><%= l(date) %></span>
    </p>
  <% end %>
<% end %>

<div class="p-4 border-top d-flex flex-column row-gap-4">
  <%= turbo_frame_tag(dom_id(Move, :table), data: { turbo_action: :advance }) do %>
    <div class="d-flex flex-column row-gap-4">
      <%= render List::DataTableComponent.new(@moves) do |table| %>
        <% table.with_column(Server.model_name.human) do |move| %>
          <%= link_to move.moveable, server_path(move.moveable), data: { turbo_frame: :_top } %>
          <div class="small">
            <span class="fw-light text-body-secondary"><%= Server.human_attribute_name(:numero) %> :</span>
            <span class="font-monospace text-body"><%= move.moveable.numero %></span>
          </div>
        <% end %>

        <% table.with_column(Gestion.model_name.human) do |move| %>
          <%= move.moveable.gestion %>
        <% end %>

        <% table.with_column(Domaine.model_name.human) do |move| %>
          <%= move.moveable.domaine %>
        <% end %>

        <% table.with_column(Move.human_attribute_name(:prev_frame_id)) do |move| %>
          <%= link_to move.prev_frame,
                      frame_moves_project_moves_project_step_path(@moves_project, @moves_project_step, move.prev_frame),
                      title: move.prev_frame.name_with_room_and_islet,
                      data: {
                        turbo_frame: :_top,
                        controller: "tooltip",
                        bs_placement: "top"
                      }
          %>
          <div class="small">
            <span class="fw-light text-body-secondary"><%= Server.human_attribute_name(:position) %> :</span>
            <span class="font-monospace"><%= move.prev_position %></span>
          </div>
        <% end %>

        <% table.with_column(Move.human_attribute_name(:frame_id)) do |move| %>
          <%= link_to move.frame,
                      frame_moves_project_moves_project_step_path(@moves_project, @moves_project_step, move.frame),
                      title: move.frame.name_with_room_and_islet,
                      data: {
                        turbo_frame: :_top,
                        controller: "tooltip",
                        bs_placement: "top"
                      }
          %>
          <div class="small">
            <span class="fw-light text-body-secondary"><%= Server.human_attribute_name(:position) %> :</span>
            <span class="font-monospace"><%= move.position %></span>
          </div>
        <% end %>

        <% table.with_column(Move.human_attribute_name(:status)) do |move| %>
          <span data-controller="tooltip"
                data-bs-placement="top"
                title="<%= l(move.executed_at) if move.executed_at.present?  %>"
          >
            <%= render move.decorated.status_to_badge_component %>
          </span>
        <% end %>

        <% table.with_column(style: "min-width: 120px; width: 120px") do |move| %>
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <% unless @moves_project.archived? || move.executed? %>
              <%= link_to t("action.execute"),
                          execute_moves_project_step_move_path(@moves_project_step, move),
                          title: t(".action.execute_move"),
                          data: {
                            turbo: true,
                            turbo_method: :patch,
                            confirm: t(".execute_confirmation"),
                            controller: "tooltip",
                            bs_placement: "left",
                            turbo_frame: :_top
                          },
                          class: "btn btn-outline-primary",
                          aria: { hidden: true }
              %>
              <%= link_to edit_moves_project_step_move_path(@moves_project_step, move),
                          class: "btn btn-outline-info",
                          data: { turbo_frame: :_top } do %>
                <span class="bi bi-pencil"
                      title="<%= t("action.edit") %>"
                      aria-hidden="true"
                      data-controller="tooltip"
                      data-bs-placement="left"></span>
                <span class="visually-hidden"><%= t("action.edit") %></span>
              <% end %>
              <%= link_to moves_project_step_move_path(@moves_project_step, move),
                          method: :delete,
                          data: {
                            confirm: t(".delete_confirmation"),
                            turbo_frame: :_top,
                          },
                          class: "btn btn-outline-danger" do %>
                <span class="bi bi-trash" title="<%= t("action.delete") %>" aria-hidden="true"
                                                                            data-controller="tooltip"
                                                                            data-bs-placement="left"></span>
                <span class="visually-hidden"><%= t("action.delete") %></span>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= turbo_frame_tag(dom_id(Move, :frames), data: { turbo_action: :advance }) do %>
    <%= render CardComponent.new(extra_classes: "bg-body-tertiary") do |card| %>
      <% card.with_header do %>
        <%= t(".frame_table_title") %>
      <% end %>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover align_middle mb-0">
          <tbody>
            <%= content_tag_for(:tr, @moves_project_step.frames_with_moves_at_current_step) do |frame| %>
              <td class="w-100">
                <%= link_to frame,
                            frame_moves_project_moves_project_step_path(@moves_project, @moves_project_step, frame),
                            data: { turbo_frame: :_top }
                %>
              </td>
              <td class="d-flex justify-content-center column-gap-1"
                  data-controller="dynamic-export-pdf"
                  data-dynamic-export-pdf-moves-project-id-value="<%= @moves_project.id %>"
                  data-dynamic-export-pdf-moves-project-step-id-value="<%= @moves_project_step.id %>"
                  data-dynamic-export-pdf-has-button-icon-value="true">
                <div class="btn-group btn-group-sm" role="group" aria-label="...">
                  <% if @moves_project.unarchived? %>
                    <%= link_to t(".edit_connections"),
                                frame_moves_project_moves_project_step_path(@moves_project, @moves_project_step, frame),
                                class: "btn btn-outline-primary text-nowrap",
                                data: { turbo_frame: :_top } %>
                  <% end %>

                  <%= link_to print_moves_project_moves_project_step_path(@moves_project, @moves_project_step, frame),
                              class: "btn btn-sm btn-outline-primary",
                              data: { turbo_frame: :_top },
                              target: :_blank do %>
                    <span class="bi bi-printer"
                          title="<%= t("export_button.exports.print") %>"
                          aria-hidden="true"
                          data-controller="tooltip"
                          data-bs-placement="left"></span>
                    <span class="visually-hidden"><%= t("export_button.exports.print") %></span>
                  <% end %>

                  <a role="button" class="btn btn-sm btn-outline-primary d-flex align-items-center export-button-move"
                     data-dynamic-export-pdf-urls-param="<%= print_moves_project_moves_project_step_path(@moves_project, @moves_project_step, frame.id) %>"
                     data-dynamic-export-pdf-filename-param="move-frame-<%= frame.name %>"
                     data-action="click->dynamic-export-pdf#export">
                    <span class="bi bi-file-earmark-pdf"
                          title="<%= t("export_button.exports.pdf") %>"
                          aria-hidden="true"
                          data-controller="tooltip"
                          data-bs-placement="left"
                          data-dynamic-export-pdf-target="buttonIcon"></span>
                    <span class="visually-hidden"><%= t("export_button.exports.pdf") %></span>
                    <span class="spinner-border spinner-border-sm flex-shrink-0 d-flex d-none " role="status"
                          aria-hidden="true" data-dynamic-export-pdf-target="spinner"></span>
                  </a>
                </div>
              </td>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  <% end %>
</div>
