<% provide :title, @patch_panel %>

<div class="container-fluid">

  <%= render 'layouts/breadcrumb', params: {'Synthèse des Patch-Panels' => patch_panels_path, @patch_panel => ''} %>

  <div class="row patch-panel-synthesis">

    <div style="float: right;width: 40%;">
      <div id="server_back back_server_<%= @patch_panel.id %>"
           style="padding: 3px 5px 3px 5px;
               margin-bottom: 5px;
               border: solid darkgray 1px;
               background-color: white;
           ">
        <%= render 'servers/draw_server_compact.html.erb', server: @patch_panel %>
      </div>
    </div>
    <div style="width: 40%;">
      <% @destination_servers.each do |server| %>
        <div id="server_back back_server_<%= server.id %>"
             style="padding: 3px 5px 3px 5px;
                 margin-bottom: 5px;
                 border: solid darkgray 1px;
                 background-color: white;
             ">
          <%= render 'servers/draw_server_compact.html.erb', server: server %>
        </div>
      <% end %>
    </div>

  </div>
</div>

<%= render 'ports/modal_edit_port' %>

<script>
    (function () {
      <% @patch_panel_ports.each_with_index do |pp_port, index| %>
        <% if @destination_ports[index].present? %>
          new LeaderLine(
            document.getElementById('<%= @destination_ports[index].id %>'),
            document.getElementById('<%= pp_port.id %>'),
            {
                color: colors_hash['<%= pp_port.cable_color %>'],
                size: 2,
                middleLabel: '<%= pp_port.cable_name %>',
                endPlug: 'behind',
                endSocket: 'bottom',
                path: 'fluid'
            }
          );
        <% end %>
      <% end %>
    })();
</script>
