<%
  settings = { min_height: params[:view] == "back" ? 20 : 27}
  should_show_heading = local_assigns.fetch(:should_show_heading, true)
%>

<div id="<%= @room.try(:name).try(:parameterize).try(:underscore) %>">
  <div>
    <div>
      <div class="row">
        <% if should_show_heading %>
          <div class="col-12 d-flex justify-content-between align-items-center mb-4">
            <h3><%= t("layouts.breadcrumb.bay.simple", name: @frame.name) %></h3>
            <% unless local_assigns[:pdf] == true %>
              <span class="d-flex flex-wrap gap-2 flex-column flex-lg-row justify-content-end">
                <%= render "visualization/action_buttons", view_side: Frame::VIEW_SIDES[:both], remote: true %>
                <%= render "visualization/frames/export_button", frame: @frame, in_table: false %>
              </span>
            <% end %>
          </div>
        <% end %>

        <div class="frames col-12 d-flex flex-row flex-wrap row-gap-4 <%= params[:view] %>"
             data-update-url="<%= sort_frames_path %>">

          <div class="col-12 col-lg-4 pe-lg-4 view-front">
            <%= render partial: "visualization/frames/show_frame",
                       locals: {
                         frame: @frame, servers: @frame.servers, settings: settings, view_type: "front"
                       }
            %>
          </div>
          <div class="col-12 col-lg-6 flex-grow-1 view-back">
            <%= render partial: "visualization/frames/show_frame",
                       locals: {
                         frame: @frame, servers: @frame.servers, settings: settings, view_type: "back"
                       }
            %>
          </div>
          <div class="d-none d-lg-block ps-lg-4 col-lg-2" style="max-width: 200px;">
            <%= render partial: "pdus/show", locals: {frame: @frame} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
