<%
  provide(:title, "#{t("visualization.title")} | #{Frame.model_name.human.pluralize} | #{t("layouts.breadcrumb.bay.simple", name: @frame.name)}")

  breadcrumb_steps = {
    t("visualization.title") => overview_rooms_path,
    @room.name => ((@frame.present? || params[:islet].present?) ? visualization_room_path(@room, view: params[:view]) : "")
  }
  if @frame.present? && @frame.bay.islet.name.present?
    breadcrumb_steps[t("layouts.breadcrumb.islet", name: @frame.bay.islet.name)] = visualization_room_path(@room, islet: @frame.bay.islet.name, view: params[:view])
  elsif params[:islet].present?
    breadcrumb_steps[t("layouts.breadcrumb.islet", name: params[:islet])] = ""
  end
  breadcrumb_steps[t("layouts.breadcrumb.bay.double", name: @frame.bay)] = visualization_bay_path(@frame.bay_id, view: params[:view]) if @frame.has_coupled_frame?
  breadcrumb_steps[t("layouts.breadcrumb.bay.simple", name: @frame.name)] = "" if @frame.present?

  title = "#{t("visualization.title")} #{t("layouts.breadcrumb.bay.simple", name: @frame.name)}"
%>

<%= render Page::HeadingComponent.new(title:, breadcrumb_steps:) do |heading| %>
  <% if @room.present? %>
    <% heading.with_right_content do %>
      <div class="d-flex flex-wrap gap-2 flex-column flex-lg-row">
        <%= render "rooms/action_buttons", view_side: Frame::VIEW_SIDES[:both] %>
        <%= render(ButtonComponent.new(t("action.show"),
                                      url: @frame,
                                      size: :sm,
                                      variant: :primary,
                                      icon: "eye",
                                      extra_classes: "ms-auto")) %>
      </div>
    <% end %>
  <% end %>
<% end %>
<div class="container-fluid p-4 border-top" id="bay-container">
  <%= render partial: "frames/show_complete_frame", locals: { should_show_heading: false } %>
</div>

<%= render "ports/modal_edit_port" %>

<script type="text/javascript">
  window.onload = function () {
    reset_u_heights()

    window.addEventListener("resize", function (event) {
      reset_u_heights()
    })
  }
</script>
