<p>
  <div class="list-group">
    <a href="#" class="list-group-item disabled">
      <%= t(".location.title") %>
    </a>
    <a href="<%= sites_path %>" class="list-group-item <%= controller.controller_name == "sites" ? "active" : "" %>"><%= Site.model_name.human.pluralize %></a>
    <a href="<%= rooms_path %>" class="list-group-item <%= controller.controller_name == "rooms" ? "active" : "" %>"><%= Room.model_name.human.pluralize %></a>
    <a href="<%= islets_path %>" class="list-group-item <%= controller.controller_name == "islets" ? "active" : "" %>"><%= Islet.model_name.human.pluralize %></a>
    <a href="<%= bays_path %>" class="list-group-item <%= controller.controller_name == "bays" ? "active" : "" %>"><%= t(".location.bays") %></a>
    <a href="<%= frames_path %>" class="list-group-item <%= controller.controller_name == "frames" ? "active" : "" %>"><%= Frame.model_name.human %></a>
  </div>

  <div class="list-group">
    <a href="#" class="list-group-item disabled"><%= t(".equipment.title") %></a>
    <a href="<%= servers_path %>" class="list-group-item <%= controller.controller_name == "servers" ? "active" : "" %>">Matériels</a>
  </div>

  <div class="list-group">
    <a href="#" class="list-group-item disabled">
      <%= t(".features.title") %>
    </a>
    <a href="<%= modeles_path %>" class="list-group-item <%= controller.controller_name == "modeles" ? "active" : "" %>"><%= Modele.model_name.human.pluralize %></a>
    <a href="<%= categories_path %>" class="list-group-item <%= controller.controller_name == "categories" ? "active" : "" %>"><%= Category.model_name.human.pluralize %></a>
    <a href="<%= architectures_path %>" class="list-group-item <%= controller.controller_name == "architectures" ? "active" : "" %>"><%= Architecture.model_name.human.pluralize %></a>
    <a href="<%= manufacturers_path %>" class="list-group-item <%= controller.controller_name == "manufacturers" ? "active" : "" %>"><%= Manufacturer.model_name.human.pluralize %></a>
    <a href="<%= stacks_path %>" class="list-group-item <%= controller.controller_name == "stacks" ? "active" : "" %>"><%= Stack.model_name.human.pluralize %></a>
    <a href="<%= card_types_path %>" class="list-group-item <%= controller.controller_name == "card_types" ? "active" : "" %>"><%= CardType.model_name.human(count: 2) %></a>
    <a href="<%= port_types_path %>" class="list-group-item <%= controller.controller_name == "port_types" ? "active" : "" %>"><%= PortType.model_name.human(count: 2) %></a>
    <a href="<%= disk_types_path %>" class="list-group-item <%= controller.controller_name == "disk_types" ? "active" : "" %>"><%= DiskType.model_name.human(count: 2) %></a>
    <a href="<%= memory_types_path %>" class="list-group-item <%= controller.controller_name == "memory_types" ? "active" : "" %>"><%= MemoryType.model_name.human(count: 2) %></a>
  </div>

  <div class="list-group">
    <a href="#" class="list-group-item disabled">
      <%= t(".exploitation.title") %>
    </a>
    <a href="<%= domaines_path %>" class="list-group-item <%= controller.controller_name == "domaines" ? "active" : "" %>"><%= Domaine.model_name.human.pluralize %></a>
    <a href="<%= gestions_path %>" class="list-group-item <%= controller.controller_name == "gestions" ? "active" : "" %>"><%= Gestion.model_name.human.pluralize %></a>
    <a href="<%= clusters_path %>" class="list-group-item <%= controller.controller_name == "clusters" ? "active" : "" %>"><%= Cluster.model_name.human.pluralize %></a>
    <a href="<%= colors_path %>" class="list-group-item <%= controller.controller_name == "colors" ? "active" : "" %>"><%= Color.model_name.human.pluralize %></a>
  </div>

  <div class="list-group">
    <a href="#" class="list-group-item disabled">
      <%= t(".maintenance.title") %>
    </a>
    <a href="<%= maintainers_path %>" class="list-group-item <%= controller.controller_name == "maintainers" ? "active" : "" %>"><%= Maintainer.model_name.human.pluralize %></a>
    <a href="<%= contract_types_path %>" class="list-group-item <%= controller.controller_name == "contract_types" ? "active" : "" %>"><%= ContractType.model_name.human(count: 2) %></a>
  </div>

  <div class="list-group">
    <a href="#" class="list-group-item disabled">
      <%= t(".connections.title") %>
    </a>
    <a href="<%= connections_path %>" class="list-group-item <%= controller.controller_name == "connections" ? "active" : "" %>"><%= Connection.model_name.human.pluralize %></a>
    <a href="<%= cables_path %>" class="list-group-item <%= controller.controller_name == "cables" ? "active" : "" %>"><%= Cable.model_name.human.pluralize %></a>
  </div>
</p>
