<p>
  <div class="list-group">
    <a href="<%= activities_path %>" class="list-group-item <%= controller.controller_name == "activities" ? 'active' : '' %>">Activité</a>
  </div>

  <div class="list-group">
    <a href="<%= modeles_path %>" class="list-group-item <%= controller.controller_name == "modeles" ? 'active' : '' %>">Modèles de serveur</a>
  </div>

  <div class="list-group">
    <a href="<%= localisations_path %>" class="list-group-item <%= controller.controller_name == "localisations" ? 'active' : '' %>">Localisations</a>
    <a href="<%= frames_path %>" class="list-group-item <%= controller.controller_name == "frames" ? 'active' : '' %>">Frames</a>
    <a href="<%= categories_path %>" class="list-group-item <%= controller.controller_name == "categories" ? 'active' : '' %>">Types</a>
    <a href="<%= architectures_path %>" class="list-group-item <%= controller.controller_name == "architectures" ? 'active' : '' %>">Architectures</a>
    <a href="<%= marques_path %>" class="list-group-item <%= controller.controller_name == "marques" ? 'active' : '' %>">Marques</a>
    <a href="<%= domaines_path %>" class="list-group-item <%= controller.controller_name == "domaines" ? 'active' : '' %>">Domaines</a>
    <a href="<%= gestions_path %>" class="list-group-item <%= controller.controller_name == "gestions" ? 'active' : '' %>">Gestions</a>
    <a href="<%= actes_path %>" class="list-group-item <%= controller.controller_name == "actes" ? 'active' : '' %>">Actions</a>
    <a href="<%= rooms_path %>" class="list-group-item <%= controller.controller_name == "rooms" ? 'active' : '' %>">Salles</a>
    <a href="<%= bays_path %>" class="list-group-item <%= controller.controller_name == "bays" ? 'active' : '' %>">Baies / Doubles-baies</a>
    <a href="<%= clusters_path %>" class="list-group-item <%= controller.controller_name == "clusters" ? 'active' : '' %>">Clusters</a>
    <a href="<%= cards_path %>" class="list-group-item <%= controller.controller_name == "cards" ? 'active' : '' %>">Cartes</a>
    <a href="<%= colors_path %>" class="list-group-item <%= controller.controller_name == "colors" ? 'active' : '' %>">Couleurs</a>
  </div>
</p>
