<p class="lead">Paramètres</p>
<div class="list-group">
  <a href="<%= localisations_path %>" class="list-group-item <%= controller.controller_name == "localisations" ? 'active' : '' %>">Localisation</a>
  <a href="<%= armoires_path %>" class="list-group-item <%= controller.controller_name == "armoires" ? 'active' : '' %>">Rack</a>
  <a href="#" class="list-group-item disabled <%= controller.controller_name == "test" ? 'active' : '' %>">Type de matériel</a>
</div>
