<%
  title = t("layouts.navigation.nav_links_administration.informations")
  breadcrumb_steps = { title => "" }

  provide(:title, title)
%>

<%= render Page::HeadingComponent.new(title:, breadcrumb_steps:) %>
<div class="p-4 border-top">
  <!-- Page Content -->
  <div class="about p-3 rounded border bg-body">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <h3>Environnement :</h3>

            <p class="version">
              <strong>Rails version:</strong> <%= Rails.version %><br />
              <strong>Ruby version:</strong> <%= RUBY_VERSION %> (<%= RUBY_PLATFORM %>)
            </p>

            <h3>Version de l'application</h3>

            <div class="version" style="font-family: monospace;font-size:small;">
              <%= truncate(
                    simple_format(`git log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short`),
                    length: 1600,
                    escape: false)
              %>
              <br>...
            </div>

            <div class="alert alert-info github-link">
              <a href="https://github.com/nanego/my-dcim" target="_blank" rel="noopener" class="alert-link">
                Lien vers le projet GitHub
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->

  <hr>
  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-12">
        <p>Copyright &copy; Gestion de salle DCIM 2018</p>
      </div>
    </div>
  </footer>
  <!-- /.container -->
</div>
