<%= render "layouts/breadcrumb", breadcrumb_variables: {
  t("layouts.navigation.nav_links_administration.informations") => "" }
%>

<!-- Page Content -->
<div class="container about bg-body rounded border">
  <div class="row">
    <div class="col-md-12">
      <p>
        <div class="row">
          <div class="col-md-12">
            <h3>Environnement :</h3>

            <p class="version">
              <strong>Rails version:</strong> <%= Rails.version %><br />
              <strong>Ruby version:</strong> <%= RUBY_VERSION %> (<%= RUBY_PLATFORM %>)
            </p>

            <h3>Version de l'application</h3>

            <div class="version" style="font-family: monospace;font-size:small;">
              <%= truncate(simple_format(`git log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short`), length: 1600, escape: false) %>
              <br>...
            </div>

            <div class="alert alert-info github-link">
              <a href="https://github.com/nanego/my-dcim" target="_blank" rel="noopener" class="alert-link">Lien vers le projet GitHub</a>
            </div>
          </div>
        </div>
      </p>
    </div>
  </div>
</div>
<!-- /.container -->

<div class="container">
  <hr>
  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Gestion de salle DCIM 2018</p>
      </div>
    </div>
  </footer>
</div>
<!-- /.container -->
