<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <p>

        <div class="well">

          <div class="row">
            <div class="col-md-12">

              <h3>Version de l'application</h3>

              <p class="version">
                <%= simple_format(`git show --pretty=short --quiet`) %>
              </p>

              <h3>Environnement :</h3>

              <p class="version">
                <strong>Rails version:</strong> <%= Rails.version %><br />
                <strong>Ruby version:</strong> <%= RUBY_VERSION %> (<%= RUBY_PLATFORM %>)
              </p>
            </div>
          </div>

        </div>

      </p>

    </div>


  </div>

</div>
<!-- /.container -->

<div class="container">

  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Gestion de salle DCIM 2018</p>
      </div>
    </div>
  </footer>

</div>
<!-- /.container -->

