<%
  breadcrumb.add(title = Contact.model_name.human.pluralize)
%>

<%= render Page::HeadingComponent.new(title:, breadcrumb:) do |heading| %>
  <% heading.with_right_content do %>
    <% render ButtonComponent.new(t(".new_contact"),
                                  url: new_contact_path,
                                  variant: :success,
                                  icon: "plus-lg",
                                  is_responsive: true) %>
  <% end %>
<% end %>

<div class="p-4 border-top d-flex flex-column row-gap-4">
  <%= render List::DataTableComponent.new(@contacts) do |table| %>
    <% table.with_bulk_action(url: bulk_contacts_path, method: :delete, class: "btn btn-danger btn-sm",
                              data: { confirm: t("action.confirm") }
    ) do %>
      <span class="bi bi-trash pe-none" title="<%= t("action.delete") %>">
      </span>
    <% end %>

    <% table.with_column(Contact.human_attribute_name(:full_name), sort_by: :full_name) do |contact| %>
      <%= link_to contact, contact_path(contact), class: "fw-bold" %>
    <% end %>

    <% table.with_column(Contact.human_attribute_name(:phone_number), sort_by: :phone_number) do |contact| %>
      <%= contact.phone_number %>
    <% end %>

    <% table.with_column(Contact.human_attribute_name(:email), sort_by: :email) do |contact| %>
      <%= contact.email %>
    <% end %>

    <% table.with_column(Contact.human_attribute_name(:organization), sort_by: :organization) do |contact| %>
      <%= contact.organization %>
    <% end %>

    <% table.with_column(style: "min-width: 70px; width: 70px") do |contact| %>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <%= link_to edit_contact_path(contact), class: "btn btn-info" do %>
          <span class="bi bi-pencil" title="<%= t("action.edit") %>" aria-hidden="true"
                                                                     data-controller="tooltip"
                                                                     data-bs-placement="left"></span>
          <span class="visually-hidden"><%= t("action.edit") %></span>
        <% end %>
        <%= link_to contact, method: :delete, data: { confirm: t(".delete_confirmation") },
                                               class: "btn btn-danger" do %>
          <span class="bi bi-trash" title="<%= t("action.delete") %>" aria-hidden="true"
                                                                     data-controller="tooltip"
                                                                     data-bs-placement="left"></span>
          <span class="visually-hidden"><%= t("action.delete") %></span>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
