<div class="page-header">
  <%= link_to new_document_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Document
  <% end %>
  <h1>Listing documents</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Matériel</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @documents) do |document| %>
            <td><%= document.server_id %></td>
            <td><%= link_to 'Voir', document %></td>
        <td><%= link_to 'Edit', edit_document_path(document) %></td>
        <td><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' %></td>
      <% end %>
    </tbody>
  </table>
</div>
