<%= render CardComponent.new(extra_classes: "card-pdu") do |card| %>
  <% card.with_header do %>
    <h5 class="card-title mb-0">
      PDU <%= frame %>
    </h5>
  <% end %>

  <div class="d-flex">
    <% frame.pdus.each do |pdu| %>
      <div class="pdu w-50 <%= pdu.color %>"
           id="pdu-<%= pdu.id %>" >
        <%= render partial: "pdus/pdu", locals: { pdu: } %>
      </div>
    <% end %>
  </div>
<% end %>
