<%  @prefilled_data = type_composant if local_assigns[:type_composant].present? && @prefilled_data.blank?
    if @prefilled_data.present?
      options = TypeComposant.where(title: @prefilled_data).map{ |c| [c.title, c.id] }
    else
      options = TypeComposant.all.map{ |c| [c.title, c.id] }
    end %>

<li class="list-group-item">
  <fieldset>

    <div class="col-sm-3 pull-right">
      <%= f.hidden_field :_destroy %>
      <%= link_to "X", '#', class: "remove_fields btn btn-danger pull-right" %>
    </div>

    <% if options.size == 1 %>
      <%= f.hidden_field :type_composant_id, value: options.first[1].to_s %>
    <% else %>
      <div class="col-sm-9 pull-left">
        <%= f.select :type_composant_id, options, {}, {class: 'form-control'} %>
      </div>
    <% end %>

    <div class="col-sm-9 pull-left">
      <%= f.text_field :name, {class: 'form-control', placeholder: 'Nom'} %>
    </div>


  </fieldset>
</li>
