<% @prefilled_data = type_composant if local_assigns[:type_composant].present? && @prefilled_data.blank?
   if @prefilled_data.present?
     options = TypeComposant.where(name: @prefilled_data).map { |c| [c.name, c.id] }
   else
     options = TypeComposant.all.map { |c| [c.name, c.id] }
   end %>

<li class="list-group-item row composant">
  <fieldset>
    <div class="col-xs-3 pull-right">
      <%= f.hidden_field :_destroy %>
      <%= link_to "X", '#', class: "remove_fields btn btn-danger pull-right" %>
    </div>

    <%= f.hidden_field :position %>

    <% if options.size == 1 %>
      <%= f.hidden_field :type_composant_id, value: options.first[1].to_s %>
    <% else %>
      <div class="col-xs-9 pull-left input-group">
        <% if f.object.enclosure&.persisted? %>
          <span class="input-group-addon">
            <span class="bi bi-arrows-vertical"></span>
          </span>
        <% end %>
        <%= f.select :type_composant_id, options, {}, { class: 'form-control' } %>
      </div>
    <% end %>

    <div class="col-xs-9 pull-left input-group">
      <% if f.object.enclosure&.persisted? %>
        <span class="input-group-addon">
          <span class="bi bi-arrows-vertical"></span>
        </span>
      <% end %>
      <%= f.text_field :name, { class: 'form-control', placeholder: true } %>
    </div>
  </fieldset>
</li>
