<div class="nested-form-wrapper col-12 col-md-6 col-xxl-4"
     data-new-record="<%= f.object.new_record? %>"
     data-controller="enclosure-fields">
  <div class="card enclosure-fields">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h6 class="mb-0">
        <%= f.object.position.present? ? t(".enclosure_position", position: f.object.position) : t(".new_enclosure") %>
      </h6>
      <span>
        <%= f.hidden_field :_destroy %>

        <button type="button" data-action="nested-form#remove" class="btn btn-danger btn-sm ms-4">
          <span class="bi bi-trash" title="<%= t("action.delete") %>"></span>
        </button>
      </span>
    </div>

    <% child_index = "__#{Digest::MD5.hexdigest("Enclosure_composants")}_NEW_RECORD__" %>
    <div data-controller="nested-form" data-nested-form-child-index-name-value="<%= child_index %>">
      <template data-nested-form-target="template">
        <%= f.fields_for :composants, f.object.composants.ordered.slots.klass.new,
                                      child_index: child_index do |composant_fields| %>
          <%= render partial: "composant_fields", locals: { f: composant_fields } %>
        <% end %>
      </template>

      <div class="card-body">
        <ul class="list-group bg-body-tertiary" data-enclosure-fields-target="sortableList">
          <li class="list-group-item bg-transparent filtered">
            <fieldset>
              <%= f.label :display, class:"form-check-label" %>

              <div class="btn-group btn-group-sm w-100 my-2"
                   role="group"
                   aria-label="Display attribute radio toggle button group"
                   data-enclosure-fields-target="display-radios">
                <% Enclosure.displays.keys.each do |display| %>
                  <%= f.radio_button :display,
                                     display,
                                     class: "btn-check",
                                     data: {
                                       action: "change->enclosure-fields#displayValueChange",
                                       "enclosure-fields-target": "displayRadioButton"
                                     } %>
                  <%= f.label :display, value: display, class: "btn btn-outline-secondary" do %>
                    <i class="<%= class_names("bi",
                                              "bi-layout-three-columns": display == "vertical",
                                              "bi-layout-three-columns icon-rotated": display == "horizontal",
                                              "bi-columns-gap": display == "grid"
                    )%>"></i>
                    <%= Enclosure.human_attribute_name("display.#{display}") %>
                  <% end %>
                <% end %>
              </div>
            </fieldset>
          </li>
          <li class="list-group-item bg-transparent filtered" data-enclosure-fields-target="gridArea" hidden>
            <fieldset>
              <%= f.label :grid_areas, class: "form-label" %>
              <%= f.text_area :grid_areas, class: "font-monospace form-control", style: "height:110px;" %>
            </fieldset>
          </li>
          <%
            composants = f.object.composants.ordered
          %>
          <%= f.fields_for :composants, composants do |composant_fields| %>
            <%= render partial: "composant_fields", locals: { f: composant_fields } %>
          <% end %>

          <li class="list-group-item bg-transparent" data-nested-form-target="target"></li>
        </ul>
      </div>
      <div class="card-footer d-flex">
        <button type="button" class="btn btn-outline-success btn-sm mx-auto" data-action="nested-form#add">
          <span class="bi bi-plus-lg" aria-hidden="true"></span>
          <span><%= t(".add_slot") %></span>
        </button>
      </div>
    </div>
  </div>
</div>
