<%= form_for(@modele, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <%= render FormErrorsComponent.new(@modele) %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-3 col-md-2 control-label" %>
    <div class="col-sm-9 col-md-4">
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <%= f.label :category_id, class: "col-sm-3 col-md-2 control-label" %>
    <div class="col-sm-9 col-md-4">
      <%= f.collection_select(:category_id, Category.order(Arel.sql('LOWER(name)')), :id, :name, {}, {class: "form-control"}) %>
    </div>
    <%= f.label :architecture_id, class: "col-sm-3 col-md-2 control-label" %>
    <div class="col-sm-9  col-md-4">
      <%= f.collection_select(:architecture_id, Architecture.order(Arel.sql('LOWER(name)')), :id, :name, {}, {class: "form-control"}) %>
    </div>
    <%= f.label :u, class: "col-sm-3 col-md-2 control-label" %>
    <div class="col-sm-9 col-md-4">
      <%= f.number_field :u, class: "form-control" %>
    </div>
    <%= f.label :manufacturer_id, class: "col-sm-3 col-md-2 control-label" %>
    <div class="col-sm-9 col-md-4">
      <%= f.collection_select(:manufacturer_id, Manufacturer.order(Arel.sql('LOWER(name)')), :id, :name, {}, {class: "form-control"}) %>
    </div>
    <%= f.label :nb_elts, class: "col-sm-3 col-md-2 control-label" %>
    <div class="col-sm-9 col-md-4">
      <%= f.number_field :nb_elts, class: "form-control" %>
    </div>
    <%= f.label :color, class: "col-sm-3 col-md-2 control-label" %>
    <div class="col-sm-9 col-md-4">
      <%= f.text_field :color, class: "form-control", style: "background-color:#{f.object.color};" %>
    </div>
    <%= f.label :network_types, class: "col-sm-3 col-md-2  control-label" %>
    <div class="col-sm-9 col-md-4">
      <%= f.select :network_types,
                    Modele::Network::TYPES.map { |type| [Modele.human_attribute_name("network_types.#{type}"), type] },
                    { prompt: true, include_blank: true },
                    { data: { controller: "select" }, multiple: true } %>
    </div>
  </div>
  <div>
    <%= content_tag :span, Enclosure.model_name.human.pluralize, class: "col-sm-3 col-md-2 control-label" %>
    <%= f.fields_for :enclosures do |builder| %>
        <%= render "enclosure_fields", :f => builder %>
    <% end %>
    <%= link_to_add_fields "<span class='bi bi-plus-lg' aria-hidden='true'></span> #{t(".add_enclosure")}".html_safe, f, :enclosures %>
  </div>

  <!--
  <div class="col-sm-5 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Groupes d'interfaces</h4></div>
      <ul class="list-group">
        < f.fields_for :composants do |builder| %>
          < render "composant_fields", :f => builder %>
        < end %>
      </ul>
      <div class="panel-footer">< link_to_add_fields "Ajouter un groupe", f, :composants %></div>
    </div>
  </div>
  -->

  <div class="form-group">
    <div class="col-sm-12">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
