<div class="container">

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <div class="page-header">
        <%= link_to new_modele_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          Ajouter un modèle
        <% end %>
        <h1>Modèles de serveur</h1>
      </div>

      <% @types.each do |category, modeles| %>
        <h4><%= category %></h4>
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <tbody>
            <%= content_tag_for(:tr, modeles) do |modele| %>
              <% bgModeleColor = modele.try(:color) || lighten_color("##{Digest::MD5.hexdigest(modele.try(:title) || 'test')[0..5]}", 0.4) %>
              <td style="background-color:<%= bgModeleColor %> !important;"><%= modele.title %></td>
              <td style="width: 75px;text-align: center;"><%= link_to 'Modifier', edit_modele_path(modele) %></td>
              <td style="width: 75px;text-align: center;"><%= link_to 'Supprimer', modele, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
            </tbody>
          </table>
        </div>

      <% end %>

    </div>

  </div>

</div>
