<% provide(:title, Modele.model_name.human.pluralize) %>

<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  Modele.model_name.human.pluralize => ''}
%>

<div class="container-fluid">
  <div class="page-header d-flex justify-content-between">
    <h1><%= Modele.model_name.human.pluralize %></h1>
    <%= link_to new_modele_path, class: 'btn btn-success align-self-center' do %>
      <span class="bi bi-plus-lg"></span>
      <%= t(".add_model") %>
    <% end %>
  </div>

  <%= render FilterComponent.new(@filter) do |c| %>
    <% c.with_form do |f| %>
      <div class="form-group">
        <%= f.label :q %>
        <%= f.search_field :q, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :architecture_id %>
        <%= f.collection_select(:architecture_id, Architecture.sorted, :id, :to_s, { prompt: true, include_blank: true }, { class: "form-control" }) %>
      </div>

      <div class="form-group">
        <%= f.label :category_id %>
        <%= f.collection_select(:category_id, Category.sorted, :id, :to_s, { prompt: true, include_blank: true }, { class: "form-control" }) %>
      </div>

      <div class="form-group">
        <%= f.label :manufacturer_id %>
        <%= f.collection_select(:manufacturer_id, Manufacturer.sorted, :id, :to_s, { prompt: true, include_blank: true }, { class: "form-control" }) %>
      </div>
    <% end %>
  <% end %>

  <% @types.each do |category, modeles| %>
    <h4><%= category %></h4>

    <%= render List::DataTableComponent.new(modeles) do |table| %>
      <% table.with_column(style: "width: 40px; height: 40px; padding: 0;") do |modele| %>
        <% bgModeleColor = modele.try(:color) || lighten_color("##{Digest::MD5.hexdigest(modele.try(:name) || 'test')[0..5]}", 0.4) %>
        <div style="height: 100%; background-color: <%= bgModeleColor %> !important;"></div>
      <% end %>

      <% table.with_column(Modele.model_name.human, sort_by: :name) do |modele| %>
        <b>
          <%= link_to modele, modele_path(modele) %>
        </b>
      <% end %>

      <% table.with_column(Enclosure.human_attribute_name(:display)) do |modele| %>
        <%= modele.enclosures.map(&:display).join(', ') %>
      <% end %>

      <% table.with_column(Bay.model_name.human.pluralize, sort_by: :servers_count) do |modele| %>
        <%= link_to servers_path(modele_id: modele.id) do %>
          <%= pluralize(modele.servers.count, modele.category.name.try(:downcase), "#{modele.category.name.try(:downcase)}#{ modele.category.name.blank? || modele.category.name[-1] == 's' || modele.category.name=='San' ? '' : 's' }") %>
        <% end %>
      <% end %>

      <% table.with_column(Modele.human_attribute_name(:network_types)) do |modele| %>
        <%= modele.network_types.map { |type| Modele.human_attribute_name("network_types.#{type}") }.join(", ") %>
      <% end %>

      <% table.with_column(style: "min-width: 84px; width: 84px") do |modele| %>
        <div class="btn-group btn-group-sm" role="group" aria-label="...">
          <%= link_to edit_modele_path(modele), class: 'btn btn-primary' do %>
            <span class="bi bi-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="<%= t("action.edit") %>"></span>
            <span class="visually-hidden"><%= t("action.edit") %></span>
          <% end %>
          <%= link_to modele, method: :delete, data: { confirm: t(".delete_confirmation") }, class: 'btn btn-danger' do %>
            <span class="bi bi-trash" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="<%= t("action.delete") %>"></span>
            <span class="visually-hidden"><%= t("action.delete") %></span>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
