<div class="container">

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <div class="page-header">
        <%= link_to new_modele_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          Ajouter un modèle
        <% end %>
        <h1>Modèles de serveur</h1>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Activé</th>
            <th></th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <%= content_tag_for(:tr, @modeles) do |modele| %>
            <td><%= modele.title %></td>
            <td><%= modele.description %></td>
            <td><input type="checkbox" <%= modele.published ? "checked" : "" %> disabled></td>
            <td><%= link_to 'Modifier', edit_modele_path(modele) %></td>
            <td><%= link_to 'Supprimer', modele, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>

  </div>

</div>
