<%= turbo_stream.update :ts_modele_form_preview do %>
  <div class="modal-header">
    <h5 class="modal-title"><%= t(".modal_title", modele_name: @modele.name) %></h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<% t("action.close") %>"></button>
  </div>
  <div class="modal-body">
    <div class="d-flex align-items-center flex-column">
      <% @modele.enclosures.reject(&:marked_for_destruction?).each.with_index do |enclosure, index| %>
        <%
          composants_per_enclosure = enclosure.composants.reject(&:marked_for_destruction?).select do |c|
            c.type_composant == TypeComposant.find_by_name("SLOT")
          end

          composants_per_enclosure = composants_per_enclosure.sort_by! do |c|
            c.try(:position) || (composants_per_enclosure.size + 1)
          end
        %>
        <% if enclosure.display == "grid" %>
          <style>
            .enclosure-container {
              <% grid_rows = enclosure.grid_areas.split(/\r\n/) %>
              <% grid_max_nb_of_columns = grid_rows.map { |row| row.split(' ').count }.max %>
              grid-template-areas: <%= raw grid_rows.map{|s|'"'+s+'"'}.join(' ') %>;
              grid-template-columns: repeat(<%= grid_max_nb_of_columns %>, 1fr); /* equal columns */
            }
          </style>
          <div class="container enclosure-container bg-dark-subtle">
            <% composants_per_enclosure.each do |component| %>
              <% class_name = "item-#{component.name}" %>
              <style>
                .<%= class_name %> {
                  grid-column: <%= component.name %>;
                  grid-row: <%= component.name %>;
                }
              </style>
              <div class="component-label <%= class_name %>">
                <%= component %>
              </div>
              <div class="item <%= class_name %> bg-light-subtle"></div>
            <% end %>
          </div>
        <% else %>
          <table class="<%= class_names("slots", "mt-2": index > 0) %>">
            <tbody>
            <% if enclosure.display == "horizontal" %>
              <% composants_per_enclosure.each do |component| %>
                <tr>
                  <th><%= component %></th>
                  <td></td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <% composants_per_enclosure.each do |component| %>
                  <th><%= component %></th>
                <% end %>
              </tr>
              <tr>
                <td class="slot_column"></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
