<% provide(:title, "#{Modele.model_name.human.pluralize} | #{@modele.name}") %>
<%= render "layouts/breadcrumb",
           breadcrumb_steps: { Modele.model_name.human.pluralize => modeles_path, @modele.name => "" } %>

<div class="row my-5">
  <div class="col-11 col-md-10 col-lg-8 mx-auto">
    <div class="d-flex justify-content-between pb-5">
      <%= link_to modeles_path, class: "btn align-self-center d-inline-flex",
                                title: t("action.back") do %>
        <span class="bi bi-chevron-left"></span>
        <span class="d-none d-md-inline-block ms-1"><%= t("action.back") %></span>
      <% end %>
      <h1 class="text-center px-4"><%= @modele %></h1>
      <%= link_to edit_modele_path(@modele), class: "btn btn-info align-self-center d-inline-flex",
                                              title: t("action.edit") do %>
        <span class="bi bi-pencil"></span>
        <span class="d-none d-md-inline-block ms-1"><%= t("action.edit") %></span>
      <% end %>
    </div>

    <dl class="bg-body-tertiary p-4 rounded border">
      <% %i[name category architecture u manufacturer nb_elts color].each do |attribute_name| %>
        <dt><%= Modele.human_attribute_name(attribute_name) %> :</dt>
        <dd><%= @modele.public_send(attribute_name) %></dd>
      <% end %>

      <dt><%= Modele.human_attribute_name(:network_types) %> :</dt>
      <dd>
        <%= @modele.network_types.map { |type| Modele.human_attribute_name("network_types.#{type}") }.join(", ") %>
      </dd>
    </dl>

    <ul class="bg-body-tertiary p-4 rounded border">
      <h5><%= Server.model_name.human.pluralize %> :</h5>
      <% @servers.each do |server| %>
        <li><%= link_to server, server_path(server) %></li>
      <% end %>
    </ul>
  </div>
</div>

<%= render ChangelogEntries::ObjectListComponent.new(@modele) %>
