<% provide(:title, @modele.name) %>

<div class="page-header">
  <%= link_to modeles_path, class: 'btn btn-outline-secondary' do %>
    <span class="bi bi-list-ul"></span>
    <%= t("action.back") %>
  <% end %>
  <%= link_to edit_modele_path(@modele), class: 'btn btn-primary' do %>
    <span class="bi bi-pencil"></span>
    <%= t("action.edit") %>
  <% end %>
  <h1><%= @modele %></h1>
</div>

<dl class="dl-horizontal">

  <dt>
    <%= Server.model_name.human.pluralize %> :
  </dt>
  <% @servers.each do |s| %>
    <dd><%= link_to s.name, server_path(s) %></dd>
  <% end %>

</dl>
