<%= render FormErrorsComponent.new(@color) %>

<%= form_for(@color, html: { class: "bg-body-tertiary p-4 rounded border", role: "form" }) do |f| %>
  <div class="row g-3">
    <fieldset class="col-12">
      <%= f.label :parent_type, class: "form-label" %>
      <%= f.text_field :parent_type, class: "form-control" %>
    </fieldset>

    <fieldset class="col-12 mt-4">
      <%= f.label :parent_id, class: "forml-label" %>
      <%= f.text_field :parent_id, class: "form-control" %>
    </fieldset>

    <fieldset class="col-12 mt-4">
      <%= f.label :code, class: "forml-label" %>
      <%= f.text_field :code, class: "form-control" %>
    </fieldset>

    <div class="col-12 mt-4">
      <%= f.submit class: "btn btn-primary w-100" %>
    </div>
  </div>
<% end %>
