<%= form_for(@color, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <%= render FormErrorsComponent.new(@color) %>

  <div class="form-group">
    <%= f.label :type, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :parent_type, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :parent_id, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :code, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :code, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
