<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  Color.model_name.human.pluralize => colors_path,
  @color.code => '',
} %>

<div class="container">
  <div class="page-header">
    <%= link_to colors_path, class: 'btn btn-default' do %>
      <span class="bi bi-list-ul"></span>
      <%= t("action.back") %>
    <% end %>
    <%= link_to @color, class: 'btn btn-primary' do %>
      <span class="bi bi-eye"></span>
      <%= t("action.show") %>
    <% end %>
    <h1>
        <%= t(".title") %>
    </h1>
  </div>

  <%= render 'form' %>
</div>
