<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  t("inventories") => modeles_url,
  Color.model_name.human.pluralize => ""}
%>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">
      <div class="page-header">
        <h1>
          <%= t(".title") %>
        </h1>
      </div>

      <%= render List::DataTableComponent.new(@colors) do |table| %>
        <% table.with_column(style: "position: relative;") do |color| %>
          <%= tag.div style: "position: absolute; top: 0; left: 0; bottom: 0; right: 0; background-color: #{color.code}" do %>
            &nbsp;
          <% end %>
        <% end %>

        <% table.with_column(Color.human_attribute_name(:type), sort_by: :parent_type) do |color| %>
          <%= color.parent_type %>
        <% end %>

        <% table.with_column(Color.human_attribute_name(:id), sort_by: :parent_id) do |color| %>
          <%= color.parent_id %>
        <% end %>

        <% table.with_column(Color.human_attribute_name(:code), sort_by: :code) do |color| %>
          <%= color.code %>
        <% end %>

        <% table.with_column(class: "text-right") do |color| %>
          <%= link_to t("action.edit"), edit_color_path(color), class: 'btn btn-primary' %>
          <%= link_to t("action.delete"), color_path(color), method: :delete, data: { confirm: t(".delete_confirmation") },
                                                             class: 'btn btn-danger' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
