<% breadcrumb.add_step(title = Color.model_name.human.pluralize) %>

<%= render Page::HeadingComponent.new(title:, breadcrumb:) %>

<div class="p-4 border-top d-flex flex-column row-gap-4">
  <%= render List::DataTableComponent.new(@colors) do |table| %>
    <% if allowed_to?(:destroy?) %>
      <% table.with_bulk_action(
        url: bulk_colors_path,
        method: :delete,
        class: "btn btn-danger btn-sm",
        data: { confirm: t("action.confirm") }
      ) do %>
        <span class="bi bi-trash pe-none" title="<%= t("action.delete") %>"></span>
      <% end %>
    <% end %>

    <% table.with_column(class: "position-relative") do |color| %>
      <%= tag.div class: "position-absolute top-0 start-0 bottom-0 end-0", style: "background-color:#{color.code}" do %>
        &nbsp;
      <% end %>
    <% end %>

    <% table.with_column(Color.human_attribute_name(:code), sort_by: :code) do |color| %>
      <%= link_to color.code, color_path(color), class: "fw-bold" %>
    <% end %>

    <% table.with_column(Color.human_attribute_name(:parent_type), sort_by: :parent_type) do |color| %>
      <%= color.parent_type %>
    <% end %>

    <% table.with_column(Color.human_attribute_name(:parent_id), sort_by: :parent_id) do |color| %>
      <%= color.parent_id %>
    <% end %>

    <% table.with_column(style: "min-width: 70px; width: 70px") do |color| %>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <% if allowed_to?(:update?, color) %>
          <%= link_to edit_color_path(color), class: "btn btn-info" do %>
            <span class="bi bi-pencil" title="<%= t("action.edit") %>" aria-hidden="true"
                                                                      data-controller="tooltip"
                                                                      data-bs-placement="left"></span>
              <span class="visually-hidden"><%= t("action.edit") %></span>
          <% end %>
        <% end %>
        <% if allowed_to?(:destroy?, color) %>
          <%= link_to color_path(color), method: :delete, class: "btn btn-danger" do %>
            <span class="bi bi-trash" title="<%= t("action.delete") %>" aria-hidden="true"
                                                                        data-controller="tooltip"
                                                                        data-bs-placement="left"></span>
            <span class="visually-hidden"><%= t("action.delete") %></span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
