<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  Color.model_name.human.pluralize => ""}
%>

<div class="container-fluid">
  <div class="page-header">
    <h1>
      <%= t(".title") %>
    </h1>
  </div>

  <%= render List::DataTableComponent.new(@colors) do |table| %>
    <% table.with_column(style: "position: relative;") do |color| %>
      <%= tag.div style: "position: absolute; top: 0; left: 0; bottom: 0; right: 0; background-color: #{color.code}" do %>
        &nbsp;
      <% end %>
    <% end %>

    <% table.with_column(Color.human_attribute_name(:type), sort_by: :parent_type) do |color| %>
      <%= color.parent_type %>
    <% end %>

    <% table.with_column(Color.human_attribute_name(:id), sort_by: :parent_id) do |color| %>
      <%= color.parent_id %>
    <% end %>

    <% table.with_column(Color.human_attribute_name(:code), sort_by: :code) do |color| %>
      <%= color.code %>
    <% end %>

    <% table.with_column(style: "min-width: 84px; width: 84px") do |color| %>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <%= link_to edit_color_path(color), class: 'btn btn-primary' do %>
          <span class="bi bi-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="<%= t("action.edit") %>"></span>
            <span class="visually-hidden"><%= t("action.edit") %></span>
        <% end %>
        <%= link_to color_path(color), method: :delete, data: { confirm: t(".delete_confirmation") }, class: 'btn btn-danger' do %>
          <span class="bi bi-trash" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="<%= t("action.delete") %>"></span>
          <span class="visually-hidden"><%= t("action.delete") %></span>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
