<% breadcrumb.add_step(title = @color) %>

<%= render Page::HeadingShowComponent.new(
  resource: @color,
  title:,
  breadcrumb:,
  editable: allowed_to?(:update?, @color)
) %>

<div class="col-12 p-4 border-top">
  <div class="row row-cols-1 row-cols-lg-2 row-gap-4">
    <div class="col">
      <%= render CardComponent.new do |card| %>
        <% card.with_header do %>
          <%= t("show.cards.identification") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <% %i[code].each do |attribute_name| %>
            <dt class="pb-2"><%= Color.human_attribute_name(attribute_name) %></dt>
            <dd class="mb-0 pb-2 ps-3"><%= @color.public_send(attribute_name) %></dd>
          <% end %>

          <input type="color" class="form-control form-control-color" id="" value="<%= @color %>" disabled>
        </dl>
      <% end %>
    </div>
    <div class="col">
      <%= render CardComponent.new do |card| %>
        <% card.with_header do %>
          <%= t("show.cards.features") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <% %i[parent_type parent_id].each do |attribute_name| %>
            <dt class="pb-2"><%= Color.human_attribute_name(attribute_name) %></dt>
            <dd class="mb-0 pb-2 ps-3"><%= @color.public_send(attribute_name) %></dd>
          <% end %>
        </dl>
      <% end %>
    </div>
  </div>

  <%= render ChangelogEntries::ObjectListComponent.new(@color) %>
</div>
