<h1 class="mb-3 h3 fw-normal text-center"><%= t("users.login") %></h1>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" } ) do |f| %>
  <% if Rails.env.development? %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <fieldset class="form-floating">
      <%= f.email_field :email, class: "form-control mb-n2 rounded-bottom-0", placeholder: "name@example.com" %>
      <%= f.label :email %>
    </fieldset>
    <fieldset class="form-floating">
      <%= f.password_field :password, class: "form-control mb-3 rounded-top-0",
                                      placeholder: User.human_attribute_name(:password) %>
      <%= f.label :password %>
    </fieldset>
    <% if devise_mapping.rememberable? -%>
      <fieldset class="form-check text-start mt-3">
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <%= f.label :remember_me, class: "form-check-label" %>
      </fieldset>
    <% end -%>
    <%= f.submit t("users.to_login"), class: "btn btn-primary w-100 py-2 mt-4" %>
    <div class="mb-5 mt-4 justify-content-center d-flex">
      <%- if devise_mapping.recoverable? %>
        <%= link_to t("devise.passwords.new.forgot_your_password"), new_password_path(resource_name),
                                                                    class: "link-body-emphasis" %>
      <% end -%>
      <span>&nbsp;|&nbsp;</span>
      <%- if devise_mapping.registerable? %>
        <%= link_to t("devise.registrations.new.sign_up"), new_registration_path(resource_name),
                                                           class: "link-body-emphasis" %>
      <% end -%>
    </div>
  <% end %>
<% end %>
<div id="oidc-login" class="pt-5 mt-5 border-top border-secondary-subtle">
  <%= button_to "Authentification via CERBERE (OIDC)",
                user_openid_connect_omniauth_authorize_path,
                class: "btn btn-success w-100" %>
</div>
