<div class="container">

  <%= render 'layouts/breadcrumb', params: {'Paramètres' => modeles_url, 'Mainteneurs' => ''} %>

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <div class="page-header">
        <%= link_to new_maintainer_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          Ajouter un mainteneur
        <% end %>
        <h1>Mainteneurs</h1>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Nom</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <%= content_tag_for(:tr, @maintainers) do |maintainer| %>
              <td><%= maintainer %></td>
              <td><%= link_to 'Modifier', edit_maintainer_path(maintainer) %></td>
              <td><%= link_to 'Supprimer', maintainer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' %></td>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
