<div class="page-header">
  <%= link_to new_maintainer_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Maintainer
  <% end %>
  <h1>Listing maintainers</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @maintainers) do |maintainer| %>
            <td><%= maintainer.name %></td>
            <td><%= link_to 'Show', maintainer %></td>
        <td><%= link_to 'Edit', edit_maintainer_path(maintainer) %></td>
        <td><%= link_to 'Destroy', maintainer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' %></td>
      <% end %>
    </tbody>
  </table>
</div>
