<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  Maintainer.model_name.human.pluralize => ""} %>

<div class="container-fluid">
  <div class="page-header d-flex justify-content-between">
    <h1><%= t(".title") %></h1>
    <%= link_to new_maintainer_path, class: 'btn btn-success align-self-center' do %>
      <span class="bi bi-plus-lg"></span>
      <%= t(".add_maintainer") %>
    <% end %>
  </div>

  <%= render List::DataTableComponent.new(@maintainers) do |table| %>
    <% table.with_column(Maintainer.human_attribute_name(:name), sort_by: :name) do |maintainer| %>
      <%= link_to maintainer, maintainer_path(maintainer) %>
    <% end %>

    <% table.with_column(style: "min-width: 84px; width: 84px") do |maintainer| %>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <%= link_to edit_maintainer_path(maintainer), class: 'btn btn-primary' do %>
          <span class="bi bi-pencil" aria-hidden="true" data-controller="tooltip" data-bs-placement="left" title="<%= t("action.edit") %>"></span>
          <span class="visually-hidden"><%= t("action.edit") %></span>
        <% end %>
        <%= link_to maintainer, method: :delete, data: { confirm: t(".delete_confirmation") }, class: 'btn btn-danger' do %>
          <span class="bi bi-trash" aria-hidden="true" data-controller="tooltip" data-bs-placement="left" title="<%= t("action.delete") %>"></span>
          <span class="visually-hidden"><%= t("action.delete") %></span>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
