<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  t("breadcrumb.settings") => modeles_url,
  Maintainer.model_name.human.pluralize => ""} %>

<div class="container-fluid">

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <div class="page-header">
        <%= link_to new_maintainer_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t(".add_maintainer") %>
        <% end %>
        <h1>
          <%= t(".title") %>
        </h1>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>
                <%= Maintainer.human_attribute_name(:name) %>
              </th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <%= content_tag_for(:tr, @maintainers) do |maintainer| %>
              <td>
                <%= link_to maintainer, maintainer_path(maintainer) %>
              </td>
              <td class="text-right">
                <%= link_to t("action.edit"), edit_maintainer_path(maintainer), class: 'btn btn-primary' %>
                <%= link_to t("action.delete"),
                            maintainer,
                            method: :delete,
                            data: { confirm: t(".delete_confirmation") },
                            class: 'btn btn-danger' %>
              </td>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
