<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  t("inventories") => modeles_url,
  Maintainer.model_name.human.pluralize => ""} %>

<div class="container-fluid">

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <div class="page-header">
        <%= link_to new_maintainer_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t(".add_maintainer") %>
        <% end %>
        <h1>
          <%= t(".title") %>
        </h1>
      </div>

      <%= render List::DataTableComponent.new(@maintainers) do |table| %>
        <% table.with_column(Maintainer.human_attribute_name(:name), sort_by: :name) do |maintainer| %>
          <%= link_to maintainer, maintainer_path(maintainer) %>
        <% end %>

        <% table.with_column(class: "text-right") do |maintainer| %>
          <%= link_to t("action.edit"), edit_maintainer_path(maintainer), class: 'btn btn-primary' %>
          <%= link_to t("action.delete"),
                      maintainer,
                      method: :delete,
                      data: { confirm: t(".delete_confirmation") },
                      class: 'btn btn-danger' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
