<%= form_for(@card_type, html: { class: "col-12 col-md-10 col-lg-8 mx-auto", role: "form" }) do |f| %>
  <%= render FormErrorsComponent.new(@card_type) %>
  <%= render CardComponent.new(extra_classes: "bg-body-tertiary") do |card| %>
    <fieldset class="col-12">
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, class: "form-control" %>
    </fieldset>
    <fieldset class="col-12 mt-4">
      <%= f.label :port_type, class: "form-label" %>
      <%= f.select :port_type_id, PortType.all.map { |pt| [pt.name, pt.id] },
                                  {},
                                  { class: "form-select", data: { controller: "select" } } %>
    </fieldset>
    <fieldset class="col-12 mt-4">
      <%= f.label :port_quantity, class: "form-label" %>
      <%= f.number_field :port_quantity, class: "form-control" %>
    </fieldset>
    <fieldset class="col-12 mt-4">
      <%= f.label :columns, class: "form-label" %>
      <%= f.number_field :columns, class: "form-control" %>
    </fieldset>
    <fieldset class="col-12 mt-4">
      <%= f.label :rows, class: "form-label" %>
      <%= f.number_field :rows, class: "form-control" %>
    </fieldset>
    <fieldset class="col-12 mt-4">
      <%= f.label :max_aligned_ports, class: "form-label" %>
      <%= f.number_field :max_aligned_ports, class: "form-control" %>
    </fieldset>
    <fieldset class="col-12 mt-4">
      <%= f.label :first_position, class: "form-label" %>
      <%= f.select :first_position, [0, 1], {}, class: "form-select" %>
    </fieldset>
  <% end %>

  <div class="col-12 py-4 mt-4 text-end sticky-bottom bg-body-tertiary border-top">
    <%= link_to t("action.cancel"), card_types_path, class: "btn btn-outline-secondary" %>
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
