<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  CardType.model_name.human.pluralize => card_types_path,
  @card_type => '' }
%>

<div class="container">
  <div class="page-header">
    <%= link_to card_types_path, class: 'btn btn-outline-secondary' do %>
      <span class="bi bi-list-ul"></span>
      <%= t("action.back") %>
    <% end %>
    <%= link_to @card_type, class: 'btn btn-primary' do %>
      <span class="bi bi-eye"></span>
      <%= t(".show_card") %>
    <% end %>
    <h1>
      <%= t(".title") %>
    </h1>
  </div>

  <%= render 'form' %>
</div>
