<%
  breadcrumb.add(title = CardType.model_name.human.pluralize)
%>

<%= render Page::HeadingComponent.new(title:, breadcrumb:) do |heading| %>
  <% heading.with_right_content do %>
    <% render ButtonComponent.new(t(".new_card_type"),
                                  url: new_card_type_path,
                                  variant: :success,
                                  icon: "plus-lg",
                                  is_responsive: true) %>
  <% end %>
<% end %>

<div class="p-4 border-top d-flex flex-column row-gap-4">
  <%= render FilterComponent.new(@filter) do |c| %>
    <% c.with_form do |f| %>
      <div class="w-100">
        <fieldset class="form-floating">
          <%= f.text_field :q, class: "form-control", placeholder: t("filters.placeholder.search") %>
          <%= f.label :q %>
        </fieldset>
      </div>

      <div>
        <fieldset class="form-floating">
          <%= f.collection_select(:port_type_ids, PortType.sorted, :id, :name,
                                  { prompt: true, multiple: true },
                                  { class: "form-select", data: { controller: :select }  }) %>
          <%= f.label :port_type_ids %>
        </fieldset>
      </div>
    <% end %>
  <% end %>

  <%= render List::DataTableComponent.new(@card_types) do |table| %>
    <% table.with_column(CardType.human_attribute_name(:name), sort_by: :name) do |card_type| %>
      <%= link_to card_type, card_type_path(card_type), class: "fw-bold" %>
    <% end %>

    <% table.with_column(CardType.human_attribute_name(:port_type), sort_by: :port_type_id) do |card_type| %>
      <%= card_type.port_type %>
    <% end %>

    <% table.with_column(CardType.human_attribute_name(:port_quantity), sort_by: :port_quantity) do |card_type| %>
      <%= CardType.human_attribute_name(:port_quantity_count, count: (card_type.port_quantity || 0)) %>
    <% end %>

    <% table.with_column(style: "min-width: 70px; width: 70px") do |card_type| %>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <%= link_to edit_card_type_path(card_type), class: "btn btn-info" do %>
          <span class="bi bi-pencil" title="<%= t("action.edit") %>" aria-hidden="true"
                                                                     data-controller="tooltip"
                                                                     data-bs-placement="left"></span>
          <span class="visually-hidden"><%= t("action.edit") %></span>
        <% end %>
        <%= link_to card_type_path(card_type), method: :delete, data: { confirm: t(".delete_confirmation") },
                                                                class: "btn btn-danger" do %>
          <span class="bi bi-trash" title="<%= t("action.delete") %>" aria-hidden="true"
                                                                      data-controller="tooltip"
                                                                      data-bs-placement="left"></span>
          <span class="visually-hidden"><%= t("action.delete") %></span>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
