<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  t("inventories") => modeles_url,
  CardType.model_name.human.pluralize => "" }
%>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">
      <div class="page-header">
        <%= link_to new_card_type_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t(".add_card") %>
        <% end %>
        <h1>
          <%= t(".title") %>
        </h1>
      </div>

      <%= render List::DataTableComponent.new(@card_types) do |table| %>
        <% table.with_column(CardType.human_attribute_name(:port_type_id), sort_by: :port_type_id) do |card_type| %>
          <%= card_type.port_type %>
        <% end %>

        <% table.with_column(CardType.human_attribute_name(:name), sort_by: :name) do |card_type| %>
          <%= link_to card_type, card_type_path(card_type) %>
        <% end %>

        <% table.with_column(CardType.human_attribute_name(:port_quantity), sort_by: :port_quantity) do |card_type| %>
          <%= CardType.human_attribute_name(:port_quantity_count, count: card_type.port_quantity) %>
        <% end %>

        <% table.with_column(class: "text-right") do |card_type| %>
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <%= link_to t("action.edit"), edit_card_type_path(card_type), class: "btn btn-primary" %>
            <%= link_to t("action.delete"), card_type_path(card_type), method: :delete,
                                                                      data: { confirm: t(".delete_confirmation") },
                                                                      class: "btn btn-danger" %>
          </div>
        <% end %>
      <% end %>

      <% if false %>
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th>
              <%= CardType.human_attribute_name(:name) %>
            </th>
            <th>
              <%= CardType.human_attribute_name(:usage) %>
            </th>
            <th>
              <%= CardType.human_attribute_name(:port_quantity) %>
            </th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <% @card_types_by_port_types.each do |port_type, card_types| %>
            <tr style="font-weight: bold;">
              <td colspan="4"><%= link_to port_type, '#', id: "port_type_#{port_type}", style: "color: #555;" %></td>
            </tr>
            <%= content_tag_for(:tr, card_types) do |card_type| %>
              <td style="<%= "font-weight:bold;" if card_type.max_aligned_ports %>">
                <%= link_to card_type, card_type_path(card_type) %>
              </td>
              <td><%= link_to pluralize(card_type.servers.count, 'serveur'), servers_path %></td>
              <td><%= card_type.port_quantity %> ports</td>
              <td class="text-right">
                <%= link_to t("action.edit"), edit_card_type_path(card_type), class: 'btn btn-primary' %>
                <%= link_to t("action.delete"),
                            card_type,
                            method: :delete,
                            data: { confirm: t(".delete_confirmation") },
                            class: 'btn btn-danger' %>
              </td>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
      <% end %>
    </div>
  </div>
</div>
