<%
  provide(:title, "#{CardType.model_name.human(count: 2)} | #{@card_type}")

  breadcrumb_steps = {
    CardType.model_name.human(count: 2) => card_types_path, @card_type => ""
  }
%>

<%= render Page::HeadingShowComponent.new(resource: @card_type, title: @card_type.to_s, breadcrumb_steps:) %>
<div class="col-12 p-4 border-top">
  <div class="col-12 col-lg-6">
    <%= render CardComponent.new do |card| %>
      <dl class="show-page_dl d-grid row-gap-2 mb-0">
        <% %i[name port_type port_quantity columns rows max_aligned_ports first_position].each do |attribute_name| %>
          <dt class="pb-2"><%= CardType.human_attribute_name(attribute_name) %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= @card_type.public_send(attribute_name) %></dd>
        <% end %>
      </dl>
    <% end %>
  </div>
  <%= render ChangelogEntries::ObjectListComponent.new(@card_type) %>
</div>
