<div class="page-header">
  <%= link_to card_types_path, class: 'btn btn-default' do %>
    <span class="bi bi-list-ul"></span>
    <%= t("action.back") %>
  <% end %>
  <%= link_to edit_card_type_path(@card_type), class: 'btn btn-primary' do %>
    <span class="bi bi-pencil"></span>
    <%= t("action.edit") %>
  <% end %>
  <h1>
    <%= t(".title") %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>
    <%= CardType.human_attribute_name(:name) %> :
  </dt>
  <dd><%= @card_type %></dd>

  <dt>
    <%= CardType.model_name.human %> :
  </dt>
  <dd><%= @card_type.port_type.try(:name) %></dd>

  <dt>
    <%= CardType.human_attribute_name(:port_quantity) %> :
  </dt>
  <dd><%= @card_type.port_quantity %></dd>

</dl>
