<% provide(:title, "#{CardType.model_name.human.pluralize} | #{@card_type}") %>
<%= render "layouts/breadcrumb",
           breadcrumb_variables: { CardType.model_name.human.pluralize => card_types_path, @card_type => "" } %>

<div class="row my-5">
  <div class="col-11 col-md-10 col-lg-8 mx-auto">
    <div class="d-flex justify-content-between pb-5">
      <%= link_to card_types_path, class: "btn btn-outline-secondary align-self-center d-inline-flex",
                                   title: t("action.back") do %>
        <span class="bi bi-chevron-left"></span>
        <span class="d-none d-md-inline-block ms-1"><%= t("action.back") %></span>
      <% end %>
      <h1 class="text-center px-4"><%= t(".title") %></h1>
      <%= link_to edit_card_type_path(@card_type), class: "btn btn-primary align-self-center d-inline-flex",
                                                   title: t("action.edit") do %>
        <span class="bi bi-pencil"></span>
        <span class="d-none d-md-inline-block ms-1"><%= t("action.edit") %></span>
      <% end %>
    </div>

    <dl class="bg-body-tertiary p-4 rounded border">
      <% %i[name port_type port_quantity columns rows max_aligned_ports first_position].each do |attribute_name| %>
        <dt><%= CardType.human_attribute_name(attribute_name) %> :</dt>
        <dd><%= @card_type.public_send(attribute_name) %>
      <% end %>
    </dl>
  </div>
</div>
