<%%= render FormErrorsComponent.new(@<%= singular_table_name %>) %>

<%%= form_for(@<%= singular_table_name %>, html: { class: "bg-body-tertiary p-4 rounded border", role: "form" }) do |f| %>
  <div class="row g-3">
    <% attributes.each do |attribute| -%>
<fieldset class="col-12">
      <%%= f.label :<%= attribute.name %>, class: "form-label" %>
      <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, class: "form-control" %>
    </fieldset>
    <% end -%>

    <div class="col-12 mt-4">
      <%%= f.submit class: "btn btn-primary w-100" %>
    </div>
  </div>
<%% end %>
