<%% provide(:title, <%= singular_table_name.capitalize %>.model_name.human.pluralize) %>
<%%= render "layouts/breadcrumb", breadcrumb_variables: {
  <%= singular_table_name.capitalize %>.model_name.human.pluralize => "" }
%>

<div class="container-fluid">
  <div class="d-flex justify-content-between">
    <h1><%%= t(".title") %></h1>
    <%%= link_to new_<%= singular_table_name %>_path, class: "btn btn-success align-self-center" do %>
      <span class="bi bi-plus-lg"></span>
      <%%= t(".new_<%= singular_table_name %>") %>
    <%% end %>
  </div>

  <%%= render List::DataTableComponent.new(@<%= plural_table_name %>) do |table| %>
  <% attributes.each do |attribute| -%>
  <%% table.with_column(<%= singular_table_name.capitalize %>.human_attribute_name(:<%= attribute.column_name %>)) do |<%= singular_table_name %>| %>
      <%%= <%= singular_table_name %>.<%= attribute.name %> %>
    <%% end %>
  <% end -%>

    <%% table.with_column(style: "min-width: 84px; width: 84px") do |<%= singular_table_name %>| %>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <%%= link_to edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: "btn btn-primary" do %>
          <span class="bi bi-pencil" aria-hidden="true" data-controller="tooltip"
                                                        data-bs-placement="left"
                                                        title="<%%= t("action.edit") %>"></span>
          <span class="visually-hidden"><%%= t("action.edit") %></span>
        <%% end %>
        <%%= link_to <%= singular_table_name %>, method: :delete, data: { confirm: t(".delete_confirmation") },
                                                              class: "btn btn-danger" do %>
          <span class="bi bi-trash" aria-hidden="true" data-controller="tooltip"
                                                       data-bs-placement="left"
                                                       title="<%%= t("action.delete") %>"></span>
          <span class="visually-hidden"><%%= t("action.delete") %></span>
        <%% end %>
      </div>
    <%% end %>
  <%% end %>
</div>
