<%%
  title = <%= singular_table_name.capitalize %>.model_name.human.pluralize
  breadcrumb_steps = { title => "" }

  provide(:title, title)
%>

<%%= render Page::HeadingComponent.new(title:, breadcrumb_steps:) do |heading| %>
  <%% heading.with_right_content do %>
    <%% render ButtonComponent.new(t(".new_<%= singular_table_name %>"),
                                  url: new_<%= singular_table_name %>_path,
                                  variant: :success,
                                  icon: "plus-lg",
                                  is_responsive: true) %>
  <%% end %>
<%% end %>

<div class="p-4 border-top d-flex flex-column row-gap-4">
  <%%= render List::DataTableComponent.new(@<%= plural_table_name %>) do |table| %>
  <% attributes.each do |attribute| -%>
  <%% table.with_column(<%= singular_table_name.capitalize %>.human_attribute_name(:<%= attribute.column_name %>)) do |<%= singular_table_name %>| %>
      <%%= <%= singular_table_name %>.<%= attribute.name %> %>
    <%% end %>
  <% end -%>

    <%% table.with_column(style: "min-width: 70px; width: 70px") do |<%= singular_table_name %>| %>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <%%= link_to edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: "btn btn-primary" do %>
          <span class="bi bi-pencil"
                title="<%%= t("action.edit") %>"
                data-controller="tooltip"
                data-bs-placement="left"
                aria-hidden="true"></span>
          <span class="visually-hidden"><%%= t("action.edit") %></span>
        <%% end %>
        <%%= link_to <%= singular_table_name %>_path(<%= singular_table_name %>),
                    method: :delete,
                    data: { confirm: t(".delete_confirmation") },
                    class: "btn btn-danger" do %>
          <span class="bi bi-trash"
                title="<%%= t("action.delete") %>"
                data-controller="tooltip"
                data-bs-placement="left"
                aria-hidden="true"></span>
          <span class="visually-hidden"><%%= t("action.delete") %></span>
        <%% end %>
      </div>
    <%% end %>
  <%% end %>
</div>
