<%%
  breadcrumb.add(<%= singular_table_name.capitalize %>.model_name.human.pluralize => <%= plural_table_name %>_path, @<%= singular_table_name %>)
%>

<%%= render Page::HeadingShowComponent.new(resource: @<%= singular_table_name %>, title: @<%= singular_table_name %>, breadcrumb:) %>
<div class="col-12 p-4 border-top">
  <div class="col-12 col-lg-6">
    <%%= render CardComponent.new do |card| %>
      <dl class="show-page_dl d-grid row-gap-2 mb-0">
        <%% %i[<%= attributes.map(&:name).join(" ") %>].each do |attribute_name| %>
          <dt class="pb-2"><%%= <%= singular_table_name.capitalize %>.human_attribute_name(attribute_name) %> :</dt>
          <dd class="mb-0 pb-2 ps-3"><%%= @<%= singular_table_name %>.public_send(attribute_name) %></dd>
        <%% end %>
      </dl>
    <%% end %>
  </div>
  <%%= render ChangelogEntries::ObjectListComponent.new(@<%= singular_table_name %>) %>
</div>
