<% view_side = Frame.view_sides[:front] if local_assigns[:view_side].nil? %>

<span class="pull-right" style="margin-top: 10px">

  <% if view_side != Frame.view_sides[:back] %>
    <!-- Choice of server background color -->
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t(".background_color", bg: params[:bg] || Modele.model_name.human.downcase) %> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to Modele.model_name.human, url_for( params.except(:controller, :action).permit(:view, :islet, :id, :bg, :format).merge({:view => 'front', bg: Modele.model_name.human.downcase, islet: params[:islet], id: params[:id]})), remote: true  %></li>
        <li><%= link_to Gestion.model_name.human, url_for( params.except(:controller, :action).permit(:view, :islet, :id, :bg, :format).merge({:view => 'front', bg: Gestion.model_name.human.downcase, islet: params[:islet], id: params[:id]})), remote: true  %></li>
        <li><%= link_to Cluster.model_name.human, url_for( params.except(:controller, :action).permit(:view, :islet, :id, :bg, :format).merge({:view => 'front', bg: Cluster.model_name.human.downcase, islet: params[:islet], id: params[:id]})), remote: true  %></li>
      </ul>
    </div>
  <% end %>

  <!-- Views FRONT / BACK -->
  <% if view_side==Frame.view_sides[:both] %>
     <%= content_tag :div, class: 'btn btn-default disabled' do %>
      <%= Frame.human_attribute_name("view_sides.both") %>
    <% end %>
  <% else %>
    <%= link_to url_for(params.except(:controller, :action).permit(:view, :islet, :id, :bg, :format).merge({:view => (view_side == Frame.view_sides[:back] ? Frame.view_sides[:front] : Frame.view_sides[:back]), islet: params['islet'], id: params['id']})), class: 'btn btn-success', remote: true do %>
      <span class="bi bi-back" aria-hidden="true"></span>
      <%= Frame.human_attribute_name("view_sides.#{view_side}") %>
    <% end %>
  <% end %>

  <%= link_to "#", class: 'btn btn-danger', id: 'drag-n-drop-switcher' do %>
    <span class="bi bi-arrows-move" aria-hidden="true"></span>
    <%= t(".dragn_drop.enable") %>
  <% end %>

  <% if formats!=[:pdf] && @room.present? && !@room.kind_of?(String) %>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t("export_button.label") %> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li class="dropdown-submenu pull-left">
          <%= link_to url_for(params.except(:controller, :action).permit(:view, :islet, :id, :bg, :format).merge({'format' => 'pdf'})), target: :_blank do %>
            <span class="bi bi-file-earmark-arrow-down" aria-hidden="true"></span>
            <%= t("export_button.exports.pdf") %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-left">
            <li>
              <%= link_to url_for(params.except(:controller, :action).permit(:view, :islet, :id, :bg, :format).merge({'format' => 'pdf', 'view' => 'front'})), target: :_blank do %>
                <span class="bi bi-file-earmark-arrow-down" aria-hidden="true"></span>
                <%= t("export_button.faces.front") %>
              <% end %>
            </li>
            <li>
              <%= link_to url_for(params.except(:controller, :action).permit(:view, :islet, :id, :bg, :format).merge({'format' => 'pdf', 'view' => 'back'})), target: :_blank do %>
                <span class="bi bi-file-earmark-arrow-down" aria-hidden="true"></span>
                <%= t("export_button.faces.back") %>
              <% end %>
            </li>
            <li>
              <%= link_to url_for(params.except(:controller, :action).permit(:view, :islet, :id, :bg, :format).merge({'format' => 'pdf', 'view' => 'front', 'bg' => 'cablage'})), target: :_blank do %>
                <span class="bi bi-file-earmark-arrow-down" aria-hidden="true"></span>
                <%= t("export_button.faces.front_wiring") %>
              <% end %>
            </li>
            <li>
              <%= link_to url_for(params.except(:controller, :action).permit(:view, :islet, :id, :bg, :format).merge({'format' => 'pdf', 'view' => 'back', 'bg' => 'cablage'})), target: :_blank do %>
                <span class="bi bi-file-earmark-arrow-down" aria-hidden="true"></span>
                <%= t("export_button.faces.back_wiring") %>
              <% end %>
            </li>
          </ul>
        </li>
        <li>
          <%= link_to url_for(params.except(:controller, :action).permit(:view, :islet, :id, :bg, :format).merge({'format' => 'txt'})) do %>
          <span class="bi bi-file-earmark-arrow-down" aria-hidden="true"></span>
            <%= t("export_button.exports.txt") %>
          <% end %>
        </li>
        <li>
          <%= link_to url_for(params.except(:controller, :action).permit(:view, :islet, :id, :bg, :format).merge({'format' => 'pdf', 'debug' => '1'})), target: :_blank do %>
          <span class="bi bi-printer" aria-hidden="true"></span>
            <%= t("export_button.exports.print") %>
          <% end %>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <%= link_to ports_path(room_id: @room.id, frame_id: @frame.try(:id)) do %>
          <span class="bi bi-list-ul" aria-hidden="true"></span>
            <%= t("export_button.port_list") %>
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>

  <%= render CaptionComponent.new do %>
    <h5><%= t(".caption.ports")%> :</h5>
    <dl>
      <dt>
        <span class="pdu port_container unreferenced_client">
          <a class="port portFC empty">01</a>
        </span>
      </dt>
      <dd><%= t(".caption.unreferenced_client")%></dd>
      <dt>
        <span class="pdu port_container no_client">
          <a class="port portFC empty">02</a>
        </span>
      </dt>
      <dd><%= t(".caption.no_client")%></dd>
    </dl>
  <% end %>
</span>
