<% view_side = Frame.view_sides[:front] if local_assigns[:view_side].nil? %>

<span class="pull-right" style="margin-top: 10px">
  <!-- Vues AVANT / ARRIERE -->
  <% if view_side==Frame.view_sides[:both] %>
     <%= content_tag :div, class: 'btn btn-default disabled' do %>
      Vue avant & arrière
    <% end %>
  <% else %>
    <%= link_to url_for(params.except(:controller, :action).permit(:view, :islet, :id, :bg, :format).merge({:view => (view_side == Frame.view_sides[:back] ? Frame.view_sides[:front] : Frame.view_sides[:back]), islet: params['islet'], id: params['id']})), class: 'btn btn-success' do %>
      <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
      <%= (view_side==Frame.view_sides[:back] ? 'Vue avant' : 'Vue arrière') %>
    <% end %>
  <% end %>

  <%= link_to "#", class: 'btn btn-danger', id: 'drag-n-drop-switcher' do %>
    <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
    Activer le drag'n drop
  <% end %>
  <% if view_side != Frame.view_sides[:back] %>
    <!-- Choix de la couleur de fond des serveurs -->
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Couleur de fond : <%= params[:bg] || 'modèle' %> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'Modèle', url_for( params.except(:controller, :action).permit(:view, :islet, :id, :bg, :format).merge({:view => 'front', bg: 'modele', islet: params[:islet], id: params[:id]})) %></li>
        <li><%= link_to 'Gestionnaire', url_for( params.except(:controller, :action).permit(:view, :islet, :id, :bg, :format).merge({:view => 'front', bg: 'gestionnaire', islet: params[:islet], id: params[:id]})) %></li>
        <li><%= link_to 'Cluster', url_for( params.except(:controller, :action).permit(:view, :islet, :id, :bg, :format).merge({:view => 'front', bg: 'cluster', islet: params[:islet], id: params[:id]})) %></li>
      </ul>
    </div>
  <% end %>

  <% if formats!=[:pdf] && @room.present? %>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Exports <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li>
          <%= link_to url_for(params.except(:controller, :action).permit(:view, :islet, :id, :bg, :format).merge({'format' => 'pdf'})), target: :_blank do %>
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            Export PDF
          <% end %>
        </li>
        <li><%= link_to url_for(params.except(:controller, :action).permit(:view, :islet, :id, :bg, :format).merge({'format' => 'txt'})) do %>
          <span class="glyphicon glyphicon-text-background" aria-hidden="true"></span>
            Export Txt
          <% end %>
        </li>
        <li><%= link_to url_for(params.except(:controller, :action).permit(:view, :islet, :id, :bg, :format).merge({'format' => 'pdf', 'debug' => '1'})), target: :_blank do %>
          <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
            Impression
          <% end %>
        </li>
        <li role="separator" class="divider"></li>
        <li><%= link_to ports_path(room_id: @room.id, frame_id: @frame.try(:id)) do %>
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            Liste des ports
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>
</span>
