<div class="dropdown btn-group-sm btn-group"
     data-controller="export-pdf"
     data-export-pdf-model-ids-value="<%= room.frames.order(:islet_id, :name).pluck(:id) %>"
     data-export-pdf-filename-value="room-<%= room.name %>">
  <button type="button"
          class="btn btn-outline-primary dropdown-toggle d-flex align-items-center export-button"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
    <span class="spinner-border spinner-border-sm flex-shrink-0 d-flex d-none" role="status" aria-hidden="true"
          data-export-pdf-target="spinner"></span>
    <span class="text-truncate d-inline-block ms-2">
      <%= t("export_button.label") %>
    </span>
  </button>

  <ul class="dropdown-menu dropdown-menu-end">
    <li>
      <h6 class="dropdown-header"><%= t("export_button.exports.pdf") %></h6>
    </li>
    <li>
      <a role="button" class="dropdown-item" data-action="click->export-pdf#export" data-view-target="front">
        <span class="bi bi-file-earmark-pdf" aria-hidden="true"></span>
        <%= t("export_button.faces.front") %>
      </a>
    </li>
    <li>
      <a role="button" class="dropdown-item" data-action="click->export-pdf#export" data-view-target="back">
        <span class="bi bi-file-earmark-pdf" aria-hidden="true"></span>
        <%= t("export_button.faces.back") %>
      </a>
    </li>
    <li>
      <a role="button" class="dropdown-item" data-action="click->export-pdf#export" data-view-target="front"
                                                                                    data-bg-wiring="true">
        <span class="bi bi-file-earmark-pdf" aria-hidden="true"></span>
        <%= t("export_button.faces.front_wiring") %>
      </a>
    </li>
    <li>
      <a role="button" class="dropdown-item" data-action="click->export-pdf#export" data-view-target="back"
                                                                                    data-bg-wiring="true">
        <span class="bi bi-file-earmark-pdf" aria-hidden="true"></span>
        <%= t("export_button.faces.back_wiring") %>
      </a>
    </li>

    <li><hr class="dropdown-divider"></li>

    <li>
      <%= link_to visualization_room_path(room, format: :txt, view: "", islet: "", bg: ""), class: "dropdown-item" do %>
        <span class="bi bi-file-earmark-text" aria-hidden="true"></span>
        <%= t("export_button.exports.txt") %>
      <% end %>
    </li>

    <li>
      <%= link_to print_visualization_room_path(room), class: "dropdown-item", target: :_blank do %>
        <span class="bi bi-printer" aria-hidden="true"></span>
        <%= t("export_button.exports.print") %>
      <% end %>
    </li>

    <li><hr class="dropdown-divider"></li>

    <li>
      <%= link_to ports_path(room_id: room.id, frame_id: @frame.try(:id)), class: "dropdown-item", data: { turbo_frame: :_top } do %>
        <span class="bi bi-card-list" aria-hidden="true"></span>
        <%= t("export_button.port_list") %>
      <% end %>
    </li>
  </ul>
</div>
