<div class="islet tab-pane fade <%= 'in active' if network == 1 && (islet == @islet || (@islet.blank? && @room == room)) %>"
     role="tabpanel"
     id="<%= room.id %>-<%= islet %>-<%= network %>">

  <% if room.id == 4 || room.id == 3 %>
    <% second_room_id = room.id == 4 ? 3 : 4 %>
    <div class="hubs">
      <div class="hub_material hub-top server_<%= @hubs[:one_giga][room.id].id %>" id="hub1-<%= room.id %>-<%= islet %>" style="text-align: center;">
        <%= link_to ("Concentrateur<br>#{@hubs[:one_giga][room.id]}").html_safe, server_path(@hubs[:one_giga][room.id]) %>
      </div>
      <div style="border: 1px lightgray solid;position: absolute;bottom:100px;padding: 0 10px 10px 4px;margin: -10px;">
        <span style="color: grey;"><%= Room.find(second_room_id) %></span>
        <div class="hub_material hub-bottom server_<%= @hubs[:one_giga][second_room_id].id %>" id="hub2-<%= room.id %>-<%= islet %>" style="margin-left: 6px;text-align: center;">
          <%= link_to ("Concentrateur<br>#{@hubs[:one_giga][second_room_id]}").html_safe, server_path(@hubs[:one_giga][second_room_id]) %>
        </div>
      </div>
    </div>
  <% end %>

  <div style="display: inline-block;">

    <div class="rooms-overview">

      <% islet.bays.sorted.each do |bay| %>

        <div class="couple" style="grid-column: <%= "#{bay.position}/#{bay.position+1}" %>;
            grid-row: <%= "#{bay.lane.to_i}/#{bay.lane.to_i+1}" %>;">

          <% bay.frames.sorted.each_with_index do |frame, index| %>

            <div class="overviewed_frame <%= 'no-margin' if index > 0 %> <%= 'highlighted' if @frames && @frames.include?(frame) %>"
                 data-bay-id="<%= bay.id %>" data-frame-id="<%= frame.id %>">

              <div id="frame-<%= frame.id %>-pre" class="intermediate-point pre <%= bay.lane.to_i.even? ? 'even' : 'odd' %>" style="z-index: -3000;">.</div>

              <div class="title">
                <%= link_to frame.name, frame_path(frame, view: (params[:view])) %>
              </div>

              <div id="frame-<%= frame.id %>-post" class="intermediate-point post <%= bay.lane.to_i.even? ? 'even' : 'odd' %>" style="z-index: -3000;">.</div>

              <ul>
                <% servers = frame.servers.joins(:modele).includes(:bay, :modele => :category).where('modeles.category_id = ?', 14) # Switch LAN %>
                <% server_height = 10 %>

                <% servers.each do |server| %>

                  <% bgModeleColor = define_background_color(server: server, mode: params['bg']) %>

                  <% u_server = server.modele.try(:u).to_i > 0 ? server.modele.u : 1 %>

                  <% data = {:u => u_server,
                             :rj45_futur => server.try(:rj45_futur) || 0,
                             :fc_futur => server.try(:fc_futur)} %>

                  <%= content_tag_for :li, server,
                                      class: "server_#{server.id} lane-#{server.bay.lane} truncate #{server.modele.try(:category).try(:name).try(:parameterize)}",
                                      style: "height: #{server_height * u_server}px;background-color:#{bgModeleColor} !important;",
                                      title: h("#{server.name}"),
                                      :data => data %>

                <% end %>

              </ul>

            </div>


          <% end %>
        </div>

      <% end %>

    </div>
  </div>
</div>
