<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= link_to room.name, room %></h3>
  </div>
  <div class="panel-body" style="padding: 0;">
    <% room.islets.sorted.each do |islet| %>
      <div class="islet">
        <h5><%= islet.name.present? ? link_to("Ilot #{islet}", islet_rooms_path(id: room.id, islet: islet.name, :view => params[:view], bg: params[:bg])) : '' %></h5>
        <% islet.bays.sorted.group_by(&:lane).each do |lane, bays| %>
          <div style="clear: both;">
            <% bays.each do |bay| %>
              <% bay.frames.sorted.each_with_index do |frame, index| %>
                <div class="pull-left">
                  <div class="overviewed_frame <%= 'no-margin' if index > 0 %> <%= 'highlighted' if @frames && @frames.include?(frame) %>">
                    <%= link_to frame.name, frame_path(frame) %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <div style="clear:both;"></div>
      </div>

    <% end %>
  </div>
</div>
