<%= render 'layouts/breadcrumb', breadcrumb_variables: { t("inventories") => modeles_url, t("visualization") => '' } %>

<div class="container-fluid">

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <div class="page-header">
        <%= link_to new_room_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          Ajouter une salle
        <% end %>
        <h1>Salles</h1>
      </div>

      <%= render List::DataTableComponent.new(@rooms) do |table| %>
        <% table.with_column("Site") do |room| %>
          <%= link_to room.site, site_path(room.site) %>
        <% end %>

        <% table.with_column("Nom", sort_by: :name) do |room| %>
          <b>
            <%= link_to room, room_path(room) %>
          </b>
        <% end %>

        <% table.with_column("Position", sort_by: :position) do |room| %>
          <%= room.position %>
        <% end %>

        <% table.with_column("Contenu") do |room| %>
          <%= pluralize room.islets.count, 'îlot', 'îlots' %>
          /
          <%= pluralize room.frames.count, 'chassis' %>
        <% end %>

        <% table.with_column("Afficher sur la page d'accueil", sort_by: :display_on_home_page) do |room| %>
          <input type="checkbox" <%= room.display_on_home_page ? "checked" : "" %> disabled>
        <% end %>

        <% table.with_column(class: "text-right") do |room| %>
          <%= render partial: "rooms/export_button", locals: { room: room } %>
          <%= link_to 'Modifier', edit_room_path(room), class: 'btn btn-primary' %>
          <%= link_to 'Supprimer',
                      room,
                      method: :delete,
                      data: { confirm: 'Cette salle ne pourra pas être supprimée tant qu\'elle sera associée à au moins un ilôt. Voulez-vous continuer ?' },
                      class: 'btn btn-danger' %>
        <% end %>
      <% end %>

    </div>

  </div>

</div>
