<% breadcrumb.add_step(title = Room.model_name.human.pluralize) %>

<%= render Page::HeadingComponent.new(title: title, breadcrumb:) do |heading| %>
  <% heading.with_right_content do %>
    <% render ButtonComponent.new(
      t(".new_room"),
      url: new_room_path,
      variant: :success,
      icon: "plus-lg",
      is_responsive: true
    ) if allowed_to?(:create?) %>
  <% end %>
<% end %>

<div class="p-4 border-top d-flex flex-column row-gap-4">
  <%= render FilterComponent.new(@filter) do |c| %>
    <% c.with_form do |f| %>
      <div class="w-100">
        <fieldset class="form-floating">
          <%= f.text_field :q, class: "form-control", placeholder: t("filters.placeholder.search") %>
          <%= f.label :q %>
        </fieldset>
      </div>

      <div>
        <fieldset class="form-floating">
          <%= f.collection_select(:site_ids, Site.sorted, :id, :name,
                                  { prompt: true, multiple: true },
                                  { class: "form-select", data: { controller: :select }  }) %>
          <%= f.label :site_ids %>
        </fieldset>
      </div>
    <% end %>
  <% end %>

  <%= turbo_frame_tag(dom_id(Room, :table), data: { turbo_action: :advance }) do %>
    <%= render List::DataTableComponent.new(@rooms) do |table| %>
      <% if allowed_to?(:destroy?) %>
        <% table.with_bulk_action(
          url: bulk_rooms_path,
          method: :delete,
          class: "btn btn-danger btn-sm",
          data: { confirm: t("action.confirm") }
        ) do %>
          <span class="bi bi-trash pe-none" title="<%= t("action.delete") %>"></span>
        <% end %>
      <% end %>

      <% table.with_column(Room.human_attribute_name(:name), sort_by: :name) do |room| %>
        <b><%= link_to room, room_path(room), data: { turbo_frame: :_top } %></b>
      <% end %>

      <% unless (turbo_frame_request? && @filter.filled?(:site_ids)) %>
        <% table.with_column(Site.model_name.human, sort_by: :"sites.name") do |room| %>
          <%= link_to room.site, site_path(room.site), data: { turbo_frame: :_top } %>
        <% end %>
      <% end %>

      <% table.with_column(Room.human_attribute_name(:position), sort_by: :position) do |room| %>
        <%= room.position %>
      <% end %>

      <% table.with_column(Islet.model_name.human.pluralize, sort_by: :islets_count) do |room| %>
        <%= link_to islets_path(room_ids: room.id), data: { turbo_frame: :_top } do %>
          <%= Room.human_attribute_name(:islets_count, count: room.islets_count) %>
        <% end %>
      <% end %>

      <% table.with_column(Frame.model_name.human.pluralize) do |room| %>
        <%= link_to frames_path(room_ids: room.id), data: { turbo_frame: :_top } do %>
          <%= Room.human_attribute_name(:frames_count, count: room.frames.count) %>
        <% end %>
      <% end %>

      <% table.with_column(Room.human_attribute_name(:display_on_home_page),
                           sort_by: :display_on_home_page,
                           text_align: :center) do |room| %>
        <input type="checkbox" <%= room.display_on_home_page ? "checked" : "" %> disabled>
      <% end %>

      <% table.with_column(Room.human_attribute_name(:status), sort_by: :status) do |room| %>
        <%= render room.decorated.status_to_badge_component %>
      <% end %>

      <% table.with_column(style: "min-width: 132px; width: 132px") do |room| %>
        <div class="btn-group btn-group-sm" role="group" aria-label="...">
          <%= render partial: "rooms/export_button", locals: { room: decorate(room) } %>

          <% if allowed_to?(:show?, room, with: Visualization::RoomPolicy) %>
            <%= link_to visualization_room_path(room), class: "btn btn-primary", data: { turbo_frame: :_top } do %>
              <span class="bi bi-diagram-3-fill" aria-hidden="true" data-controller="tooltip" data-bs-placement="left" title="<%= t("visualization.title") %>"></span>
              <span class="visually-hidden"><%= t("visualization.title") %></span>
            <% end %>
          <% end %>

          <% if allowed_to?(:update?, room) %>
            <%= link_to edit_room_path(room), class: "btn btn-info", data: { turbo_frame: :_top } do %>
              <span class="bi bi-pencil" aria-hidden="true" data-controller="tooltip" data-bs-placement="left" title="<%= t("action.edit") %>"></span>
              <span class="visually-hidden"><%= t("action.edit") %></span>
            <% end %>
          <% end %>

          <% if allowed_to?(:destroy?, room) %>
            <%= link_to room, method: :delete, data: { turbo_frame: :_top, confirm: t(".delete_confirmation") }, class: "btn btn-danger" do %>
              <span class="bi bi-trash" aria-hidden="true" data-controller="tooltip" data-bs-placement="left" title="<%= t("action.delete") %>"></span>
              <span class="visually-hidden"><%= t("action.delete") %></span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
