<%= render 'layouts/breadcrumb', breadcrumb_variables: { 'Paramètres' => modeles_url, 'Salles' => '' } %>

<div class="container-fluid">

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <div class="page-header">
        <%= link_to new_room_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          Ajouter une salle
        <% end %>
        <h1>Salles</h1>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th>Site</th>
            <th>Nom</th>
            <th>Position</th>
            <th>Contenu</th>
            <th>Afficher sur la page d'accueil</th>
            <th></th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <%= content_tag_for(:tr, @rooms) do |room| %>
            <td><%= room.site %></td>
            <td><b><%= room %></b></td>
            <td><%= room.position %></td>
            <td><%= pluralize room.islets.count, 'îlot', 'îlots' %> / <%= pluralize room.frames.count, 'chassis' %></td>
            <td><input type="checkbox" <%= room.display_on_home_page ? "checked" : "" %> disabled></td>
            <td><%= render partial: "rooms/export_button", locals: { room: room } %></td>
            <td><%= link_to 'Modifier', edit_room_path(room), class: 'btn btn-primary' %></td>
            <td><%= link_to 'Supprimer', room, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>

  </div>

</div>
