<% provide :title, "Vue infrastructure" %>

<%= render 'layouts/breadcrumb', breadcrumb_variables: {'Salles' => overview_rooms_path, 'Infrastructure' => nil} %>

<div class="container-fluid room_overview show_room" id="full-overview">
  <div class="panel panel-default">
    <div class="panel-body" style="display: flex;">

      <ul class="list-unstyled col-xs-2 hidden-sm menu-rooms">

        <div class="btn-group btn-toggle">
          <button class="btn btn-primary active" data-toggle="tab" role="tab" data-network="1">Réseau Gb</button>
          <button class="btn btn-default" data-toggle="tab" role="tab" data-network="2">Réseau 10Gb</button>
        </div>

        <li class="divider" style="border-bottom: 1px lightgray solid;margin:10px -10px 8px -10px;"></li>

        <% @sites.each do |site| %>
          <li><%= site %></li>
          <ul>
            <% rooms = site.rooms.sorted.distinct %>
            <% rooms.each do |room| %>
              <% islets = room.islets.sorted.not_empty.has_name.distinct %>
              <% islets.each do |islet| %>
                <li role="presentation" class="<%= 'active' if islet == @islet %>">
                  <% if islets.size <= 1 %>
                    <a href="#<%= room.id %>-<%= islet %>-1"
                       onclick="rewriteURL('/rooms/infrastructure', {'room': '<%= room.slug %>', 'islet': ''})"
                       aria-controls="room-<%= room %>"
                       role="tab"
                       class="tab"
                       data-toggle="tab"
                       data-room-id="<%= room.id %>"
                       data-islet="<%= islet.name %>">
                      <%= room.name %>
                    </a>
                  <% else %>
                    <a href="#<%= room.id %>-<%= islet %>-1"
                       onclick="rewriteURL('/rooms/infrastructure', {'room': '<%= room.slug %>', 'islet': '<%= islet.name %>'})"
                       aria-controls="islet-<%= islet %>"
                       role="tab"
                       class="tab"
                       data-toggle="tab"
                       data-room-id="<%= room.id %>"
                       data-islet="<%= islet.name %>">
                      <%= room.name %> Ilot <%= islet.name %>
                    </a>
                  <% end %>
                </li>
              <% end %>
              <% if islets.empty? %>
                <li><%= room.name %></li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </ul>

      <div class="tab-content col-xs-10 infrastructure">
        <% @sites.each do |site| %>
          <% site.rooms.each do |room| %>
            <% room.islets.sorted.each do |islet| %>
              <% [1, 2].each do |network| %>
                <%= render 'infrastructure_islet', islet: islet, room: room, network: network %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>

<script>
    var samples = false

    var current_room_id = "<%= @room.id %>"
    var current_islet = "<%= @islet.name %>"

    var frames_green_1 = [17, 18, 135, 137]
    var inter_hubs_color = 'lightgrey'
    var lines = []
    var current_connections = []

    drawCurrentLines()

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        // log(e.target.dataset)
        current_room_id = e.target.dataset['roomId']
        current_islet = e.target.dataset['islet']
        // log(current_room_id)
        // log(current_islet)
        resetLines()
    })

    function resetLines() {
        deleteOldLines()
        drawCurrentLines()
    }

    function deleteOldLines() {
        console.log("DELETE ALL LINES")
        lines.forEach(function (line) {
            line.hide()
        })
        lines = []
        current_connections = []
    }

    function drawCurrentLines() {
        console.log("CREATE LINES")

        if (samples) {


            // TOP
            document.querySelectorAll("[data-frame-id='19']")[0].style.borderColor = 'rgb(248, 205, 30)'
            document.querySelectorAll("[data-frame-id='136']")[0].style.borderColor = 'rgb(248, 205, 30)'
            lines.push(new LeaderLine(
                LeaderLine.pointAnchor(document.querySelectorAll("[data-frame-id='19']")[0], {x: 45, y: 0}),
                document.getElementById('frame-136-pre'),
                {
                    path: 'grid',
                    endPlug: 'behind',
                    startSocket: 'top',
                    endSocket: 'left',
                    color: 'rgb(248, 205, 30)'
                }
            ))
            lines.push(new LeaderLine(
                document.getElementById('frame-136-pre'),
                document.querySelectorAll("[data-frame-id='136']")[0],
                {
                    path: 'grid',
                    endPlug: 'behind',
                    startSocket: 'right',
                    endSocket: 'top',
                    color: 'rgb(248, 205, 30)'
                }
            ))

            // BOTTOM & GREEN
            var color = 'rgb(32, 208, 154)'
            // 1
            var start_id = 21
            var end_id = 123
            var start_element = document.querySelectorAll("[data-frame-id='" + start_id + "']")[0]
            var end_element = document.querySelectorAll("[data-frame-id='" + end_id + "']")[0]
            var intermediate_element = document.getElementById('frame-' + end_id + '-pre')
            start_element.style.borderColor = color
            end_element.style.borderColor = color
            intermediate_element.style.bottom = '-96px'
            lines.push(new LeaderLine(
                start_element,
                intermediate_element,
                {
                    path: 'grid',
                    endPlug: 'behind',
                    startSocket: 'bottom',
                    endSocket: 'left',
                    color: color
                }
            ))
            lines.push(new LeaderLine(
                intermediate_element,
                end_element,
                {
                    path: 'grid',
                    endPlug: 'behind',
                    startSocket: 'right',
                    endSocket: 'bottom',
                    color: color
                }
            ))
            // TOP GREEN
            frames_green_1.forEach(function (frame_id, index) {
                if (index + 1 < frames_green_1.length) {
                    var start_id = frame_id
                    var end_id = frames_green_1[index + 1]
                    var start_element = document.querySelectorAll("[data-frame-id='" + start_id + "']")[0]
                    var end_element = document.querySelectorAll("[data-frame-id='" + end_id + "']")[0]
                    var start_anchor = LeaderLine.pointAnchor(start_element, {x: 45, y: 0})
                    var end_anchor = LeaderLine.pointAnchor(end_element, {x: 25, y: 0})
                    var intermediate_element = document.getElementById('frame-' + end_id + '-pre')
                    start_element.style.borderColor = color
                    end_element.style.borderColor = color
                    intermediate_element.style.top = '-50px'
                    lines.push(new LeaderLine(
                        start_anchor,
                        intermediate_element,
                        {
                            path: 'grid',
                            endPlug: 'behind',
                            startSocket: 'top',
                            endSocket: 'left',
                            color: color
                        }
                    ))
                    lines.push(new LeaderLine(
                        intermediate_element,
                        end_anchor,
                        {
                            path: 'grid',
                            endPlug: 'behind',
                            startSocket: 'right',
                            endSocket: 'top',
                            color: color
                        }
                    ))
                }
            })

            // RIGHT
            var color = 'indianred'
            var start_id = 137
            var end_id = 124
            var last_element_id_first_line = 137
            var last_element_second_line_id = 125
            var start_element = document.querySelectorAll("[data-frame-id='" + start_id + "']")[0]
            var end_element = document.querySelectorAll("[data-frame-id='" + end_id + "']")[0]
            start_element.style.borderColor = color
            end_element.style.borderColor = color
            lines.push(new LeaderLine(
                start_element,
                document.getElementById('frame-' + last_element_id_first_line + '-post'),
                {
                    path: 'grid',
                    endPlug: 'behind',
                    startSocket: 'top',
                    endSocket: 'left',
                    color: color
                }
            ))
            lines.push(new LeaderLine(
                document.getElementById('frame-' + last_element_id_first_line + '-post'),
                document.getElementById('frame-' + last_element_second_line_id + '-post'),
                {
                    path: 'grid',
                    endPlug: 'behind',
                    startSocket: 'bottom',
                    endSocket: 'top',
                    color: color
                }
            ))
            lines.push(new LeaderLine(
                document.getElementById('frame-' + last_element_second_line_id + '-post'),
                end_element,
                {
                    path: 'grid',
                    endPlug: 'behind',
                    startSocket: 'left',
                    endSocket: 'bottom',
                    color: color
                }
            ))
            // LEFT
            var color = 'rgb(248, 205, 30)'
            var start_id = 19
            var end_id = 11
            var first_element_id_first_line = 19
            var first_element_second_line_id = 11
            var start_element = document.querySelectorAll("[data-frame-id='" + start_id + "']")[0]
            var end_element = document.querySelectorAll("[data-frame-id='" + end_id + "']")[0]
            start_element.style.borderColor = color
            end_element.style.borderColor = color
            lines.push(new LeaderLine(
                LeaderLine.pointAnchor(start_element, {x: 25, y: 0}),
                document.getElementById('frame-' + first_element_id_first_line + '-pre'),
                {
                    path: 'grid',
                    endPlug: 'behind',
                    startSocket: 'top',
                    endSocket: 'right',
                    color: color
                }
            ))
            lines.push(new LeaderLine(
                document.getElementById('frame-' + first_element_id_first_line + '-pre'),
                document.getElementById('frame-' + first_element_second_line_id + '-pre'),
                {
                    path: 'grid',
                    endPlug: 'behind',
                    startSocket: 'bottom',
                    endSocket: 'top',
                    color: color
                }
            ))
            lines.push(new LeaderLine(
                document.getElementById('frame-' + first_element_second_line_id + '-pre'),
                end_element,
                {
                    path: 'grid',
                    endPlug: 'behind',
                    startSocket: 'right',
                    endSocket: 'bottom',
                    color: color
                }
            ))


            // Inter-switchs
            var color = 'grey'
            var start_id = 19
            var end_id = 20
            var start_element = document.querySelectorAll("[data-frame-id='" + start_id + "']")[0]
            var end_element = document.querySelectorAll("[data-frame-id='" + end_id + "']")[0]
            lines.push(new LeaderLine(start_element, end_element, {
                path: 'fluid',
                endPlug: 'behind',
                startSocket: 'bottom',
                endSocket: 'top',
                dash: true,
                color: color,
                size: 2
            }))
            // Inter-switchs (BIS)
            var start_id = 17
            var end_id = 11
            var start_element = document.querySelectorAll("[data-frame-id='" + start_id + "']")[0]
            var end_element = document.querySelectorAll("[data-frame-id='" + end_id + "']")[0]
            lines.push(new LeaderLine(start_element, end_element, {
                path: 'fluid',
                endPlug: 'behind',
                startSocket: 'bottom',
                endSocket: 'top',
                dash: true,
                color: color,
                size: 2
            }))
        }

        // HUBS
        // drawInterHubsConnections()

        <% @connections.each do |server_id, destinations_ids| %>
        <% destinations_ids.each do |dest_id| %>
        <% unless @concentrateurs_ids.include?(dest_id) && @concentrateurs_ids.exclude?(server_id)  %>
        drawInterSwitchsConnections('<%= server_id %>', '<%= dest_id %>')
        <% end %>
        <% end %>
        <% end %>

    }

    function drawLine(startElement, endElement, params) {
        if (startElement && endElement) {
            lines.push(new LeaderLine(startElement, endElement, params))
        }
    }

    function drawInterHubsConnections() {
        var start_element = $('#hub1-' + current_room_id + '-' + current_islet + ':visible')[0]
        var end_element = $('#hub2-' + current_room_id + '-' + current_islet + ':visible')[0]
        for (var i = 0; i < 2; i++) { // TODO Check real connections in db
            var start_anchor = LeaderLine.pointAnchor(start_element, {x: 42 + i * 20, y: 57})
            var end_anchor = LeaderLine.pointAnchor(end_element, {x: 42 + i * 20, y: 0})
            drawLine(start_anchor, end_anchor,
                {
                    path: 'straight',
                    startPlug: 'behind',
                    endPlug: 'behind',
                    startSocket: 'bottom',
                    endSocket: 'top',
                    color: inter_hubs_color,
                    size: 2
                }
            )
        }
    }

    function drawInterSwitchsConnections(start_id, end_id) {
        if (start_id != end_id && current_connections.indexOf(end_id + "-" + start_id) < 0) {
            var start_element = $('.server_' + start_id + ':visible')[0]
            var end_element = $('.server_' + end_id + ':visible')[0]
            // var start_anchor = LeaderLine.pointAnchor(start_element, {x: 42 + i * 20, y: 57})
            // var end_anchor = LeaderLine.pointAnchor(end_element, {x: 42 + i * 20, y: 0})
            if (start_element && end_element) {
                setParamsAndDraw(start_element, end_element)
                // current_connections.push(start_id + "-" + end_id)
                log(start_id + ' <-> ' + end_id)
            }
        }
    }

    function setParamsAndDraw(start_element, end_element) {
        var params

        if ($(start_element).hasClass('hub-top') && !($(end_element).hasClass('hub-bottom'))) {
            // HUB 1 - ORANGE LINES
            end_element = LeaderLine.pointAnchor(end_element, {x: 5, y: 0})
            params = {
                path: 'fluid',
                startPlug: 'behind',
                endPlug: 'behind',
                startSocket: 'top',
                endSocket: 'top',
                color: 'orange',
                size: 3,
                dash: true
            }
        }
        if ($(start_element).hasClass('hub-bottom') && !($(end_element).hasClass('hub-top'))) {
            // HUB 2 - GREEN LINES
            end_element = LeaderLine.pointAnchor(end_element, {x: 5, y: 0})
            params = {
                path: 'fluid',
                startPlug: 'behind',
                endPlug: 'behind',
                startSocket: 'bottom',
                endSocket: 'top',
                color: 'green',
                size: 3,
                dash: true
            }
        }

        if ($(start_element).hasClass('lane-1') && $(end_element).hasClass('lane-1')) {
            // LANE 1 - INTER SWITCHS - 2 AT TOP
            params = {
                path: 'fluid',
                startPlug: 'behind',
                endPlug: 'behind',
                startSocket: 'bottom',
                endSocket: 'bottom',
                color: 'grey',
                size: 2,
                dash: true
            }
        }

        if ($(start_element).hasClass('lane-2') && $(end_element).hasClass('lane-2')) {
            // LANE 2 - INTER SWITCHS - 2 AT BOTTOM
            params = {
                path: 'fluid',
                startPlug: 'behind',
                endPlug: 'behind',
                startSocket: 'bottom',
                endSocket: 'bottom',
                color: 'grey',
                size: 2,
                dash: true
            }
        }

        // Default
        if (!params) {
            log('GREY LINK')
            log(start_element)
            log(end_element)
            params = {
                path: 'straight',
                startPlug: 'behind',
                endPlug: 'behind',
                startSocket: 'bottom',
                endSocket: 'top',
                color: inter_hubs_color,
                size: 2
            }
        }

        drawLine(start_element, end_element, params)
    }

    // Network switcher
    $('.btn-toggle').click(function (e) {
        e.preventDefault()
        // Update switcher state
        var btn_group = $(this)
        btn_group.find('.btn').toggleClass('active')
        btn_group.find('.btn').toggleClass('btn-primary')
        btn_group.find('.btn').toggleClass('btn-default')
        // Update all tabs links with newly selected network AND show this network
        var current_tab = $('.show_room li.active a.tab:first')
        var tabs = $('.show_room li a.tab')
        tabs.each(function () {
            $(this).prop("href", $(this).attr('href').slice(0, -2) + "-" + btn_group.find('.btn.active').data("network"))
            $(this).parent('li').removeClass('active')
        })
        current_tab.tab('show')
    })
    // Room selection
    $('.show_room li a.tab').click(function (e) {
        e.preventDefault()
        var tabs = $('.show_room li a.tab')
        tabs.each(function () { // Remove all active class
            $(this).parent('li').removeClass('active')
        })
        $(this).tab('show')
    })
    // Click on switchs
    $('.overviewed_frame .server').click(function () {
        var url = $(this).data('url')
        window.open(url, '_blank');
    })


</script>
