<div class="container-fluid rooms-overview">

  <%= render 'layouts/breadcrumb', params: {'Aperçu des salles' => nil} %>

  <div class="row">

  <% @rooms.each do |room| %>
    <div class="col-md-6 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= link_to room.title, room %></h3>
        </div>
        <div class="panel-body">
          <div class="row" >
            <% room.islets.sorted.each do |islet| %>
              <div class="col-md-12">
                <h5><%= islet.name.present? ? link_to("Ilot #{islet}", islet_rooms_path(id: room.id, islet: islet.name, :view => params[:view], bg: params[:bg])) : 'Ilot sans nom' %></h5>
                <div class="row islet">
                  <% islet.bays.sorted.group_by(&:lane).each do |lane, bays| %>
                    <div style="clear: both;">
                      <% bays.each do |bay| %>
                        <% bay.frames.sorted.each_with_index do |frame, index| %>
                          <div class="pull-left">
                            <div class="overviewed_frame <%= 'no-margin' if index > 0 %>">
                              <%= link_to frame.title, frame_path(frame) %>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  <% end %>

  </div>
</div>
