<%= render 'layouts/breadcrumb', params: {'Aperçu des salles' => nil} %>

<div class="container-fluid rooms-overview">

  <div class="row" %>

  <% @rooms.each do |room| %>
    <div class="col-md-6 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= link_to room.title, room %></h3>
        </div>
        <div class="panel-body">
          <div class="row" >
            <% room.islets.each do |islet| %>
              <div class="col-md-12">
                <h5><%= islet.name.present? ? link_to("Islet #{islet}", islet_rooms_path(id: room.id, islet: islet, :view => params[:view], bg: params[:bg])) : 'Ilot sans nom' %></h5>
                <div class="row islet">
                  <% islet.bays.each do |bay| %>
                    <% bay.frames.each_with_index do |frame, index| %>
                      <div class="pull-left">
                        <div class="frame <%= 'no-margin' if index > 0 %>">
                          <%= link_to frame.title, frame_path(frame) %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
              </div></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  <% end %>

  </div>
</div>
