<% provide :title, "Salle #{@room.name} #{@islet ? "- Ilot #{@islet}" : "" }" %>
<%
  breadcrumb_variables = {'Salles' => overview_rooms_path, @room.name => ((@frame.present? || params[:islet].present?) ? room_path(@room, view: params[:view]) : '')}
  if @frame.present? && @frame.bay.islet.name.present?
    breadcrumb_variables["Ilot #{@frame.bay.islet.name}"] = islet_rooms_path(id: @room.id, islet: @frame.bay.islet.name, view: params[:view])
  elsif params[:islet].present?
    breadcrumb_variables["Ilot #{params[:islet]}"] = ''
  end
  breadcrumb_variables["Baie #{@frame.name}"] = '' if @frame.present?
%>
<%= render 'layouts/breadcrumb', params: breadcrumb_variables %>

<% server_height = 2.5 %>

<div class="container-fluid room_overview show_room">
  <div class="panel panel-default">
    <div class="panel-body">

      <% if @islet.blank? && @room.islets.size > 1 %>
        <ul class="nav nav-tabs" role="tablist">
          <% @room.islets.sorted.each_with_index do |islet, index| %>
            <li role="presentation" class="<%= 'active' if islet == @islet || (@islet.blank? && index == 0) %>">
              <a href="#<%= islet %>" aria-controls="islet-<%= islet %>" role="tab" data-toggle="tab">Ilot <%= islet %></a>
            </li>
          <% end %>
        </ul>
      <% end %>

      <div class="tab-content">

        <% @room.islets.sorted.each_with_index do |islet, index| %>
          <% if @islet.blank? || islet == @islet %>

            <div class="islet tab-pane fade <%= 'in active' if islet == @islet || (@islet.blank? && index == 0) %>" role="tabpanel" id="<%= islet %>">
              <div class="rooms-overview">

                <% islet.bays.sorted.each do |bay| %>

                  <div class="couple" style="grid-column: <%= "#{bay.position}/#{bay.position+1}" %>;
                      grid-row:<%= "#{bay.lane.to_i}/#{bay.lane.to_i+1}" %>;">

                    <% bay.frames.sorted.each_with_index do |frame, index| %>
                      <div class="overviewed_frame <%= 'no-margin' if index > 0 %> <%= 'highlighted' if @frames && @frames.include?(frame) %>"
                           data-bay-id="<%= bay.id %>">
                        <div class="title">
                          <%= link_to frame.name, frame_path(frame, view: (params[:view])) %>
                        </div>
                        <ul>
                          <% u_disponibles = frame.u || 41 %>
                          <% servers = @servers_per_frames[islet.name][bay.lane][bay][frame] %>
                          <% servers.each do |server| %>

                            <% while server.position.present? && server.position < u_disponibles && u_disponibles > 0 %>
                              <li class="server truncate" style='height: <%= server_height %>px;background-color:white;' data-num-u="<%= u_disponibles %>"/>
                              <% u_disponibles -= 1 %>
                            <% end %>

                            <% bgModeleColor = define_background_color(server: server, mode: params['bg']) %>

                            <% u_server = server.modele.try(:u).to_i > 0 ? server.modele.u : 1 %>

                            <% data = {:u => u_server,
                                       :num_u => u_disponibles,
                                       :rj45_futur => server.try(:rj45_futur) || 0,
                                       :fc_futur => server.try(:fc_futur)} %>

                            <%= content_tag_for :li, server,
                                                class: "server truncate #{server.modele.try(:category).try(:name).try(:parameterize)} #{server.server_state_id == 1 ? 'striped' : ''}",
                                                style: "height: #{server_height * u_server}px;background-color:#{bgModeleColor} !important;",
                                                title: h("#{server.name}"),
                                                :data => data do %>
                              <% u_disponibles -= u_server %>
                            <% end %>
                          <% end %>
                          <% u_disponibles.times do |u| %>
                            <li class="server truncate" style='height: <%= server_height %>px;background-color:white;' data-num-u="<%= u_disponibles %>"/>
                            <% u_disponibles -= 1 %>
                          <% end %>

                        </ul>
                      </div>
                    <% end %>
                  </div>


                <% end %>

              </div>
            </div>
          <% end %>
        <% end %>

      </div>

    </div>
  </div>
</div>



<div class="container-fluid" id="bay-container">
  <!-- render 'servers/room',
             room: @room,
             islets: @servers_per_frames,
             view_side: params[:view] -->
</div>

<%= render 'servers/modal_add_element_in_frame' %>

<%= render 'ports/modal_edit_port' %>

<script>
    $(".overviewed_frame").hover(
        function () {
            $(this).closest('.couple').find(".overviewed_frame").addClass("hover")
        }, function () {
            $(this).closest('.couple').find(".overviewed_frame").removeClass("hover")
        }
    );
    $(".overviewed_frame").on('click', function (e) {
        e.preventDefault()
        $('#bay-container').html('<div class="animationload"><div class="osahanloading"></div></div>')

        var searchParams = new URLSearchParams(window.location.search)
        var view = 'front'
        if (searchParams.has('view')) {
            view = searchParams.get('view')
        } else {
            searchParams.set('view', view)
            window.history.replaceState({}, '', location.pathname + '?' + searchParams);
        }

        $.ajax({
            method: "GET",
            url: "/bays/" + $(this).data('bay-id') + ".js",
            data: {bay_id: $(this).data('bay-id'), view: view}
        });

    })
</script>
