<% bg = params[:bg].presence || current_user.visualization_bay_default_background_color %>
<% view = params[:view].presence || current_user.visualization_bay_default_orientation %>
<% provide :title, "Salle #{@room.name} #{@islet ? "- Ilot #{@islet}" : "" }" %>
<% hide_inventories_sidebar! %>

<%= render 'layouts/breadcrumb' %>

<% server_height = 2.5 %>

<div class="container-fluid room_overview show_room" id="full-overview">
  <div class="card mb-3">
    <div class="card-body d-flex">
      <ul class="list-unstyled menu-rooms rounded-start-1 bg-body-secondary p-3 m-0 border-end">
        <% @sites.each do |site| %>
          <li><%= site %></li>
          <ul>
            <% rooms = site.rooms.sorted.distinct %>
            <% rooms.each do |room| %>
              <% islets = room.islets.sorted.not_empty.has_name.distinct %>
              <% islets.each do |islet| %>
                <li role="presentation">
                  <% if islets.size == 1 %>
                    <a href="#<%= room.id %>-" onclick="rewriteURL('/rooms/<%= room.slug %>', {'islet': ''})" aria-controls="room-<%= room %>" role="tab" data-bs-toggle="tab">
                      <%= room.name %>
                    </a>
                  <% else %>
                    <a href="#<%= room.id %>-<%= islet %>" onclick="rewriteURL('/rooms/<%= room.slug %>', {'islet': '<%= islet.name %>'})" aria-controls="islet-<%= islet %>" role="tab" data-bs-toggle="tab">
                      <%= room.name %> Ilot <%= islet.name %>
                    </a>
                  <% end %>
                </li>
              <% end %>
              <% if islets.empty? %>
                <li><%= room.name %></li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </ul>
      <div class="tab-content bg-body-tertiary">
        <% @sites.each do |site| %>
          <% site.rooms.each do |room| %>
            <% room.islets.sorted.each do |islet| %>
              <div class="islet tab-pane fade <%= 'in active' if islet == @islet || (@islet.blank? && @room == room) %>"
                   role="tabpanel"
                   style="overflow: auto;"
                   id="<%= room.id %>-<%= islet if room.islets.size > 1 %>">
                <div class="rooms-overview">
                  <% islet.bays.sorted.each do |bay| %>
                    <% air_conditioner = @air_conditioners.find { _1.bay_id == bay.id } || nil %>
                    <div class="couple d-flex" style="grid-column: <%= "#{bay.position}/#{bay.position+1}" %>;
                        grid-row: <%= "#{bay.lane.to_i}/#{bay.lane.to_i+1}" %>;">
                      <% if air_conditioner&.position == AirConditioner.positions[:left] %>
                        <%= link_to air_conditioner.name, edit_air_conditioner_path(air_conditioner),
                                    class: "air-conditioner #{air_conditioner.status}" %>
                      <% end %>
                      <% bay.frames.sorted.each_with_index do |frame, index| %>
                        <div class="overviewed_frame <%= 'no-margin' if index > 0 %> <%= 'highlighted' if @frames && @frames.include?(frame) %>"
                             data-bay-id="<%= bay.id %>" data-frame-id="<%= frame.slug %>">
                          <div class="title">
                            <%= link_to frame.name, frame_path(frame, view: (params[:view])), data: { 'frame-id': frame.slug } %>
                          </div>
                          <ul>
                            <% u_disponibles = frame.u || 41 %>
                            <% servers = @servers_per_frames[room.id][islet.name][bay.lane][bay][frame] %>
                            <% servers.each do |server| %>
                              <% while server.position.present? && server.position < u_disponibles && u_disponibles > 0 %>
                                <li class="server truncate" style='height: <%= server_height %>px;background-color:white;' data-num-u="<%= u_disponibles %>"/>
                                <% u_disponibles -= 1 %>
                              <% end %>

                              <% bgModeleColor = define_background_color(server: server, mode: bg) %>
                              <% u_server = server.modele.try(:u).to_i > 0 ? server.modele.u : 1 %>
                              <% data = { u: u_server,
                                          num_u: u_disponibles,
                                          rj45_futur: server.try(:rj45_futur) || 0,
                                          fc_futur: server.try(:fc_futur) } %>
                              <%= content_tag_for :li, server,
                                                  class: "server truncate #{server.modele.try(:category).try(:name).try(:parameterize)} #{server.server_state_id == 1 ? 'striped' : ''}",
                                                  style: "height: #{server_height * u_server}px;background-color:#{bgModeleColor} !important;",
                                                  title: h("#{server.name}"),
                                                  :data => data do %>
                                <% u_disponibles -= u_server %>
                              <% end %>
                            <% end %>
                            <% u_disponibles.times do |u| %>
                              <li class="server truncate" style='height: <%= server_height %>px;background-color:white;' data-num-u="<%= u_disponibles %>"/>
                              <% u_disponibles -= 1 %>
                            <% end %>
                          </ul>
                        </div>
                      <% end %>

                      <% if air_conditioner&.position == AirConditioner.positions[:right] %>
                        <%= link_to air_conditioner.name, edit_air_conditioner_path(air_conditioner),
                                    class: "air-conditioner #{air_conditioner.status}" %>
                      <% end %>

                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <ul class="d-sm-none d-md-block room-actions">
        <!-- Choix de la couleur de fond des serveurs -->
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t("rooms.action_buttons.background_color", bg: bg || User::AVAILABLE_BAY_BACKGROUND_COLORS[0]) %>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to 'Modèle', url_for(params.except(:controller, :action).permit(:view, :islet, :id, :bg, :format).merge({ :view => 'front', bg: 'modele', islet: params[:islet], id: params[:id] })), class: "dropdown-item" %></li>
            <li><%= link_to 'Gestionnaire', url_for(params.except(:controller, :action).permit(:view, :islet, :id, :bg, :format).merge({ :view => 'front', bg: 'gestionnaire', islet: params[:islet], id: params[:id] })), class: "dropdown-item" %></li>
            <li><%= link_to 'Cluster', url_for(params.except(:controller, :action).permit(:view, :islet, :id, :bg, :format).merge({ :view => 'front', bg: 'cluster', islet: params[:islet], id: params[:id] })), class: "dropdown-item" %></li>
          </ul>
        </div>
        <button id="hide-overview" type="button" class="btn btn-outline-secondary" aria-label="Left Align" style="position: absolute;bottom: 1px;right: 1px;padding: 0 10px;">
          <span class="bi bi-chevron-up" aria-hidden="true"></span>
        </button>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid room_overview show_room" id="retracted-overview" style="display: none;">
  <div class="card">
    <div class="card-body d-flex">
      <ul class="list-unstyled menu-rooms rounded-start-1 bg-body-secondary p-3 m-0 border-end">
      </ul>
      <div class="tab-content bg-body-tertiary">
      </div>
      <ul class="room-actions">
        <button id="show-overview" type="button" class="btn btn-outline-secondary" aria-label="Left Align" style="position: absolute;bottom: 1px;right: 1px;padding: 0 10px;">
          <span class="bi bi-chevron-down" aria-hidden="true"></span>
        </button>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid" id="bay-container"></div>
<%= render 'ports/modal_edit_port' %>

<script>
(function () {
    var searchParams = new URLSearchParams(window.location.search)
    var bay_id = searchParams.get('bay-id')
    var frame_id = searchParams.get('frame-id')
    if (frame_id) {
        loadFrame(frame_id, bay_id, "")
    } else {
        if (bay_id) {
            loadBay(bay_id)
        }
    }
})();

$(".show_room .overviewed_frame").hover(
    function () {
        $(this).closest('.couple').find(".overviewed_frame").addClass("hover")
    }, function () {
        $(this).closest('.couple').find(".overviewed_frame").removeClass("hover")
    }
);
$(".show_room .overviewed_frame").on('click', function (e) {
    e.preventDefault()
    if(e.target.tagName!='A'){
        loadBay($(this).data('bay-id'))
    }
})
$(".show_room .overviewed_frame .title a").on('click', function (e) {
    debugger;
    e.preventDefault()
    loadFrame($(this).data('frame-id'), $(this).data('bay-id'), $(this).text())
})
$(".menu-rooms").on('click', 'a', function (e) {
    $('ol.breadcrumb').replaceWith("<ol class=\"breadcrumb\" style=\"margin-bottom: 5px;\">\n" +
        "  <li><a href=\"/\">Accueil</a></li>\n" +
        "    <li class=\"active\"><a href=\"/rooms/overview\">Salles</a></li>\n" +
        "    <li class=\"\">" + $(this).text() + "</li>\n" +
        "</ol>");
})

function loadBay(bay_id) {
  $('#bay-container').html('<div class="animationload"><div class="osahanloading"></div>Chargement de la baie</div>')
  if (typeof delete_all_lines === "function") {
      delete_all_lines()
  }

  $('.couple .overviewed_frame').removeClass('selected')
  $('.couple .overviewed_frame[data-bay-id='+bay_id+']').addClass('selected')

  $.ajax({
      method: "GET",
      url: "/bays/" + bay_id + ".js",
      data: { bay_id: bay_id, view: "<%= view %>", bg: "<%= bg %>" }
  });
}

function loadFrame(frame_id, bay_id, frame_title) {
  $('#bay-container').html('<div class="animationload"><div class="osahanloading"></div>Chargement de la baie '+frame_title+'</div>')
  if (typeof delete_all_lines === "function") {
      delete_all_lines()
  }

  $('.couple .overviewed_frame').removeClass('selected')
  $('.couple .overviewed_frame[data-frame-id='+frame_id+']').addClass('selected')

  const searchParams = new URLSearchParams(window.location.search)
  let view = 'front'

  if (searchParams.has('view')) {
      view = searchParams.get('view')
  } else {
      searchParams.set('view', view)
  }
  // searchParams.set('bay-id', bay_id)
  // searchParams.set('frame-id', frame_id)
  // window.history.replaceState({}, '', location.pathname + '?' + searchParams);

  $.ajax({
      method: "GET",
      url: "/frames/" + frame_id + ".js",
      data: {frame_id: frame_id, view: view, bg: searchParams.get('bg')}
  });
}

$("#full-overview").on('click', 'button#hide-overview', function () {
  $("#full-overview").slideUp(100)
  $("#retracted-overview").show()
})
$("#retracted-overview").on('click', 'button#show-overview', function () {
  $("#retracted-overview").hide()
  $("#full-overview").slideDown(100)
})
</script>
