<% provide :title, "Salle #{@room.name} #{@islet ? "- Ilot #{@islet}" : "" }" %>

<%= render 'layouts/breadcrumb' %>

<% server_height = 2.5 %>

<div class="container-fluid room_overview show_room">
  <div class="panel panel-default">
    <div class="panel-body" style="display: flex;">

      <ul class="list-unstyled col-xs-2 menu-rooms">
        <% @sites.each do |site| %>
          <li><%= site %></li>
          <ul>
            <% rooms = site.rooms.sorted.distinct %>
            <% rooms.each do |room| %>
              <% islets = room.islets.sorted.not_empty.has_name.distinct %>
              <% islets.each do |islet| %>
                <li role="presentation">
                  <% if islets.size == 1 %>
                    <a href="#<%= room.id %>-" onclick="rewriteURL('/rooms/<%= room.slug %>', {'islet': ''})" aria-controls="room-<%= room %>" role="tab" data-toggle="tab">
                      <%= room.name %>
                    </a>
                  <% else %>
                    <a href="#<%= room.id %>-<%= islet %>" onclick="rewriteURL('/rooms/<%= room.slug %>', {'islet': '<%= islet.name %>'})" aria-controls="islet-<%= islet %>" role="tab" data-toggle="tab">
                      <%= room.name %> Ilot <%= islet.name %>
                    </a>
                  <% end %>
                </li>
              <% end %>
              <% if islets.empty? %>
                <li><%= room.name %></li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </ul>

      <div class="tab-content col-xs-10">

        <% @sites.each do |site| %>

          <% site.rooms.each do |room| %>

            <% room.islets.sorted.each do |islet| %>

              <div class="islet tab-pane fade <%= 'in active' if islet == @islet || (@islet.blank? && @room == room) %>"
                   role="tabpanel"
                   id="<%= room.id %>-<%= islet if room.islets.size > 1 %>">
                <div class="rooms-overview">

                  <% islet.bays.sorted.each do |bay| %>

                    <div class="couple" style="grid-column: <%= "#{bay.position}/#{bay.position+1}" %>;
                        grid-row:<%= "#{bay.lane.to_i}/#{bay.lane.to_i+1}" %>;">

                      <% bay.frames.sorted.each_with_index do |frame, index| %>
                        <div class="overviewed_frame <%= 'no-margin' if index > 0 %> <%= 'highlighted' if @frames && @frames.include?(frame) %>"
                             data-bay-id="<%= bay.id %>">
                          <div class="title">
                            <%= link_to frame.name, frame_path(frame, view: (params[:view])) %>
                          </div>
                          <ul>
                            <% u_disponibles = frame.u || 41 %>
                            <% servers = @servers_per_frames[room.id][islet.name][bay.lane][bay][frame] %>
                            <% servers.each do |server| %>

                              <% while server.position.present? && server.position < u_disponibles && u_disponibles > 0 %>
                                <li class="server truncate" style='height: <%= server_height %>px;background-color:white;' data-num-u="<%= u_disponibles %>"/>
                                <% u_disponibles -= 1 %>
                              <% end %>

                              <% bgModeleColor = define_background_color(server: server, mode: params['bg']) %>

                              <% u_server = server.modele.try(:u).to_i > 0 ? server.modele.u : 1 %>

                              <% data = {:u => u_server,
                                         :num_u => u_disponibles,
                                         :rj45_futur => server.try(:rj45_futur) || 0,
                                         :fc_futur => server.try(:fc_futur)} %>

                              <%= content_tag_for :li, server,
                                                  class: "server truncate #{server.modele.try(:category).try(:name).try(:parameterize)} #{server.server_state_id == 1 ? 'striped' : ''}",
                                                  style: "height: #{server_height * u_server}px;background-color:#{bgModeleColor} !important;",
                                                  title: h("#{server.name}"),
                                                  :data => data do %>
                                <% u_disponibles -= u_server %>
                              <% end %>
                            <% end %>
                            <% u_disponibles.times do |u| %>
                              <li class="server truncate" style='height: <%= server_height %>px;background-color:white;' data-num-u="<%= u_disponibles %>"/>
                              <% u_disponibles -= 1 %>
                            <% end %>

                          </ul>
                        </div>
                      <% end %>
                    </div>


                  <% end %>

                </div>
              </div>
            <% end %>

          <% end %>

        <% end %>


      </div>

    </div>
  </div>
</div>



<div class="container-fluid" id="bay-container">
  <!-- render 'servers/room',
             room: @room,
             islets: @servers_per_frames,
             view_side: params[:view] -->
</div>

<%= render 'servers/modal_add_element_in_frame' %>

<%= render 'ports/modal_edit_port' %>

<script>
    $(".show_room .overviewed_frame").hover(
        function () {
            $(this).closest('.couple').find(".overviewed_frame").addClass("hover")
        }, function () {
            $(this).closest('.couple').find(".overviewed_frame").removeClass("hover")
        }
    );
    $(".show_room .overviewed_frame").on('click', function (e) {
        e.preventDefault()
        $('#bay-container').html('<div class="animationload"><div class="osahanloading"></div></div>')
        if (typeof delete_all_lines === "function") {delete_all_lines()}

        var searchParams = new URLSearchParams(window.location.search)
        var view = 'front'
        if (searchParams.has('view')) {
            view = searchParams.get('view')
        } else {
            searchParams.set('view', view)
            window.history.replaceState({}, '', location.pathname + '?' + searchParams);
        }

        $.ajax({
            method: "GET",
            url: "/bays/" + $(this).data('bay-id') + ".js",
            data: {bay_id: $(this).data('bay-id'), view: view}
        });

    })
    $(".menu-rooms").on('click', 'a', function (e) {
        $('ol.breadcrumb').replaceWith("<ol class=\"breadcrumb\" style=\"margin-bottom: 5px;\">\n" +
            "  <li><a href=\"/\">Accueil</a></li>\n" +
            "    <li class=\"active\"><a href=\"/rooms/overview\">Salles</a></li>\n" +
            "    <li class=\"\">" + $(this).text() + "</li>\n" +
            "</ol>");
    })
</script>
