<% provide(:title, "#{Room.model_name.human.pluralize} | #{@room.name} | #{t("action.show")}") %>
<%= render "layouts/breadcrumb", breadcrumb_steps: {
  Room.model_name.human.pluralize => rooms_path,
  @room.name => room_path(@room),
  t("action.show") => ""
} %>

<div class="row my-5">
  <div class="col-11 col-md-10 col-lg-8 mx-auto">
    <div class="d-flex justify-content-between pb-5">
      <%= link_to rooms_path, class: "btn align-self-center d-inline-flex",
                              title: t("action.back") do %>
        <span class="bi bi-chevron-left"></span>
        <span class="d-none d-md-inline-block ms-1"><%= t("action.back") %></span>
      <% end %>
      <h1 class="text-center px-4"><%= "Room #{@room.name}" %></h1>
      <div>
        <%= link_to visualization_room_path(@room), class: "btn btn-primary align-self-center d-inline-flex", title: t("visualization.title") do %>
          <span class="bi bi-diagram-3-fill"></span>
          <span class="d-none d-md-inline-block ms-1"><%= t("visualization.title") %></span>
        <% end %>
        <%= link_to edit_room_path(@room), class: "btn btn-info align-self-center d-inline-flex", title: t("action.edit") do %>
          <span class="bi bi-pencil"></span>
          <span class="d-none d-md-inline-block ms-1"><%= t("action.edit") %></span>
        <% end %>
      </div>
    </div>

    <dl class="bg-body-tertiary p-4 rounded border">
      <% %i[name].each do |attribute_name| %>
        <dt><%= Room.human_attribute_name(attribute_name) %> :</dt>
        <dd><%= @room.public_send(attribute_name) %></dd>
      <% end %>
    </dl>
  </div>
</div>

<dl class="bg-body-tertiary my-4 p-4 rounded border">
  <dt>
    <h2 class="mb-4"><%= Islet.model_name.human.pluralize %></h2>
  </dt>
  <dd>
    <%= render List::DataTableComponent.new(@islets) do |table| %>
      <% table.with_column(Islet.model_name.human, sort_by: :name) do |islet| %>
        <%= link_to islet, islet_path(islet) %>
      <% end %>

      <% table.with_column(Islet.human_attribute_name(:position), sort_by: :position) do |islet| %>
        <%= islet.position %>
      <% end %>

      <% table.with_column(Frame.model_name.human.pluralize) do |islet| %>
        <%= Islet.human_attribute_name(:frames_count, count: islet.frames.count) %>
      <% end %>

      <% table.with_column(style: "min-width: 140px; width: 140px") do |islet| %>
        <div class="btn-group btn-group-sm" role="group" aria-label="...">
          <%= render partial: "islets/export_button", locals: { islet: islet } %>
          <%= link_to edit_islet_path(islet), class: "btn btn-info" do %>
            <span class="bi bi-pencil" aria-hidden="true" data-controller="tooltip" data-bs-placement="left" title="<%= t("action.edit") %>"></span>
            <span class="visually-hidden"><%= t("action.edit") %></span>
          <% end %>
          <%= link_to islet, method: :delete, data: { confirm: t("islets.index.delete_confirmation") }, class: "btn btn-danger" do %>
            <span class="bi bi-trash" aria-hidden="true" data-controller="tooltip" data-bs-placement="left" title="<%= t("action.delete") %>"></span>
            <span class="visually-hidden"><%= t("action.delete") %></span>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </dd>
</dl>

<%= render ChangelogEntries::ObjectListComponent.new(@room) %>
