<%
  provide(:title, "#{Room.model_name.human.pluralize} | #{@room.name}")

  breadcrumb_steps = {
    Room.model_name.human.pluralize => rooms_path,
    @room.name => ""
  }
%>

<%= render Page::HeadingShowComponent.new(resource: @room,
                                          title: "#{Room.model_name.human} #{@room.name}",
                                          breadcrumb_steps:) do |heading| %>
  <%= heading.with_extra_buttons do %>
   <% render ButtonComponent.new(title: t("visualization.title"),
                                 url: visualization_room_path(@room),
                                 variant: :primary,
                                 icon: "diagram-3-fill",
                                 is_responsive: true,
                                 extra_classes: "me-2") %>
  <% end %>
<% end %>

<div class="col-12 p-4 border-top">
  <div class="d-flex flex-row flex-wrap">
    <div class="col-12 col-lg-6 pe-lg-4">
      <%= render CardComponent.new(extra_classes: "mb-4 mb-lg-0") do |card| %>
        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <% %i[name description].each do |attribute_name| %>
            <dt class="pb-2"><%= Room.human_attribute_name(attribute_name) %></dt>
            <dd class="mb-0 pb-2 ps-3"><%= @room.public_send(attribute_name) %></dd>
          <% end %>

          <dt class="pb-2"><%= Site.model_name.human %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= link_to @room.site, site_path(@room.site) %></dd>
        </dl>
      <% end %>
    </div>

    <div class="col-12 col-lg-6">
      <%= render CardComponent.new() do |card| %>
        <% card.with_header do %>
          <%= t("display") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <dt class="pb-2"><%= Room.human_attribute_name(:position) %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= @room.position %></dd>

          <dt class="pb-2"><%= Room.human_attribute_name(:display_on_home_page) %></dt>
          <dd class="mb-0 pb-2 ps-3">
            <span><%= t("boolean.#{@room.display_on_home_page}") %></span>
          </dd>
        </dl>
      <% end %>
    </div>
  </div>

  <%= render HasManyTurboFrameComponent.new(
    Islet.model_name.human.pluralize, url: islets_path(room_id: @room.id), frame_id: dom_id(Islet, :table)
  ) %>
  <%= render ChangelogEntries::ObjectListComponent.new(@room) %>
</div>
