<%= render FormErrorsComponent.new(@frame) %>

<%= form_for(@frame, html: { class: "bg-body-tertiary p-4 rounded border", role: "form" }) do |f| %>
  <div class="row g-3">
    <fieldset class="col-12">
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, class: "form-control" %>
    </fieldset>

    <fieldset class="col-12 mt-4">
      <%= f.label :u, class: "form-label" %>
      <%= f.text_field :u, class: "form-control" %>
    </fieldset>

    <fieldset class="col-12 mt-4">
      <%= f.label :position, class: "form-label" %>
      <%= f.text_field :position, class: "form-control" %>
    </fieldset>

    <fieldset class="col-12 mt-4">
      <%= f.label :switch_slot, class: "form-label" %>
      <%= f.text_field :switch_slot, class: "form-control" %>
    </fieldset>

    <% if @frame.persisted? %>
      <div class="col-12 mt-4">
        <span class="form-label d-block"><%= t(".coupled_bay_label") %></span>
        <%= f.object.other_frame.present? ? link_to(f.object.other_frame.name, frame_path(f.object.other_frame)) : t(".no_coupled_bay") %>
      </div>
    <% end %>

    <fieldset class="col-12 mt-4">
      <%= f.label :bay_id, class: "form-label" %>
      <%= f.select :bay_id, options_from_collection_for_select(Bay.all, :id, :detailed_name, @frame.bay_id), {}, class: "form-select" %>
    </fieldset>

    <div class="col-12 mt-4">
      <%= f.submit class: "w-100 btn btn-primary" %>
    </div>
  </div>
<% end %>
