<% editable = true if local_assigns[:editable].nil? %>
<% servers_ids = servers.map(&:id) %>
<% if local_assigns[:highlighted_servers].nil?
     highlighted_servers_ids = servers_ids
   else
     highlighted_servers_ids = highlighted_servers.map(&:id)
   end
%>
<% view_type = 'front' if local_assigns[:view_type].nil? %>
<% clickable_lines = local_assigns[:clickable_lines].nil? ? false : local_assigns[:clickable_lines] %>

<div class="frame" id="frame_<%= frame.id %>">
  <div class="card card-frame">
    <div class="card-header">
      <h5 class="card-title" style="display: inline;">
        <%= link_to frame.name,
                    room_path(frame.room,
                              view: view_type,
                              islet: frame.islet.name,
                              'bay-id': frame.bay_id,
                              'frame-id': frame.id,
                              bg: params[:bg]),
                    style: 'text-decoration: underline;' if frame.room.present? %>
      </h5>
    </div>
    <ul class="servers connectedFrames list-group"
        data-room="<%= frame.room&.name %>"
        data-islet="<%= frame.bay.islet.name %>"
        data-frame="<%= frame.name %>"
        data-update-url="<%= sort_servers_path %>">

      <% u_disponibles = frame.u || 41 %>
      <% servers.each do |server| %>

        <% if server.modele.try(:name).present? %>

          <% while server.position.present? && server.position < u_disponibles && u_disponibles > 0 %>
            <li class="server list-group-item truncate
                        <%= 'relegated' if highlighted_servers_ids != servers_ids %>
                        <%= 'relegated' if params[:bg]=='cablage' && request.format.pdf? %>"
                style="height: <%= settings[:min_height] %>px;"
                data-num-u="<%= u_disponibles %>">
              <%= render partial: 'servers/draw_u_scale_unit', locals: { i: 0, u_disponibles: u_disponibles, u_server: 1, clickable_lines: clickable_lines } %>
            </li>
            <% u_disponibles -= 1 %>
          <% end %>

          <% bgModeleColor = define_background_color(server: server, mode: params['bg']) %>

          <% u_server = server.modele.try(:u).to_i > 0 ? server.modele.u : 1 %>

          <% data = {:u => u_server,
                     :num_u => u_disponibles,
                     :rj45_futur => server.try(:rj45_futur) || 0,
                     :fc_futur => server.try(:fc_futur)} %>

          <% if view_type == 'back' %>
            <%= content_tag_for :li, server,
                                class: class_names("list-group-item truncate server_back #{server.modele.try(:category).try(:name).try(:parameterize)}",
                                                  striped: server.server_state_id == 1,
                                                  relegated: highlighted_servers_ids.exclude?(server.id) || (params[:bg]=="cablage" && request.format.pdf? && server.server_state_id != 1),
                                                  colorized_background: bgModeleColor.present?
                                ),
                                style: "min-height: #{settings[:min_height] * (server.modele.try(:u).to_i > 0 ? server.modele.u : 1)}px;padding: 3px 3px 3px 20px;",
                                data: data do %>
              <% u_server.times do |i| %>
                <%= render partial: 'servers/draw_u_scale_unit', locals: { i: i, u_disponibles: u_disponibles, u_server: u_server, clickable_lines: clickable_lines } %>
                <% u_disponibles -= 1 %>
              <% end %>
              <%= render partial: 'servers/draw_server_badge', locals: { server: server } %>
              <span id="back_server_<%= server.id %>">
                <div id="scaleable-wrapper" class="scaleable-wrapper">
                  <%= render partial: 'servers/draw_server_compact', locals: { server: server } %>
                </div>
              </span>
            <% end %>
          <% else %>
            <%= content_tag_for :li, server,
                                class: class_names("list-group-item truncate #{server.modele.try(:category).try(:name).try(:parameterize)}",
                                                   striped: server.server_state_id == 1,
                                                   relegated: highlighted_servers_ids.exclude?(server.id) || (params[:bg]=="cablage" && request.format.pdf? && server.server_state_id != 1),
                                                   colorized_background: bgModeleColor.present?
                                ),
                                style: "height: #{settings[:min_height] * u_server - (u_server - 1)}px;background-color:#{bgModeleColor} !important;",
                                data: data do %>
              <% u_server.times do |i| %>
                <%= render partial: 'servers/draw_u_scale_unit', locals: { i: i, u_disponibles: u_disponibles, u_server: u_server, clickable_lines: clickable_lines } %>
                <% u_disponibles -= 1 %>
              <% end %>
              <%= render partial: 'servers/draw_server_badge', locals: { server: server } %>
              <%= render partial: 'servers/draw_server_compact_front', locals: { server: server } %>
            <% end %>

          <% end %>
        <% end %>
      <% end %>
      <% u_disponibles.times do |u| %>
        <li class="server list-group-item truncate
                    <%= 'relegated' if highlighted_servers_ids != servers_ids %>
                    <%= 'relegated' if params[:bg]=='cablage' && request.format.pdf? %>
                  " style="height: <%= settings[:min_height] %>px;" data-num-u="<%= u_disponibles %>">
          <%= render partial: 'servers/draw_u_scale_unit', locals: { i: 0, u_disponibles: u_disponibles, u_server: 1, clickable_lines: clickable_lines } %>
        </li>
        <% u_disponibles -= 1 %>
      <% end %>

    </ul>
  </div>
</div>
