<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  t("inventories") => modeles_url,
  Frame.model_name.human => ''}
%>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">
      <div class="page-header">
        <%= link_to new_frame_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t(".new_frame") %>
        <% end %>
        <h1>
          <%= t(".title") %>
        </h1>
      </div>

      <%= render List::DataTableComponent.new(@frames) do |table| %>
        <% table.with_column(Frame.human_attribute_name(:name), sort_by: :name) do |frame| %>
          <b>
          <%= link_to frame.name, frame %>
          </b>
        <% end %>

        <% table.with_column(Frame.human_attribute_name(:servers)) do |frame| %>
          <%= safe_join frame.servers.map{|s| link_to s.name, s }, ", " %>
        <% end %>

        <% table.with_column(Frame.human_attribute_name(:u), sort_by: :u) do |frame| %>
          <%= frame.u %>
        <% end %>

        <% table.with_column(Frame.human_attribute_name(:room)) do |frame| %>
          <%= frame.room.present? ? (link_to frame.room, frame.room) : frame.room %>
        <% end %>

        <% table.with_column(Islet.model_name.human) do |frame| %>
          <%= link_to frame.bay.islet, islet_path(frame.bay.islet) if frame.bay.present? %>
        <% end %>

        <% table.with_column(class: "text-right") do |frame| %>
          <div class="btn-group btn-group-sm btn-group-vertical" role="group" aria-label="...">
                  <%= link_to t("action.edit"), edit_frame_path(frame), class: 'btn btn-primary' %>
                  <%= link_to t("action.delete"),
                              frame,
                              method: :delete,
                              data: { confirm: t(".delete_confirmation") },
                              class: 'btn btn-danger' %>
                </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
