<% provide(:title, "#{Frame.model_name.human.pluralize} | #{@frame} | #{t(".title")}") %>
<%
  breadcrumb_steps = {
    t("visualization.title") => overview_rooms_path,
    @frame.room.name => ((@frame.present? || params[:islet].present?) ? room_path(@frame.room, view: params[:view]) : "")
  }
  if @frame.present? && @frame.bay.islet.name.present?
    breadcrumb_steps[t("layouts.breadcrumb.islet", name: @frame.bay.islet.name)] = room_path(@frame.room, islet: @frame.bay.islet.name, view: params[:view])
  elsif params[:islet].present?
    breadcrumb_steps[t("layouts.breadcrumb.islet", name: params[:islet])] = ""
  end
  breadcrumb_steps[t("layouts.breadcrumb.bay.double", name: @frame.bay)] = room_path(@frame.room, islet: @frame.bay.islet.name, "bay-id": @frame.bay_id, view: params[:view]) if @frame.has_coupled_frame?
  breadcrumb_steps[t("layouts.breadcrumb.bay.simple", name: @frame.name)] = frame_path(@frame) if @frame.present?
  breadcrumb_steps[t(".title")] = ""
%>
<%= render "layouts/breadcrumb", breadcrumb_steps: %>
<% hide_inventories_sidebar! %>

<div class="container-fluid frames-network">
  <% view_type = "back" %>
  <% settings = Frame.settings.merge({ min_height: view_type == "back" ? 20 : 27 }) %>
  <% @room = t(".title") %>

  <div id="<%= @room.try(:name).try(:parameterize).try(:underscore) %>">
    <% @servers_per_frames.each do |islet, lanes| %>
      <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center my-4">
          <h3><%= t(".title") %></h3>
          <%= render "rooms/action_buttons", view_side: params[:view] if formats != [:pdf] %>
        </div>
        <div class="frames col-12 d-flex flex-row flex-wrap row-gap-3 <%= view_type %>"
            data-update-url="<%= sort_frames_path %>"
            data-max-u="<%= settings[:max_u] %>"
            data-max-elts="<%= settings[:max_elts] %>"
            data-max-rj45="<%= settings[:max_rj45] %>"
            data-max-fc="<%= settings[:max_fc] %>">
          <% lanes.each do |lane, bays| %>
            <% bays.each do |bay, frames| %>
              <% frames.each do |frame, servers| %>
                <div class="bay col-12 col-lg-6 col-xxl-4 pe-0 pe-lg-3">
                  <%= render partial: "frames/show_frame",
                             locals: { frame: , servers: , settings: , view_type: } %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "ports/modal_edit_port" %>
