<%
  breadcrumb
    .add_step(t("visualization.title"), overview_rooms_path)
    .add_step(@frame.room.name, ((@frame.present? || params[:islet].present?) ? visualization_room_path(@frame.room, view: params[:view]) : ""))

  if @frame.present? && @frame.bay.islet.name.present?
    breadcrumb.add_step(t("layouts.breadcrumb.islet", name: @frame.bay.islet.name)], visualization_room_path(@frame.room, islet: @frame.bay.islet.name, view: params[:view]))
  elsif params[:islet].present?
    breadcrumb.add_step(t("layouts.breadcrumb.islet", name: params[:islet])], "")
  end

  breadcrumb.add_step(t("layouts.breadcrumb.bay.double", name: @frame.bay), visualization_bay_path(@frame.bay_id)) if @frame.has_coupled_frame?
  breadcrumb.add_step(t("layouts.breadcrumb.bay.simple", name: @frame.name), visualization_frame_path(@frame)) if @frame.present?
  breadcrumb.add_step(title = t(".title"))

  hide_inventories_sidebar!

  view_type = "back"
  settings = Frame::DEFAULT_SETTINGS.merge({ min_height: view_type == "back" ? 20 : 27 })
%>

<%= render Page::HeadingComponent.new(title:, breadcrumb:) do |heading| %>
  <% heading.with_right_content do %>
    <% render "rooms/action_buttons", view_side: params[:view] if formats != [:pdf] %>
  <% end %>
<% end %>
<div class="container-fluid frames-network p-4 border-top">
  <% @servers_per_frames.each do |islet, lanes| %>
    <div class="row">
      <div class="frames col-12 d-flex flex-row flex-wrap row-gap-3 <%= view_type %>"
          data-update-url="<%= sort_frames_path %>"
          data-max-u="<%= settings[:max_u] %>"
          data-max-elts="<%= settings[:max_elts] %>"
          data-max-rj45="<%= settings[:max_rj45] %>"
          data-max-fc="<%= settings[:max_fc] %>">
        <% lanes.each do |lane, bays| %>
          <% bays.each do |bay, frames| %>
            <% frames.each do |frame, servers| %>
              <div class="bay col-12 col-lg-6 col-xxl-4 pe-0 pe-lg-3">
                <%= render partial: "frames/show_frame",
                            locals: { frame: , servers: , settings: , view_type: } %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= render "ports/modal_edit_port" %>
