<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  Frame.model_name.human => frames_path,
  t(".title") => ''
} %>

<div class="container">
  <div class="page-header">
    <%= link_to frames_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      <%= t("action.back") %>
    <% end %>
    <h1>
        <%= t(".title") %>
    </h1>
  </div>

  <%= render 'form' %>
</div>
