<%
  provide(:title, "#{Frame.model_name.human.pluralize} | #{@frame.name}")
  breadcrumb_steps = { Frame.model_name.human.pluralize => frames_path, @frame.name => "" }
%>

<%= render Page::HeadingShowComponent.new(
  resource: @frame, title: t(".title", frame: @frame.name), breadcrumb_steps:
) do |heading| %>
  <% heading.with_extra_buttons do %>
    <% render ButtonComponent.new(t("visualization.title"),
                                  url: visualization_frame_path(@frame),
                                  variant: :primary,
                                  icon: "diagram-3-fill",
                                  is_responsive: true,
                                  extra_classes: "me-2") %>
  <% end %>
<% end %>
<div class="col-12 p-4 border-top">
  <div class="d-flex flex-row flex-wrap">
    <div class="col-12 col-lg-6 pe-lg-4">
      <%= render CardComponent.new do |card| %>
        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <% %i[name u].each do |attribute_name| %>
            <dt class="pb-2"><%= Frame.human_attribute_name(attribute_name) %></dt>
            <dd class="mb-0 pb-2 ps-3"><%= @frame.public_send(attribute_name) %></dd>
          <% end %>

          <dt class="pb-2"><%= Frame.human_attribute_name(:width) %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= value_with_unit(@frame.width, :inches) if @frame.width.present? %></dd>

          <% %i[switch_slot].each do |attribute_name| %>
            <dt class="pb-2"><%= Frame.human_attribute_name(attribute_name) %></dt>
            <dd class="mb-0 pb-2 ps-3"><%= @frame.public_send(attribute_name) %></dd>
          <% end %>

          <dt class="pb-2"><%= t("frames.coupled_frame_label") %></dt>
          <dd class="mb-0 pb-2 ps-3">
            <%= @frame.other_frame.present? ? link_to(@frame.other_frame.name, frame_path(@frame.other_frame))
                                              : tag.span(t("frames.no_coupled_frame"), class: "fst-italic") %>
          </dd>
        </dl>
      <% end %>
    </div>
    <div class="col-12 col-lg-6">
      <%= render CardComponent.new(type: :primary, extra_classes: "mb-4 mb-lg-0") do |card| %>
        <% card.with_header do %>
          <%= t("layouts.sidebar.location.title") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <% %i[position].each do |attribute_name| %>
            <dt class="pb-2"><%= Frame.human_attribute_name(attribute_name) %></dt>
            <dd class="mb-0 pb-2 ps-3"><%= @frame.public_send(attribute_name) %></dd>
          <% end %>

          <dt class="pb-2"><%= Bay.model_name.human %></dt>
          <dd class="mb-0 pb-2 ps-3 d-flex justify-content-between">
            <%= link_to @frame.bay, bay_path(@frame.bay) %>
            <%= link_to visualization_bay_path(@frame.bay),
                        class: "btn btn-primary btn-sm",
                        data: { turbo_frame: :_top } do %>
              <span class="bi bi-diagram-3-fill"
                    aria-hidden="true"
                    data-controller="tooltip"
                    data-bs-placement="left"
                    title="<%= t("visualization.title") %>"></span>
              <span class="visually-hidden"><%= t("visualization.title") %></span>
            <% end %>
          </dd>
        </dl>
      <% end %>
    </div>
  </div>
  <%= render HasManyTurboFrameComponent.new(
    Server.model_name.human.pluralize, url: servers_path(frame_ids: @frame.id), frame_id: dom_id(Server, :table)
  ) %>
  <%= render ChangelogEntries::ObjectListComponent.new(@frame) %>
</div>
