<%
  breadcrumb_variables = {'Salles' => overview_rooms_path, @room.title => ((@frame.present? || params[:islet].present?) ? room_path(@room):'')}
  if @frame.present? && @frame.bay.islet.name.present?
    breadcrumb_variables["Ilot #{@frame.bay.islet.name}"] = islet_rooms_path(id: @room.id, islet: @frame.bay.islet.name)
  elsif params[:islet].present?
    breadcrumb_variables["Ilot #{params[:islet]}"] = ''
  end
  breadcrumb_variables["Baie #{@frame.title}"] = '' if @frame.present?
%>
<%= render 'layouts/breadcrumb', params: breadcrumb_variables %>

<div class="container-fluid">

  <% settings = Frame.settings.merge({:min_height => params[:view]=='back' ? 20 : 27 }) %>
  <%= render 'rooms/action_buttons', view_side: Frame.view_sides[:both] if formats != [:pdf] %>

  <div id="<%= @room.try(:title).try(:parameterize).try(:underscore) %>">

      <div>
        <div>
          <div class="panel-islet">
            <% if @room.present? %>
              <div><h3>Salle <%= @room.title %> - Ilot <%= @frame.islet %></h3></div>
            <% end %>

            <div class="row">

              <ul class="frames <%= params[:view] %>"
                  style="padding: 0;"
                  data-update-url="<%= sort_frames_path %>"
                  data-max-u='<%= settings[:max_u] %>'
                  data-max-elts='<%= settings[:max_elts] %>'
                  data-max-rj45='<%= settings[:max_rj45] %>'
                  data-max-fc='<%= settings[:max_fc] %>' >

                  <div class="col-xs-12 col-sm-6">
                    <%= render 'frames/show', frame: @frame, servers: @frame.servers, settings: settings, view_type: 'front' %>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <%= render 'frames/show', frame: @frame, servers: @frame.servers, settings: settings, view_type: 'back' %>
                  </div>


              </ul>
            </div>

          </div>

        </div>

      </div>

  </div>

</div>

<%= render 'servers/modal_add_element_in_frame' %>

<% # render 'ports/modal_add_connection' %>
