<div class="page-header">
  <%= link_to maintenance_contracts_path, class: 'btn btn-default' do %>
    <span class="bi bi-list-ul"></span>
    Retour
  <% end %>
  <%= link_to edit_maintenance_contract_path(@maintenance_contract), class: 'btn btn-primary' do %>
    <span class="bi bi-pencil"></span>
    Edit
  <% end %>
  <h1>Voir maintenance_contract</h1>
</div>

<dl class="dl-horizontal">
  <dt>Start date:</dt>
  <dd><%= @maintenance_contract.start_date %></dd>

  <dt>End date:</dt>
  <dd><%= @maintenance_contract.end_date %></dd>

  <dt>Maintainer:</dt>
  <dd><%= @maintenance_contract.maintainer_id %></dd>

  <dt>Contract type:</dt>
  <dd><%= @maintenance_contract.contract_type_id %></dd>

</dl>
