<div class="well">
  <span>
    Salles et ilots :
    <% Salle.includes(:baies).order("salles.title").each do |salle| %>
      <% if salle.title.present? && salle.serveurs.exists? %>
        <% ilots = (salle.baies.map(&:ilot).uniq - ["", nil]) %>
        <div class="btn-group">
          <a href="<%= salle_path(salle, :view => params[:view]) %>" class="btn btn-default">
            <%= salle.title %>
          </a>
          <% if ilots.present? %>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
          <% end %>
          <% if ilots.present? %>
            <ul class="dropdown-menu">
              <% ilots.each do |ilot| %>
                <% if ilot.present? %>
                  <li>
                    <%= link_to "Ilot #{ilot}", ilot_salles_path(id: salle.id, ilot: ilot, :view => params[:view], bg: params[:bg]) %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </span>
  <span style="margin-left: 10px;">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Clusters <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% Cluster.order('LOWER(title) asc').each do |c| %>
          <li <%= "class=active" if params[:cluster_id]==c.id.to_s %> >
            <%= link_to c.title, baies_serveurs_path(cluster_id: c.id, :view => params[:view], bg: (params[:bg]||'cluster') ) %>
          </li>
        <% end %>
      </ul>
    </div>
  </span>
</div>
