<div class="container-fluid">

  <span class="pull-right">
    <%= link_to salle_path(@salle, :view => params[:view]=='back' ? :front : :back), class: 'btn btn-warning' do %>
      <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
      <%= (params[:view]=='back' ? 'Vue avant' : 'Vue arrière') %>
    <% end %>
  </span>

  <h1>Vue par salle</h1>

  <div class="well">
    Raccourcis vers les salles :
    <% Salle.includes(:serveurs).order("title").each do |salle| %>
      <% if salle.title.present? && salle.serveurs.present? %>
        <li>
          <% if salle == @salle %>
            <%= salle.title %>
            <% else %>
            <%= link_to salle.title, salle_path(salle) %>
            <% end %>

        </li>
      <% end %>
    <% end %>
  </div>

  <%= render 'serveurs/salle', salle: @salle.title, ilots: @serveurs_par_baies %>

</div>

<%= link_to edit_salle_path(@salle), class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  Edit
<% end %>

<%= render 'serveurs/modal_add_element_in_baie' %>
