<div class="container">

  <%= render 'layouts/breadcrumb', params: {'Configuration' => modeles_url, 'Cartes' => ''} %>

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <div class="page-header">
        <%= link_to new_card_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          Ajouter une carte
        <% end %>
        <h1>Cartes</h1>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th>Nom</th>
            <th></th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <%= content_tag_for(:tr, @cards) do |card| %>
            <td><%= card.name %></td>
            <td><%= link_to 'Modifier', edit_card_path(card) %></td>
            <td><%= link_to 'Supprimer', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>

  </div>

</div>
