<li class="nested-form-wrapper list-group-item bg-transparent"
    data-new-record="<%= f.object.new_record? %>">
  <span class="input-group input-group-sm">
    <%= f.text_field :name, { class: "form-control", placeholder: true } %>

    <%= f.hidden_field :_destroy %>
    <button type="button" data-action="nested-form#remove" class="btn btn-danger" id="input-group-delete-btn">
      <span class="bi bi-trash" title="<%= t("action.delete") %>"></span>
    </button>
  </span>

  <fieldset data-controller="nested-form">
    <%= render CardComponent.new(extra_classes: "bg-body-tercary") do |card| %>
      <% card.with_header do %>
        <div class="d-flex justify-content-between align-items-center">
          <%= PowerDistributionUnit::Socket.model_name.human.pluralize %>
        </div>
      <% end %>

      <ul class="list-group bg-body-tertiary">
        <template data-nested-form-target="template">
          <%= f.fields_for :sockets, f.object.sockets.klass.new,
                           child_index: "__NEW_RECORD__" do |socket_fields| %>
            <%= render partial: "power_distribution_units/socket_fields", locals: { f: socket_fields } %>
          <% end %>
        </template>

        <%= f.fields_for :sockets do |socket_fields| %>
          <%= render partial: "power_distribution_units/socket_fields", locals: { f: socket_fields } %>
        <% end %>

        <div data-nested-form-target="target"></div>
      </ul>

      <% card.with_footer do %>
        <span class="mx-auto">
          <button type="button" class="btn btn-outline-success btn-sm" data-action="nested-form#add">
            <span class="bi bi-plus-lg" aria-hidden="true"></span> <%= t(".add_socket") %>
          </button>
        </span>
      <% end %>
    <% end %>
  </fieldset>
</li>
