<%# locals: (power_distribution_unit:) -%>

<%= form_with(model: power_distribution_unit, html: { role: "form" }) do |f| %>
  <%= render FormErrorsComponent.new(power_distribution_unit) %>

  <div class="row row-cols-1 row-cols-lg-2 row-gap-4">
    <div class="col">
      <%= render CardComponent.new(extra_classes: "bg-body-tertiary") do |card| %>
        <% card.with_header do %>
          <%= t("show.cards.identification") %>
        <% end %>

        <div class="row g-3">
          <fieldset class="col-12">
            <%= f.label :name, class: "form-label" %>
            <%= f.text_field :name, class: "form-control" %>
          </fieldset>
        </div>
      <% end %>

      <%= render CardComponent.new(extra_classes: "mt-4 bg-body-tertiary") do |card| %>
        <% card.with_header do %>
          <%= t("show.cards.features") %>
        <% end %>

        <fieldset class="col-12">
          <%= f.label :type_id, class: "form-label" %>
          <%= f.select :type_id,
                       PowerDistributionUnitDecorator.power_distribution_unit_types_options_for_select,
                       { prompt: true },
                       class: "form-select" %>
        </fieldset>

        <fieldset class="col-12">
          <%= f.label :bay_id, class: "form-label" %>
          <%= f.select :bay_id,
                       PowerDistributionUnitDecorator.bays_options_for_select(current_user),
                       { prompt: true },
                       class: "form-select" %>
        </fieldset>

        <fieldset class="col-12">
          <%= f.label :side, class: "form-label" %>
          <%= f.select :side,
                       PowerDistributionUnitDecorator.side_options_for_select,
                       { prompt: true },
                       class: "form-select" %>
        </fieldset>

        <fieldset class="col-12">
          <%= f.label :orientation, class: "form-label" %>
          <%= f.select :orientation,
                       PowerDistributionUnitDecorator.orientation_options_for_select,
                       { prompt: true },
                       class: "form-select" %>
        </fieldset>

        <fieldset class="col-12 mt-4">
          <%= f.label :ipmi_url, class: "form-label" %>
          <%= f.text_field :ipmi_url, class: "form-control" %>
        </fieldset>

        <fieldset class="col-12 mt-4">
          <%= f.label :serial_number, class: "form-label" %>
          <%= f.text_field :serial_number, class: "form-control" %>
        </fieldset>

        <fieldset class="col-12 mt-4">
          <%= f.label :comment, class: "form-label" %>
          <%= f.textarea :comment, class: "form-control" %>
        </fieldset>

      <% end %>
    </div>

    <div class="col">
      <fieldset data-controller="nested-form">
        <%= render CardComponent.new(extra_classes: "bg-body-tertiary") do |card| %>
          <% card.with_header do %>
            <div class="d-flex justify-content-between align-items-center">
               <%= Circuit.model_name.human.pluralize %>
            </div>
          <% end %>

          <ul class="list-group bg-body-tertiary">
            <template data-nested-form-target="template">
              <%= f.fields_for :circuits, f.object.circuits.klass.new,
                               child_index: "__NEW_RECORD__" do |circuit_fields| %>
                <%= render partial: "circuit_fields", locals: { f: circuit_fields } %>
              <% end %>
            </template>

            <%= f.fields_for :circuits do |circuit_fields| %>
              <%= render partial: "circuit_fields", locals: { f: circuit_fields } %>
            <% end %>

            <div data-nested-form-target="target"></div>
          </ul>

          <div class="modal fade" tabindex="-1" id="previewModal">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content" id="ts_modele_form_preview"></div>
            </div>
          </div>

          <% card.with_footer do %>
            <span class="mx-auto">
              <button type="button" class="btn btn-outline-success btn-sm" data-action="nested-form#add">
                <span class="bi bi-plus-lg" aria-hidden="true"></span> <%= t(".add_circuit") %>
              </button>
            </span>
          <% end %>
        <% end %>
      </fieldset>
    </div>
  </div>

  <%= render Form::ActionsComponent.new(f, display_create_another_one:) %>
<% end %>
