<%
  is_edit = controller.action_name == "edit"
  is_new = !is_edit

  dynamic_url = is_edit ? power_distribution_unit_path(@pdu) : power_distribution_units_path
%>

<%= form_for(@pdu, as: :power_distribution_unit,
                   url: dynamic_url,
                   html: { class: "col-12 col-md-10 col-lg-8 mx-auto", role: "form" }) do |f| %>
  <%= render FormErrorsComponent.new(@pdu) %>

  <%= render CardComponent.new(extra_classes: "bg-body-tertiary") do |card| %>
    <% card.with_header do %>
      <%= t("show.cards.identification") %>
    <% end %>

    <div class="row g-3">
      <fieldset class="col-12">
        <%= f.label :name, class: "form-label" %>
        <%= f.text_field :name, class: "form-control" %>
      </fieldset>
    </div>
  <% end %>

  <%= render CardComponent.new(extra_classes: "mt-4 bg-body-tertiary") do |card| %>
    <% card.with_header do %>
      <%= Modele.model_name.human %>
    <% end %>

    <div class="row g-3">
      <fieldset class="col-12">
        <%= f.label :modele_id, class: "form-label" %>
        <%= f.collection_select(:modele_id,
                                Modele.only_pdus.all_sorted,
                                :id,
                                :name_with_brand,
                                { prompt: true, include_blank: false },
                                {
                                  class: "form-select",
                                  data: { controller: "select" },
                                  placeholder: t("select.placeholder")
                                })
        %>
      </fieldset>
    </div>
  <% end %>

  <%= render CardComponent.new(extra_classes: "mt-4 bg-body-tertiary") do |card| %>
    <% card.with_header do %>
      <%= t("show.cards.features") %>
    <% end %>

    <div class="row g-3">
      <fieldset class="col-12">
        <%= f.label :numero, class: "form-label" %>
        <%= f.text_field :numero, class: "form-control" %>
      </fieldset>
    </div>
  <% end %>

  <%= render CardComponent.new(type: :primary, extra_classes: "mt-4 bg-body-tertiary") do |card| %>
    <% card.with_header do %>
      <%= t("layouts.sidebar.location.title") %>
    <% end %>

    <div class="row g-3">
      <fieldset class="col-12">
        <%= f.label :frame_id, class: "form-label" %>
        <%= f.collection_select(:frame_id,
                                Frame.all_sorted,
                                :id,
                                :name_with_room_and_islet,
                                { prompt: true, include_blank: true },
                                {
                                  class: "form-select",
                                  data: { controller: "select" },
                                  placeholder: t("select.placeholder")
                                })
        %>
      </fieldset>
    </div>
  <% end %>

  <%= render CardComponent.new(type: :success, extra_classes: "mt-4 bg-body-tertiary") do |card| %>
    <% card.with_header do %>
      <%= t("layouts.sidebar.operating.title") %>
    <% end %>

    <div class="row g-3">
      <fieldset class="col-12">
        <%= f.label :gestion_id, class: "form-label" %>
        <%= f.collection_select(:gestion_id,
                                Gestion.sorted,
                                :id,
                                :name,
                                { prompt: true, include_blank: true },
                                {
                                  class: "form-select",
                                  data: { controller: "select" },
                                  placeholder: t("select.placeholder")
                                })
        %>
      </fieldset>
    </div>
  <% end %>

  <!-- TODO: update -->
  <% if @pdu.modele %>
    <% @pdu.modele.enclosures.each do |enclosure| %>
      <div class="col-12 mt-4" data-controller="nested-form">
        <template data-nested-form-target="template">
          <%= f.fields_for :cards, f.object.cards.klass.new, child_index: '__NEW_RECORD__' do |card_fields| %>
            <%= render partial: "servers/card_fields", locals: { f: card_fields, server: @pdu, enclosure: enclosure } %>
          <% end %>
        </template>

        <%= render CardComponent.new(extra_classes: "bg-body") do |card| %>
          <% card.with_header do %>
            <%= "#{Enclosure.model_name.human} #{enclosure.position}" %>
          <% end %>

          <div class="row-gap-3 d-flex flex-column">
            <% cards = @pdu.cards.select { |c| c.composant.enclosure == enclosure }
                                    .sort_by! { |c| c.composant.position } %>
            <%= f.fields_for :cards, cards do |card_fields| %>
              <%= render partial: "servers/card_fields", locals: { f: card_fields, server: @pdu, enclosure: enclosure } %>
            <% end %>

            <div data-nested-form-target="target" class="d-none"></div>
          </div>

          <% card.with_footer do %>
            <button type="button" class="btn btn-outline-success btn-sm mx-auto" data-action="nested-form#add">
              <span class="bi bi-plus-lg" aria-hidden="true"></span>
              <span><%= t(".add_card") %></span>
            </button>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= render CardComponent.new(extra_classes: "bg-body-tertiary mt-4") do |card| %>
    <fieldset class="col-12">
      <%= f.label :comment, class: "form-label" %>
      <%= f.text_area :comment, class: "form-control" %>
    </fieldset>
  <% end %>

  <fieldset class="col-12 mt-4" data-controller="nested-form">
    <template data-nested-form-target="template">
      <%= f.fields_for :documents, f.object.documents.klass.new, child_index: '__NEW_RECORD__' do |document_fields| %>
        <%= render partial: "servers/document_fields", locals: { f: document_fields } %>
      <% end %>
    </template>

    <%= render CardComponent.new(extra_classes: "bg-body-tertiary") do |card| %>
      <% card.with_header do %>
        <%= f.label :documents %>
      <% end %>

      <%= f.fields_for :documents do |document_fields| %>
        <%= render partial: "servers/document_fields", locals: { f:  document_fields } %>
      <% end %>

      <div data-nested-form-target="target"></div>

      <button type="button" class="btn btn-outline-success btn-sm" data-action="nested-form#add">
        <span class="bi bi-plus-lg" aria-hidden="true"></span>
        <span><%= t(".add_document") %></span>
      </button>
    <% end %>
  </fieldset>

  <%= render CardComponent.new(extra_classes: "bg-body-tertiary mt-4") do |card| %>
    <fieldset class="col-12">
      <%= f.label :photo, class: "form-label" %>
      <%= f.file_field :photo, class: "form-control" %>

      <% if @pdu.photo.attached? %>
        <%= image_tag @pdu.photo.representation(resize_to_limit: [200, 200]), class: "ms-0 mt-2" %>
      <% end %>
    </fieldset>
  <% end %>

  <%#= render Form::ActionsComponent.new(f) %>
  <div class="col-12 py-4 mt-4 text-end sticky-bottom bg-body-tertiary border-top">
    <span class="me-2 form-check form-check-inline">
      <%= check_box_tag :create_another_one, class: "form-check-input" %>
      <%= label_tag :create_another_one, t("action.create_more"), class: "form-check-label" %>
    </span>

    <%= link_to(t("action.cancel"), dynamic_url, class: "btn btn-outline-secondary me-2") %>
    <%= f.submit(class: class_names("btn", 'btn-info': is_edit, 'btn-success': is_new)) %>
  </div>
<% end %>
