<div id="<%= dom_id power_distribution_unit %>">
  <div>
    <strong>Type:</strong>
    <%= power_distribution_unit.type_id %>
  </div>

  <div>
    <strong>Bay:</strong>
    <%= power_distribution_unit.bay_id %>
  </div>

  <div>
    <strong>Side:</strong>
    <%= power_distribution_unit.side %>
  </div>

  <div>
    <strong>Orientation:</strong>
    <%= power_distribution_unit.orientation %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= power_distribution_unit.name %>
  </div>

  <div>
    <strong>Slug:</strong>
    <%= power_distribution_unit.slug %>
  </div>

  <div>
    <strong>Ipmi url:</strong>
    <%= power_distribution_unit.ipmi_url %>
  </div>

  <div>
    <strong>Serial number:</strong>
    <%= power_distribution_unit.serial_number %>
  </div>

  <div>
    <strong>Comment:</strong>
    <%= power_distribution_unit.comment %>
  </div>

</div>
