<%
  breadcrumb.add_step(title = t(".title"))
%>

<%= render Page::HeadingComponent.new(title: t(".title"), breadcrumb:) do |heading| %>
  <% heading.with_right_content do %>
    <%= render ButtonComponent.new(t(".new_power_distribution_unit"),
                                   url: new_power_distribution_unit_path,
                                   variant: :success,
                                   icon: "plus-lg",
                                   is_responsive: true) %>
  <% end %>
<% end %>

<%= turbo_frame_tag(dom_id(PowerDistributionUnit, :index), data: { turbo_action: :advance }) do %>
  <div class="p-4 border-top d-flex flex-column row-gap-4">
    <div class="alert alert-warning mb-0">
      Cette section est actuellement en cours de développement. Les données peuvent être amenées à être supprimées ou altérées par des changements le temps du développement.
    </div>

    <%= render FilterComponent.new(@filter) do |c| %>
      <% c.with_form do |f| %>
        <div class="w-100">
          <fieldset class="form-floating">
            <%= f.text_field :q, class: "form-control", placeholder: t("filters.placeholder.search") %>
            <%= f.label :q %>
          </fieldset>
        </div>

        <div>
          <fieldset class="form-floating">
            <%= f.select :room_ids, PowerDistributionUnitDecorator.rooms_options_for_select(current_user),
                         { prompt: true, multiple: true },
                         { class: "form-select", data: { controller: :select } } %>
            <%= f.label :room_ids %>
          </fieldset>
        </div>

        <div>
          <fieldset class="form-floating">
            <%= f.select :islet_ids, PowerDistributionUnitDecorator.islets_options_for_select(current_user),
                         { prompt: true, multiple: true },
                         { class: "form-select", data: { controller: :select } } %>
            <%= f.label :islet_ids %>
          </fieldset>
        </div>

        <div>
          <fieldset class="form-floating">
            <%= f.select :bay_ids, PowerDistributionUnitDecorator.bays_options_for_select(current_user),
                         { prompt: true, multiple: true },
                         { class: "form-select", data: { controller: :select } } %>
            <%= f.label :bay_ids %>
          </fieldset>
        </div>

        <div>
          <fieldset class="form-floating">
            <%= f.select :frame_ids, PowerDistributionUnitDecorator.frames_options_for_select(current_user),
                        { prompt: true, multiple: true },
                        { class: "form-select", data: { controller: :select } } %>
            <%= f.label :frame_ids %>
          </fieldset>
        </div>

        <div>
          <fieldset class="form-floating">
            <%= f.select :type_ids, PowerDistributionUnitDecorator.power_distribution_unit_types_options_for_select,
                         { prompt: true, multiple: true },
                         { class: "form-select", data: { controller: :select } } %>
            <%= f.label :type_ids %>
          </fieldset>
        </div>

        <div>
          <fieldset class="form-floating">
            <%= f.select :manufacturer_ids, PowerDistributionUnitDecorator.manufacturers_options_for_select,
                         { prompt: true, multiple: true },
                         { class: "form-select", data: { controller: :select } } %>
            <%= f.label :manufacturer_ids %>
          </fieldset>
        </div>

      <% end %>
    <% end %>

    <%= turbo_frame_tag(
          dom_id(PowerDistributionUnit, :table),
          data: { turbo_action: :advance },
          target: dom_id(PowerDistributionUnit, :index),
        ) do %>
      <div class="d-flex flex-column row-gap-4">
        <%= render List::DataTableComponent.new(@power_distribution_units) do |table| %>
          <% table.with_bulk_action(
               url: bulk_power_distribution_units_path,
               method: :delete,
               class: "btn btn-danger btn-sm",
               data: { confirm: t("action.confirm") },
             ) do %>
            <span class="bi bi-trash pe-none" title="<%= t("action.delete") %>"></span>
          <% end %>

          <% table.with_column(PowerDistributionUnit.human_attribute_name(:name), sort_by: :name) do |pdu| %>
            <%= link_to power_distribution_unit_path(pdu), class: "fw-bold", data: { turbo_frame: :_top } do %>
              <%= pdu.name %>
            <% end %>
          <% end %>

          <% table.with_column(PowerDistributionUnit.human_attribute_name(:room_id), sort_by: :"rooms.name") do |pdu| %>
            <%= link_to room_path(pdu.room), data: { turbo_frame: :_top } do %>
              <%= pdu.room %>
            <% end %>
          <% end %>

          <% table.with_column(
               PowerDistributionUnit.human_attribute_name(:islet_id), sort_by: :"islets.name",
             ) do |pdu| %>
            <%= link_to islet_path(pdu.islet), data: { turbo_frame: :_top } do %>
              <%= pdu.islet %>
            <% end %>
          <% end %>

          <% table.with_column(PowerDistributionUnit.human_attribute_name(:frame_id), sort_by: :"frames.id") do |pdu| %>
            <%= link_to frame_path(pdu.frame), data: { turbo_frame: :_top } do %>
              <%= pdu.frame %>
            <% end %>
          <% end %>

          <% unless (turbo_frame_request? && @filter.filled?(:type_ids)) %>
            <% table.with_column(
                 PowerDistributionUnit.human_attribute_name(:type_id), sort_by: :"power_distribution_unit_types.name",
               ) do |pdu| %>
              <%= link_to power_distribution_unit_type_path(pdu.type), data: { turbo_frame: :_top } do %>
                <%= pdu.type %>
              <% end %>
            <% end %>
          <% end %>

          <% table.with_column(
               PowerDistributionUnit.human_attribute_name(:manufacturer_id), sort_by: :"manufacturers.name",
             ) do |pdu| %>
            <%= link_to manufacturer_path(pdu.manufacturer), data: { turbo_frame: :_top } do %>
              <%= pdu.manufacturer %>
            <% end %>
          <% end %>

          <% table.with_column(style: "min-width: 70px; width: 70px") do |pdu| %>
            <div class="btn-group btn-group-sm" role="group" aria-label="...">
              <%= link_to edit_power_distribution_unit_path(pdu),
                          class: "btn btn-info",
                          title: t("action.edit"),
                          data: {
                            turbo_frame: :_top,
                            controller: "tooltip",
                            bs_placement: "left",
                          },
                          aria: {
                            label: t("action.edit"),
                          } do %>
                <span class="bi bi-pencil" aria-hidden="true"></span>
                <span class="visually-hidden"><%= t("action.edit") %></span>
              <% end %>
              <%= link_to duplicate_power_distribution_unit_path(pdu),
                          class: "btn btn-success",
                          title: t("action.duplicate"),
                          data: {
                            turbo_frame: :_top,
                            controller: "tooltip",
                            bs_placement: "left",
                          },
                          aria: {
                            label: t("action.duplicate"),
                          } do %>
                <span class="bi bi-copy" aria-hidden="true"></span>
                <span class="visually-hidden"><%= t("action.duplicate") %></span>
              <% end %>
              <%= link_to power_distribution_unit_path(pdu),
                          method: :delete,
                          class: "btn btn-danger",
                          title: t("action.delete"),
                          data: {
                            turbo_frame: :_top,
                            controller: "tooltip",
                            bs_placement: "left",
                          },
                          aria: {
                            label: t("action.delete"),
                          } do %>
                <span class="bi bi-trash" aria-hidden="true"></span>
                <span class="visually-hidden"><%= t("action.delete") %></span>
              <% end %>
            </div>
          <% end %>
        <% end %>

        <div class="d-flex justify-content-between align-items-center">
          <%== render PaginationComponent.new(pagy: @pagy) %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
