<%
  breadcrumb.add_step(title = @power_distribution_unit)
%>

<%= render Page::HeadingShowComponent.new(resource: @power_distribution_unit, title:, breadcrumb:) %>
<div class="col-12 p-4 border-top">
  <div class="alert alert-warning">
    Cette section est actuellement en cours de développement. Les données peuvent être amenées à être supprimées ou altérées par des changements le temps du développement.
  </div>

  <div class="col-12 col-lg-6">
   <%= render CardComponent.new do |card| %>
      <dl class="show-page_dl d-grid row-gap-2 mb-0">
        <% card.with_header do %>
          <%= t("show.cards.identification") %>
        <% end %>

        <% %i[name].each do |attribute_name| %>
          <dt class="pb-2"><%= PowerDistributionUnit.human_attribute_name(attribute_name) %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= @power_distribution_unit.public_send(attribute_name) %></dd>
        <% end %>
      </dl>
    <% end %>

    <%= render CardComponent.new(extra_classes: "mt-4") do |card| %>
      <% card.with_header do %>
        <%= t("show.cards.features") %>
      <% end %>

      <dl class="show-page_dl d-grid row-gap-2 mb-0">
        <dt class="pb-2"><%= PowerDistributionUnit.human_attribute_name(:type_id) %> :</dt>
        <dd class="mb-0 pb-2 ps-3"><%= link_to @power_distribution_unit.type %></dd>

        <dt class="pb-2"><%= PowerDistributionUnit.human_attribute_name(:bay_id) %> :</dt>
        <dd class="mb-0 pb-2 ps-3"><%= link_to @power_distribution_unit.bay %></dd>

        <dt class="pb-2"><%= PowerDistributionUnit.human_attribute_name(:side) %> :</dt>
        <dd class="mb-0 pb-2 ps-3"><%= PowerDistributionUnit.human_attribute_name("side.#{@power_distribution_unit.side}") %></dd>

        <dt class="pb-2"><%= PowerDistributionUnit.human_attribute_name(:orientation) %> :</dt>
        <dd class="mb-0 pb-2 ps-3"><%= PowerDistributionUnit.human_attribute_name("orientation.#{@power_distribution_unit.orientation}") %></dd>

        <% %i[ipmi_url serial_number comment].each do |attribute_name| %>
          <dt class="pb-2"><%= PowerDistributionUnit.human_attribute_name(attribute_name) %> :</dt>
          <dd class="mb-0 pb-2 ps-3"><%= @power_distribution_unit.public_send(attribute_name) %></dd>
        <% end %>
      </dl>
    <% end %>
  </div>
  <%= render ChangelogEntries::ObjectListComponent.new(@power_distribution_unit) %>
</div>
