<%
  breadcrumb
    .add_step(PowerDistributionUnit.model_name.human.pluralize, power_distribution_units_path)
    .add_step(title = @power_distribution_unit)
%>

<%= render Page::HeadingShowComponent.new(resource: @power_distribution_unit, title:, breadcrumb:) %>
<div class="col-12 p-4 border-top">
  <div class="col-12 col-lg-6">
    <%= render CardComponent.new do |card| %>
      <dl class="show-page_dl d-grid row-gap-2 mb-0">
        <% %i[type_id bay_id side orientation name slug ipmi_url serial_number comment].each do |attribute_name| %>
          <dt class="pb-2"><%= PowerDistributionUnit.human_attribute_name(attribute_name) %> :</dt>
          <dd class="mb-0 pb-2 ps-3"><%= @power_distribution_unit.public_send(attribute_name) %></dd>
        <% end %>
      </dl>
    <% end %>
  </div>
  <%= render ChangelogEntries::ObjectListComponent.new(@power_distribution_unit) %>
</div>
