<%
  title = Gestion.model_name.human.pluralize
  breadcrumb_steps = { title => "" }

  provide(:title, title)
%>

<%= render Page::HeadingComponent.new(title:, breadcrumb_steps:) do |heading| %>
  <% heading.with_right_content do %>
    <% render ButtonComponent.new(t(".new_gestion"),
                                  url: new_gestion_path,
                                  variant: :success,
                                  icon: "plus-lg",
                                  is_responsive: true) %>
  <% end %>
<% end %>

<div class="p-4 border-top d-flex flex-column row-gap-4">
  <%= render List::DataTableComponent.new(@gestions) do |table| %>
    <% table.with_column(Gestion.human_attribute_name(:name), sort_by: :name) do |gestion| %>
      <%= link_to gestion, gestion_path(gestion) %>
    <% end %>

    <% table.with_column(Gestion.human_attribute_name(:usage), sort_by: :servers_count) do |gestion| %>
      <%= link_to Gestion.human_attribute_name(:servers_count, count: gestion.servers_count),
                  servers_path(gestion_ids: gestion.id) %>
    <% end %>

    <% table.with_column(style: "min-width: 70px; width: 70px") do |gestion| %>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <%= link_to edit_gestion_path(gestion), class: "btn btn-info" do %>
          <span class="bi bi-pencil" title="<%= t("action.edit") %>" aria-hidden="true"
                                                                     data-controller="tooltip"
                                                                     data-bs-placement="left"></span>
          <span class="visually-hidden"><%= t("action.edit") %></span>
        <% end %>
        <%= link_to gestion, method: :delete, data: { confirm: t(".delete_confirmation") },
                                              class: "btn btn-danger" do %>
          <span class="bi bi-trash" title="<%= t("action.delete") %>" aria-hidden="true"
                                                                      data-controller="tooltip"
                                                                      data-bs-placement="left"></span>
          <span class="visually-hidden"><%= t("action.delete") %></span>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
