<% provide(:title, Gestion.model_name.human.pluralize) %>
<%= render "layouts/breadcrumb", breadcrumb_variables: {
  Gestion.model_name.human.pluralize => "" }
%>

<div class="container-fluid">
  <div class="page-header d-flex justify-content-between">
    <h1><%= t(".title") %></h1>
    <%= link_to new_gestion_path, class: "btn btn-success align-self-center" do %>
      <span class="bi bi-plus-lg"></span>
      <%= t(".new_gestion") %>
    <% end %>
  </div>

  <%= render List::DataTableComponent.new(@gestions) do |table| %>
    <% table.with_column(Gestion.human_attribute_name(:name), sort_by: :name) do |gestion| %>
      <%= link_to gestion, gestion_path(gestion) %>
    <% end %>

    <% table.with_column(Gestion.human_attribute_name(:usage), sort_by: :servers_count) do |gestion| %>
      <%= Gestion.human_attribute_name(:servers_count, count: gestion.servers_count) %>
    <% end %>

    <% table.with_column(style: "min-width: 84px; width: 84px") do |gestion| %>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <%= link_to edit_gestion_path(gestion), class: "btn btn-primary" do %>
          <span class="bi bi-pencil" aria-hidden="true" data-controller="tooltip" data-bs-placement="left" title="<%= t("action.edit") %>"></span>
          <span class="visually-hidden"><%= t("action.edit") %></span>
        <% end %>
        <%= link_to gestion, method: :delete, data: { confirm: t(".delete_confirmation") }, class: "btn btn-danger" do %>
          <span class="bi bi-trash" aria-hidden="true" data-controller="tooltip" data-bs-placement="left" title="<%= t("action.delete") %>"></span>
          <span class="visually-hidden"><%= t("action.delete") %></span>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
