<div class="container">

  <div class="page-header">
    <%= link_to gestions_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      <%= t("action.back") %>
    <% end %>
    <%= link_to edit_gestion_path(@gestion), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      <%= t("action.edit") %>
    <% end %>
    <h1>
      <%= t(".title", gestion: @gestion) %>
    </h1>
  </div>

  <dl class="dl-horizontal">
    <dt>
      <%= Gestion.human_attribute_name(:description) %> :
    </dt>
    <dd><%= @gestion.description %></dd>
  </dl>

  <ul>
    <% @gestion.servers.sorted_by_name.each do |server| %>
      <li><%= link_to server, server %></li>
    <% end %>
  </ul>

</div>
