<div class="page-header">
  <%= link_to gestions_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_gestion_path(@gestion), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show gestion</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nom :</dt>
  <dd><%= @gestion %></dd>

  <dt>Description:</dt>
  <dd><%= @gestion.description %></dd>

  <dt>Published:</dt>
  <dd><%= @gestion.published %></dd>

</dl>
