<%
  title = ContactAssignment.model_name.human.pluralize
  breadcrumb_steps = { title => "" }

  provide(:title, title)
%>

<%= render Page::HeadingComponent.new(title:, breadcrumb_steps:) do |heading| %>
  <% heading.with_right_content do %>
    <% render ButtonComponent.new(t(".new_contact_assignment"),
                                  url: new_contact_assignment_path,
                                  variant: :success,
                                  icon: "plus-lg",
                                  is_responsive: true) %>
  <% end %>
<% end %>

<div class="p-4 border-top d-flex flex-column row-gap-4">
  <%= render FilterComponent.new(@filter) do |c| %>
    <% c.with_form do |f| %>
      <div class="w-100">
        <fieldset class="form-floating">
          <%= f.collection_select(:site_ids, Site.select(:id, :name).sorted, :id, :name,
                                  { prompt: true, multiple: true },
                                  { class: "form-select", data: { controller: :select }  }) %>
          <%= f.label :site_ids %>
        </fieldset>
      </div>

      <div>
        <fieldset class="form-floating">
          <%= f.collection_select(:contact_ids, Contact.select(:id, :first_name, :last_name), :id, :to_s,
                                  { prompt: true, multiple: true },
                                  { class: "form-select", data: { controller: :select }  }) %>
          <%= f.label :contact_ids %>
        </fieldset>
      </div>
    <% end %>
  <% end %>

  <%= turbo_frame_tag(dom_id(ContactAssignment, :table), data: { turbo_action: :advance }) do %>
    <div class="d-flex flex-column row-gap-4">
      <%= render List::DataTableComponent.new(@contact_assignments) do |table| %>
        <% unless turbo_frame_request? %>
          <% table.with_column(ContactAssignment.human_attribute_name(:id)) do |contact_assignment| %>
            <%= link_to contact_assignment.id,
                        contact_assignment_path(contact_assignment),
                        class: "fw-bold",
                        data: { turbo_frame: :_top } %>
          <% end %>
        <% end %>

        <% unless (turbo_frame_request? && @filter.filled?(:site_ids)) %>
          <% table.with_column(ContactAssignment.human_attribute_name(:site_id), sort_by: :site_id) do |contact_assignment| %>
            <%= link_to contact_assignment.site, site_path(contact_assignment.site), data: { turbo_frame: :_top } %>
          <% end %>
        <% end %>

        <% unless (turbo_frame_request? && @filter.filled?(:contact_ids)) %>
          <% table.with_column(ContactAssignment.human_attribute_name(:contact_id), sort_by: :contact_id) do |contact_assignment| %>
            <%= link_to contact_path(contact_assignment.contact), data: { turbo_frame: :_top } do %>
              <%= contact_assignment.contact %>
              <% if contact_assignment.contact.organization? %>
                (<%= contact_assignment.contact.organization %>)
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <% table.with_column(ContactAssignment.human_attribute_name(:contact_role_id), sort_by: :contact_role_id) do |contact_assignment| %>
          <%= link_to contact_assignment.contact_role, contact_role_path(contact_assignment.contact_role), data: { turbo_frame: :_top } %>
        <% end %>

        <% table.with_column(style: "min-width: 70px; width: 70px") do |contact_assignment| %>
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <%= link_to edit_contact_assignment_path(contact_assignment), class: "btn btn-info", data: { turbo_frame: :_top } do %>
              <span class="bi bi-pencil" title="<%= t("action.edit") %>" aria-hidden="true"
                                                                        data-controller="tooltip"
                                                                        data-bs-placement="left"></span>
              <span class="visually-hidden"><%= t("action.edit") %></span>
            <% end %>
            <%= link_to contact_assignment, method: :delete, data: { turbo_frame: :_top, confirm: t(".delete_confirmation") },
                                                  class: "btn btn-danger" do %>
              <span class="bi bi-trash" title="<%= t("action.delete") %>" aria-hidden="true"
                                                                        data-controller="tooltip"
                                                                        data-bs-placement="left"></span>
              <span class="visually-hidden"><%= t("action.delete") %></span>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
