<% breadcrumb.add_step(@contact_assignment) %>

<%= render Page::HeadingShowComponent.new(
      resource: @contact_assignment,
      title: @contact_assignment,
      breadcrumb:,
      editable: allowed_to?(:update?, @contact_assignment),
    ) %>

<div class="col-12 p-4 border-top">
  <div class="row row-cols-1 row-cols-lg-2 row-gap-4">
    <div class="col">
      <%= render CardComponent.new do |card| %>
        <% card.with_header do %>
          <%= t("show.cards.features") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <dt class="pb-2"><%= ContactAssignment.human_attribute_name(:contact_id) %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= link_to @contact_assignment.contact, contact_path(@contact_assignment.contact) %></dd>

          <dt class="pb-2"><%= ContactAssignment.human_attribute_name(:contact_role_id) %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= link_to @contact_assignment.contact_role, contact_role_path(@contact_assignment.contact_role) %></dd>
        </dl>
      <% end %>
    </div>

    <div class="col">
      <%= render CardComponent.new(type: :primary) do |card| %>
        <% card.with_header do %>
          <%= t("layouts.sidebar.location.title") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <dt class="pb-2"><%= ContactAssignment.human_attribute_name(:site_id) %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= link_to @contact_assignment.site, site_path(@contact_assignment.site) %></dd>
        </dl>
      <% end %>
    </div>
  </div>

  <%= render ChangelogEntries::ObjectListComponent.new(@contact_assignment) %>
</div>
