<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  t("inventories") => modeles_url,
  MemoryType.model_name.human => memory_types_path,
  @memory_type => '',
} %>

<div class="container">
  <div class="page-header">
    <%= link_to memory_types_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      <%= t("action.edit") %>
    <% end %>
    <%= link_to @memory_type, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-info-sign"></span>
      <%= t("action.show") %>
    <% end %>
    <h1>
      <%= t(".title") %>
    </h1>
  </div>

  <%= render 'form' %>
</div>
