<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  t("inventories") => modeles_url,
  MemoryType.model_name.human => ''}
%>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">
      <div class="page-header">
        <%= link_to new_memory_type_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t(".new_memory_type") %>
        <% end %>
        <h1>
          <%= t(".title") %>
        </h1>
      </div>

      <%= render List::DataTableComponent.new(@memory_types) do |table| %>
        <% table.with_column(MemoryType.human_attribute_name(:name), sort_by: :quantity) do |memory_type| %>
          <%= link_to memory_type, memory_type_path(memory_type) %>
        <% end %>
        <% table.with_column(class: "text-right") do |memory_type| %>
          <%= link_to t("action.edit"), edit_memory_type_path(memory_type), class: 'btn btn-primary' %>
          <%= link_to t("action.delete"), memory_type_path(memory_type), method: :delete, data: { confirm: t("action.confirm") },
                                                                         class: 'btn btn-danger' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
