<div class="page-header">
  <%= link_to memory_types_path, class: 'btn btn-default' do %>
    <span class="bi bi-list-ul"></span>
    <%= t("action.back") %>
  <% end %>
  <%= link_to edit_memory_type_path(@memory_type), class: 'btn btn-primary' do %>
    <span class="bi bi-pencil"></span>
    <%= t("action.edit") %>
  <% end %>
  <h1>
    <%= t(".title") %>
  </h1>
</div>

<dl class="dl-horizontal">

  <dd><%= @memory_type %></dd>

</dl>
