<%
  provide(:title, "#{MemoryType.model_name.human(count: 2)} | #{@memory_type}")

  breadcrumb_steps = {
    MemoryType.model_name.human(count: 2) => memory_types_path, @memory_type => ""
  }
%>

<%= render Page::HeadingShowComponent.new(resource: @memory_type, title: @memory_type.to_s, breadcrumb_steps:) %>
<div class="col-12 p-4 border-top">
  <div class="row row-cols-1 row-cols-lg-2 row-gap-4">
    <div class="col">
      <%= render CardComponent.new do |card| %>
        <% card.with_header do %>
          <%= t("show.cards.identification") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <% %i[quantity unit].each do |attribute_name| %>
            <dt class="pb-2"><%= MemoryType.human_attribute_name(attribute_name) %></dt>
            <dd class="mb-0 pb-2 ps-3"><%= @memory_type.public_send(attribute_name) %></dd>
          <% end %>
        </dl>
      <% end %>
    </div>
  </div>
  <%= render ChangelogEntries::ObjectListComponent.new(@memory_type) %>
</div>
