  <%= render 'layouts/breadcrumb', breadcrumb_variables: {
    Category.model_name.human.pluralize => categories_path,
    @category => '',
  } %>

<div class="container">
  <div class="page-header">
    <%= link_to categories_path, class: 'btn btn-default' do %>
      <span class="bi bi-list-ul"></span>
      <%= t("action.back") %>
    <% end %>
    <%= link_to @category, class: 'btn btn-primary' do %>
      <span class="bi bi-eye"></span>
      <%= t("action.show") %>
    <% end %>
    <h1>
      <%= t(".title") %>
    </h1>
  </div>

  <%= render 'form' %>
</div>
