<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  t("inventories") => modeles_url,
  t(".title") => ''}
%>

<div class="container-fluid">

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <div class="page-header">
        <%= link_to new_category_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t(".new_category") %>
        <% end %>
        <h1>
          <%= t(".title") %>
        </h1>
      </div>

      <%= render List::DataTableComponent.new(@categories) do |table| %>
        <% table.with_column(Category.human_attribute_name(:name), sort_by: :name) do |category| %>
          <%= link_to category, category_path(category) %>
        <% end %>

        <% table.with_column(Category.human_attribute_name(:modeles)) do |category| %>
          <%= link_to Category.human_attribute_name(:modeles_count, count: category.modeles.count), modeles_path %>
        <% end %>

        <% table.with_column(class: "text-right") do |category| %>
          <%= link_to t("action.edit"), edit_category_path(category), class: 'btn btn-primary' %>
          <%= link_to t("action.delete"),
                      category,
                      method: :delete,
                      data: { confirm: t(".delete_confirmation") },
                      class: 'btn btn-danger' %>
        <% end %>
      <% end %>

    </div>

  </div>

</div>
