<div class="container">

  <%= render 'layouts/breadcrumb', params: {'Configuration' => modeles_url, 'Types de matériel' => ''} %>

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <div class="page-header">
        <%= link_to new_category_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          Ajouter un type
        <% end %>
        <h1>Types de matériel</h1>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th>Nom</th>
            <th>Usage</th>
            <th></th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <%= content_tag_for(:tr, @categories) do |category| %>
            <td><%= category.title %></td>
            <td><%= link_to "#{pluralize(category.modeles.count, 'modèle')}", modeles_path %> </td>
            <td><%= link_to 'Modifier', edit_category_path(category), class: 'btn btn-primary' %></td>
            <td><%= link_to 'Supprimer', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>

  </div>

</div>
