<div class="page-header">
  <%= link_to categories_path, class: 'btn btn-default' do %>
    <span class="bi bi-list-ul"></span>
    <%= t("action.back") %>
  <% end %>
  <%= link_to edit_category_path(@category), class: 'btn btn-primary' do %>
    <span class="bi bi-pencil"></span>
    <%= t("action.edit") %>
  <% end %>
  <h1>
    <%= t(".title") %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>
    <%= Category.human_attribute_name(:name) %> :
  </dt>
  <dd><%= @category %></dd>

  <dt>
    <%= Category.human_attribute_name(:description) %> :
  </dt>
  <dd><%= @category.description %></dd>
</dl>
