<div class="btn-group btn-group-sm" data-controller="dynamic-export-pdf">
  <button type="button"
          class="btn btn-outline-primary dropdown-toggle d-flex align-items-center export-button"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
    <span class="spinner-border spinner-border-sm flex-shrink-0 d-flex d-none me-" role="status" aria-hidden="true"
          data-dynamic-export-pdf-target="spinner"></span>
    <span class="text-truncate d-inline-block">
      <%= t("export_button.label") %>
    </span>
  </button>

  <ul class="dropdown-menu dropdown-menu-end">
    <li>
      <h6 class="dropdown-header"><%= t("export_button.exports.pdf") %></h6>
    </li>

    <li>
      <a role="button" class="dropdown-item" data-action="click->dynamic-export-pdf#export"
        data-dynamic-export-pdf-urls-param="<%= bay.print_frames_paths(view: :front).to_json %>"
        data-dynamic-export-pdf-filename-param="bay-<%= bay.id %>-front">
        <span class="bi bi-file-earmark-pdf" aria-hidden="true"></span>
        <%= t("export_button.faces.front") %>
      </a>
    </li>
    <li>
      <a role="button" class="dropdown-item" data-action="click->dynamic-export-pdf#export"
        data-dynamic-export-pdf-urls-param="<%= bay.print_frames_paths(view: :back).to_json %>"
        data-dynamic-export-pdf-filename-param="bay-<%= bay.id %>-back">
        <span class="bi bi-file-earmark-pdf" aria-hidden="true"></span>
        <%= t("export_button.faces.back") %>
      </a>
    </li>
    <li>
      <a role="button" class="dropdown-item" data-action="click->dynamic-export-pdf#export"
        data-dynamic-export-pdf-urls-param="<%= bay.print_frames_paths(view: :front, bg: :wiring).to_json %>"
        data-dynamic-export-pdf-filename-param="bay-<%= bay.id %>-front_wiring">
        <span class="bi bi-file-earmark-pdf" aria-hidden="true"></span>
        <%= t("export_button.faces.front_wiring") %>
      </a>
    </li>
    <li>
      <a role="button" class="dropdown-item" data-action="click->dynamic-export-pdf#export"
        data-dynamic-export-pdf-urls-param="<%= bay.print_frames_paths(view: :back, bg: :wiring).to_json %>"
        data-dynamic-export-pdf-filename-param="bay-<%= bay.id %>-back_wiring">
        <span class="bi bi-file-earmark-pdf" aria-hidden="true"></span>
        <%= t("export_button.faces.back_wiring") %>
      </a>
    </li>

    <li><hr class="dropdown-divider"></li>

    <li><%= link_to visualization_bay_path(bay, format: :txt, view: "", bg: ""), class: "dropdown-item", data: { turbo_frame: :_top } do %>
        <span class="bi bi-file-earmark-text" aria-hidden="true"></span>
        <%= t("export_button.exports.txt") %>
      <% end %>
    </li>

    <li>
      <%= link_to print_visualization_bay_path(bay), class: "dropdown-item", target: :_blank do %>
        <span class="bi bi-printer" aria-hidden="true"></span>
        <%= t("export_button.exports.print") %>
      <% end %>
    </li>

    <li><hr class="dropdown-divider"></li>

    <li>
      <%= link_to ports_path(room_id: bay.islet.room_id, bay_id: bay.id), class: "dropdown-item", data: { turbo_frame: :_top } do %>
        <span class="bi bi-card-list" aria-hidden="true"></span>
        <%= t("export_button.port_list") %>
      <% end %>
    </li>
  </ul>
</div>
