<%= render FormErrorsComponent.new(@bay) %>

<%= form_for(@bay, html: { class: "bg-body-tertiary p-4 rounded border", role: "form" }) do |f| %>
  <div class="row g-3">
    <fieldset class="col-12">
      <%= f.label :islet_id, class: "form-label" %>
      <%= f.select :islet_id,
                   options_from_collection_for_select(Islet.includes(:room).all, :id, :name_with_room, @bay.islet_id),
                   {},
                   { class: "form-select", data: { controller: "select" } } %>
    </fieldset>

    <fieldset class="col-12 mt-4">
      <%= f.label :lane, class: "form-label" %>
      <%= f.number_field :lane, class: "form-control" %>
    </fieldset>

    <fieldset class="col-12 mt-4">
      <%= f.label :position, class: "form-label" %>
      <%= f.number_field :position, class: "form-control" %>
    </fieldset>

    <fieldset class="col-12 mt-4">
      <%= f.label :bay_type_id, class: "form-label" %>
      <%= f.select :bay_type_id, options_from_collection_for_select(BayType.all, :id, :to_s, @bay.bay_type_id),
                                 {},
                                 class: "form-select" %>
    </fieldset>

    <div class="col-12 mt-4">
      <%= f.submit class: "btn btn-primary w-100" %>
    </div>
  </div>
<% end %>
