<%= form_for(@bay, html: { class: "col-12 col-md-10 col-lg-8 mx-auto", role: "form" }) do |f| %>
  <%= render FormErrorsComponent.new(@bay) %>
  <%= render CardComponent.new(extra_classes: "bg-body-tertiary") do |card| %>
    <fieldset class="col-12">
      <%= f.label :bay_type, class: "form-label" %>
      <%= f.select :bay_type, options_from_collection_for_select(BayType.all, :id, :to_s, @bay.bay_type_id),
                                 {},
                                 class: "form-select" %>
    </fieldset>
  <% end %>

  <%= render CardComponent.new(type: :primary, extra_classes: "bg-body-tertiary mt-4") do |card| %>
    <% card.with_header do %>
      <%= t("layouts.sidebar.location.title") %>
    <% end %>

    <fieldset class="col-12">
      <%= f.label :islet_id, class: "form-label" %>
      <%= f.select :islet_id,
                   options_from_collection_for_select(Islet.includes(:room).all, :id, :name_with_room, @bay.islet_id),
                   {},
                   { class: "form-select", data: { controller: "select" } } %>
    </fieldset>

    <fieldset class="col-12 mt-4">
      <%= f.label :lane, class: "form-label" %>
      <%= f.number_field :lane, class: "form-control" %>
    </fieldset>

    <fieldset class="col-12 mt-4">
      <%= f.label :position, class: "form-label" %>
      <%= f.number_field :position, class: "form-control" %>
    </fieldset>
  <% end %>

  <div class="col-12 py-4 mt-4 text-end sticky-bottom bg-body-tertiary border-top">
    <%= link_to t("action.cancel"), bays_path, class: "btn btn-outline-secondary" %>
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
