<div class="overflow-x-auto pb-2">
 <div class="d-inline-grid gap-2">
    <% bays.each do |bay| %>
      <% if bay == :no_bay %>
      <span class="bay"></span>
      <% else %>
        <div class="d-flex"
            style="grid-column: <%= "#{bay.position}/#{bay.position+1}" %>;
                    grid-row:<%= "#{bay.lane.to_i}/#{bay.lane.to_i+1}" %>;">
          <% frames_array = bay.frames.sorted.to_a %>

          <% (bay.bay_type.to_s == "single" ? 1 : 2).times do |i| %>
            <% frame = frames_array[i] %>

            <% if frame %>
              <% should_be_highlighted = @frames && @frames.include?(frame) %>

              <span class="<%= class_names(
                                  "bay d-flex bg-secondary-subtle border-secondary-subtle border py-2 align-items-center",
                                  "border-start-0": i.odd?,
                                  highlighted: should_be_highlighted) %>">
                <%= link_to frame.name,
                            visualization_room_path(
                              frame.room,
                              view: params[:view],
                              islet: islet,
                              "bay-id": bay,
                              "frame-id": frame
                            ),
                            class: class_names(
                              "link-body-emphasis mx-auto text-center px-1",
                              "text-info-emphasis": should_be_highlighted
                            )
                %>
              </span>
            <% else %>
              <span class="<%= class_names(
                                  "bay d-flex bg-body-tertiary border-secondary-subtle border py-2 align-items-center",
                                  "border-start-0": i.odd?) %>"></span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
