<%= render 'layouts/breadcrumb', params: {'Configuration' => modeles_url, 'Baies et doubles-baies' => bays_path, @bay.frames.map(&:name).join(' - ') => ''} %>

<div class="page-header">
  <%= link_to bays_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Retour
  <% end %>
  <h1>Modifier la baie <%= @bay.bay_type_id == 2 ? 'double' : 'simple' %> <%= @bay.frames.map(&:name).join(' / ') %> </h1>
</div>

<%= render 'form' %>
