<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  t("inventories") => modeles_url,
  Bay.model_name.human.pluralize => bays_path,
  @bay.frames.map(&:name).join(' - ') => ''}
%>

<div class="container">
  <div class="page-header">
    <%= link_to bays_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      <%= t("action.back") %>
    <% end %>
    <%= link_to @bay, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-info-sign"></span>
      <%= t("action.show") %>
    <% end %>
    <h1>
      <%= t(".title", type: @bay.bay_type&.name, frames: @bay.frames.map(&:name).join(' / ')) %>
    </h1>
  </div>

  <%= render 'form' %>
</div>
