<% breadcrumb.add_step(title = t(".title")) %>

<%= render Page::HeadingComponent.new(title:, breadcrumb:) do |heading| %>
  <% heading.with_right_content do %>
    <% render ButtonComponent.new(
      t(".new_bay"),
      url: new_bay_path,
      variant: :success,
      icon: "plus-lg",
      is_responsive: true
    ) if allowed_to?(:create?) %>
  <% end %>
<% end %>

<div class="p-4 border-top d-flex flex-column row-gap-4">
  <%= render FilterComponent.new(@filter) do |c| %>
    <% c.with_form do |f| %>
      <div class="w-100">
        <fieldset class="form-floating">
          <%= f.search_field :q, class: "form-control", placeholder: t("filters.placeholder.search") %>
          <%= f.label :q %>
        </fieldset>
      </div>

      <div>
        <fieldset class="form-floating">
          <%= f.select :room_ids, BayDecorator.rooms_options_for_select(current_user),
                                  { prompt: true, multiple: true },
                                  { class: "form-select", data: { controller: :select } }
          %>
          <%= f.label :room_ids %>
        </fieldset>
      </div>

      <div>
        <fieldset class="form-floating">
          <%= f.select :islet_ids, BayDecorator.islets_options_for_select(current_user),
                                  { prompt: true, multiple: true },
                                  { class: "form-select", data: { controller: :select } }
          %>
          <%= f.label :islet_ids %>
        </fieldset>
      </div>

      <div>
        <fieldset class="form-floating">
          <%= f.collection_select(:manufacturer_ids, Manufacturer.sorted, :id, :to_s,
                                                    { prompt: true, multiple: true },
                                                    { class: "form-select", data: { controller: :select }  }) %>
          <%= f.label :manufacturer_ids %>
        </fieldset>
      </div>
    <% end %>
  <% end %>

  <%= render ColumnsPreferencesDropdownComponent.new(bays_path(request.query_parameters), @columns_preferences) %>

  <%= turbo_frame_tag(dom_id(Bay, :table), data: { turbo_action: :advance }) do %>
    <%= render List::DataTableComponent.new(@bays, columns_to_display: @columns_preferences.preferred) do |table| %>
      <% if allowed_to?(:destroy?) %>
        <% table.with_bulk_action(
          url: bulk_bays_path,
          method: :delete,
          class: "btn btn-danger btn-sm",
          data: { confirm: t("action.confirm") }
        ) do %>
          <span class="bi bi-trash pe-none" title="<%= t("action.delete") %>"></span>
        <% end %>
      <% end %>

      <% table.with_column(Bay.human_attribute_name(:name), name: :name) do |bay| %>
        <%= link_to bay_path(bay), class: "fw-bold", data: { turbo_frame: :_top } do %>
          <% bay.frames.any? ? bay.to_s : bay.decorated.no_frame_warning_icon %>
        <% end %>
      <% end %>

      <% table.with_column(Room.model_name.human, name: :room_id, sort_by: :"rooms.name") do |bay| %>
        <%= link_to bay.room, room_path(bay.room), data: { turbo_frame: :_top } %>
      <% end %>

    <% unless (turbo_frame_request? && @filter.filled?(:islet_ids)) %>
      <% table.with_column(Islet.model_name.human, name: :islet_id, sort_by: :"islets.name") do |bay| %>
        <%= link_to bay.islet.decorated.name_with_room, islet_path(bay.islet), data: { turbo_frame: :_top } %>
      <% end %>
    <% end %>

      <% table.with_column(Frame.model_name.human.pluralize, name: :frame_id) do |bay| %>
        <%=
          bay.frames.map do |frame|
            link_to(frame.name, frame_path(frame), data: { turbo_frame: :_top })
          end.join(" / ").html_safe
        %>
      <% end %>

      <% table.with_column(Bay.human_attribute_name(:lane), name: :lane, sort_by: :lane) do |bay| %>
        <%= bay.lane %>
      <% end %>

      <% table.with_column(Bay.human_attribute_name(:position), name: :position, sort_by: :position) do |bay| %>
        <%= bay.position %>
      <% end %>

      <% table.with_column(Bay.human_attribute_name(:width), name: :width, sort_by: :width) do |bay| %>
        <%= bay.width %>
      <% end %>

      <% table.with_column(Bay.human_attribute_name(:depth), name: :depth, sort_by: :depth) do |bay| %>
        <%= bay.depth %>
      <% end %>

      <% table.with_column(Bay.human_attribute_name(:bay_type_id), name: :bay_type_id, sort_by: :bay_type_id) do |bay| %>
        <%= bay.bay_type %>
      <% end %>

      <% table.with_column(Bay.human_attribute_name(:access_control), name: :access_control, sort_by: :access_control) do |bay| %>
        <%= bay.access_control %>
      <% end %>


      <% table.with_column(Server.model_name.human(count: 2), name: :server_id) do |bay| %>
        <%= link_to servers_path(bay_ids: bay.id), data: { turbo_frame: :_top } do %>
          <%= Bay.human_attribute_name(:materials_count, count: authorized_scope(bay.materials).count) %>
        <% end %>
      <% end %>

      <% table.with_column(Manufacturer.model_name.human, name: :manufacturer_id) do |bay| %>
        <%= link_to bay.manufacturer.name, manufacturer_path(bay.manufacturer), data: { turbo_frame: :_top } if bay.manufacturer %>
      <% end %>

      <% table.with_column(text_align: :center, style: "min-width: 132px; width: 132px") do |bay| %>
        <div class="btn-group btn-group-sm" role="group" aria-label="...">
          <% if allowed_to?(:manage?, bay) %>
            <%= render partial: "bays/export_button", locals: { bay: decorate(bay) } %>
          <% end %>

          <% if allowed_to?(:show?, bay, with: Visualization::BayPolicy) %>
            <% has_frame = bay.frames.any? %>

            <%= link_to visualization_bay_path(bay),
                        class: class_names("btn btn-primary", disabled: !has_frame),
                        aria_disabled: !has_frame,
                        data: { turbo_frame: :_top } do %>
              <span class="bi bi-diagram-3-fill"
                    aria-hidden="true"
                    data-controller="tooltip"
                    data-bs-placement="left"
                    title="<%= t("visualization.title") %>">
              </span>
              <span class="visually-hidden"><%= t("visualization.title") %></span>
            <% end %>
          <% end %>

          <% if allowed_to?(:update?, bay) %>
            <%= link_to edit_bay_path(bay), class: "btn btn-info", data: { turbo_frame: :_top } do %>
              <span class="bi bi-pencil" title="<%= t("action.edit") %>" aria-hidden="true"
                    data-controller="tooltip"
                    data-bs-placement="left"></span>
              <span class="visually-hidden"><%= t("action.edit") %></span>
            <% end %>
          <% end %>

          <% if allowed_to?(:destroy?, bay) %>
            <%= link_to bay,
                        method: :delete,
                        data: { turbo_frame: :_top, confirm: t(".delete_confirmation") },
                        class: "btn btn-danger" do %>
              <span class="bi bi-trash" title="<%= t("action.delete") %>" aria-hidden="true"
                    data-controller="tooltip"
                    data-bs-placement="left"></span>
              <span class="visually-hidden"><%= t("action.delete") %></span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
