<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  t("inventories") => modeles_url,
  Bay.model_name.human.pluralize => "" }
%>

<div class="container-fluid">

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <div class="page-header">
        <%= link_to new_bay_path, class: 'btn btn-primary btn-disabled' do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t('.new') %>
        <% end %>
        <h1>
          <%= t('.title') %>
        </h1>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>
                <%= Room.model_name.human %>
              </th>
              <th>
                <%= Islet.model_name.human %>
              </th>
              <th>
                <%= Frame.model_name.human.pluralize %>
              </th>
              <th>
                <%= Bay.human_attribute_name(:lane) %>
              </th>
              <th>
                <%= Bay.human_attribute_name(:position) %>
              </th>
              <th>
                <%= Server.model_name.human.pluralize %>
              </th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @bays.each do |bay| %>
              <tr>
                <td>
                  <%= link_to bay.room, room_path(bay.room) %>
                </td>
                <td>
                  <%= link_to bay.islet, islet_path(bay.islet) %>
                </td>
                <td>
                  <%=
                    bay.frames.map do |frame|
                        link_to(frame.name, frame_path(frame))
                    end.join(' / ').html_safe
                  %>
                </td>
                <td><%= bay.lane %> </td>
                <td><%= bay.position %> </td>
                <td><%= Bay.human_attribute_name(:materials_count, count: bay.materials.count) %> </td>
                <td>
                  <div class="btn-group btn-group-sm btn-group-vertical" role="group" aria-label="...">
                    <%= render partial: "bays/export_button", locals: { bay: bay } %>
                    <%= link_to t("action.edit"), edit_bay_path(bay), class: 'btn btn-primary' %>
                    <%= link_to t("action.delete"),
                                bay,
                                method: :delete,
                                data: { confirm: t(".delete_confirmation") },
                                class: 'btn btn-danger' %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>

  </div>

</div>
