<div class="container">

  <%= render 'layouts/breadcrumb', params: {'Paramètres' => modeles_url, 'Baies et doubles-baies' => ''} %>

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <div class="page-header">
        <%= link_to new_bay_path, class: 'btn btn-primary btn-disabled' do %>
          <span class="glyphicon glyphicon-plus"></span>
          Ajouter une baie ou un couple de baies
        <% end %>
        <h1>Baies et doubles-baies</h1>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Salle</th>
              <th>Ilot</th>
              <th>Baies</th>
              <th>Ligne</th>
              <th>Position</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @bays.each do |bay| %>
              <tr>
                <td><%= bay.room %> </td>
                <td><%= bay.islet %> </td>

                <td><%= bay.frames.map(&:name).join(' / ') %></td>

                <td><%= bay.lane %> </td>
                <td><%= bay.position %> </td>

                <td><%= pluralize(bay.materials.count, 'serveur', 'serveurs') %> </td>


                <td><%= link_to 'Modifier', edit_bay_path(bay), class: 'btn btn-primary' %></td>
                <td><%= link_to 'Supprimer', bay, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>

  </div>

</div>
