<% provide(:title, t(".title")) %>
<%= render "layouts/breadcrumb", breadcrumb_steps: {
  Bay.model_name.human.pluralize => "" }
%>

<div class="container-fluid">
  <div class="d-flex justify-content-between">
    <h1><%= t(".title") %></h1>
    <%= link_to new_bay_path, class: "btn btn-success align-self-center btn-disabled" do %>
      <span class="bi bi-plus-lg"></span>
      <%= t(".new") %>
    <% end %>
  </div>

  <%= render FilterComponent.new(@filter) do |c| %>
    <% c.with_form do |f| %>
      <div>
        <fieldset class="form-floating">
          <%= f.search_field :q, class: "form-control", placeholder: t("filters.placeholder.search") %>
          <%= f.label :q %>
        </fieldset>
      </div>

      <div>
        <fieldset class="form-floating">
          <%= f.collection_select(:room_id, Room.sorted, :id, :name_with_site,
                                  { prompt: true, include_blank: true },
                                  { class: "form-select" }) %>
          <%= f.label :room_id %>
        </fieldset>
      </div>

      <div>
        <fieldset class="form-floating">
          <%= f.collection_select(:islet_id, Islet.includes(:room).order("rooms.site_id", "rooms.position", "rooms.name", :room_id, :name, :position), :id, :name_with_room,
                                  { prompt: true, include_blank: true },
                                  { class: "form-select" }) %>
          <%= f.label :islet_id %>
        </fieldset>
      </div>
    <% end %>
  <% end %>

  <%= turbo_frame_tag(dom_id(Bay, :table), data: { turbo_action: :advance }) do %>
    <%= render List::DataTableComponent.new(@bays) do |table| %>
      <% table.with_column(Room.model_name.human, sort_by: :"rooms.name") do |bay| %>
        <%= link_to bay.room, room_path(bay.room), data: { turbo_frame: :_top } %>
      <% end %>

      <% table.with_column(Islet.model_name.human, sort_by: :"islets.name") do |bay| %>
        <%= link_to bay.islet, islet_path(bay.islet), data: { turbo_frame: :_top } %>
      <% end %>

      <% table.with_column(Frame.model_name.human.pluralize) do |bay| %>
        <b>
          <%=
            bay.frames.map do |frame|
              link_to(frame.name, frame_path(frame), data: { turbo_frame: :_top })
            end.join(" / ").html_safe
          %>
        </b>
      <% end %>

      <% table.with_column(Bay.human_attribute_name(:lane), sort_by: :lane) do |bay| %>
        <%= bay.lane %>
      <% end %>

      <% table.with_column(Bay.human_attribute_name(:position), sort_by: :position) do |bay| %>
        <%= bay.position %>
      <% end %>

      <% table.with_column(Server.model_name.human.pluralize) do |bay| %>
        <%= link_to servers_path(bay_id: bay.id), data: { turbo_frame: :_top } do %>
          <%= Bay.human_attribute_name(:materials_count, count: bay.materials.count) %>
        <% end %>
      <% end %>

      <% table.with_column(style: "min-width: 140px; width: 140px") do |bay| %>
        <div class="btn-group btn-group-sm" role="group" aria-label="...">
          <%= render partial: "bays/export_button", locals: { bay: bay } %>
          <%= link_to visualization_bay_path(bay), class: "btn btn-primary", data: { turbo_frame: :_top } do %>
            <span class="bi bi-diagram-3-fill" aria-hidden="true" data-controller="tooltip" data-bs-placement="left" title="<%= t("visualization.title") %>"></span>
            <span class="visually-hidden"><%= t("visualization.title") %></span>
          <% end %>
          <%= link_to edit_bay_path(bay), class: "btn btn-info", data: { turbo_frame: :_top } do %>
            <span class="bi bi-pencil" title="<%= t("action.edit") %>" aria-hidden="true"
                  data-controller="tooltip"
                  data-bs-placement="left"></span>
            <span class="visually-hidden"><%= t("action.edit") %></span>
          <% end %>
          <%= link_to bay, method: :delete, data: { turbo_frame: :_top, confirm: t(".delete_confirmation") }, class: "btn btn-danger" do %>
            <span class="bi bi-trash" title="<%= t("action.delete") %>" aria-hidden="true"
                  data-controller="tooltip"
                  data-bs-placement="left"></span>
            <span class="visually-hidden"><%= t("action.delete") %></span>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
