<%
  title = t(".title", type: @bay.bay_type&.name, frames: @bay.frames.map(&:name).join(" / "))
  breadcrumb_steps = { Bay.model_name.human.pluralize => bays_path, title => "" }

  provide(:title, "#{Bay.model_name.human.pluralize} | #{title}")
%>

<%= render Page::HeadingShowComponent.new(resource: @bay, title:, breadcrumb_steps:) do |heading| %>
  <% heading.with_extra_buttons do %>
    <% render ButtonComponent.new(t("visualization.title"),
                                  url: visualization_bay_path(@bay),
                                  variant: :primary,
                                  icon: "diagram-3-fill",
                                  is_responsive: true,
                                  extra_classes: "me-2") %>
  <% end %>
<% end %>
<div class="col-12 p-4 border-top">
  <div class="row row-cols-1 row-cols-lg-2 row-gap-4">
    <div class="col">
      <%= render CardComponent.new do |card| %>
        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <dt class="pb-2"><%= Bay.human_attribute_name(:bay_type_id) %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= @bay.bay_type %></dd>

          <dt class="pb-2"><%= Manufacturer.model_name.human %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= link_to @bay.manufacturer %></dd>

          <dt class="pb-2"><%= Bay.human_attribute_name(:width) %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= value_with_unit(@bay.width, "mm") %></dd>

          <dt class="pb-2"><%= Bay.human_attribute_name(:depth) %></dt>
          <dd class="mb-0 pb-2 ps-3"><%= value_with_unit(@bay.depth, "mm") %></dd>
        </dl>
      <% end %>
    </div>

    <div class="col">
      <%= render CardComponent.new(type: :primary) do |card| %>
        <% card.with_header do %>
          <%= t("layouts.sidebar.location.title") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <dt class="pb-2"><%= Room.model_name.human %></dt>
          <dd class="mb-0 pb-2 ps-3 d-flex justify-content-between">
            <%= link_to @bay.room.name_with_site, room_path(@bay.room) %>
            <%= link_to visualization_room_path(@bay.room),
                        class: "btn btn-primary btn-sm",
                        data: { turbo_frame: :_top } do %>
              <span class="bi bi-diagram-3-fill"
                    aria-hidden="true"
                    data-controller="tooltip"
                    data-bs-placement="left"
                    title="<%= t("visualization.title") %>"></span>
              <span class="visually-hidden"><%= t("visualization.title") %></span>
            <% end %>
          </dd>

          <dt class="pb-2"><%= Islet.model_name.human %></dt>
          <dd class="mb-0 pb-2 ps-3 d-flex justify-content-between">
            <%= link_to @bay.islet.name_with_room, islet_path(@bay.islet) %>
            <%= link_to visualization_room_path(@bay.room, islet: @bay.islet.name),
                        class: "btn btn-primary btn-sm",
                        data: { turbo_frame: :_top } do %>
              <span class="bi bi-diagram-3-fill"
                    aria-hidden="true"
                    data-controller="tooltip"
                    data-bs-placement="left"
                    title="<%= t("visualization.title") %>"></span>
              <span class="visually-hidden"><%= t("visualization.title") %></span>
            <% end %>
          </dd>

          <% %i[lane position].each do |attribute_name| %>
            <dt class="pb-2"><%= Bay.human_attribute_name(attribute_name) %></dt>
            <dd class="mb-0 pb-2 ps-3"><%= @bay.public_send(attribute_name) %></dd>
          <% end %>
        </dl>
      <% end %>
    </div>
  </div>
  <%= render HasManyTurboFrameComponent.new(
    Frame.model_name.human.pluralize, url: frames_path(bay_id: @bay.id), frame_id: dom_id(Frame, :table)
  ) %>

  <%= render ChangelogEntries::ObjectListComponent.new(@bay) %>
</div>
