<% provide :title, "Vue infrastructure" %>
<% hide_inventories_sidebar! %>

<%= render "layouts/breadcrumb", breadcrumb_steps: {
  t("visualization") => overview_rooms_path,
  "Infrastructure" => nil,
} %>

<div class="container-fluid ">
  <%= render CardComponent.new(type: :primary) do |card| %>
    <%= form_with model: @filter, url: "", method: :get, class: "row g-3 align-items-center", id: :filters, data: { controller: "form-update" } do |f| %>
      <div class="col-2">
        <fieldset class="form-floating">
          <%= f.select :network_type, Modele::Network::TYPES.map { |t| [Modele.human_attribute_name("network_types.short_#{t}"), t] }, {}, { class: "form-control", data: { action: "change->form-update#update" } } %>
          <%= f.label :network_type %>
        </fieldset>
      </div>

      <div class="col-4">
        <fieldset class="form-floating">
          <%= f.select :islet_id, IsletDecorator.grouped_by_sites_options_for_select, { prompt: true }, { class: "form-control", data: { action: "change->form-update#update" } } %>
          <%= f.label :islet_id %>
        </fieldset>
      </div>

      <div class="col-2 visually-hidden">
        <%= f.submit "Appliquer", class: "btn btn-primary btn-lg", form: :filters %>
      </div>
    <% end %>
  <% end %>
</div>

<% if @filter.filled? %>
  <%= turbo_frame_tag "infrastructure_room_islet", src: infrastructure_room_islet_path(@islet.room, @islet, network_type: @filter.network_type) do %>
    <div class="container-fluid room_overview show_room rooms-network-capacity" id="network-capacity">
      <div class="card mb-3">
        <div class="card-body bg-body-tertiary p-4">
          <div class="d-flex align-items-center">
            <strong role="status">Loading...</strong>
            <div class="spinner-grow ms-auto" aria-hidden="true"></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
<div class="container-fluid room_overview show_room rooms-network-capacity" id="network-capacity">
  <div class="card mb-3">
    <div class="card-body bg-body-tertiary p-4">
      <div class="d-flex align-items-center">
       <p>Please choose an islet</p>
      </div>
    </div>
  </div>
</div>
<% end %>
