<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  'Sites' => sites_path,
  @site => ''
} %>

<div class="container">
  <div class="page-header">
    <%= link_to sites_path, class: 'btn btn-outline-secondary' do %>
      <span class="bi bi-list-ul"></span>
      <%= t("action.back") %>
    <% end %>
    <%= link_to @site, class: 'btn btn-primary' do %>
      <span class="bi bi-eye"></span>
      Voir
    <% end %>
    <h1><%= t(".title") %></h1>
  </div>

<%= render 'form' %>
</div>
