<%
  breadcrumb.add_step(Site.model_name.human.pluralize)
%>

<%= render Page::HeadingComponent.new(title: t(".title"), breadcrumb:) do |heading| %>
  <% heading.with_right_content do %>
    <% render ButtonComponent.new(t(".new_site"),
                                  url: new_site_path,
                                  variant: :success,
                                  icon: "plus-lg",
                                  is_responsive: true) %>
  <% end %>
<% end %>

<div class="p-4 border-top d-flex flex-column row-gap-4">
  <div id="map" class="border rounded" style="height: 450px;"></div>

  <%= render List::DataTableComponent.new(@sites) do |table| %>
    <% table.with_bulk_action(url: bulk_sites_path, method: :delete, class: "btn btn-danger btn-sm",
                                  data: { confirm: t("action.confirm") }
        ) do %>
      <span class="bi bi-trash pe-none" title="<%= t("action.delete") %>">
      </span>
    <% end %>

    <% table.with_column(Site.human_attribute_name(:name), sort_by: :name) do |site| %>
      <%= link_to site.name, site_path(site), class: "fw-bold" %>
    <% end %>

    <% table.with_column(Site.human_attribute_name(:position), sort_by: :position) do |site| %>
      <%= site.position %>
    <% end %>

    <% table.with_column(Room.model_name.human.pluralize, sort_by: :rooms_count) do |site| %>
      <%= link_to rooms_path(site_ids: site.id) do %>
        <%= Site.human_attribute_name(:rooms_count, count: site.rooms_count) %>
      <% end %>
    <% end %>

    <% table.with_column(style: "min-width: 70px; width: 70px") do |site| %>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <%= link_to edit_site_path(site), class: "btn btn-info" do %>
          <span class="bi bi-pencil" aria-hidden="true" data-controller="tooltip" data-bs-placement="left" title="<%= t("action.edit") %>"></span>
          <span class="visually-hidden"><%= t("action.edit") %></span>
        <% end %>
        <%= link_to site, method: :delete, data: { confirm: t(".delete_confirmation") }, class: "btn btn-danger" do %>
          <span class="bi bi-trash" aria-hidden="true" data-controller="tooltip" data-bs-placement="left" title="<%= t("action.delete") %>"></span>
          <span class="visually-hidden"><%= t("action.delete") %></span>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
      integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
      crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>
<%= javascript_tag do %>
    var min_lat = <%= @sites.minimum(:latitude) %>;
    var max_lat = <%= @sites.maximum(:latitude) %>;
    var min_lon = <%= @sites.minimum(:longitude) %>;
    var max_lon = <%= @sites.maximum(:longitude) %>;

    var map = L.map('map').setView([(max_lat + min_lat) / 2, (max_lon + min_lon) / 2], 6);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Données &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>, Fond de carte © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: '<%= Rails.application.credentials.mapbox[:access_token] %>'
    }).addTo(map);

    <% @sites.reject{|s|s.latitude.blank? || s.longitude.blank?}.each do |site| %>
    var marker<%= site.id %> = L.marker([<%= site.latitude %>, <%= site.longitude %>]).addTo(map);
    marker<%= site.id %>.bindPopup("<%= site.name %>"); //.openPopup();
    <% end %>

<% end unless Rails.env.test? %>
