<%= render "layouts/breadcrumb", breadcrumb_variables: {
  Site.model_name.human.pluralize => "" }
%>

<div class="container-fluid">
  <div class="page-header">
    <%= link_to new_site_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      <%= t(".add_site") %>
    <% end %>
    <h1>
      <%= t(".title") %>
    </h1>
  </div>

  <div id="map" style="height: 450px;margin-bottom: 16px;"></div>

  <%= render List::DataTableComponent.new(@sites) do |table| %>
    <% table.with_column(Site.human_attribute_name(:name), sort_by: :name) do |site| %>
      <b><%= link_to site.name, site_path(site) %></b>
    <% end %>

    <% table.with_column(Site.human_attribute_name(:position), sort_by: :position) do |site| %>
      <%= site.position %>
    <% end %>

    <% table.with_column(Room.model_name.human.pluralize, sort_by: :rooms_count) do |site| %>
      <%= link_to rooms_path(site_id: site.id) do %>
        <%= Site.human_attribute_name(:rooms_count, count: site.rooms_count) %>
      <% end %>
    <% end %>

    <% table.with_column(style: "min-width: 84px; width: 84px") do |site| %>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <%= link_to edit_site_path(site), class: "btn btn-primary" do %>
          <span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="<%= t("action.edit") %>"></span>
          <span class="sr-only"><%= t("action.edit") %></span>
        <% end %>
        <%= link_to site, method: :delete, data: { confirm: t(".delete_confirmation") }, class: 'btn btn-danger' do %>
          <span class="glyphicon glyphicon-trash" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="<%= t("action.delete") %>"></span>
          <span class="sr-only"><%= t("action.delete") %></span>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
      integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
      crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>
<%= javascript_tag do %>
    var min_lat = <%= @sites.minimum(:latitude) %>;
    var max_lat = <%= @sites.maximum(:latitude) %>;
    var min_lon = <%= @sites.minimum(:longitude) %>;
    var max_lon = <%= @sites.maximum(:longitude) %>;

    var map = L.map('map').setView([(max_lat + min_lat) / 2, (max_lon + min_lon) / 2], 6);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Données &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>, Fond de carte © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: '<%= Rails.application.credentials.mapbox[:access_token] %>'
    }).addTo(map);

    <% @sites.reject{|s|s.latitude.blank? || s.longitude.blank?}.each do |site| %>
    var marker<%= site.id %> = L.marker([<%= site.latitude %>, <%= site.longitude %>]).addTo(map);
    marker<%= site.id %>.bindPopup("<%= site.name %>"); //.openPopup();
    <% end %>

<% end unless Rails.env.test? %>
