<div class="page-header">
  <%= link_to sites_path, class: 'btn btn-default' do %>
    <span class="bi bi-list-ul"></span>
    <%= t("action.back") %>
  <% end %>
  <%= link_to edit_site_path(@site), class: 'btn btn-primary' do %>
    <span class="bi bi-pencil"></span>
    <%= t("action.edit") %>
  <% end %>
  <h1><%= t(".title", site_id: @site.id, site_name: @site.name) %></h1>
</div>

<dl class="dl-horizontal">
  <% %i[name position latitude longitude].each do |attribute_name| %>
    <dt><%= Site.human_attribute_name(attribute_name) %> :</dt>
    <dd><%= @site.public_send(attribute_name) %>
  <% end %>
</dl>
