<% provide(:title, "#{Site.model_name.human.pluralize} | #{@site.name}") %>
<% breadcrumb_steps = { Site.model_name.human.pluralize => sites_path, @site.name => "" } %>

<%= render Page::HeadingShowComponent.new(
  resource: @site, title: t(".title", site_id: @site.id, site_name: @site.name), breadcrumb_steps:
) %>
<div class="col-12 p-4 border-top">
  <div class="d-flex flex-row flex-wrap">
    <div class="col-12 col-lg-6 pe-lg-4">
      <%= render CardComponent.new(extra_classes: "mb-4 mb-lg-0") do |card| %>
        <% card.with_header do %>
          <%= t("display") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <% %i[name position].each do |attribute_name| %>
            <dt class="pb-2"><%= Site.human_attribute_name(attribute_name) %></dt>
            <dd class="mb-0 pb-2 ps-3"><%= @site.public_send(attribute_name) %></dd>
          <% end %>
        </dl>
      <% end %>
    </div>
    <div class="col-12 col-lg-6">
      <%= render CardComponent.new(type: :primary) do |card| %>
        <% card.with_header do %>
          <%= t("layouts.sidebar.location.title") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <% %i[street city country latitude longitude].each do |attribute_name| %>
            <dt class="pb-2"><%= Site.human_attribute_name(attribute_name) %></dt>
            <dd class="mb-0 pb-2 ps-3"><%= @site.public_send(attribute_name) %></dd>
          <% end %>
        </dl>
      <% end %>
    </div>
  </div>
  <%= render HasManyTurboFrameComponent.new(Room.model_name.human.pluralize, url: rooms_path(site_id: @site.id), frame_id: dom_id(Room, :table)) %>
  <%= render ChangelogEntries::ObjectListComponent.new(@site) %>
</div>
