<% provide(:title, "#{Site.model_name.human.pluralize} | #{@site.name}") %>
<% breadcrumb_steps = { Site.model_name.human.pluralize => sites_path, @site.name => "" } %>

<%= render Page::HeadingComponent.new(
  resource: @site, title: t(".title", site_id: @site.id, site_name: @site.name), breadcrumb_steps:
) %>
<div class="col-12 p-4 border-top row">
  <div class="col-12 col-md-6">
    <%= render CardComponent.new() do |card| %>
      <% card.with_header do %>
        <%= t("display") %>
      <% end %>

      <dl class="row">
        <% %i[name position].each do |attribute_name| %>
          <dt class="col-5 text-end"><%= Site.human_attribute_name(attribute_name) %></dt>
          <dd class="col-7"><%= @site.public_send(attribute_name) %></dd>
        <% end %>
      </dl>
    <% end %>
  </div>
  <div class="col-12 col-md-6">
    <%= render CardComponent.new(type: :primary) do |card| %>
      <% card.with_header do %>
        <%= t("layouts.sidebar.location.title") %>
      <% end %>

      <dl class="row">
        <% %i[street city country latitude longitude].each do |attribute_name| %>
          <dt class="col-5 text-end"><%= Site.human_attribute_name(attribute_name) %></dt>
          <dd class="col-7"><%= @site.public_send(attribute_name) %></dd>
        <% end %>
      </dl>
    <% end %>
  </div>
</div>

<%= render HasManyTurboFrameComponent.new(Room.model_name.human.pluralize, url: rooms_path(site_id: @site.id), frame_id: dom_id(Room, :table)) %>

<%= render ChangelogEntries::ObjectListComponent.new(@site) %>
