<% provide(:title, "#{Site.model_name.human.pluralize} | #{@site.name}") %>
<%= render "layouts/breadcrumb",
           breadcrumb_steps: { Site.model_name.human.pluralize => sites_path, @site.name => "" } %>

<div class="row my-5">
  <div class="col-11 col-md-10 col-lg-8 mx-auto">
    <div class="d-flex justify-content-between pb-5">
      <%= link_to sites_path, class: "btn align-self-center d-inline-flex",
                              title: t("action.back") do %>
        <span class="bi bi-chevron-left"></span>
        <span class="d-none d-md-inline-block ms-1"><%= t("action.back") %></span>
      <% end %>
      <h1 class="text-center px-4"><%= t(".title", site_id: @site.id, site_name: @site.name) %></h1>
      <%= link_to edit_site_path(@site), class: "btn btn-info align-self-center d-inline-flex",
                                          title: t("action.edit") do %>
        <span class="bi bi-pencil"></span>
        <span class="d-none d-md-inline-block ms-1"><%= t("action.edit") %></span>
      <% end %>
    </div>

    <dl class="bg-body-tertiary p-4 rounded border">
      <% %i[name position latitude longitude].each do |attribute_name| %>
        <dt><%= Site.human_attribute_name(attribute_name) %> :</dt>
        <dd><%= @site.public_send(attribute_name) %></dd>
      <% end %>
    </dl>

    <dl class="bg-body-tertiary p-4 rounded border">
      <dt>
        <h2 class="mb-4"><%= Room.model_name.human.pluralize %></h2>
      </dt>
      <dd>
      <%= render List::DataTableComponent.new(@rooms) do |table| %>
        <% table.with_column(Room.human_attribute_name(:name), sort_by: :name) do |room| %>
          <b><%= link_to room, room_path(room) %></b>
        <% end %>

        <% table.with_column(Room.human_attribute_name(:position), sort_by: :position) do |room| %>
          <%= room.position %>
        <% end %>

        <% table.with_column(Islet.model_name.human.pluralize, sort_by: :islets_count) do |room| %>
          <%= Room.human_attribute_name(:islets_count, count: room.islets_count) %>
        <% end %>

        <% table.with_column(Frame.model_name.human.pluralize) do |room| %>
          <%= link_to frames_path(room_id: room.id) do %>
            <%= Room.human_attribute_name(:frames_count, count: room.frames.count) %>
          <% end %>
        <% end %>

        <% table.with_column(Room.human_attribute_name(:display_on_home_page), sort_by: :display_on_home_page, class: "text-center") do |room| %>
          <input type="checkbox" <%= room.display_on_home_page ? "checked" : "" %> disabled>
        <% end %>

        <% table.with_column(style: "min-width: 140px; width: 140px") do |room| %>
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <%= render partial: "rooms/export_button", locals: { room: room } %>
            <%= link_to edit_room_path(room), class: "btn btn-info" do %>
              <span class="bi bi-pencil" aria-hidden="true" data-controller="tooltip" data-bs-placement="left" title="<%= t("action.edit") %>"></span>
              <span class="visually-hidden"><%= t("action.edit") %></span>
            <% end %>
            <%= link_to room, method: :delete, data: { confirm: t("rooms.index.delete_confirmation") }, class: "btn btn-danger" do %>
              <span class="bi bi-trash" aria-hidden="true" data-controller="tooltip" data-bs-placement="left" title="<%= t("action.delete") %>"></span>
                <span class="visually-hidden"><%= t("action.delete") %></span>
            <% end %>
          </div>
        <% end %>
      <% end %>
      </dd>
    </div>
  </div>
</div>

<%= render ChangelogEntries::ObjectListComponent.new(@site) %>
