<div class="overflow-x-auto pb-2">
  <div class="d-inline-grid gap-2">
    <% bays_per_lane.each do |lane, bays| %>
      <% bays.each.with_index(1) do |bay, i| %>
        <% if bay == :no_bay %>
          <% if allowed_to?(:manage?, islet) %>
            <span class="d-flex" style="grid-row:<%= "#{lane.to_i}/#{lane.to_i+1}" %>; grid-column: <%= "#{i}/#{i+1}" %>;">
              <span class="bay d-flex">
                <%= render Overview::ShortcutButtonComponent.new(
                  islet.id, i, request.path, lane.to_i
                ) %>
              </span>
            </span>
          <% end %>
        <% else %>
          <span class="d-flex" style="grid-row:<%= "#{lane.to_i}/#{lane.to_i+1}" %>; grid-column: <%= "#{i}/#{i+1}" %>;">
            <% frames_array = authorized_scope(bay.frames).sorted.to_a %>

            <% (bay.bay_type.to_s == "single" ? 1 : 2).times do |j| %>
              <% frame = frames_array[j] %>

              <% if frame %>
                <% should_be_highlighted = @frames && @frames.include?(frame) %>

                <span class="<%= class_names(
                                    "bay d-flex bg-secondary-subtle border-secondary-subtle border py-2 align-items-center",
                                    "border-start-0": j.odd?,
                                    highlighted: should_be_highlighted) %>">
                  <%= link_to frame.name,
                              visualization_frame_path(
                                frame,
                                view: params[:view],
                                bg: params[:bg]
                              ),
                              class: class_names(
                                "link-body-emphasis mx-auto text-center px-1",
                                "text-info-emphasis": should_be_highlighted
                              )
                  %>
                </span>
              <% else %>
                <% if allowed_to?(:manage?, bay) %>
                  <span class="bay d-flex bg-body-tertiary border-secondary-subtle border">
                    <%= render Overview::ShortcutButtonComponent.new(
                      bay.id, j+1, request.path, class: class_names("border-start-0": j.odd?)
                    ) %>
                  </span>
                <% end %>
              <% end %>
            <% end %>
          </span>
        <% end %>
      <% end %>
      <% if allowed_to?(:manage?, islet) %>
        <span class="d-flex" style="grid-row:<%= "#{lane.to_i}/#{lane.to_i+1}" %>;">
          <span class="bay d-flex">
            <%= render Overview::ShortcutButtonComponent.new(
              islet.id, nil, request.path, lane.to_i
            ) %>
          </span>
        </span>
      <% end %>
    <% end %>
  </div>
</div>
