<%= form_for(@manufacturer, html: { class: "col-12 col-md-10 col-lg-8 mx-auto", role: "form" }) do |f| %>
  <%= render FormErrorsComponent.new(@manufacturer) %>
  <%= render CardComponent.new(extra_classes: "bg-body-tertiary") do |card| %>
    <fieldset class="col-12">
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, class: "form-control" %>
    </fieldset>
    <fieldset class="col-12 mt-4">
      <%= f.label :description, class: "form-label" %>
      <%= f.text_area :description, class: "form-control" %>
    </fieldset>
    <fieldset class="col-12 mt-4">
      <%= f.label :documentation_url, class: "form-label" %>
      <%= f.text_field :documentation_url, placeholder: t(".url_placeholder"), class: "form-control" %>
      <span class="form-text">
        <span class="bi bi-info-circle" aria-hidden="true"></span>
        <span class=""><%= t(".information_html") %></span>
      </span>
    </fieldset>
  <% end %>

  <%= render Form::ActionsComponent.new(f) %>
<% end %>
