<%= form_for(@manufacturer, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <%= render FormErrorsComponent.new(@manufacturer) %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :documentation_url, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :documentation_url, placeholder: t(".url_placeholder"), class: "form-control" %>
      <span class="text-muted">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        <small><%= t(".information_html") %></small>
      </span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
