<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  Manufacturer.model_name.human.pluralize => manufacturers_path,
  @manufacturer => '',
} %>

<div class="container">
  <div class="page-header">
    <%= link_to manufacturers_path, class: 'btn btn-outline-secondary' do %>
      <span class="bi bi-list-ul"></span>
      <%= t("action.back") %>
    <% end %>
    <%= link_to @manufacturer, class: 'btn btn-primary' do %>
      <span class="bi bi-eye"></span>
      <%= t("action.show") %>
    <% end %>
    <h1>
        <%= t(".title") %>
    </h1>
  </div>

  <%= render 'form' %>
</div>
