<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  t("breadcrumbs.settings") => modeles_url,
  Manufacturer.model_name.human.pluralize => manufacturers_path,
  @manufacturer => '',
} %>

<div class="container">
  <div class="page-header">
    <%= link_to manufacturers_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      <%= t("action.back") %>
    <% end %>
    <%= link_to @manufacturer, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-info-sign"></span>
      <%= t("action.show") %>
    <% end %>
    <h1>
        <%= t(".title") %>
    </h1>
  </div>

  <%= render 'form' %>
</div>
