<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  t("breadcrumb.settings") => modeles_url,
  Manufacturer.model_name.human.pluralize => ""}
%>

<div class="container-fluid">

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <div class="page-header">
        <%= link_to new_manufacturer_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t(".new_manufacturer") %>
        <% end %>
        <h1>
          <%= t(".title") %>
        </h1>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th>
              <%= Manufacturer.human_attribute_name(:name) %>
            </th>
            <th>
              <%= Manufacturer.human_attribute_name(:usage) %>
            </th>
            <th></th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <%= content_tag_for(:tr, @manufacturers) do |manufacturer| %>
            <td><%= manufacturer %></td>
            <td><%= Manufacturer.human_attribute_name(:modeles, count: manufacturer.modeles.count) %> </td>
            <td><%= link_to t("action.edit"), edit_manufacturer_path(manufacturer), class: 'btn btn-primary' %></td>
            <td>
              <%= link_to t("action.delete"),
                          manufacturer,
                          method: :delete,
                          data: { confirm: t(".delete_confirmation") },
                          class: 'btn btn-danger' %>
            </td>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>

  </div>

</div>
