<%= render 'layouts/breadcrumb', breadcrumb_variables: {'Paramètres' => modeles_url, 'Fabricants' => ''} %>

<div class="container-fluid">

  <div class="row">

    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">

      <div class="page-header">
        <%= link_to new_manufacturer_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          Ajouter une manufacturer
        <% end %>
        <h1>Fabricants</h1>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th>Nom</th>
            <th>Usage</th>
            <th></th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <%= content_tag_for(:tr, @manufacturers) do |manufacturer| %>
            <td><%= manufacturer %></td>
            <td><%= pluralize(manufacturer.modeles.count, 'modèle', 'modèles') %> </td>
            <td><%= link_to 'Modifier', edit_manufacturer_path(manufacturer), class: 'btn btn-primary' %></td>
            <td>
              <%= link_to 'Supprimer',
                          manufacturer,
                          method: :delete,
                          data: { confirm: 'Ce mainteneur ne pourra pas être supprimé tant qu\'il sera associé à au moins un modèle. Voulez-vous continuer ?' },
                          class: 'btn btn-danger' %>
            </td>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>

  </div>

</div>
