<%= render 'layouts/breadcrumb', breadcrumb_variables: {
  t("inventories") => modeles_url,
  Manufacturer.model_name.human.pluralize => ""}
%>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <%= render 'pages/params_menu' %>
    </div>

    <div class="col-md-9">
      <div class="page-header">
        <%= link_to new_manufacturer_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t(".new_manufacturer") %>
        <% end %>
        <h1>
          <%= t(".title") %>
        </h1>
      </div>

      <%= render List::DataTableComponent.new(@manufacturers) do |table| %>
        <% table.with_column(Manufacturer.human_attribute_name(:name), sort_by: :name) do |manufacturer| %>
          <%= link_to manufacturer, manufacturer_path(manufacturer) %>
        <% end %>

        <% table.with_column(Manufacturer.human_attribute_name(:usage)) do |manufacturer| %>
          <%= Manufacturer.human_attribute_name(:modeles_count, count: manufacturer.modeles.count) %>
        <% end %>

        <% table.with_column(class: "text-right") do |manufacturer| %>
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <%= link_to t("action.edit"), edit_manufacturer_path(manufacturer), class: 'btn btn-primary' %>
            <%= link_to t("action.delete"),
                        manufacturer,
                        method: :delete,
                        data: { confirm: t(".delete_confirmation") },
                        class: 'btn btn-danger' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
