<% breadcrumb.add_step(@manufacturer.name) %>

<%= render Page::HeadingShowComponent.new(resource: @manufacturer, title: @manufacturer.name, breadcrumb:) %>
<div class="col-12 p-4 border-top">
  <div class="row row-cols-1 row-cols-lg-2 row-gap-4">
    <div class="col">
      <%= render CardComponent.new do |card| %>
        <% card.with_header do %>
          <%= t("show.cards.identification") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <% %i[name description].each do |attribute_name| %>
            <dt class="pb-2"><%= Manufacturer.human_attribute_name(attribute_name) %></dt>
            <dd class="mb-0 pb-2 ps-3"><%= @manufacturer.public_send(attribute_name) %></dd>
          <% end %>
        </dl>
      <% end %>
    </div>
    <div class="col">
      <%= render CardComponent.new do |card| %>
        <% card.with_header do %>
          <%= t("show.cards.features") %>
        <% end %>

        <dl class="show-page_dl d-grid row-gap-2 mb-0">
          <% %i[documentation_url].each do |attribute_name| %>
            <dt class="pb-2"><%= Manufacturer.human_attribute_name(attribute_name) %></dt>
            <dd class="mb-0 pb-2 ps-3"><%= @manufacturer.public_send(attribute_name) %></dd>
          <% end %>
        </dl>
      <% end %>
    </div>
  </div>
  <%= render HasManyTurboFrameComponent.new(
    Modele.model_name.human.pluralize,
    url: modeles_path(manufacturer_ids: @manufacturer.id),
    frame_id: dom_id(Modele, :table),
    new_path: new_modele_path("modele[manufacturer_id]" => @manufacturer.id)
  ) %>
  <%= render HasManyTurboFrameComponent.new(
    Bay.model_name.human.pluralize,
    url: bays_path(manufacturer_ids: @manufacturer.id),
    frame_id: dom_id(Bay, :table)
  ) %>
  <%= render ChangelogEntries::ObjectListComponent.new(@manufacturer) %>
</div>
