<div class="page-header">
  <%= link_to manufacturers_path, class: 'btn btn-outline-secondary' do %>
    <span class="bi bi-list-ul"></span>
    <%= t("action.back") %>
  <% end %>
  <%= link_to edit_manufacturer_path(@manufacturer), class: 'btn btn-primary' do %>
    <span class="bi bi-pencil"></span>
    <%= t("action.edit") %>
  <% end %>
  <h1>
    <%= t(".title") %>
  </h1>
</div>

<div class="col-lg-6">
  <!-- TODO: use Card Component and primary style -->
  <div class="card card-primary">
    <div class="card-body">
      <dl class="dl-horizontal">
        <dt>
          <%= Manufacturer.human_attribute_name(:name) %> :
        </dt>
        <dd><%= @manufacturer %></dd>

        <dt>
          <%= Manufacturer.human_attribute_name(:description) %> :
        </dt>
        <dd><%= @manufacturer.description %></dd>

        <dt>
          <%= Manufacturer.human_attribute_name(:documentation_url) %> :
        </dt>
        <dd><%= @manufacturer.documentation_url %></dd>
      </dl>
    </div>
  </div>
</div>
