<header class="mydcim-header navbar navbar-expand-lg sticky-top bg-body-tertiary">
  <nav class="container-fluid flex-wrap flex-lg-nowrap" role="menu" aria-label="Main navigation">
    <button class="<%= class_names("navbar-toggler", "d-block": hide_inventories_sidebar?) %>" type="button" data-bs-toggle="offcanvas" data-bs-target="#mydcim-inventories-sidebar"
                                                                            aria-controls="mydcim-inventories-sidebar"
                                                                            aria-label="Toggle <%= t("inventories") %> navigation">
      <i class="bi bi-list"></i>
    </button>
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "datacenter-02.png", style: "height: 40px;" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mydcim-navbar"
                                                                            aria-controls="mydcim-navbar"
                                                                            aria-label="Toggle Main navigation">
      <i class="bi bi-three-dots"></i>
    </button>
    <div id="mydcim-navbar" class="mydcim-navbar offcanvas-lg offcanvas-end">
      <div class="offcanvas-header px-4 pb-0">
        <button type="button" class="btn-close ms-auto" data-bs-dismiss="offcanvas" aria-label="<%= t("action.close") %>" data-bs-target="#mydcim-navbar"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav">
          <%= render "layouts/navigation/visualization_dropdown" %>
          <%= render "layouts/navigation/devices_dropdown" %>
          <%= render "layouts/navigation/projects_dropdown" %>
        </ul>
        <ul class="navbar-nav">
          <%= render "layouts/navigation/nav_links_administration" %>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!---
<%- if hide_inventories_sidebar? %>
  <li class="nav-item" role="menuitem">
    <%= link_to t("inventories"), sites_path, class: "nav-link" %>
  </li>
<% end %>

-->
