<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <%= t("inventories") %> <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li class="dropdown-header">Localisation</li>
    <li><a href="<%= sites_path %>"><%= Site.model_name.human.pluralize %></a></li>
    <li><a href="<%= rooms_path %>"><%= Room.model_name.human.pluralize %></a></li>
    <li><a href="<%= islets_path %>"><%= Islet.model_name.human.pluralize %></a></li>
    <li><a href="<%= bays_path %>"><%= Bay.model_name.human.pluralize %></a></li>
    <li><a href="<%= frames_path %>"><%= Frame.model_name.human %></a></li>

    <li role="separator" class="divider"></li>
    <li class="dropdown-header">Matériel</li>
    <li><a href="<%= servers_path %>">Matériels</a></li>
    <li><a href="<%= air_conditioners_path %>"><%= AirConditioner.model_name.human.pluralize %></a></li>

    <li role="separator" class="divider"></li>
    <li class="dropdown-header"><%= t("pages.params_menu.features.title")%></li>
    <li><a href="<%= modeles_path %>"><%= Modele.model_name.human.pluralize %></a></li>
    <li><a href="<%= categories_path %>"><%= Category.model_name.human.pluralize %></a></li>
    <li><a href="<%= architectures_path %>"><%= Architecture.model_name.human.pluralize %></a></li>
    <li><a href="<%= manufacturers_path %>"><%= Manufacturer.model_name.human.pluralize %></a></li>
    <li><a href="<%= stacks_path %>"><%= Stack.model_name.human.pluralize %></a></li>
    <li><a href="<%= card_types_path %>"><%= CardType.model_name.human(count: 2) %></a></li>
    <li><a href="<%= port_types_path %>"><%= PortType.model_name.human(count: 2) %></a></li>

    <li role="separator" class="divider"></li>
    <li class="dropdown-header"><%= t("pages.params_menu.exploitation.title")%></li>
    <li><a href="<%= domaines_path %>"><%= Domaine.model_name.human.pluralize %></a></li>
    <li><a href="<%= gestions_path %>"><%= Gestion.model_name.human.pluralize %></a></li>
    <li><a href="<%= clusters_path %>"><%= Cluster.model_name.human.pluralize %></a></li>

    <li role="separator" class="divider"></li>
    <li class="dropdown-header"><%= t("pages.params_menu.connections.title") %></li>
    <li><a href="<%= connections_path %>"><%= Connection.model_name.human.pluralize %></a></li>
    <li><a href="<%= cables_path %>"><%= Cable.model_name.human.pluralize %></a></li>

    <!--
    <li><a href="<%= colors_path %>">Couleurs</a></li>
    <li><a href="<%= maintainers_path %>">Mainteneurs</a></li>
    <li><a href="<%= contract_types_path %>">Contrats de maintenance</a></li>
    <li><a href="<%= disk_types_path %>">Types de disque</a></li>
    <li><a href="<%= memory_types_path %>">Types de RAM</a></li>
    -->
  </ul>
</li>
