<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Paramètres <span class="caret"></span></a>
  <ul class="dropdown-menu">

    <li class="dropdown-header">Localisation</li>
    <li><a href="<%= sites_path %>">Sites</a></li>
    <li><a href="<%= rooms_path %>">Salles</a></li>
    <li><a href="<%= islets_path %>">Ilots</a></li>
    <li><a href="<%= bays_path %>">Baies / Doubles-baies</a></li>
    <li><a href="<%= frames_path %>">Châssis</a></li>

    <li role="separator" class="divider"></li>

    <li class="dropdown-header">Matériel</li>
    <li><a href="<%= servers_path %>">Matériels</a></li>

    <li role="separator" class="divider"></li>

    <li class="dropdown-header">Gestion du matériel</li>
    <li><a href="<%= modeles_path %>">Modèles</a></li>
    <li><a href="<%= categories_path %>">Types de matériel</a></li>
    <li><a href="<%= architectures_path %>" >Architectures</a></li>
    <li><a href="<%= manufacturers_path %>">Fabricants</a></li>
    <li><a href="<%= domaines_path %>">Domaines</a></li>
    <li><a href="<%= gestions_path %>">Gestionnaires</a></li>
    <li><a href="<%= clusters_path %>">Clusters</a></li>
    <li><a href="<%= stacks_path %>">Stacks</a></li>
    <li><a href="<%= card_types_path %>">Types de carte</a></li>
    <!--
    <li><a href="<%= colors_path %>">Couleurs</a></li>
    <li><a href="<%= maintainers_path %>">Mainteneurs</a></li>
    <li><a href="<%= contract_types_path %>">Contrats de maintenance</a></li>
    <li><a href="<%= disk_types_path %>">Types de disque</a></li>
    <li><a href="<%= memory_types_path %>">Types de RAM</a></li>
    -->
  </ul>
</li>
