<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Gestion de salle #{Rails.env.development? ? '(dev)' : 'DCIM'}" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "My DCIM" %>">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_importmap_tags "new.application" %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
