<!DOCTYPE html>
<html id="container">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Gestion de salle #{Rails.env.development? ? "(dev)" : "DCIM"}" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "My DCIM" %>">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <%= wicked_pdf_stylesheet_link_tag "bootstrap", media: "all" -%>
  <%= wicked_pdf_stylesheet_link_tag "application", media: "all" -%>
  <%= wicked_pdf_javascript_include_tag "application" -%>

  <%= csrf_meta_tags %>

  <style>
    @media print {
      a[href]:after {
        content: none !important;
      }
    }
    body {
      padding-top: 0;
    }
    main {
      background-color: white;
      padding-bottom: 0;
    }
    .card-islet .card-header{
      display: none;
    }
    .card-frame .card-header{
      display: block;
    }
    .text-bg-info {
      background-color: #d9edf7 !important;
    }
    .text-bg-success {
      background-color: #dff0d8 !important;
    }
    .text-bg-secondary {
      background-color: grey !important;
    }
  </style>
</head>
<body class="pdf_body mydcim">
<main role="main mydcim-main">
  <%= yield %>
</main>
</body>
</html>
