<div class="nested-form-wrapper list-group-item"
    data-new-record="<%= f.object.new_record? %>"
    data-sortable-item>

  <%= f.hidden_field :position, class: "form-control", data: { sortable_field: true } %>
  
  <%= render CardComponent.new(extra_classes: "bg-body-tertiary") do |card| %>
    <div class="row g-3">
      <fieldset class="col-md-6 col-12">
        <%= f.label :name, class: "form-label" %>
        <%= f.text_field :name, class: "form-control" %>
      </fieldset>
      <fieldset class="col-md-6 col-12">
        <%= f.label :date, class: "form-label" %>
        <%= f.date_field :date, class: "form-control" %>
      </fieldset>
    </div>

    <% card.with_footer do %>
      <span class="bi bi-grip-vertical ui-sortable-handle"></span>
      <span class="ms-auto">
        <%= f.hidden_field :_destroy %>
        <button type="button" data-action="nested-form#remove" class="btn btn-danger btn-sm float-end">
          <span class="bi bi-trash me-1"></span>
          <span><%= t("action.delete") %></span>
        </button>
      </span>
    <% end %>
  <% end %>
</div>
