<div class="nested-form-wrapper list-group-item"
    data-new-record="<%= f.object.new_record? %>"
    data-sortable-item>
  <%= render CardComponent.new(extra_classes: "bg-body-tertiary") do |card| %>
    <div class="row g-2">
      <%= f.hidden_field :position, class: "form-control", data: { sortable_field: true } %>

      <span class="col-12 mt-2 col-md-3 col-xl-2 mt-md-0">
        <%= f.label :name, class: "form-label col-form-label-sm p-0" %>
        <%= f.text_field :name, class: "form-control" %>
      </span>
      <span class="col-12 mt-2 col-md-3 col-xl-2 mt-md-0">
        <%= f.label :date, class: "form-label col-form-label-sm p-0" %>
        <%= f.date_field :date, class: "form-control" %>
      </span>
    </div>

    <% card.with_footer do %>
      <span class="bi bi-grip-vertical ui-sortable-handle"></span>
      <span class="ms-auto">
        <%= f.hidden_field :_destroy %>
        <button type="button" data-action="nested-form#remove" class="btn btn-danger btn-sm float-end">
          <span class="bi bi-trash me-1"></span>
          <span><%= t("action.delete") %></span>
        </button>
      </span>
    <% end %>
  <% end %>
</div>
