<%
  breadcrumb
    .add_step(MovesProject.model_name.human.pluralize, moves_projects_path)
    .add_step(title = @moves_project)
%>

<%= render Page::HeadingShowComponent.new(resource: @moves_project, title:, breadcrumb:) %>

<div class="col-12 p-4 border-top">
  <% @moves_project.steps.each do |moves_project_step| %>
    <div class="col-12 pt-4">
      <%= render CardComponent.new do |card| %>
        <% card.with_header do %>
          <h4><%= moves_project_step.name %></h4>
        <% end %>

        <%= turbo_frame_tag(dom_id(Move, :table), loading: :lazy, src: moves_project_step_moves_path(moves_project_step)) do %>
          <div class="w-100 d-flex justify-content-center align-items-center gap-3">
            <span role="status"><%= t("has_many_turbo_frame_component.loading") %></span>
            <span class="spinner-grow text-<%= @type %>" aria-hidden="true"></span>
          </div>
        <% end %>

        <%= link_to "Nouveau déplacement", new_moves_project_step_move_path(moves_project_step) %>
      <% end %>
    </div>
  <% end %>

  <%= render ChangelogEntries::ObjectListComponent.new(@moves_project) %>
</div>
