<%
  breadcrumb
    .add_step(MovesProject.model_name.human(count: 2), moves_projects_path)
    .add_step(title = @moves_project)
%>

<%= render Page::HeadingShowComponent.new(resource: @moves_project, title:, breadcrumb:) do |heading| %>
  <% if created_by = @moves_project.created_by %>
    <p class="mt-2">
      <span class="bi bi-person"></span>
      <span class="ms-1 fw-light text-body-secondary"><%= MovesProject.human_attribute_name(:created_by) %></span>
      <span class="font-monospace"><%= created_by %></span>
    </p>
  <% end %>
<% end %>

<div class="col-12 pb-4 px-4 border-top">
  <div class="row row-gap-4 pt-4">
    <% @moves_project.steps.each do |moves_project_step| %>
      <div class="col-12">
        <%= render CardComponent.new(extra_classes: "") do |card| %>
          <div class="d-flex justify-content-between align-items-center mb-4">
            <span class="d-inline-flex align-items-center">
              <h4 class="mb-0">
                <%= link_to moves_project_step,
                            moves_project_step_moves_path(moves_project_step),
                            class: "link-secondary" %>
              </h4>
              <% if date = moves_project_step.date %>
                <span class="ms-3">
                  <%= render BadgeComponent.new(color: :primary, variant: :pill) do %>
                    <span class="bi bi-calendar-event"></span>
                    <span class="fw-light text-body-secondary ms-1"><%= l(date) %></span>
                  <% end %>
                </span>
              <% end %>
            </span>
            <div class="small">
              <%= link_to new_moves_project_step_move_path(moves_project_step),
                          class: "link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" do %>
                <span class="bi bi-plus-lg"></span>
                <span><%= t("moves.new.title") %></span>
              <% end %>
            </div>
          </div>

          <%= turbo_frame_tag(dom_id(Move, :table), loading: :lazy, src: moves_project_step_moves_path(moves_project_step)) do %>
            <div class="w-100 d-flex justify-content-center align-items-center gap-3">
              <span role="status"><%= t("has_many_turbo_frame_component.loading") %></span>
              <span class="spinner-grow text-<%= @type %>" aria-hidden="true"></span>
            </div>
          <% end %>

          <% if moves_project_step.moves.any? && !moves_project_step.executed? %>
            <% card.with_footer do %>
              <%= link_to(
                t("action.execute"), execute_moves_project_moves_project_step_path(@moves_project, moves_project_step),
                title: t(".action.execute_step_moves"),
                data: {
                  turbo: true,
                  turbo_method: :patch,
                  confirm: t(".execute_confirmation"),
                  controller: "tooltip",
                  bs_placement: "left",
                  turbo_frame: :_top
                },
                class: "btn btn-sm btn-outline-primary ms-auto",
                aria: { hidden: true }
              ) %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if @moves_project.steps.any? %>
      <%= turbo_frame_tag(
        dom_id(Move, :frames),
        loading: :lazy,
        src: moves_project_step_moves_path(@moves_project.steps.last),
        class: "pt-4"
      ) do %>
        <div class="w-100 d-flex justify-content-center align-items-center gap-3">
          <span role="status"><%= t("has_many_turbo_frame_component.loading") %></span>
          <span class="spinner-grow text-<%= @type %>" aria-hidden="true"></span>
        </div>
      <% end %>
    <% else %>
      <div class="col-12">
        <%= render CardEmptyDataComponent.new %>
      </div>
    <% end %>
  </div>

  <div class="pt-4">
    <%= render ChangelogEntries::ObjectListComponent.new(@moves_project) %>
  </div>
</div>
