<%
  breadcrumb
    .add_step(MovesProject.model_name.human.pluralize, moves_projects_path)
    .add_step(title = @moves_project)
%>

<%= render Page::HeadingShowComponent.new(resource: @moves_project, title:, breadcrumb:) %>

<div class="col-12 p-4 border-top">
  <% @moves_project.steps.each do |moves_project_step| %>
    <div class="col-12 pt-4">
      <%= render CardComponent.new do |card| %>
        <% card.with_header do %>
          <h4><%= link_to moves_project_step, moves_project_step_moves_path(@moves_project, moves_project_step) %></h4>

          <% if moves_project_step.moves.any? && !moves_project_step.executed? %>
            <%= link_to(
              t("action.execute"), execute_moves_project_moves_project_step_path(@moves_project, moves_project_step),
              title: t(".action.execute_step_moves"),
              data: {
                turbo: true,
                turbo_method: :patch,
                confirm: t(".execute_confirmation"),
                controller: "tooltip",
                bs_placement: "left",
                turbo_frame: :_top
              },
              class: "btn btn-sm btn-outline-primary",
              aria: { hidden: true }
            ) %>
          <% end %>
        <% end %>

        <%= turbo_frame_tag(dom_id(Move, :table), loading: :lazy, src: moves_project_step_moves_path(moves_project_step)) do %>
          <div class="w-100 d-flex justify-content-center align-items-center gap-3">
            <span role="status"><%= t("has_many_turbo_frame_component.loading") %></span>
            <span class="spinner-grow text-<%= @type %>" aria-hidden="true"></span>
          </div>
        <% end %>

        <%= link_to "Nouveau déplacement", new_moves_project_step_move_path(moves_project_step) %>
      <% end %>
    </div>
  <% end %>

  <div class="table-responsive">
    <h2><%= t(".frame_table_title") %></h2>
    <table class="table table-striped table-bordered table-hover align_middle">
      <tbody>
        <%= content_tag_for(:tr, @moves_project.steps.last.frames_with_effective_moves) do |frame| %>
          <td class="w-100"><%= link_to frame, frame_moves_project_moves_project_step_path(@moves_project, @moves_project.steps.last, frame) %></td>
          <td class="d-flex justify-content-center column-gap-1"
              style="min-width: 400px; width: 400px;"
              data-controller="frame-export-pdf"
              data-frame-export-pdf-model-ids-value="<%= [frame.id] %>"
              data-frame-export-pdf-filename-value="move-frame-<%= frame.name %>"
              data-frame-export-pdf-is-move-value="true">
            <%= link_to frame_moves_project_moves_project_step_path(@moves_project, @moves_project.steps.last, frame), class: "btn btn-info btn-sm" do %>
              <span class="bi bi-pencil"></span>
              <span><%= t(".edit_connections") %></span>
            <% end %>
            <%= link_to print_moves_project_moves_project_step_path(@moves_project, @moves_project.steps.last, frame), class: "btn btn-sm btn-outline-primary", target: :_blank do %>
              <span class="bi bi-printer" aria-hidden="true"></span>
              <%= t("export_button.exports.print") %>
            <% end %>
            <a role="button" class="btn btn-sm btn-outline-primary d-flex align-items-center export-button-move"
                            data-action="click->frame-export-pdf#export" data-view-target="front">
              <span class="bi bi-file-earmark-pdf" aria-hidden="true"></span>
              <span class="text-truncate d-inline-block ms-2">
                <%= t("export_button.exports.pdf") %>
              </span>
              <span class="spinner-border spinner-border-sm flex-shrink-0 d-flex d-none " role="status"
                    aria-hidden="true" data-frame-export-pdf-target="spinner"></span>
            </a>
          </td>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= render ChangelogEntries::ObjectListComponent.new(@moves_project) %>
</div>
