<li class="nav-item" role="menuitem">
  <%= link_to Server.model_name.human.pluralize, servers_grids_path, class: "nav-link d-block d-lg-none" %>
</li>
<li class="nav-item dropdown d-none d-lg-block" role="menuitem">
  <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
    aria-expanded="false">
    <%= Server.model_name.human.pluralize %>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to t(".search_equipment"), servers_grids_path, class: "dropdown-item" %></li>
    <li><hr class="dropdown-divider"></li>
    <li><h6 class="dropdown-header"><%= t(".filter_by") %></h6></li>
    <li class="nav-item dropdown-submenu" role="menuitem">
      <a href="#" class="dropdown-toggle dropdown-item" data-bs-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">
        <%= Gestion.model_name.human %>
      </a>
      <ul class="dropdown-menu">
        <% Gestion.order(Gestion.arel_table[:name].lower).each do |c| %>
          <li>
            <%= link_to c.name,
                        overview_rooms_path(gestion_id: c.id, view: params[:view], bg: (params[:bg] || "modele") ),
                        class: class_names("dropdown-item", active: params[:gestion_id] == c.id.to_s) %>
          </li>
        <% end %>
      </ul>
    </li>
    <li class="nav-item dropdown-submenu" role="menuitem">
      <a href="#" class="dropdown-toggle dropdown-item" data-bs-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">
        <%= Cluster.model_name.human %>
      </a>
      <ul class="dropdown-menu overflow-auto" style="max-height:70vh;">
        <li>
          <% Cluster.order(Cluster.arel_table[:name].lower).in_groups(3).each do |clusters| %>
              <ul class="list-unstyled">
                <% clusters.each do |c| %>
                    <% if c.present? %>
                      <li>
                          <%= link_to c.to_s,
                                      overview_rooms_path(cluster_id: c.id,
                                                          view: params[:view],
                                                          bg: (params[:bg] || "modele") ),
                                      class: class_names("dropdown-item", active: params[:cluster_id] == c.id.to_s) %>
                        </li>
                    <% end %>
                <% end %>
              </ul>
          <% end %>
        </li>
      </ul>
    </li>
    <li class="nav-item dropdown-submenu" role="menuitem">
      <a href="#" class="dropdown-toggle dropdown-item" data-bs-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">
        <%= Modele.model_name.human %>
      </a>
      <ul class="dropdown-menu overflow-auto modeles"
          style="max-height:70vh;">
        <% Modele.all_sorted_with_servers.each do |modele| %>
          <li>
            <%= link_to modele.name_with_brand,
                        overview_rooms_path(modele_id: modele.id,
                                            view: params[:view],
                                            bg: (params[:bg] || "modele")),
                       class: class_names("dropdown-item", active: params[:modele_id] == modele.id.to_s) %>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>
</li>
