<li class="nav-item dropdown" role="menuitem">
  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" data-bs-toggle="dropdown"
     aria-expanded="false">
    <%= t("inventories") %>
  </a>
  <ul class="dropdown-menu">
    <li><h6 class="dropdown-header"><%= t("pages.params_menu.location.title") %></h6></li>
    <li><a href="<%= sites_path %>" class="dropdown-item" role="menuitem"><%= Site.model_name.human.pluralize %></a></li>
    <li><a href="<%= rooms_path %>" class="dropdown-item" role="menuitem"><%= Room.model_name.human.pluralize %></a></li>
    <li><a href="<%= islets_path %>" class="dropdown-item" role="menuitem"><%= Islet.model_name.human.pluralize %></a></li>
    <li><a href="<%= bays_path %>" class="dropdown-item" role="menuitem"><%= Bay.model_name.human.pluralize %></a></li>
    <li><a href="<%= frames_path %>" class="dropdown-item" role="menuitem"><%= Frame.model_name.human %></a></li>

    <li><hr class="dropdown-divider"></li>
    <li><h6 class="dropdown-header"><%= t("pages.params_menu.equipment.title") %></h6></li>
    <li><a href="<%= servers_path %>" class="dropdown-item" role="menuitem">Matériels</a></li>

    <li><hr class="dropdown-divider"></li>
    <li><h6 class="dropdown-header"><%= t("pages.params_menu.features.title")%></h6></li>
    <li><a href="<%= modeles_path %>" class="dropdown-item" role="menuitem"><%= Modele.model_name.human.pluralize %></a></li>
    <li><a href="<%= categories_path %>" class="dropdown-item" role="menuitem"><%= Category.model_name.human.pluralize %></a></li>
    <li>
      <a href="<%= architectures_path %>" class="dropdown-item" role="menuitem"><%= Architecture.model_name.human.pluralize %></a>
    </li>
    <li>
      <a href="<%= manufacturers_path %>" class="dropdown-item" role="menuitem"><%= Manufacturer.model_name.human.pluralize %></a>
    </li>
    <li><a href="<%= stacks_path %>" class="dropdown-item" role="menuitem"><%= Stack.model_name.human.pluralize %></a></li>
    <li><a href="<%= card_types_path %>" class="dropdown-item" role="menuitem"><%= CardType.model_name.human(count: 2) %></a></li>
    <li><a href="<%= port_types_path %>" class="dropdown-item" role="menuitem"><%= PortType.model_name.human(count: 2) %></a></li>

    <li><hr class="dropdown-divider"></li>
    <li><h6 class="dropdown-header"><%= t("pages.params_menu.exploitation.title")%></h6></li>
    <li><a href="<%= domaines_path %>" class="dropdown-item" role="menuitem"><%= Domaine.model_name.human.pluralize %></a></li>
    <li><a href="<%= gestions_path %>" class="dropdown-item" role="menuitem"><%= Gestion.model_name.human.pluralize %></a></li>
    <li><a href="<%= clusters_path %>" class="dropdown-item" role="menuitem"><%= Cluster.model_name.human.pluralize %></a></li>

    <li><hr class="dropdown-divider"></li>
    <li><h6 class="dropdown-header"><%= t("pages.params_menu.connections.title")%></h6></li>
    <li><a href="<%= connections_path %>"><%= Connection.model_name.human.pluralize %></a></li>
    <li><a href="<%= cables_path %>"><%= Cable.model_name.human.pluralize %></a></li>
  </ul>
</li>
