<li class="nav-item dropdown" role="menuitem">
  <button class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown"
    aria-expanded="false">
    <%= t("visualization.title") %>
  </button>
  <ul class="dropdown-menu" style="max-height: 80vh;overflow: auto;">
    <li role="menuitem">
      <%= link_to t(".overview"), visualization_rooms_path, class: "dropdown-item" %>
    </li>
    <% if allowed_to?(:show, with: Visualization::NetworkCapacityPolicy) %>
      <li role="menuitem">
        <%= link_to t(".capacity"), visualization_network_capacity_path, class: "dropdown-item" %>
      </li>
    <% end %>
    <% if allowed_to?(:show, with: Visualization::InfrastructurePolicy) %>
      <li role="menuitem">
        <%= link_to t(".infrastructure"), visualization_infrastructure_path, class: "dropdown-item" %>
      </li>
    <% end %>
    <% sites = authorized_scope(Site.all).joins(:rooms).order(:position).distinct %>
    <% sites.each do |site| %>
      <li><hr class="dropdown-divider"></li>
      <li><h6 class="dropdown-header"><%= site %></h6></li>
      <% rooms = authorized_scope(site.rooms).sorted.distinct %>
      <% rooms.each do |room| %>
        <li class="nav-item" role="menuitem">
          <%= link_to room.name, visualization_room_path(room, view: params[:view], bg: params[:bg]), class: "dropdown-item" %>
        </li>
        <% islets = authorized_scope(room.islets).sorted.has_name.distinct %>
        <% if islets.size > 1 %>
          <% islets.each do |islet| %>
            <li class="nav-item" role="menuitem">
              <%= link_to visualization_room_path(room, islet: islet.name, view: params[:view], bg: params[:bg]),
                          class: "dropdown-item ps-4" do %>
                <span class="text-primary">•</span>
                <span><%= "#{Islet.model_name.human} #{islet.name}" %></span>
              <% end %>
            </li>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</li>
