<%
  breadcrumb.add_step(@user.name, user_path(@user))
  breadcrumb.add_step(title = t(".title"))
%>

<%= render Page::HeadingComponent.new(title: title, breadcrumb:) %>

<div class="col-12 p-4 border-top">
  <%= form_with model: @user, url: user_registration_path(user_id: @user.id), method: :patch, class: "col-12 col-md-10 col-lg-8 mx-auto" do |form| %>
    <%= render FormErrorsComponent.new(@user) %>

    <%= render CardComponent.new(extra_classes: "bg-body-tertiary") do %>
      <fieldset class="col-12">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </fieldset>

      <fieldset class="col-12 mt-4">
        <%= form.label :email, class: "form-label" %>
        <%= form.email_field :email, class: "form-control" %>
      </fieldset>

      <div class="col-12 py-4 mt-4 text-end sticky-bottom bg-body-tertiary border-top">
        <%= form.submit class: "btn btn-info" %>
      </div>
    <% end %>
  <% end %>
</div>
